[2018-02-22 22:48] ron-murhammer commented on #3106
Umm. So is the problem here that everytime we release a new version then people have to redownload all their maps even if they haven't changed?

[2018-02-22 22:49] prastle commented on #3106
no

[2018-02-22 22:49] ron-murhammer commented on #3103
@prastle Can you provide an example that you've seen happen? Specific maps/versions would be helpful.

[2018-02-22 22:51] prastle commented on #3106
the problem is
new engines don't always work with old maps
and old engines
don't always work with new maps
To explain
I haven't had to update a map in years
well maybe months
unless a newversion
also
as all know we need the update map fixed in the downloader

[2018-02-22 22:53] RoiEXLab commented on #3106
@ron-murhammer The basic idea is the following:
Currently maps are stored in a user specific directory even if TripleA is installed system wide. So it would make sense to have the default map directory located inside the installation directory.
This would have the bonus feature that we could (if we decide to include the major version number again) that users could have multiple incompatible instal

[2018-02-22 22:54] ron-murhammer commented on #3106
Well, we technically have a solution to the 'old engines don't work with new maps' as their is a property in the map XML to specify minimum version. As with 'new engines don't work with old maps', that should be pretty rare and only happen if we decide to make non-backwards compatible changes to the XML (I think we've only done this once in the last couple of years when we fixed attatchment and so

[2018-02-22 22:54] prastle commented on #3106
Ya its simple
Force them to upgrade   JESUS CHRIST
sorry for swearing

[2018-02-22 22:56] prastle commented on #3106
to be BLUNT!
All bots run 8941
seen any complaints?

[2018-02-22 22:56] prastle commented on #3106
get over this we cant fix March 2016
But we can now move forward!

Just myy two cents shutting up

[2018-02-22 23:03] ron-murhammer commented on #3106
@RoiEXLab I guess to me most users just want one map directory. Map backwards compatibility is pretty rarely broken as most mapmakers don't update their map that much after its stable. The only time this is largely relevant is if we decide to make mass non-backwards compatible changes to the XML.

[2018-02-22 23:39] RoiEXLab commented on #3106
@ron-murhammer I believe the latter case is already reason enough to think about it, especially because it's really not a big change.

[2018-02-22 23:48] ron-murhammer commented on #3106
@RoiEXLab So my thought would be to keep a shared maps area but instead update the shared maps directory to have a version number so we can choose to create a new shared maps directory if we need to make major map XML changes. Rather than having one under each install.

[2018-02-22 23:53] RoiEXLab commented on #3106
@ron-murhammer Yes, that's basically the plan to have a system wide folder with versioning.
Choosing the installation directory wouldn't really change something, as @DanVanAtta already mentioned we can modify the installer to keep the map files even after updating TripleA.
So no reinstalls for minor updates, but clear seperation for breaking updates.

[2018-02-23 00:01] ron-murhammer commented on #3106
Essentially what we did when we migrated maps to github is what I envision. Just have some parameter to provide a new default maps directory that we can change if needed for major releases.

[2018-02-23 00:11] General-Dru-Zod opened #3115 "Various parse errors"
### My Operating System:
windows 10
### Engine version:
9176
### Map name and version:
Bad-Ass 4-Nation FFA, Big World 3, Invasion USA, TWW Beta
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

Getting various parse errors for many existing maps.

And on one map, a missing map message.

### Do you have the exact error text? Please copy/paste if so

1

[2018-02-23 01:02] General-Dru-Zod opened #3116 "Tool Tips Gap"
### My Operating System:
windows 10
### Engine version:
8932
### Map name and version:
Large Middle Earth, but any map that uses the tooltips.properties file.

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
The "I" hotkey while hovering over a unit on map, is still engine generated information. This causes inconsistencies between what the map maker

[2018-02-23 01:23] ron-murhammer commented on #3115
@RoiEXLab @ssoloff @DanVanAtta Did we merge something that effects map parsing recently. Looks like the reflection removal isn't merged yet.

[2018-02-23 01:26] ssoloff commented on #3115
@ron-murhammer #3042 was merged 12 hours ago.

[2018-02-23 01:27] ron-murhammer commented on #3115
@ssoloff Ah, I see now. I saw the new PR to fix the issue from that and thought it was the original still. Looks like we are aware of the issues.

[2018-02-23 01:27] prastle commented on #3115
Could be the ld v3 bw  error returning but either way parsing the bots takes forever! Just some help. I could be out to lunch.

[2018-02-23 01:52] ssoloff commented on #3115
@General-Dru-Zod This probably wasn't communicated on the forum, but several maps were updated in order for them to work properly with the changes in #3042.  You may have versions of those maps that aren't the latest (they were updated three days ago).  Could you please update your maps and try again?  (Note that the updated maps should be backwards compatible with older engines, so you should sti

[2018-02-23 01:56] ssoloff commented on #3115
I was able to reproduce the problem in Invasion USA.  Investigating now.

Another BTW, where do I find Bad-Ass 4-Nation FFA?

[2018-02-23 02:15] ssoloff commented on #3115
Confirmed a code bug for Invasion USA.  We didn't have a handler for the `productionOnly` property of `TerritoryAttachment`.  I'll submit a PR shortly.

[2018-02-23 02:31] ssoloff commented on #3115
I see that Bad-Ass 4-Nation FFA is a custom map that does not yet have a repo.  However, I confirmed that, once again, there is no handler for the `isParatroop` property of `UnitAttachment`.  Note that this property has been deprecated, but I'm going to go ahead and add a no-op handler for it anyway, similar to how the current stable processes it.

@General-Dru-Zod Could you please provide a link

[2018-02-23 02:36] ssoloff commented on #3115
@RoiEXLab I suspect typos similar to the ones you fixed in the triplea-maps repos are present in unofficial maps like those published by @General-Dru-Zod and @RogerCooper.  You might want to create a forum thread so we can coordinate those fixes.

We should also announce that official maps have to be updated to the latest in order for them to work with the pre-releases 9147 and later.  (Apologies

[2018-02-23 02:43] ssoloff commented on #3115
Never mind about Big World 3; I found it.  However, I'm not able to reproduce the problem described above.

[2018-02-23 02:58] DanVanAtta commented on #3104
How do you see that? This would let us keep the working maps we have as is, and introduce new features as we want for new maps or the maps ready to get them.

I can understand this. The format we have, we're pretty locked in to it. So we are blocked from restructuring it to do thinks like make it possible that a map like war of relics would be feasible. The current spec is pretty complicated, ther

[2018-02-23 02:58] ron-murhammer commented on #3115
@ssoloff Looks like TWW has the same problem with capitalization: TransportCapacity. Is there a reason we decided not to still support capitalizing the first letter. My guess is there are a bunch of maps in progress and maps outside the official repo that probably will be broken.

[2018-02-23 03:04] ron-murhammer commented on #3104
My main point is if we want a new standard that isn't backwards compatible then IMO we need to update all maps to that standard. Otherwise we are still stuck with the old standard for the vast majority of maps.

[2018-02-23 03:06] DanVanAtta commented on #3115
v9176 is not yet released as a latest, is this problem impacting users with the latest release version (1.9.0.0.7621)?

[2018-02-23 03:06] ssoloff commented on #3115
@ron-murhammer

I believe @RoiEXLab fixed that prior to merging #3042.  As I mentioned above, that was only a few days ago, so you'll need to update to the latest map.  (I only tested _Total_World_War_Dec1941_Beta.xml_, which is working; if you're seeing it in other maps please advise.)

 @DanVanAtta asked that question [here](https://github.com/triplea-game/triplea/pull/3042#issuecomment-36678840

[2018-02-23 03:08] ssoloff commented on #3115
@DanVanAtta The specific problems described in this issue should not affect users on latest stable.  However, to be safe, let me try loading some of the recently-modified maps in 7621 to ensure we don't have a P0/1 issue.

[2018-02-23 03:09] ron-murhammer commented on #3115
Thought we were using P0 for live stable issues and P1 for issues with master?

[2018-02-23 03:09] General-Dru-Zod commented on #3115
Sorry as Big World 3 goes, it's actually fine. I have an obsolete version I was missing with called Bigger World 3 and accidently clicked that one in my list.

As Bad-Ass 4-Nation FFA goes, I have 2 versions. One of which is in progress of being coded for a new feature. Here is the link https://www.sendspace.com/file/bwke05. I have a couple other experimental versions too. But I can fix them, if y

[2018-02-23 03:09] DanVanAtta commented on #3103
@ron-murhammer this is a pretty big problem for lobby players, not sure about PBEM if it would be as much. The scenario is basically you have 2 or 3 save games going, and need another 6 weeks to finish them (that is the lobby life). During this time there is a major upgrade. That means you have to hold off on the upgrade or else not be able to finish the save games. Meanwhile new players have down

[2018-02-23 03:11] DanVanAtta commented on #3106
@RoiEXLab this is starting to sound very similar to: https://github.com/triplea-game/triplea/issues/3104 (map major version tracking by the engine). Is your original suggestion here any different from #3104?

I'm not sure if the one under each install actually would work. If we force an upgrade of existing files, that means users need a parallel installation, and I think we figured most people don

[2018-02-23 03:13] ron-murhammer commented on #3115
@ssoloff Yeah, I'm guessing there are at least some unofficial or in-progress maps with capitalization issues given that we found around 10 in the official repo. Its probably not a huge deal though leaving the capitalization of the first letter might cause less headaches.

[2018-02-23 03:16] ron-murhammer commented on #3103
@DanVanAtta Most even major map updates are backwards compatible. Usually only if you are doing things like removing/adding territories to the actual map image or something pretty extreme are they not backwards compatible with save games. The reason for this is that the save game keeps a copy of the XML so as long as the assets still remain then the save game can load.

[2018-02-23 03:23] ssoloff commented on #3115
@DanVanAtta @ron-murhammer I tested several maps which were updated to work with #3042 using 7621, and they appear to work fine.

However, the latest Invasion USA blows up in 7621.  There have been a ton of modifications to that map over the past two weeks.  I'll report the issue to @WCSumpton over in that repo.

[2018-02-23 03:24] ssoloff commented on #3115
@General-Dru-Zod Yeah, I saw that `isMechanized` was going to cause the same problem as `isParatrooper`, so I just fixed it at the same time in #3117.

[2018-02-23 03:25] DanVanAtta commented on #3104
I believe this will always be the case. If we change the XML structure a lot, say where it takes some solid time and testing to update it, we are simply not going to go through every map to fix it and refactor them (would takes weeks/months). Consdering we'd have to do that all at once, focus on only that; I don't think we will, nor should we even. Most maps are perfectly fine; not updating them a

[2018-02-23 03:29] DanVanAtta commented on #3115
Sorry if not clear, P0 and P1 are both for live issues, just different priorities. P0 is fix now, users can't play the game, P1 is something bad that should be fixed very quickly (basically prioritized bugs).

[2018-02-23 03:32] DanVanAtta commented on #3103
To some extent I think we are accustomed to what is an 'extreme' update. Correcting the name of a territory is generally not viewed as extreme, but it would break save games. Basically because it is brittle, I'm suggesting the extreme bar is really low. We simply don't see those updates because of the compat issue, i'm sure there would be plenty more if it were readily an option.

[2018-02-23 03:34] DanVanAtta commented on #3103
edit, rephrasing.

Extreme updates are probably only 'extreme' because of the game limitations. Map refreshes do not really happen because of this problem. Is it a rare thing because it is actually rare, or is it rare because people know they should not break maps?

[2018-02-23 03:43] DanVanAtta commented on #3104
TBH I've been thinking of this feature for some time, it's the most valuable idea for maps in some time.

Reflecting back on the 1.8 -> 1.9 map migration:
- all we did was correct typos and convert properties from one name to another. It was kinda close to hell, it took a long time, and it was really impactful to map makers. I don't think we want to repeat that experience; secondly we did that for

[2018-02-23 03:47] DanVanAtta commented on #3103
@ron-murhammer perhaps we don't have to fix this as described. The problem to solve is how to allow someone to upgrade to latest map, and still play a save game from a previous version.

There will be the desire for territory name corrections, etc.. Supporting this would help, even if it is the once per 6 months or per year per active map.

Something to consider is if we can make more of the map d

[2018-02-23 04:07] ssoloff commented on #3115
@General-Dru-Zod I confirmed that the Bad-Ass map you linked loads fine with the fix in #3117.  So you should be good with build 9190 or later.

[2018-02-23 04:10] ron-murhammer commented on #3104
I guess I just don't see the path to retiring versions. Given your example if we made v1.1 stricter parsing, will we ever retire v1.0? If not then I don't really see the point. Isn't that really just the same as having v1.0 support both if we never retire v1.0. Can you walk me through how we would have used this for the mass typo/spelling change?

[2018-02-23 04:13] ron-murhammer commented on #3115
@DanVanAtta Ok. I think we are starting to end up in label hell again. They've kind of multiplied over the last couple of months.

[2018-02-23 04:31] DanVanAtta commented on #3115
funny enough, merging the 'type' and 'category' has reduced a good number : )
They've increased a good bit lately with the new "PR" labels.

@ron-murhammer should this still be open, or are we saying the problem is with the maps?

[2018-02-23 04:32] DanVanAtta commented on #3115
Are maps that have been updated, are they compatible with the current latest? *that* is a potential p1 or p0

[2018-02-23 04:34] ron-murhammer commented on #3115
@DanVanAtta I believe the remaining issues are with the specific maps and all known bugs are addressed. Only somewhat outstanding question is whether capitalization of the first letter of properties should be added back in as my guess is that some of the maps not in the official repo probably will have that issue.

[2018-02-23 04:46] General-Dru-Zod commented on #3115
Using 9191 now, the games mentioned above are good now, thank you.

I loaded one from Rogers site, called "Apocalypse 2012"and "Cold War 1965", gets Missing property definition for option 'IsAirTransportable' in attachment 'unitAttachment'. I m guessing it's caused by capitalization of the "I".

[2018-02-23 04:54] ssoloff commented on #3115
@DanVanAtta As mentioned above, I tested a few earlier in 7621, and there were no problems.  The "legacy" game parser was case-insensitive, so it shouldn't care about the title-case changes @RoiEXLab made to the various map repos.

@General-Dru-Zod That property is still supported in the latest game parser, so yes, it's just the capitalization of the leading "I" causing the problem.

[2018-02-23 05:02] DanVanAtta opened #3119 "Automatic code fixes"
It does not make sense for us to fix by hand what can be fixed by the machine. Getting deeper into this code base, the more automatic cleanups we do up-front, the more we profit and spend more time on deeper changes.

I'd like to grab a list here of things we would like to mass run via IDE. These updates we would agree on a time to do and we would apply and merge them in then. No hand updates, no

[2018-02-23 05:50] #3115 closed

[2018-02-23 16:30] prastle opened #3120 "Can't Host with new .9191"
### My Operating System:
Win 10
### Engine version:
1.9.0.0.9191
### Map name and version:
N/A
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Try to host
### Do you have the exact error text? Please copy/paste if so
Error.java.lang.NullPointerException
[code]

### Instead of this error, what should have happened?
Host should open
### Any additional

[2018-02-23 16:37] ssoloff commented on #3120
I think this is a regression from #3096.  The system property is now being cleared before being read.  Sometimes the IDE thinks it's smarter than it is. :smile:

I'll fix shortly.

[2018-02-23 16:39] prastle commented on #3120
Curro also lost host ability but regained when reverting to .8941
All good you guys are getting there 😄

[2018-02-23 16:40] RoiEXLab commented on #3120
@ssoloff Yeah, just noticed this as well. Already assumed it was this PR, but I wanted to verify it first ^^

[2018-02-23 16:42] RoiEXLab commented on #1562
@DanVanAtta No...

[2018-02-23 16:42] #1562 closed

[2018-02-23 16:54] ssoloff commented on #3119
#3120 is a good example of why we still need to be cautious with some of these types of automated IDE refactorings.  Extremely large diffs lead to less scrutiny (although I'm not claiming we would have caught #3120 if the diff was smaller, but we might have been more likely to expand the context of the diff and may have spotted the problem).

[2018-02-23 17:11] #3120 closed

[2018-02-23 17:24] ssoloff commented on #3120
@prastle Sorry about this; we let it slip by during the review.  It should be fixed in build 9199 or later.

[2018-02-23 17:24] prastle commented on #3120
Relax all good
Bots running fine on 8941

[2018-02-23 17:25] DanVanAtta commented on #3119
Yeah, no doubt we would need to be cautious. Some of the more destructive updates we may want to not do because of that. On the other hand, it is not terribly difficult to roll out some changes if we do break something. As part of any mass update we would want to do some fast-follow smoke testing.

[2018-02-23 17:27] DanVanAtta commented on #3119
@ssoloff out of the list of the 9 proposed, they look pretty safe. Any specific concerns with the ones mentioned? Are there any other mass changes that should be added to the list?

[2018-02-23 17:43] ssoloff commented on #3119
@DanVanAtta I was just pointing out that simply because a change is automated by an IDE, it is not foolproof.  When confronted with a 2,000-line diff, some refactorings are no-brainers for review because any errors will be caught by the compiler (e.g. rename variable).  However, the refactorings that may change semantics only detectable at runtime need to be reviewed more carefully, in which case,

[2018-02-23 17:44] DanVanAtta commented on #3104
Good questions. The main problem is that mass updates are not practical; nearly impossible since we have to coordinate those over multiple game engine versions, and all maps need to be updated at the same time. While we can do a mass update, anything more than a typo fix becomes quickly impractical. This means that we're stuck with our current v1.0 version, we'll never be able to move forward; stu

[2018-02-23 17:47] DanVanAtta commented on #3119
Yup, out of the proposed refactorings, do you see any falling into that bucket?

[2018-02-23 17:56] DanVanAtta commented on #3120
I disagree a bit, review is not so humans can act like compilers and testers. We let this slip in testing, and that was my responsibility for the PR that caused this. As a project, we've restored some brittle code to "fix" this problem, I'm surprised there was no code coverage on this; seems the NPE should have been detected automatically.

[2018-02-23 17:58] prastle commented on #3120
To be BLUNT you guys have done amazing jobs getting us this far.  Thus we have testers.  Hopefully we all catch the probs.  Relax @DanVanAtta  😄   its getting there bro

[2018-02-23 19:04] ssoloff commented on #3120
We have 20% unit test coverage.  It should not be surprising. :smile:

[2018-02-23 19:08] ron-murhammer opened #3122 "Remove LinkedIntegerMap"
Based on comments in #3118

So I'd be interested in thoughts on performance impact of LinkedHashMap vs HashMap. If you query the usage of LinkedIntegerMap and IntegerMap in the code base, there are only 24 references to LinkedIntegerMap while there are 957 references to IntegerMap. I have a pretty strong feeling that a good portion of the IntegerMap ones should be using an ordered key set (essenti

[2018-02-23 22:26] ron-murhammer commented on #3119
Most of these look good. 4 might be a little subjective and the expression should probably have parens around it.

[2018-02-24 02:15] ssoloff commented on #3119
@DanVanAtta Nope (but I'd have to see some samples of how the tool handles (3) to be sure about that one).

[2018-02-24 03:44] DanVanAtta opened #3123 "Squashed tech text"
![squashed_tech_token](https://user-images.githubusercontent.com/12397753/36625307-e276fd34-18d1-11e8-9a10-700f45011a30.png)

Note in the above there is no space between '49' and 'Current'. Expectation is to have some space there so the numbers and text do not run together.

[2018-02-24 04:27] DanVanAtta commented on #3104
@ron-murhammer I don't think this is feasible. Bulk update is proving to be a bad choice given the pain we saw going from 1.8 to 1.9. We do not own all maps, so we broke Roger's maps, and we messed up people that were developing maps, and that was for all pretty straight forward fixes. If we do anything signfiicant, first we do not own all maps, second, bulk update for a complex change is not prac

[2018-02-24 08:11] DanVanAtta commented on #3119
@ssoloff i crossed (3) off the list, there were no examples in project : )
I thought there were a dozen, I'm happy to be wrong on this. But then again, I should probably just go ahead and submit the smaller updates on their own; I'll do that and append here the larger ones.

@ron-murhammer  I added examples to overview, but for specific review here is an example of (4): https://github.com/triplea-

[2018-02-24 15:38] prastle opened #3129 "The CA Bots only appear to be doing some weird things when using the toolbox."
### My Operating System:
Win 10
### Engine version:
.9220
### Map name and version:
N/A
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Right click on a  CA bot and attempt to view host info or chat log.
### Do you have the exact error text? Please copy/paste if so
[code]

### Instead of this error, what should have happened?
You should be able to se

[2018-02-24 15:39] RoiEXLab commented on #3129
You need to update the maps. This will fix all your errors

[2018-02-24 15:45] prastle commented on #3129
Ok ty

[2018-02-24 15:49] RoiEXLab commented on #3129
@prastle btw. you need to do this for every bot you update to 1.9.0.0.9147 or higher.

[2018-02-24 15:50] prastle commented on #3129
Ok this is the only one.

[2018-02-24 15:51] prastle commented on #3129
Same issue
after map update

[2018-02-24 15:52] prastle commented on #3129
.9220 is broken maybe? should update ca engine further?  @RoiEXLab

[2018-02-24 15:52] RoiEXLab commented on #3129
@prastle I'm pretty sure it's not the exact same issue.
Could you post the presumably "new" stacktrace here as well please?

[2018-02-24 15:53] prastle commented on #3129
moment

Error: Not found:games.strategy.engine.lobby.server.RemoteHostUtils:Bot80_CA_lobby_watcher (1)_lobby_watcher port:50806 ip:45.79.66.139
games.strategy.engine.message.RemoteNotFoundException: Not found:games.strategy.engine.lobby.server.RemoteHostUtils:Bot80_CA_lobby_watcher (1)_lobby_watcher port:50806 ip:45.79.66.139
	at games.strategy.engine.message.UnifiedMessengerHub.messageReceived(Un

[2018-02-24 15:56] prastle commented on #3129
It occurs when attempting to view the host info or chat log.

[2018-02-24 16:16] prastle commented on #3129
Update it appears to only be the ca bots.  Also I just checked with root and ca is running 8941like all the other bots.

[2018-02-24 17:25] RoiEXLab commented on #3129
@prastle I'll have a look later this day

[2018-02-24 17:47] ron-murhammer commented on #3119
@DanVanAtta I'd argue this part of the commit is an example where I'd probably say its easier to read with if/else rather than conditional as the conditional seems to get lost in the large expression: https://github.com/triplea-game/triplea/commit/ba15b74a59c69180ffb2d2c92a2aedc5cc750e21#diff-226ebd837732bdb0e9651b2fd21f8988R541

[2018-02-24 17:58] ssoloff commented on #3119
Yeah, that statement really needs to be formatted as

[code]

And if the IDE can't be configured to do it that way, it means a lot of manual changes. :disappointed:

[2018-02-24 18:02] ron-murhammer commented on #3119
@ssoloff 100% agree. I think there are a pretty good number like that as well. The single line ones are easy but once you get ones that are longer they need to be formatted well to be readable.

[2018-02-24 18:28] General-Dru-Zod commented on #3129
I just confirmed same issue with CA bot when I attempt to view "host information". Using 9220.

Error: Not found:games.strategy.engine.lobby.server.RemoteHostUtils:Bot81_CA_lobby_watcher (1)_lobby_watcher port:50810 ip:45.79.66.139
games.strategy.engine.message.RemoteNotFoundException: Not found:games.strategy.engine.lobby.server.RemoteHostUtils:Bot81_CA_lobby_watcher

[2018-02-24 19:04] prastle commented on #3129
Seems to be working with a new map flash.  Nidea why when all bots were updated the same day.  closing this issue @RoiEXLab

[2018-02-24 19:04] #3129 closed

[2018-02-24 19:49] WCSumpton commented on #2959
I believe this can be closed

________________________________
From: Ron <notifications@github.com>
Sent: Tuesday, February 13, 2018 3:48 PM
To: triplea-game/triplea
Cc: WCSumpton; Mention
Subject: Re: [triplea-game/triplea] Problem with 1 round of battle and only air units left in an abandoned territory (#2959)

@WCSumpton<https://github.com/wcsumpton> Can we close this issue then?

—
You are rec

[2018-02-24 19:53] #2959 closed

[2018-02-24 21:39] DanVanAtta opened #3131 "IDE update action needed - add lombok plugin"
@RoiEXLab @ron-murhammer , please update IDE with instructions at: https://github.com/triplea-game/triplea/pull/3046/commits/b0473e7aa923d4eb76fed1cd21a1f8a520cd072b

That update will be needed for the project to compile correctly after lombok dependency is added: #3046

[2018-02-24 22:40] hispublic opened #3134 "Dragon Wars crashes during sea battle"
[autosaveAfterDwarvesNonCombatMove.zip](https://github.com/triplea-game/triplea/files/1755363/autosaveAfterDwarvesNonCombatMove.zip)

### My Operating System: win10 home 64

### Engine version: 1.9.0.0.8304

### Map name and version: Dragon Wars 1.2.3

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

It looks like a Dragon IV (Livonian AI) is attacki

[2018-02-24 22:56] DanVanAtta opened #3135 "Lock not held exception with latest master vs bots when production window is rendered"
With latest master:
[code]

### Problem

Can get the following stack trace:
[code]

### Impact to user:
- game seems to continue fine without problem. Hard to say if there is any long term damage from this

### Repro
- Launch the game
- join lobby
- join a bot
- pick big world 1943 v3
- pick all nations so the game launches
- proceed to russia purchase screen
- when purchase screen is rendered, no

[2018-02-25 00:01] DanVanAtta commented on #3119
@ssoloff parens would be covered by the auto-parens adder: https://github.com/triplea-game/triplea/commit/d4231f42aae506a1288529069a5fe35becdaab27#diff-226ebd837732bdb0e9651b2fd21f8988L541

@ron-murhammer @ssoloff the `?` not being on a new line would trigger a checkstyle violation. Auto-formatting fixes to roughly the right format, so we'd be forced to fix them all or could not merge otherwise. A

[2018-02-25 03:07] ron-murhammer commented on #3134
@FrostionAAA Have you seen this issue before?

[2018-02-25 04:33] DanVanAtta opened #3144 "Multiplayer map missing is over handled"
Seems to be different from single player case, in multiplayer case if starting a bot game with a missing map, we get many pop-ups:
![multiplayer](https://user-images.githubusercontent.com/12397753/36638166-e1977878-19a1-11e8-8bec-9874fd515ec4.png)

This would ideally be simplified to just the one error message saying the map is missing (no console, no 'failed to start game' error message)-+

[2018-02-25 11:11] RoiEXLab commented on #3144
@DanVanAtta
I believe one popup is being caused by a server side error, and one by a client side error.
I believe I had to deal with this when fixing the minor version incompatibilies with bots.

[2018-02-25 12:05] RoiEXLab opened #3156 "Host IP not accurate"
I just saw [this post](https://forums.triplea-game.org/post/7799) and had to think about my recent PR #3128
Due to the fundamental differences of IPv6 and IPv4 (IPv6 was designed to avoid NAT altogether while still being able to have a router that protects your LAN) Your local system will almost never be aware of any public IPv4 address, but almost certainly of a public IPv6 address, if your ISP d

[2018-02-25 15:08] General-Dru-Zod commented on #3106
I agree, most users would not like to download maps every time a new engine is installed. Also testing the engine versions would become problematic. We would most likely have less maps tested in any given version due to extra steps of downloading maps. That or there would simply be less testing of any given version to avoid downloading all the maps again.

@ron-murhammer suggestion to leave the cu

[2018-02-25 22:21] hispublic opened #3160 "G.O.T. map territory issues"
### My Operating System: Win10 home 64

### Engine version: 1.9

### Map name and version:Game of Thrones 1.3

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

At game start, turn 1 there are several errors in the map itself in these three connected territories.  The attached saved game highlights the three territories and errors 3 & 4.

Look at the

[2018-02-26 01:49] ron-murhammer commented on #3160
@hispublic Thanks for the bug report and a few other have reported similar issues with territory connections. The original map maker is no longer active and since this is in experimental category, the engine developers probably won't improve it. Are you interested in taking it over and trying to fix the issues?

[2018-02-26 02:26] Cernelius commented on #3160
Just to give a few info, as I don't think anyone else here knows the history (and as long as I know it right, which is not assured), this map never had an owner, but was left incomplete there in the old forum and RolfLarsson, at the time almost the only person taking care of the repository at the previous place, did some minimal stuff to get this map to the repository.
It would be great if somebod

[2018-02-26 03:10] DanVanAtta commented on #3144
That would make sense as far as the behavior is different from a single player game.

I want to say it used to work so that we'd only see the one pop-up. Regardless, the current behavior is not right; there should only be the one dialog.

[2018-02-26 03:19] DanVanAtta commented on #3106
This was not quite clear. Based on my understanding from #3030, the proposal woudl be something like:
- move game download folder to install folder location. Mark it as write-once for installation so it is not overwritten on new installs. This means one download, installers would not delete maps that are already present.
- on game engine versions that can't read 1.9 maps anymore, say v1.10, instru

[2018-02-26 07:58] panther2 opened #3162 "Transport loading bug (rules)"
This issue has been brought up on
https://www.axisandallies.org/forums/index.php?topic=41580.0

### My Operating System:

### Engine version:
Tested with 1.9.0.0.9347,  also present in 7621 (so most likely introduced earlier)
### Map name and version:
Tested with WWII_Global_1940 and WWII_v5
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
A transport

[2018-02-26 17:44] ron-murhammer commented on #3162
@panther2 Any idea if this has ever been prohibited in any previous version? Just wondering if I need to see if something has changed in the past couple of months or if this was something that never was enforced.

[2018-02-26 18:10] FrostionAAA commented on #3134
Well … the ”Should not be possible to have a normal battle in: ??? and have abandoned or only bombing there too.”-error is a returning error. I have not seen it lately, but I have seen it a number of times before.

I have seen it relate to sea territories, territory ownerships and whose units are inside a contested sea territory. In Age of Tribes it occurred in relation to the Nukes and their spaw

[2018-02-26 19:50] Cernelius commented on #3160
Also, this is an example of what I was saying, in that this map is so bugged one would think it should not stay in the repository, yet if you take it out the possibilities of someone fixing or even noticing it get virtually zeroed; yet probably users should not be offered broken maps without warning.
If not a broken section, maybe a "bugged" tag beside the maps, and a switch show/hide bugged maps?

[2018-02-26 19:52] DanVanAtta commented on #3162
I suspect this. @panther2 are there not also ruleset differences, or was it determined this was the right rule for all versions?

[2018-02-26 20:14] panther2 commented on #3162
@redrum
Having tested a bit I was able to reproduce this bug even with TripleA 1.8.0.9.
So I assume that this core rule has never been coded in.

@DanVanAtta
Revised OOB (v2) was the last ruleset that allowed loading transports after combat.
Starting from and including Revised LHTR (v2 LHTR) this has changed!

[2018-02-26 21:40] DanVanAtta commented on #3160
"in-progress", "abandoned" could be reasonable categories as well.

To be clear, my latest position is that we should include maps early and often. Maps that cause system problems, like war of relics, are probably best not included (bots will download all maps, so we get problems). We need to fix war of relics anyways, I'm hoping something like: https://github.com/triplea-game/triplea/issues/3104

[2018-02-26 21:41] DanVanAtta commented on #3160
(so until we can fix the maps that cause system problems, those probably should be excluded, it is just the one to my knowledge)

[2018-02-26 21:51] DanVanAtta commented on #3104
@ron-murhammer any further thoughts? Saying no here unfortunately is a non-solution, we've a number of map compat problems to solve.

For example:
- we break all maps and fix them, but then force an engine upgrade
- everyone with save games they want to finish playing will need to ignore the 'you have out of dates warning'. Some will upgrade and be not happy they lost a save game.
- folks with run

[2018-02-26 21:59] DanVanAtta commented on #3104
2nd thought, I'll try to clarify and better explain the problems we are seeing in a new issue. We've about 3 or 4 pretty significant issues.  I'd like focused conversation on that; I still think a parsing version is the solution, but it does not seem we are agreed yet on the problems even.

[2018-02-26 21:59] #3104 closed

[2018-02-26 22:15] RoiEXLab commented on #3104
@DanVanAtta I just wanted to throw in another think to think about:
In case we want to fundamentally change the map system altogether, a simple version system might either not do the trick, or force use to keep much "almost never used" code.
So in order to have some sort of versioning system, we have a solid basement to build on first, to avoid such issues, although even that is not a 100% guarant

[2018-02-26 22:15] DanVanAtta commented on #3106
@RoiEXLab are we missing any benefits from this idea/suggestion? It seems to me the fact we would have to instruct users to not overwrite an existing installation when they want to take advantage of multiple installation bases makes it seem overly complex. We could probably just as easily do what we did for 1.8->1.9 as @ron-murhammer suggested to rename the download folder.

[2018-02-26 22:17] RoiEXLab commented on #3106
@DanVanAtta The most straight-forward solution would be to use a folder being shared across users, and simply include subfolders with major version numbers then.

[2018-02-26 22:24] DanVanAtta opened #3166 "Enforce CodeCov? Remove it?"
CodeCov keeps getting in the way, I think it's time to remove it. It creates noise in PR's, email, false positives. Meanwhile we are not likely to start requiring branch coverage *any* time soon.

In this issue, I'm looking for some ***really***  good practical benefits to code coverage, or please let us remove it. It creates  noise. I miss the days when a green check meant the build passed

Assig

[2018-02-26 22:27] DanVanAtta commented on #3166
In this issue, I'm looking for some really good practical benefits to code coverage. I'm pretty clearly tired of the noise it creates, i would like the plugin removed as it has not proven it's value (meanwhile it is a cost, I miss the days when a green check meant the build passed)

[2018-02-26 22:36] Cernelius commented on #3160
Bots have limits, mainly related to the RAM, and should not run maps with a very big xml, but it would be very wrong not to have such maps just because of bots. Bots should not dictate anything at all, as I see it.
Personally, I would for sure rather get totally rid of bots than big XML maps like war of the relics, if I had to choose.
The proble here are the bots, not the big XML maps; my suggesti

[2018-02-26 22:43] Cernelius commented on #3160
Of course, the best way would be that the bots are able to see themselves if a game is just to big for their settings, and not try to load it; but I'm sure you have already thought about this. If a way can be made, that would be surely great, as bots should not bite off more than they can chew, but surely neither dictate an upper limit for xml (that is why we had and have the RAM settings), also c

[2018-02-26 22:52] Cernelius commented on #3160
@DanVanAtta I'm not aware of any problems about war of the relics, and all was fine the last time I played it. If there are any issues I might take a look (not promising), but I need to know at least what? Did someone make a bug report?

[2018-02-26 23:14] DanVanAtta commented on #3106
That basically sounds like the folder rename strategy. One problem though is that map major versions and game engine versions are not always 1:1. A v1.10 may not make sense for maps. Having multiple folder install locations is not very ideal either.

Some problems to consider:
- Users upgrade to v1.10, then v1.9 maps would be orphaned; We are again to the hand-management of versions of engines and

[2018-02-27 00:48] DanVanAtta commented on #3160
😁  while I really appreciate maps, bots are a lifeblood for us; most people cannot host.

My solution for war of relics is update XML spec so it would not need to be 70k lines long (or 40k, however long, it's just large because the specification is not efficient).

Pretty good suggestion. We have not put enough time into it right now though, so right now it only excludes War of Relics.

Funny enou

[2018-02-27 01:01] prastle commented on #3160
Ya the bots are down to about 2-3 min now on an update/reload.

[2018-02-27 01:33] prastle opened #3168 "SZ Numbers dont display with hover When Using .9319"
### My Operating System:
Win 10
### Engine version:
1.9.0.0.9319
### Map name and version:
New World Order 1.8.7
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Hover over any Sea Zone.  Territories still work fine.  Check and it works fine for SZ using 1.9.0.0.8941
### Do you have the exact error text? Please copy/paste if so

### Instead of this er

[2018-02-27 01:34] Cernelius commented on #3160
Ah, so you have already excluded WotR? Good then, that definitely should not stay in bots.
And, yes, if the problem is "only" the loading time, I confirm it. Also in the past the main bot hoster was taking care not to have WotR in a bot.
It makes no sense to get massive delays for a rarely played map; so only maps that bots can handle in less than 1 sec should stay in them (think about if all maps

[2018-02-27 01:36] hispublic commented on #3134
@FrostionAAA  This is the smoking gun!!!  I just attached every auto-save from that play-through that was still there when the error hit. The saved game you are looking for should be in this stack of saved games.  The closest save with the error waiting to happen seems to be the AfterGreenskinsNonCombat save.  Start that save and look at the bay by the Elves, south southwest on the map.  You'll se

[2018-02-27 01:52] prastle commented on #3168
It also affects Revised and Big World.

[2018-02-27 03:15] DanVanAtta commented on #3166
Assigning to all for some final feedback. IMO there are two good choices:
- remove it
- turn to enforcing mode

We are in a de-factor third option where we use it but ignore it (or not; but officially it is ignored). It does create noise in the meantime; so this is a really the group indecision decision IMO. Either way with removal or turning to enforcing I think it is good. Enforcing IMO is more

[2018-02-27 03:36] DanVanAtta commented on #3135
@ron-murhammer FYI on this one, I think it might be due to the new resource icons. Let's please assign when there is active work being done.

[2018-02-27 03:37] DanVanAtta commented on #2850
Closing this for now as not immediately actionable. To some extent I wanted to communicate idea/direction that bots become transparent.

[2018-02-27 03:37] #2850 closed

[2018-02-27 03:40] DanVanAtta commented on #2803
I apologize, I did not read the problem thoroughly enough.

@ssoloff @RoiEXLab when might we get the benefit of Java 9 compilation? (Are we benefitting today?)

[2018-02-27 03:58] hispublic commented on #3160
@ron-murhammer I have no clue how to work on the games.  That doesn't mean I can't learn though.  Is it something that a non-coder can do?

[2018-02-27 04:09] ron-murhammer commented on #3168
@prastle Ok. I was able to reproduce it. I'll take a look. Strange that it only happens on some maps but not others.

[2018-02-27 04:10] prastle commented on #3168
@ron-murhammer  I haven't looked at all of them.  I just noticed while watching DayMar playing some NWO.

[2018-02-27 04:11] ron-murhammer commented on #3168
@prastle I'm pretty sure I know what the problem is. Hope to put a fix up shortly.

[2018-02-27 04:12] prastle commented on #3168
I figured ya would no biggee.  Just really noticeable in NWO since the sz are not numbered as well?

[2018-02-27 04:16] Cernelius commented on #3160
Yes, all is covered by stuff that explain how to mapmake both the skin and the game. I don't know where the stuff is now, so maybe they can tell.

[2018-02-27 04:23] ssoloff commented on #3166
I don't remember if this question was ever answered: can we disable the **codecov/project** check but leave the **codecov/patch** check enabled?  The former is a problem due to non-determinism in some tests; the latter is useful information and encourages PR authors to write tests.

Alternatively, does Codecov allow you to adjust the default thresholds?  Right now, if **codecov/project** is negati

[2018-02-27 04:52] DanVanAtta opened #3170 "Github + Forum Discussions"
There is a long held desire to consolidate communication and involve the community.  Any thoughts on how to cleanly split the two if we start moving development discussion to forums? My thinking is we'll use Github issues as more of a pure task and bug tracker.

[2018-02-27 05:03] ron-murhammer commented on #3170
@DanVanAtta Yeah, that I think would be best. I've already moved most of my discussions to the forum so that its easier to get feedback and interaction with the community. I think github issues are good as a bug tracker, tasks, and technical discussions. But anything that is a feature or enhancement fits better on the forum IMO.

[2018-02-27 05:09] DanVanAtta commented on #3170
I'm noticing the duplicate convo's, I think I'm just a bit late to get behind the swing of things : )

[2018-02-27 05:11] DanVanAtta commented on #3170
I created a 'Game Engine' topic in forums: https://forums.triplea-game.org/category/48/game-engine

Start of a migration : )

[2018-02-27 05:15] ron-murhammer commented on #3166
Well I gave it a shot but not sure if its working. I created a team yaml with the following:
`coverage:
  status:
    project: off
    patch: off`

[2018-02-27 05:16] DanVanAtta opened #3172 "Github Bug/Task Tracking"
please see forum post: https://forums.triplea-game.org/topic/607/github-bug-and-task-tracking-process

[2018-02-27 05:34] DanVanAtta commented on #3122
My first thoughts are that we're unlikely to see any data structures large enough where it's a concern. It should be nano-second time to go through in-memory values, a few versus a dozen nanos is likely not going to dominate. I would suggest we first go with what is simplest unless we have some performance numbers to tell us otherwise.

[2018-02-27 05:45] ssoloff commented on #3170
So, I'm confused.

@DanVanAtta stated:

@ron-murhammer stated:

Is the gist of this issue to agree on moving technical discussions to the forum, as well?  I thought we discussed this a few months ago, and we all agreed to keep technical discussions on GitHub. :confused:

Regardless, I don't have any objection to moving technical discussions to the forum if that's what the team thinks is best.  How

[2018-02-27 05:56] ssoloff commented on #3166
@ron-murhammer Looks like that worked for #3173. :+1:

I would propose:

* Change `project` threshold to 1%.
* Keep the default `patch` configuration (which sets the threshold to the project baseline [currently ~20%]).

I'm still of the opinion that a failing `patch` status is a useful red flag.  If I see test coverage below this threshold, I want the PR author to state what testing they did manua

[2018-02-27 06:14] ron-murhammer commented on #3166
@ssoloff Yeah, looks like it did work. I'm fine with those suggestions as that should minimize the noise.

@DanVanAtta @RoiEXLab Any thoughts? Agree with that configuration?

[2018-02-27 06:49] DanVanAtta commented on #3168
![verify](https://user-images.githubusercontent.com/12397753/36714489-54d966c4-1b47-11e8-9ac9-901781b62f20.png)

Lookin good now :+1:

[2018-02-27 06:50] #3168 closed

[2018-02-27 07:05] DanVanAtta commented on #3166
@ron-murhammer @ssoloff good work :+1:

I think now the conversation starts for what kind of minimum bar for a red build due to coverage, and what that means : )

@ssoloff one problem with same coverage, refactoring can be dangerous. Most of the mass refactorings I've been doing I've tested as a single branch and then split up. Some things got through and one spike I failed to test well. In any of

[2018-02-27 07:10] DanVanAtta commented on #3170
Heh, probably should be me going in for memory loss, some items I truly did not remember. But... sorry, my personal style is to revisit items frequently in small iterations. When things are not working well I do like to bring them up fresh for discussion.

-----------

Part of it might be context miss too. In some respect this project is still new to github in some ways. In other ways we hit a mat

[2018-02-27 07:24] DanVanAtta commented on #3170
It probably makes sense that topics that relate to github only would be on github. Admin tasks are likely to remain as well. I think in some ways maybe our usage will not change that much except 'discussion' will move to forums.

[2018-02-27 07:38] #3172 closed

[2018-02-27 13:15] FrostionAAA commented on #3134
Thank you @hispublic for the savegames. They really helped a lot.

What I notice is that the sea territory where the battle takes place is actually not owned by the greenskins player as one might expect, but instead owned by a third party (pirates), and I suspect that this creates the issue/error when the battle step begins.

But the error can be avoided if you (use a save that is before the red p

[2018-02-27 13:46] RoiEXLab commented on #3166
I'm fine with the changes 👍

[2018-02-27 13:48] RoiEXLab commented on #3170
I'm feeling mixed on this, but I'd go with whatever you choose 🤷‍♂️

[2018-02-27 14:39] beelee1 commented on #3160
@hispublic  if you want to just do xml changes dl pact of steel and open the games folder which has the pos 2 xml. It explains a lot. Idk how to change the map ( graphics ) . @FrostionAAA might be able to point you in the right direction.

@all Idk how bots work but if you could have 1 or 2 that could randomly offer experimental maps it would help them get some exposure and possibly become popular

[2018-02-27 14:50] beelee1 commented on #3170
You should probably keep the technical stuff here. Could provide a link at the forum for those that want to follow.

You might get (even well intentioned ) comments that will distract from what you want to do.

Imo : )

[2018-02-27 19:36] Cernelius commented on #3170
I believe it is a good thing to move all discussions, also about the game engine, to the forum, as this would help breaking the tendency of creating two separated communities, with the developers on one side and the rest on the other (and, for example, the developers would just not even notice the feature requests or what is going on in the forum).

Otherwise the risk is that you have GitHub, wher

[2018-02-27 23:25] #3166 closed

[2018-02-28 01:15] DanVanAtta commented on #3170
@Cernelius good feedback. We still want Github for task tracking as you can close and assign issues.

----------------

First, I've noticed we are good about tackling new items as they come in, that is perfect and we should continue to do that (good work!).

I've noticed we have a steady state long tail to the github issue queue of open items. We're hovering around 90'ish, and the bottom 60 are ge

[2018-02-28 01:17] DanVanAtta commented on #3170
My answer is offload discussions to forums, they belong there anyways for community consolidation and feedback : )

Second part I would suggest we mark anything older than 6 months as archived and close from the list. Maybe even one month. Basically we set an SLA for fixing non-critical problems, and try to avoid archiving. If something gets that old, it slipped, it's okay, and we admit some small

[2018-02-28 01:37] General-Dru-Zod opened #3187 "Resource Images Missing"
### Engine version
9428

### My Operating System
windows 10

### Map name
Bad-Ass 4-Nation FFA v.1.6.0.20

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Got an error for missing techTokens_large.png which prevented purchase screen from opening. Because techTokens are purchased in this map and they use techTokens_large.png. This image is not include

[2018-02-28 01:54] ssoloff commented on #3166
Just asking since this issue was closed...  Are we leaving the Codecov configuration as-is (both project and patch status off)?  Or was it modified, and we just haven't seen it yet because no new PRs have been opened since?

[2018-02-28 03:07] DanVanAtta opened #3188 "CodeCoverage Min Thresholds"
Picking up from:
https://github.com/triplea-game/triplea/issues/3166#issuecomment-369093614

[2018-02-28 03:09] DanVanAtta commented on #3166
Now that thresholds are zero, let's pick up discussion in: https://github.com/triplea-game/triplea/issues/3188

[2018-02-28 03:12] DanVanAtta commented on #3119
@ron-murhammer any objection to current list if things are formatted well?

---------

I'll see if i can get some ballpark numbers for how many changes are involved in each proposed update. I'd like to see about getting some more on the last, will assign to myself as well while working on that.

[2018-02-28 04:26] ron-murhammer commented on #3187
Yeah, I meant to definitely have a techTokens_large.png just had it named wrong. It should be fixed. If someone wants to take the old *_large images and resize them then I'm glad to add additional ones back in. Closing this since it should be resolved now.

[2018-02-28 04:26] #3187 closed

[2018-02-28 04:29] ron-murhammer commented on #3119
@DanVanAtta Nope. As long as things end up more readable then they were before and the formatting looks good then I'm good with the list.

[2018-02-28 04:31] ron-murhammer commented on #3134
@FrostionAAA Cool. Glad that property resolved it. I still think there are some funky edge cases around contested territories especially with air units but as long as we don't have specific cases, I consider it low priority to revisit them.

[2018-02-28 04:31] #3134 closed

[2018-02-28 04:33] prastle commented on #3134
I miss this map 😢   Iwsih it was live more thanks for the work @FrostionAAA

[2018-02-28 04:35] ron-murhammer commented on #3134
@prastle If you joined the lobby once in a while... you'd see that someone is playing it right now and they are in round 18 :)

[2018-02-28 04:36] prastle commented on #3134
probably passworded
again

[2018-02-28 22:04] DanVanAtta commented on #3120
All good, my tone is 100 times more worried than I actually am; a small problem with written communication; I feel very matter of fact about this rather than more upset or anything else.

It is a bit troubling though that we got into trouble with brittle code, and to fix it we put the brittle code back how it was instead of doing something more that would have prevented a repeat of this problem. A

[2018-03-02 03:49] DanVanAtta opened #3201 ""Would you like to update maps" fails with "maps already installed""
Can repro with: https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.7621
and latest master:
[code]

### Overview
When we get a prompt saying "would you like to update your maps now", and click yes, we expect maps to start updating instead of being told maps are already installed.

### Repro:
- open game where it will ask you to update (or hack the checks. GameRunner and MapDownloadcontrol

[2018-03-02 05:02] DanVanAtta opened #3203 "@NotSafeToRefactor - annotate places where engine breaks"
From https://github.com/triplea-game/triplea/pull/3202

This gives me the idea that we would do well to annotate anything that we cannot change due to compatibility. It is not a full proof solution, but it'll be at least *really* easy to tell when we're updating
something that is going to break compatibility.

We may also want to distinguish the types of compatibility:
[code]

(I think we may alre

[2018-03-02 05:18] ssoloff commented on #3203
How about one annotation with an array enum value that can be used to describe the reason?

[code]

[code]

Example usage:

[code]

---

Actually, it might be more useful to list what types of refactoring cannot be performed.  For example, "fields cannot be renamed" seems more useful than stating "save game compatibility" with the obvious follow up question, "what does that prevent me from doing?"

[2018-03-02 05:31] ssoloff commented on #3203
Actually, that last suggestion could get out of hand because if a type is serialized to a save game, there's several things you can't do (move package, rename type, rename fields, etc.).  That would be a pain to list on all such types.  So maybe the original suggestion is better, and we can just document what refactorings cannot be performed in the Javadocs for each reason/constraint.

[2018-03-02 06:07] DanVanAtta opened #3207 "remove javadoc from checkstyle"
The javadoc checkstyle is getting more in the way than it is helping.

Example, recent refactor, likely a method was elevated to public, or a line was added, and now needs a javadoc. This potentialy happened off-screen with automatic private->public update.

Now, need to find the one new error in this list:
![screenshot from 2018-03-01 22-04-11](https://user-images.githubusercontent.com/12397753/3

[2018-03-02 06:26] DanVanAtta commented on #3203
Let's keep it easy to use, I'd like to avoid parameters to the annotations.

IMO best to document why not safe (ie: what is the coupling?), instead of what can't be done. The not safe things can be documented in the annotation itself.

[2018-03-02 06:28] DanVanAtta commented on #3207
To be clear, I'm proposing we remove method level javadoc requirement; It's the most noisy, not valuable. Simply having methods be protected is not good reason to not javadoc, I don't think we're automating review here; just making life difficult.

[2018-03-02 12:27] RoiEXLab commented on #3207
No objections.

[2018-03-02 17:07] ssoloff commented on #3207
No objections.

When I run into this situation, I've found diffing the Checkstyle XML report from the current branch with the report from `master` can usually track down the problem immediately 50% of the time.  Another 30% of the time, it can usually be tracked down in a minute or two.

True, we should be documenting public and protected members because they are both API.

[2018-03-02 23:20] ron-murhammer commented on #3207
Fine with me.

[2018-03-03 00:41] DanVanAtta commented on #3207
Thanks for feedback, I'll submit a PR to remove the method level javadoc requirement.

[2018-03-03 04:26] General-Dru-Zod commented on #3135
I'm getting "lock not held" errors too, very reproducible too. Using 9464 in a bot game. I'm attaching the save game. But it happens every time that I try to move one of the British acc that are carrying American fighters. I need to go into edit mode to get the moves done, because the errors keep popping up. I even tried to replace the acc with fresh one via edit mode.

Map is "ww2 1941 v3"

[ww2.

[2018-03-03 04:30] ron-murhammer commented on #3135
@General-Dru-Zod Can you post the entire error message? I'm not able to reproduce with that save game.

[2018-03-03 04:59] prastle commented on #3135
What gz has left out that might matter is his opponent is 3635? also the observers were using 9480

[2018-03-03 05:08] ron-murhammer commented on #3135
[code]

[2018-03-03 05:16] ssoloff commented on #3135
Unrelated to the root cause, but it seems strange that we would require the read-lock to be held while getting a reference to a `final` field.  I can see requiring the lock to be held while _using_ the `RelationshipTracker` but not to simply get the reference.

[2018-03-03 05:18] ron-murhammer commented on #3135
@ssoloff I think a lot of the code the has ensureLockHeld() calls are probably questionable. But just submitted a PR to at least fix this.

[2018-03-03 05:24] ron-murhammer commented on #3135
@General-Dru-Zod @prastle This should be fixed in the latest pre-release now. There was a potential error introduced with the changes around the route message enhancements. Thanks for the bug report!

[2018-03-03 05:50] General-Dru-Zod commented on #3135
@prastle, He started with 3635 and then we reloaded with his newer version.

[2018-03-03 05:53] ron-murhammer commented on #3135
@General-Dru-Zod @prastle It ended up not having anything to do with older versions. Just a bug that was added with the route message changes and great to catch before we make this a stable. You should be able to load that save now without any errors in the latest pre-release.

[2018-03-03 08:32] General-Dru-Zod commented on #3135
I left a zip with the errors, But here ya go. I was getting it over and over as I tried to move British acc's that carry usa fighters.

java.lang.Exception: Lock not held
	at games.strategy.engine.data.GameData.ensureLockHeld(GameData.java:160)
	at games.strategy.engine.data.GameData.getRelationshipTracker(GameData.java:463)
	at games.strategy.triplea.delegate.Matches.lambda$alliedUnit$151(Matches

[2018-03-03 08:33] General-Dru-Zod commented on #3135
I will try the newest release.

[2018-03-03 19:35] bluelionman opened #3218 "Game Crash"
### Engine version

1.9.0.0.3635

### My Operating System
Windows 7

### Map name
Big World 1942: v3 Rules

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
I was in Round 20 as UK did naval and parachute landing on Japan and it crashed came up with below error info. it was last attack all other attacks that round executed fine.

### Do you have the e

[2018-03-03 19:36] bluelionman commented on #3218
[autosave2.zip](https://github.com/triplea-game/triplea/files/1777808/autosave2.zip)

Thats the game - you can load and play it but when you do the Japanese mainland battle it will crash every time :-1:

[2018-03-03 19:38] RoiEXLab commented on #3218
@bluelionman Thanks for your report.
Could you try updating to the [latest version of TripleA](http://triplea-game.org/download/) and check if this error persists?

[2018-03-03 19:40] bluelionman commented on #3218
How would I do that as I've been using game saves?

[2018-03-03 19:44] RoiEXLab commented on #3218
@bluelionman I'm not sure what exactly is your problem with updating 🤔
Once you've downloaded the installer from the website, the savegame should open automatically in the engine when double clicking it, alternatively you can launch the newer version of the game and load in the savegame via the menu on the left side.

[2018-03-03 19:50] bluelionman commented on #3218
Okay I updated - loaded saved game and exacly the same thing happened during the mainliand Japan invasion. Crashed - got that error box come up?

[2018-03-03 19:54] RoiEXLab commented on #3218
@bluelionman Thanks for checking I just wanted to ensure this issue hasn't been fixed since then (the version you were using is probably over a year old already).

@ron-murhammer Could you have a look?

[2018-03-03 20:23] General-Dru-Zod opened #3220 "Show Verified Dice Bug"
### Engine version
9464

### My Operating System
windows 10

### Map name
World War II 1941 V3

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Was in a lobby bot game yesterday playing 1v1. The option "show verified dice" was not showing anything throughout game. Not even "warming up crypto random source".

### Do you have the exact error text? Plea

[2018-03-03 20:41] ssoloff commented on #3220
Thanks for the heads-up, @General-Dru-Zod.

It looks like the underlying feature is working correctly, but the window is not being updated after it is opened as new dice rolls are generated.  If you close the window and reopen it, you'll see all the dice that were rolled since you previously opened it.

I verified this window has the same incorrect behavior in 3635, so this problem may have been a

[2018-03-03 20:49] General-Dru-Zod commented on #3220
@ssoloff It was blank every time I tried. It never listed the info on multiple tries in that game.

[2018-03-03 20:49] Cernelius commented on #3160
Ok, so it seems nobody is telling.

I guess I'll tell you to do this:

Download the old 1.8.0.9 from here:
http://triplea-game.org/old_downloads/

Then, once you have it installed (do it taking care not to override your current istallation), open:

triplea_1_8_0_9/doc

First read:
How to create custom games

then read:
map_and_map_skin_making_overview

then read the pos2 xml you can find here:
htt

[2018-03-03 20:49] General-Dru-Zod commented on #3220
Just so I know, what is the expected behavior of a dice hack?

[2018-03-03 20:52] Cernelius commented on #3160
If anyone is going to fix this map and know stuff about the lore of the setting, my suggestion is to do whatever you feel right, not just limiting yourselves correcting the bugs. I'm fairly shure no admins will object any changes, or a full ownership takeover, and anyways you can always make your stuff into a mod, to have full freedom.
I believe tergarien is a bit overpowered, for having dragons,

[2018-03-03 20:55] ron-murhammer commented on #3218
@bluelionman @RoiEXLab I'm pretty sure this is the same issue that was fixed in #2776. If you follow these steps it should resolve the problem:
1. Download the latest pre-release: https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.9551
2. Take a save from before combat move
3. Redo the combat moves including the paradrop in Japan

[2018-03-03 21:00] ssoloff commented on #3220
@General-Dru-Zod

Got it.  In fact, I may have jumped the gun a bit.  The "real-time" update I was expecting appears to have never been a part of this code.  It's always behaved the way I described.

So now it comes down to figuring out why your client never receives the verified dice rolls to display in the first place.  I'll keep looking.

You should see one of the following messages in the cons

[2018-03-03 21:42] ssoloff commented on #3220
Ok, I think I know what's going on.  I set up the following scenario:

* Start a lobby with one bot.
* Start a client, connect to the lobby, join the bot, and choose some subset of players.
* Start a second client, connect to the lobby, join the bot, and choose the remaining players.
* Wait for game to start on both clients.
* Open Show Verified Dice on first client; observe no entries.
* Open Sho

[2018-03-03 23:01] General-Dru-Zod commented on #3220
A related observation. Privately hosted games do not have this feature available. It would be cool to have something activated optionally, maybe via marti but live.

[2018-03-03 23:37] ssoloff commented on #3220
@General-Dru-Zod The **Show Verified Dice** command is not available to the player hosting the game, but it should be available to at least one of the players joining the game.  I just checked with 9560 and confirmed the player joining the private host has that command available.  Are you not seeing the same thing?

[2018-03-03 23:44] DanVanAtta opened #3223 "ClientSettings.save() is called on startup"
Noticed that 'save()' is called in ClientSettings on startup.

This is wrong, updating ClientSettings should be user driven, or should be done as part of error recovery. Saving settings on startup does not make sense.

To repro: add a break point in ClientSettings#save, launch the game; notice the break point is trigger. Expectation is for the breakpoint to not be triggered.

[2018-03-04 01:15] ssoloff commented on #2803
Just repeating an answer from a different thread to ensure this is followed-up...

My understanding is that the Java 9 build was added to detect Java 9 migration issues early so we don't deal with them all at once.  @RoiEXLab, please elaborate if I'm mistaken.

[2018-03-04 01:32] justwantotoplaytriplea2 opened #3224 "Java Issue?"
I am having a problem where the game starts but have no way to use the buttons and have this error.

[code]

I read in another location to clear and go to properties.

[code]

But I do not have an answer to solving it. What do I need to do?
Just want to play.

[2018-03-04 01:43] beelee1 opened #3225 "amphibous attack doesn't work corectly"
### Engine version9501

### My Operating System linux

### Map name Global 40 House Rules With Canada

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

Not really. Can post a save

### Do you have the exact error text? Please copy/paste if `so`

### Instead of this error, what should have happened?

### Any additional information that may help

hmm..

[2018-03-04 02:05] beelee1 commented on #3225
```fuck it`

[2018-03-04 02:08] General-Dru-Zod commented on #3220
Not sure, I need someone to host a game and try it. I know if I'm just in private host as a non player, the it is available, however always blank.

[2018-03-04 02:19] ssoloff commented on #3224
@justwantotoplaytriplea2 I've never seen this error before when running TripleA, but a quick search seems to indicate there may be a problem with your Java installation's truststore (possibly corrupt or missing).  This [SO question](https://stackoverflow.com/questions/6784463/error-trustanchors-parameter-must-be-non-empty) has a ton of answers that cover various platforms.  It looks like you're us

[2018-03-04 02:30] ssoloff commented on #3220
@General-Dru-Zod Ah, you're talking about joining an in-progress game and just observing, right?  Then, yeah, you won't ever see any dice rolls in that case.  It's due to the fact that the server picks the one player who will receive the dice rolls when the game is started.  Since you weren't connected to the host when the game started, you can't possibly be picked. :smile:

[2018-03-04 02:41] ssoloff commented on #3225
@beelee1 On GitHub, you need to zip your save game first.  On Linux, you can try using your window manager's file browser and right-click the save game file.  In most cases, there will be a command on the context menu named **Compress...** or something like that.  Alternatively, you can open a terminal and use the `zip` command:

[code]

where you need to replace `<path/to/save_game.tsvg>` with th

[2018-03-04 02:43] beelee1 commented on #3225
TY

[2018-03-04 05:03] DanVanAtta commented on #3220
I don't have full context yet on this, but sounds like this is optimized for the 1v1 case. I would not be very surprised if a multi-verified dice case was ignored or not considered. Most tourneys are 1v1, multiplayer saves game are well known to be near impossible to save and continue (very tough to get 3 schedules to line up let alone 2).

[2018-03-04 21:42] ssoloff commented on #3220
Are tournaments usually played through a bot?  If so, this might still be a hot issue if only one of the players can verify dice rolls.  Because, as mentioned above, a 1v1 game via a bot is not really 1v1 from the engine's perspective; rather, it's viewed as a 3-player game.

[2018-03-04 21:57] ssoloff commented on #2985
@DanVanAtta Can this issue be closed now that we've integrated Lombok into `master`?

[2018-03-04 22:20] DanVanAtta commented on #3207
Looking at the config I noticed the min-line limit is 2. That made me consider maybe we can tweak that. I do put some value in the javadoc requirement, a few times it has reminded me to add a comment. So I experimented with 20 lines and 10 lines instead. There was not much difference in results, seemed like 10 lines would be a more reasonable rule.

A method that long we probably do want to javado

[2018-03-04 23:13] DanVanAtta opened #3231 "CodeStyle Convention - Ordering"
Following up on: https://github.com/triplea-game/triplea/pull/3205#discussion_r172066196 with @ssoloff

Good set of questions. We have not actually formalized all of these points beyond 'depth first ordering'.

We have agreed that our first precedent will be google java code style, second would be the default java community (oracle) standards.

Here is what google has to say:

The order you choose

[2018-03-04 23:15] #2985 closed

[2018-03-05 01:25] General-Dru-Zod commented on #3220
@ssoloff Ok, so in a private host, 3 active players in game, the show verified dice works as follows. For the host player is not functional, not even warming up crypto. For other clients (2 others actively in game) functional, see dice rolls. For guest observer, nothing.

[2018-03-05 02:17] ssoloff commented on #3220
@General-Dru-Zod Hmm, I'm not seeing the exact same behavior.  In my test, only one client can see dice rolls:

![show-verified-dice-private-host-annotated](https://user-images.githubusercontent.com/4826349/36954587-119001a8-1ff1-11e8-85e7-5fac82d21d00.png)

[2018-03-06 01:14] ron-murhammer commented on #3014
@ZjelcoP Verified this is a problem. Can easily reproduce by loading any transport and trying to select the transport as well as its loaded units to a land territory. It then shows an error rather than just filtering out the transport and allowing the move.

@RoiEXLab @ssoloff I started looking at this and think it has to do with the order that the units are being passed and might be related to th

[2018-03-06 01:27] ron-murhammer commented on #3014
I believe this portion of the previous code isn't represented after the refactoring:
'''
-      final Unit t1 = TripleAUnit.get(u1).getTransportedBy();
-      final Unit t2 = TripleAUnit.get(u2).getTransportedBy();
-      // check if unloadable units are in a transport
-      if (t1 != null && t2 == null) {
-        return -1;
-      }
-      if (t1 == null && t2 != null) {
-        return 1;
-

[2018-03-06 01:41] ssoloff commented on #3014
@ron-murhammer I think the `null` comparisons are supposed to be covered by the `nullsLast()` call in the new code.  However, I can't see where `getTransportedBy()` is ever being called.  So we might be performing the comparison on the transportee rather than the transporter....?

[2018-03-06 01:45] ron-murhammer commented on #3014
@ssoloff Yep, that's what I'm seeing. The null comparison needs done on getTransportedBy() not the other comparator being called.

[2018-03-06 01:55] ssoloff commented on #3014
@ron-murhammer Yeah, confirmed that fixes the problem.  I'm seeing if there's a straightforward way to unit test this.

[2018-03-06 01:58] ron-murhammer commented on #3014
@ssoloff The core case that hits that condition is say a transport and a unit that its transporting. As the transport will have getTransportedBy() == null while the tranported unit won't.

[2018-03-06 03:12] #3218 closed

[2018-03-06 03:26] #3014 closed

[2018-03-06 03:29] ron-murhammer commented on #3014
I verified this fix resolves the issue.

[2018-03-06 03:42] ssoloff commented on #3014
Fix is available in 9623 or later.

[2018-03-06 04:39] General-Dru-Zod commented on #3220
I asked the people in that were actively in the game and they said yes. Unless they completely misunderstood what I was asking them.

[2018-03-06 05:16] ssoloff commented on #3220
@General-Dru-Zod Thanks.  Asking them for a screenshot will remove any ambiguity. :smile:

[2018-03-08 17:35] ssoloff opened #3250 "Remove @GameProperty annotation"
Now that reflective access to methods annotated with `@GameProperty` has been removed, this annotation is no longer necessary.  However, it does provide some metadata that may be useful, and, if so, that metadata should probably be captured someplace else.

The four pieces of metadata associated with this annotation are described below:

Metadata | Description
:-- | :--
`xmlProperty` | Indicates t

[2018-03-08 19:46] ron-murhammer commented on #3250
Yeah. There isn't a whole lot of value let in these and I'd be open to just removing them.

In regards to those that don't have gameProperty, my guess is that for at least the artillery ones they actually generate a support attachment under the covers and are really just an XML shortcut:
UnitAttachment#setArtillery()
UnitAttachment#setArtillerySupportable()

[2018-03-08 20:37] Cernelius commented on #3250
@ron-murhammer

@ron-murhammer It would be beneficial to be clearer to everyone what is deprecated.
Regarding the not deprecated ones, I believe such options should stay not deprecated, as I see they are not currently listed as deprecated, and provide an useful easier mapmaking tool for (the vast majority of) simple or traditional maps, having also the benefit or lowering the chance of map bugs (f

[2018-03-08 20:50] ssoloff commented on #3250
@Cernelius The proposal in this issue is to not remove the properties themselves (e.g. `artillery`, `artillerySupportable`, etc.) but just a particular piece of Java syntax we (used to) use in the code to tell us how that property was being used by the engine.  If we remove the `@GameProperty` annotations, it will have no effect on maps or on how the engine processes maps.  (Think of `@GamePropert

[2018-03-08 20:57] Cernelius commented on #3250
@ssoloff That is not what I said. I understood you are not going to delete any of those (and I actually suggested to delete all not deprecated ones); I was just wondering if the `@GameProperty` annotation was intended to avoid triggers possibly changing those elements (which would be pointless, thus good to disable), or anyway highlighting all items that are not anymore effective past initializing

[2018-03-08 21:12] ssoloff commented on #3250
@Cernelius Sorry for the misunderstanding.

`@GameProperty` never had any effect on engine behavior.  It was simply used during testing to alert devs if they did not implement a game property according to how the annotation said it was supposed to be implemented (it's kind of circular logic, but... :smile:).

If your concern is was the _documentation_ provided by this annotation ever used by a dev

[2018-03-08 21:21] Cernelius commented on #3250
Ok, it's merely developers call, if nobody else is going to see that; I was wondering if that was the way to remove the option from the game, after initialize, thus assuring the game would crash, if a trigger would try to change it, thereafter (instead of changing something left to do nothing) (like in happened when "IsTwoHits", or whatever that was called, was deprecated).
In case anybody might o

[2018-03-10 06:18] #3250 closed

[2018-03-10 16:31] ssoloff commented on #3188
Bumping...

[2018-03-11 00:05] ron-murhammer opened #3259 "MapCreator runUtilitiesAsSeperateProcesses Error"
If you uncheck the box for runUtilitiesAsSeperateProcesses setting it to false, it causes an error if you then try to launch "Run the Automatic Placement Finder" indicating component are being created outside the EDT. I'm guessing trying to launch other MapCreator components with that set to false probably throw errors as well.

![image](https://user-images.githubusercontent.com/1427689/37248100-5

[2018-03-11 12:44] panther2 commented on #3225
I have loaded the provided savegame.
TripleA then downloaded a map called "global_40_house_rules", using a "Global 40 House Rules with Canada"-XML.

I have found the issue in Japan 11. During Combat Move two Japanses units are unloaded to US-owned Wake. For any reason during Combat Phase this does neither initiate a battle in Wake, nor does Japan take Wake.

What should happen is a "battle" during

[2018-03-11 19:23] Cernelius opened #3265 "Disable Window 7 Zoom From Applying To The Misc Cursor Image (1.9.0.0.9732)"
Revert Custom Cursor Scaling (1.9.0.0.9732)

What did you do to the custom cursors?

It used to scale to 48x48. Now I'm running 1.9.0.0.9732 and it looks like it goes to 36x36 or something.

If this is an intended change (down from 48x48 to 36x36 or whatever), not something random, please let's talk about it in a forum post (unless I overlooked), before deciding on such matters.

Or is this a bug

[2018-03-11 19:28] Cernelius commented on #3265
This is a 48x48 cursor, I'm using in a map I'm making, that used to stay at those dimensions, and now it gets silly small, with this engine:
![cursor](https://user-images.githubusercontent.com/19562310/37257498-940ab1a4-256a-11e8-926e-67dfded6123e.gif)

[2018-03-11 19:39] Cernelius commented on #3265
Sorry, I cannot think of a map with 48x48 cursor in the repository.
But you can test it with "Conquest of the World":
https://github.com/triplea-maps/conquest_of_the_world
That one comes with a 48x48 cursor I made.
It used to display fine, but now it gets displayed smaller, other than badly zoomed.
If this is unintended, I hope it will be reverted.
If this is intended, I hope it will be discussed

[2018-03-11 20:18] DanVanAtta commented on #3188
This is a pretty major item.
I think it would be the right thing to do, I don't know how else we can start improving coverage.

Some problems to consider:
- UI only updates, some code should not be covered. Maybe we make the coverage requirements sub-project specific, and have no requirement for the UI client layer?
- Some code needs re-design before we would *want* to test it. We also have cases

[2018-03-11 20:30] beelee1 commented on #3225
Thanks for looking at it panther. Not sure why it does that. The unit will take infrastructure on land ok but maybe it being an Attack 0 unit makes it act differently on sea for some reason ? Idk. I actually have another Attack 0 unit. I'll try and replicate with that.

[2018-03-11 20:41] DanVanAtta opened #3266 "Release note moving to game engine"
We currently have our release notes in website: https://github.com/triplea-game/triplea-game.github.io/blob/master/release_notes.md

This is a problem as we are not updating it, and cannot update it at the same time as we update the gam engine code.

To reduce overhead I plan to bring the file into the game engine.

[2018-03-11 20:43] DanVanAtta commented on #3265
Can you post a screenshot of the problem you see in `conquest` @Cernelius ? that would help make sure we're all seeing the same problem.

[2018-03-11 20:48] DanVanAtta commented on #3266
We also should probably clarify the audience and content, maybe even revert the 'how to release page' to have this original content from Veqryn when he handed over the release process:

https://github.com/triplea-game/triplea/blob/7becfba00541c6cc80c30ba40b88ecd864e49aff/docs/admin/how_to_release.md

[2018-03-11 20:56] Cernelius commented on #3265
Can you tell me, on Windows 7, how do I take screenshots including the cursor? I click on "Print" or whatever that key is named in English, then paste in Gimp, but the cursor is never part of the screenshot.

[2018-03-11 20:59] DanVanAtta commented on #3265
I think this was the app i liked when using windows: https://app.prntscr.com/en/index.html

Knowing specifically it is the cursor that is the problem is helpful : )

[2018-03-11 21:00] beelee1 commented on #3225
yea idk why it did it. Same game, same move and it worked correctly the next rd. Oh well, it will remain unknown : )

[2018-03-11 21:00] #3225 closed

[2018-03-11 21:09] Cernelius commented on #3265
I've installed that program now, but I see no way to have the cursor as part of the screenshot. How do I do it, if it is possible, using it?

[2018-03-11 21:11] Cernelius commented on #3265
If this might make matters simple, please just remove any king of resizing of custom cursors images (it used to resize to 48x48). That would be the best way, so that the mapmakers can have the dimensions they want.

[2018-03-11 21:17] DanVanAtta opened #3267 "Shipping a map XML converter with game engine"

[2018-03-11 21:19] #3267 closed

[2018-03-11 21:57] RoiEXLab commented on #3265
@Cernelius could you check if the map scaling affects the size of the cursor?

[2018-03-11 22:14] Cernelius commented on #3265
The "Map Zoom", nor the "Unit Size", menu settings have any effect on the cursor, that appears always scaled down to 32x32.
It used to be always rescaled to 48x48, and I've no doubt that was better than what I see now, but, if feasible, having no rescaling at all (the custom cursor being just the dimension of its own image) would be the best.
You can test it with 1.8.0.9, but I'm thinking this sho

[2018-03-11 22:38] DanVanAtta opened #3269 "Serialization Proxy revisited"
I can't help but remember that adding in game proxy really simplified code by removing the `GameData` reference we wire through, and second it removed entire objects from compatibility concerns between save game and engine.

As a thought, what if we applied that technique everywhere we can, and then when we get to the places with circular dependencies, we simply fall back to the existing technolog

[2018-03-11 23:45] Cernelius commented on #3265
Nevermind, kind of, damnit. Now I understand that you never saw what I used to see.

I should have checked 1.8.0.9. It is the same now, for me.

I found out that what changed is that I used to have Windows at 150% general settings (in Personalization/Screen, or whatever that is in English (trying to translate)).

So, I now realize that the damn cursor has always been at 32x32, and it becomes 48x48

[2018-03-11 23:53] Cernelius commented on #3265
This is how I supposed you to see the cursor of Conquest of the World, when the image retains its original 48x48 dimensions, and also how you actually see it on Windows when having 150% general zoom settings:
![48x48_cursor_example01](https://user-images.githubusercontent.com/19562310/37260088-585bd938-258f-11e8-8d84-51b8111f590f.png)
Instead, I suppose you all see (and always saw) a very bad look

[2018-03-12 00:06] Cernelius commented on #3265
I meant that side problem, you can test on "The Pact of Steel" with Windows at 150% is that, there, you have a cursor with the point not in the upper-left of the image, but set at:

[code]

in map.properties

Windows  7 at 150% increases the cursor by 150%, but I don't believe changes the above settings, so the "target" image appears targeting incorrectly.

This would be the custom cursor of the "

[2018-03-12 00:23] FrostionAAA opened #3270 "Actions and Operations opens up too small (sometimes)"
### Engine version
1.9.0.0.9708 but most likely also many older versions

### My Operating System
Windows 10 64-bit

### Map name
Iron War and maybe other maps.

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Sometimes the Actions and Operations window is not wide and high enough to show the window content. The window pops up too small resulting in

[2018-03-12 01:17] Cernelius commented on #3265
I'll change the title of the topic...

[2018-03-12 01:24] Cernelius commented on #3265
So, basically, I think there is a main item:

**The general zoom (Windows 7) should not apply to the custom cursor image, especially since it gets zoomed very badly.**

Or, if it should, then there is the issue that the hotspot, defined in map.properties, is not scaled the same; so "target" like cursors are off, and users on Windows at 150% can't target correctly while playing the two games of the

[2018-03-12 01:34] DanVanAtta commented on #3265
If I understand correctly, OS resize is not being taken into account? EG: the game think's it is using a 32x32 cursor image, but the image is actually displayed as 48x48

[2018-03-12 01:46] Cernelius commented on #3265
Yes. But, since the system zoom doesn't zoom anything else but the cursor (luckyly you don't see the map at 150%, if you have Windows at 150%), I think the cursor shouldn't be zoomed, either; adding the fact that the zoom is so bad that zooming render the cursor awful looking, in any case. The zoom for the cursor being so bad is another main reason why I think the original "cursor" image should al

[2018-03-12 01:48] Cernelius commented on #3265
This reminds me of that other, already solved, issue, when Windows at over 100% (a lot of Windows users have) made the production Window wrongly sized. @ron-murhammer solved that; I guess he remembers that case.

[2018-03-12 02:05] DanVanAtta commented on #2976
@RoiEXLab good work on getting this better, TripleA now opens, but the map download does not start.

[2018-03-12 02:06] DanVanAtta commented on #2976
<img width="998" alt="screen shot 2018-03-11 at 7 05 49 pm" src="https://user-images.githubusercontent.com/12397753/37262254-3ffb80da-255f-11e8-99ab-fa5eae8905e5.png">

Click okay, get the main screen:
<img width="818" alt="screen shot 2018-03-11 at 7 05 54 pm" src="https://user-images.githubusercontent.com/12397753/37262260-4667f764-255f-11e8-98f9-cc29c5e46a62.png">

[2018-03-12 02:24] DanVanAtta opened #3272 "L&F not fully applied on update"
### Engine version
1.9.0.0.9743

### My Operating System
Mac

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Update L&F to 'raven', then save, then update to 'aqua', then save, notice that the L&F is not applied everywhere:
<img width="1022" alt="screen shot 2018-03-11 at 7 21 59 pm" src="https://user-images.githubusercontent.com/12397753/37262640-a

[2018-03-12 02:47] Cernelius commented on #3265
I think this makes the custom feature not really usable, as, if you make a cursor at 32x32, then, getting zoomed with Windows, it will just look awful and pixellated for all users having such settings, then better not having it.

Even withot the Windows zoom issue, only 32x32 is really awfully few pixels for getting toghether something serious (I was under the delusion it was 48x48).

I'm thinking

[2018-03-12 06:31] RoiEXLab commented on #2976
@DanVanAtta
https://stackoverflow.com/a/5618445
Seems like it's more complicated than I thought.
We either have to wait until install4j natively supports this feature, or we need to write JNI code

[2018-03-12 17:13] zlefin opened #3274 "NPE when it shows game history (Java 9 regression)"
### Engine version

1.9.0.0.9743;  it also occurred in a few other prerelease versions nearby (97xx stuff), but I don' recall exactly whihc ones.
the bugs do not occur if I revert to using the most recent stable .7621
### My Operating System
windows 10 home
version 1709
OS build 16299.248
### Map name
the error text from below came when using WW2 global 1940 2nd edition;  the bug was first encount

[2018-03-12 18:04] RoiEXLab commented on #3274
Seems like you're using java 9.
Downgrading to java 8 should temporarily fix this issue.
(You need to uninstall java 9 to make the engine use java 8)

We really need to fix this problem...

[2018-03-12 20:30] ron-murhammer commented on #3274
@RoiEXLab What change in Java 9 causes that error?

[2018-03-12 20:32] RoiEXLab commented on #3274
I don't know, but the java 9 travis build spams a lot of deserialization error warnings because some field is null

[2018-03-13 03:10] General-Dru-Zod commented on #3135
I got another lock not held error with 9713. Playing ww2 v3.

[lock_not_held_error_03.12.2018.zip](https://github.com/triplea-game/triplea/files/1805323/lock_not_held_error_03.12.2018.zip)

[2018-03-13 03:10] ssoloff commented on #3274
For anyone who's interested, the unit tests that seem to exhibit this deserialization warning in the Java 9 build are in `OddsCalculatorTest` (not surprisingly, where `GameDataUtils#cloneGameData()` is used, just as with the history view).

[2018-03-13 03:13] ron-murhammer commented on #3274
Yeah, from the stacktrace it appears that for some reason some of the fields deserialize to null. Probably happens anywhere game data is cloned. Just no idea why that is.

[2018-03-13 03:25] ssoloff commented on #3274
Hmm, every `DefaultNamed` instance with a `null` name (from `OddsCalculatorTest`) is of type `Resource`.  And even better, adding a `readObject()` method in `DefaultNamed` that simply calls `in.readDefaultObject()` to probe this causes the problem to go away.  Yay for Heisenbergs!

[2018-03-13 03:43] ron-murhammer commented on #3135
@General-Dru-Zod Thanks for the report. Its a very similar error with a different cause.

This is a pretty interesting one. It appears this was attempted to be fixed a few years back in this commit: https://github.com/triplea-game/triplea/commit/20d5505fec23686c916d443224f72886a03dfc83

But I don't think its enough to just set the predicate inside of the data read lock block, the actual predicate

[2018-03-13 03:53] ron-murhammer commented on #3274
Umm. That's interesting. Maybe some sort of race condition?

[2018-03-13 04:24] DanVanAtta opened #3279 "integration tests are run as source, not test"
I noticed we have the integration tests set up as source code, instead of test code:

https://github.com/triplea-game/triplea/blob/master/game-core/build.gradle#L65

[code]

There seems to be some extra complexity here, is there any reason to not set these tests up as a regular old tests? Also of note, we probably should not allow 'integ_test' to have visibility to 'test', probably best to not mix

[2018-03-13 05:04] DanVanAtta commented on #3231
@ssoloff should we pursue this? does the above make sense? There is no hard rule of 'statics' first, as 'private static' are helper methods and can be found next to public methods. Idea is for best cohesion, though I'm not 100% sure why statics methods go above constructor :man_shrugging:

Please re-open if you'd like to see about adding some checkstyle rules or to discuss further.

[2018-03-13 05:04] #3231 closed

[2018-03-13 06:07] ssoloff commented on #3274
Ok, I think I tracked down the issue.  It's late, so I'm just writing this to record it while it's fresh in my mind.  I'll try to dig deeper tomorrow.

There was a change in the implementation of `ObjectInputStream#readSerialData()` between Java 8 and 9.  Here are the [Java 8](https://github.com/triplea-game/triplea/files/1805605/read-serial-data-java-8.txt) and [Java 9](https://github.com/triplea

[2018-03-13 06:12] DanVanAtta opened #3280 "(laptop) Trackpad left/right scrolling broken UX on maps that do not wrap left and right"
### Hardware
Laptop With Trackpad

*maybe* Mouses with scroll wheels, possible repro for maps that do not wrap top to bottom

### Map name
Any map that does not wrap left to write

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

- Find a map that does not wrap left to right, Civil War is a good example.
- Use track pad scrolling (two finger "scrolli

[2018-03-13 07:19] RoiEXLab commented on #3279
The console launcher is needed to run multiple test tasks with different source sets.
It's a Junit 5 tool.

[2018-03-13 14:10] prastle commented on #3170
@DanVanAtta Did you mean 6 months old and archived on the forum and closed or here?

[2018-03-13 15:03] General-Dru-Zod commented on #3135
I have an older lock not held error saved from a 12/2017 game. Was during experimentation of some new concepts so I never posted it. But maybe it will be helpful. Was running 7753 on tis one.

[Lock not held_12.15.2017.zip](https://github.com/triplea-game/triplea/files/1807442/Lock.not.held_12.15.2017.zip)

[2018-03-13 16:35] ssoloff commented on #3279
Not sure what you mean here.  In Gradle, everything is a "source" set.  AFAIK, there's no such thing as a "test" set.  `main`, `test`, and `integTest` are all source sets.

I asked that question [here](https://github.com/triplea-game/triplea/pull/1773#discussion_r119212797), but assumed you wanted integration tests to be able to reference test-only utilities that are also used by the unit tests.

[2018-03-13 16:45] ssoloff commented on #3231
Right, that's why I brought this up in the first place.  That's atypical in the Java codebases I've looked at.

I was simply suggesting we enforce member ordering via Checkstyle so we don't have a potpourri of styles.  Unfortunately, Checkstyle only supports one member ordering style (Oracle's), so if we don't want to use that, then, yeah, there's really nothing else to discuss here.

[2018-03-13 16:55] ssoloff commented on #3188
I didn't see anything in the Codecov docs that would suggest this is supported.  I don't think Codecov knows anything about Gradle, or any build system for that matter.  We could probably configure Gradle to generate code coverage reports on a subproject basis, and upload them all during the Travis build.  However, I'm pretty sure Codecov simply aggregates all the reports you send it, so there sti

[2018-03-13 17:06] RoiEXLab commented on #3279
Intellij actually makes a difference there, although I'm not sure on the effect it has.
That's probably where his assumption comes from. Eclipse doesn't makes this seperation either.

To be fair the Junit 5 team worked closely with the guys at gradle to allow for better support. Full support is [planned as of Gradle 4.6](https://github.com/gradle/gradle/issues/1037#issuecomment-362598058)

[2018-03-13 19:45] DanVanAtta commented on #3279
Not quite @ssoloff ; each source set has both 'java' and 'test' sources, for example:

[code]
Each source set has both a 'prod' and a 'test' area. If we add 'testCompile' dependencies they are added to the test part of the source set. In our case we've hacked the crap out of it basically and combined the two paths together. This would not be visible in eclipse, eclipse is known for mixing the path

[2018-03-13 19:47] DanVanAtta commented on #3279
For context, I had little involvement with the gradle build file, I did not set up how integ tests are done. Shared test utilities between the two should probably be done through a sub-project inclusion, there is overlap between integ_test and test, it's a bit hard to trace/confusing.

[2018-03-13 19:48] DanVanAtta commented on #3279
That's probably where his assumption comes from. Eclipse doesn't makes this seperation either.

We don't really see any impact here as we merged the test+prod classpaths for integ test and then called it all prod code. It's not a clean configuration, looking to split the project up more properly this is becoming a problem as the not clean configuration can't be readily ported into standard java pr

[2018-03-13 20:11] ssoloff commented on #3274
I was able to create an MCVE that demonstrates the issue:

[code]

On Java 8, the test passes.  On Java 9, an NPE is thrown from `FooBase#hashCode()` due to `FooBase#name` being `null` during deserialization of `Bar#valuesByFoo`.  Even if I were to change the implementation of `FooBase#hashCode()` to use `Objects#hash()` to avoid the NPE, the test would still fail because the value associated with

[2018-03-13 21:03] wesgarrison opened #3281 "Naval unit movement points are not reset (tutorial)"
Posted this issue on forums and replicating here, see Zjelcop's analysis there.
https://forums.triplea-game.org/topic/660/tutorial-don-t-understand-naval-movement/3

### Engine version
Engine version: 1.9.0.0.9687

### My Operating System
MacOS - Sierra

### Map name
Tutorial

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
I'm Germany and want to at

[2018-03-13 21:08] ssoloff commented on #3279
Could you provide a reference, please?  I'm not aware of that feature in Gradle.  If that is the case, I'm confused why there are separate `main` and `test` source sets rather than a single `main` source set that has both prod and test slices?

---

Hmm, not sure what these lines in the `integTest` source set configuration are supposed to do.  It's almost as if they're changing properties in the `

[2018-03-13 21:30] ron-murhammer commented on #3274
@ssoloff Yeah, I'd say let's open a bug report with Oracle and see if we get a response after a few days. If they don't plan to change it or we don't get much of a response then we should probably look to add in the workaround at least in the short term. We can then always evaluate the game data model and see if its feasible to remove circular references.

[2018-03-13 23:05] ron-murhammer commented on #3281
I'm able to reproduce the issue. It appears the save game is corrupted. It looks like several of the naval units are no longer attached to the game data which is causing them to not reset their movement and not be able to properly load units. Why that happened is hard to say. It appears the end of round 14 is the last time the naval units get properly reset. My guess is something happened when the

[2018-03-13 23:25] ron-murhammer commented on #3135
@General-Dru-Zod That appears to have the same root cause as the second one. So both should be fixed now in the latest pre-release. If you see any more instances, please report them. Thanks!

[2018-03-13 23:25] #3135 closed

[2018-03-13 23:27] ron-murhammer commented on #3188
@ssoloff Correct, my understanding is that you can only have a separate YAML per repo not any kind of gradle sub-projects.

[2018-03-13 23:32] ron-murhammer commented on #3270
@FrostionAAA Hmm. I don't think I've ever seen this happen. If you find a way to consistently reproduce it then let me know as it should be easier to fix then.

[2018-03-14 02:43] ssoloff commented on #3274
@ron-murhammer Will do.  I'll try to get the bug report submitted tomorrow.

I did some searching through the Java bug tracker and found a [similar issue](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6208166).  It's basically the case I described earlier with `FooBase` and `FooDerived` being merged.  Apparently that circular reference scenario used to work pre-1.4 and broke in 1.4 due to a

[2018-03-14 06:58] DanVanAtta commented on #3279
@ssoloff good example, I was wrong/confused by default source set vs properties of source sets.

the 'test' prefix would just extend the path presumably, eg: `sourceset.integTest.test.java.srcDir`

---------

Okay, I think we have a mixture of a few problems:

- it looks like by convention test code will have 'test' in the source set path. This makes IDEA recognize the folder as a 'test' sources.

[2018-03-14 07:05] DanVanAtta commented on #3269
@ssoloff do you have any records of where you ran into circular references, or where exactly you saw a deal breaker? Could some of those problems be avoided if we did not try to do things in a backward compatible manner?

If serialization proxy is truly dead, can you suggest how we can solve save game compatibility issues for good? Save game compat is perhaps our worst problem, network compat is f

[2018-03-14 07:46] DanVanAtta opened #3282 "Programming conventions, explicit scopes/keywords+"
Want to take this conversation out of band from a PR, noting a few things from: https://github.com/triplea-game/triplea/pull/3276

Please weigh in on how strongly you feel on these points (1-5, with 1 = opposed, 3 = neutral, 5 = in favor). I'll reserve my ranking for a bit to not overly bias.

### favor explicit imports in prod code
- makes refactoring a bit nicer when imports need updating, only

[2018-03-14 08:06] #3207 closed

[2018-03-14 08:42] DanVanAtta commented on #3170
here, essentially bugs that old would fall off the active queue.

[2018-03-14 16:21] ssoloff commented on #3279
The [Gradle 4.5.1 complete distribution](https://services.gradle.org/distributions/gradle-4.5.1-all.zip).  It's in the _samples/java/withIntegrationTests_ folder.

---

I think finding an IntelliJ solution to this problem is preferable to tinkering with the Gradle build script.  This [question](https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000608270-Gradle-additional-test-sour

[2018-03-14 16:36] ssoloff commented on #3269
Pretty much everywhere because almost all types extend `GameDataComponent`, which requires a back-reference to `GameData`.  At one point, I introduced a solution to that problem by effectively making that reference `transient` and initializing it after the entire `GameData` graph had been deserialized.

But there's other circular references that weren't so easily handled.  `PlayerID` is a good exa

[2018-03-14 20:08] ssoloff commented on #3282
I'm ok with all proposals except "using 'super' explicitly."

I don't usually have a problem determining a call site is invoking a static method because the IDE renders it in an _italicized_ font.  If we really want to make static method calls easier to identify, it would probably be easier (and less dangerous; see below) to always invoke static methods through a class reference (e.g. `MyUtil.doSo

[2018-03-15 00:23] #3259 closed

[2018-03-15 00:38] ssoloff commented on #3274
Bug report submitted to Oracle and assigned a provisional ID of [9052987](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=9052987).  Not sure how long it takes them to review these things before they make them public.

[2018-03-15 00:49] DanVanAtta commented on #3279
Adding more complexity to the build file is not very attractive. The customizations in the build file make updating it not so nice either. An update of: `java.srcDir` -> `test.java.srcDir` does cause the source folder to be labelled properly as test, though going that route I ran into issues with the test execution task which is of type 'java', not 'test'.

The real answer here I think is to wait

[2018-03-15 01:14] DanVanAtta commented on #3282
I would agree, this is what I was trying to get at but was not eloquent enough to convey as such. I suppose the static 'origin' problem is actually more a question of if the static is in the same file or if it a static import.

Checkstyle may have some options to offer:
- http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle/checks/imports/AvoidStaticImportCheck.html

- http://

[2018-03-15 01:44] ssoloff commented on #3279
I'm confused.  Are we talking about `User` or `DBUser`?  `User` is only used on the server side.  `DBUser` is shared between both client and server.

---

Ideally, test utility code should reside in a separate source set that can be shared by both unit and integration tests without the integration tests having a direct dependency on the unit tests themselves.  However, I'm ok leaving things the wa

[2018-03-15 04:43] DanVanAtta commented on #3282
@ssoloff about `super`, in your example, I actually see the problem the other way around. Let's say we have:

[code]

And *now* someone overrides the implementation:
[code]

In this case we call the wrong method! The `super` in my mind makes the parent-child contract more rigid, less wriggle room for child implementations to sneak in and steal the method call. In other words, it's more explicit, l

[2018-03-15 04:47] DanVanAtta commented on #3280
This can be repro'd with mouse scroll wheel by holding shift. Notice on civil war the left hand, the map locks when it hits the boundary, but it wraps suddenly when you hit the right hand edge.

Note: this is quite impactful for Civil War map on laptops where trackpad is by far best scrolling mechanism. The sudden wrapping makes it hard to see anything on the right hand edge of the map.

[2018-03-15 05:17] DanVanAtta commented on #3280
Turns out zoom size is significant, at 100% it looks like we see a problem, but at small zooms it goes away.

[2018-03-15 16:13] ssoloff commented on #3274
[JDK-8199664](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8199664)

[2018-03-15 16:28] ron-murhammer commented on #3274
Cool. Seems like they at least acknowledged it.

[2018-03-15 16:29] ssoloff commented on #3282
If one is worried about a subclass overriding a method and changing the implementation, that sounds like the class is not designed for inheritance and should thus be `final`.

[2018-03-15 17:08] RoiEXLab commented on #3282
@ssoloff Or the method can be made final...

[2018-03-15 20:20] RoiEXLab commented on #3279
[Looks like Gradle 4.6 is already out](https://docs.gradle.org/4.6/release-notes.html)
So we should update the build scripts to use that instead and then decide what works best

[2018-03-16 04:54] DanVanAtta commented on #3282
Yes, marking classes as final and methods final does solve the inheritance problem by not allowing it. It does go with the effective java principle. I would suggest that this does the same:
[code]
This method does not allow for `foo` to be overriden, the method `bar` is not designed for inheritance and hence it is disallowing it.

----

We should not be so abstract though, we do have a specific co

[2018-03-16 04:57] DanVanAtta commented on #3279
The concern is the other way around, the fact they are coupled has meant that client and server test code have become coupled together. I ran into this when trying to split the tests between server and client.

[2018-03-16 05:08] DanVanAtta commented on #3282
I think there is disagreement whether super call is a benefit or not. I'm not worried about adding a new @Override method as mentioned in your example @ssoloff - all other methods in the class would call 'super' and so they would not be changed. I view that as a benefit, changes to existing code is more explicit, you have to actually update it to use the override method.

I may have this point of

[2018-03-17 00:21] DanVanAtta opened #3289 "Repo README Review"
Does each repo contain a top level README.md with:
1. overview of the repo contents and how it fits in with the rest of the system
1. compile and build
1. test locally
1. deploy
1. restart
1. check status (is it alive?)
1. check logs

https://github.com/triplea-game

- [ ] https://github.com/triplea-game/triplea
- [ ] https://github.com/triplea-game/triplea-game.github.io
- [ ] https://github.com/

[2018-03-17 01:36] DanVanAtta opened #3291 "Automatic Staging Lobby"
There were some previous attempts to get lobby to be auto-deployed on each merge: https://github.com/triplea-game/triplea/pull/458

That did not pan out in the end, I tried there to have Travis execute a SSH command to do the lobby deployment on a target server.

Getting this to work would be an excellent milestone:
- we'd have a well-known 'latest-lobby' useful for testing
- removes admin work of

[2018-03-17 01:39] DanVanAtta commented on #3289
@RoiEXLab @ssoloff can either of you volunteer to consolidate any existing dice server documentation to the corresponding repo?

[2018-03-17 16:07] ssoloff commented on #3291
Nope, I have not attempted this.

[2018-03-17 16:09] ssoloff commented on #3289
Sorry, don't have bandwidth at the moment for additional tasks.  If you have specific questions, please list them, and I'll try to answer them when I get a chance.

[2018-03-18 02:04] DanVanAtta commented on #3289
A few questions that would really help @ssoloff / @RoiEXLab :
- Are both dice servers deployed?
- Which one is legacy?
- Is there any documentation on deployment beyond the section in docs/admin? (which is mostly TODO)

[2018-03-18 02:43] ron-murhammer opened #3296 "Game-core jar shouldn't be included in installer"
Why do we now have two jar-files inside the bin-subfolder? There is a 'game-core-1.9.0.0.dev.jar' next to the "triplea-1.9.0.0.9824-all.jar"? The size of the installer increased due to this.

[2018-03-18 06:59] RoiEXLab commented on #3289
@DanVanAtta

Well we currently have a staging an a production version of MARTI. Nothing else.

While I started a rewrite from scratch project that can be found in the dice-server-js repository it doesn't work yet.
But the long term goal is to replace MARTI with a REST API.

There's just MARTI. @ssoloff Created a docker image that could be used for production (well documented in the MARTI repositor

[2018-03-18 21:59] chronodm opened #3297 "com.apple.eawt not working for Java 9+"
### Engine version

1.9.0.0.9687

### My Operating System

macOS 10.13.3 (High Sierra)

### Map name

WW2 classic 3E

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

Start a local game, configure AI players, click "Play"

### Do you have the exact error text? Please copy/paste if so

[code]

### Instead of this error, what should have happened?

Gam

[2018-03-18 22:20] RoiEXLab commented on #3297
Just to be sure: Does this error happen using java 8 as well?

[2018-03-18 22:29] ron-murhammer commented on #3297
@RoiEXLab Guessing its the same problem reported here: https://github.com/kaikramer/keystore-explorer/issues/102

[2018-03-18 22:30] DanVanAtta commented on #3289
Sorry< i was not clear enough with first question. Out of these two repositories, which ones are deployed?
- https://github.com/triplea-game/dice-server-js
- https://github.com/triplea-game/dice-server

From your answer @RoiEXLab , it sounds like the 2nd one `dice-server` is currently deployed and the *js is work in progress.

[2018-03-18 22:31] DanVanAtta commented on #3289
Where is the MARTI repository? :thinking:    I don't see it under: https://github.com/triplea-game/

[2018-03-18 23:02] DanVanAtta commented on #3289
@RoiEXLab @ssoloff please update the dice-server repo's when you get the chance.

I'll take care of the other ones, I created most of them.

[2018-03-18 23:12] DanVanAtta commented on #3289
Marking warclub:
- improved readme to prominently note deprecation: https://github.com/triplea-game/tripleawarclub.org/pull/29
- opened issue to discuss removing repo: https://github.com/triplea-game/tripleawarclub.org/issues/28 (is there anything still used? i see last commit was 25 days ago, are we using this repo for something still?)

If it turns out we still use this repo then we'll need to r

[2018-03-18 23:23] RoiEXLab commented on #3289
@DanVanAtta
The MARTI repository is just called 'dice-server'
To my knowledge the tripleawarclub.org repository just hosts some configuration files currently

[2018-03-18 23:32] ZjelcoP commented on #3297
Release 9824
macOS 10.12.6
Java 8
No problems

[2018-03-19 15:22] DanVanAtta commented on #3291
I'm going to give a crack at this. 2nd attempt! : )

[2018-03-19 17:28] RoiEXLab commented on #3297
Found the reason: http://openjdk.java.net/jeps/272
The good news: We no longer need to depend on this stupid legacy library
The bad news: It doesn't look like this feature will be backported to java 8, so we'll have to rely on reflection if we don't want to upgrade to java 9.

[2018-03-19 17:34] RoiEXLab commented on #3297
As a side note: The official release date of java 10 is tomorrow.
See http://openjdk.java.net/projects/jdk/10/
[Oracle announced that "Java SE 9 will be a short term release, and users should immediately transition to the next release (18.3) when available."](http://www.oracle.com/technetwork/java/eol-135779.html)
So if Java 10 will be available at java.com we could consider moving to a newer vers

[2018-03-19 17:48] RoiEXLab commented on #2976
Related to #3297
It _might_ be possible to use the eawt packages/[the native java 9 packages](https://docs.oracle.com/javase/9/docs/api/java/awt/Desktop.html#addAppEventListener-java.awt.desktop.SystemEventListener-)
But I really have no idea what kind of event is being triggered, or if this protocol event can even be handled

[2018-03-19 21:27] RoiEXLab commented on #3297
Assigning you all @DanVanAtta @ron-murhammer @ssoloff to get your opinion on how to handle this issue.
Please read my comments above to get a good picture of what's going on.

We basically have 3 options:
1. Just ignore this for now, and wait until we can upgrade the java version and use the Desktop API from there.
2. Try some dark reflection magic and check if TripleA is running with Java 9 or hi

[2018-03-19 21:36] prastle commented on #3291
Ah that was what the linode notice was about 😄

Great stuff! Good luck!

[2018-03-19 22:30] chronodm commented on #3297
Just my 2¢ as a developer—the [reflection hack used in keystore-explorer](https://github.com/kaikramer/keystore-explorer/pull/103/files) doesn't seem completely horrible, bearing in mind there's likely to be a transition period when you need to support <= 1.8 as well as 9+, even after Oracle drops support for Java 8 next year.

[2018-03-19 22:38] RoiEXLab commented on #3297
@chronodm Agreed, however we currently require users to use java 8 or higher, so incrementing the version required might not be a huge deal at all.

[2018-03-19 23:06] ron-murhammer commented on #3297
@RoiEXLab I'd probably prefer to be able to support Java 8 and 9 for a while. And wait to force users to upgrade to Java 9 after a good portion have already done so through Oracle updates/etc. Otherwise we are either going to keep getting bug reports like this or we need to force Java 9 very soon which is a bit early IMO.

[2018-03-19 23:46] chronodm commented on #3297
Java 9 isn’t considered a long-term support release, I don’t think, so it might be a bit harsh to force casual users to upgrade to it now.

[2018-03-20 02:48] ssoloff commented on #3297
@RoiEXLab I think a pure reflection-based solution similar to what @chronodm linked would be acceptable until we dropped Java 8 support (i.e. your option (3)).

[2018-03-20 03:48] DanVanAtta commented on #3297
We currently bundle a JDK8 for Mac+Windows with the installer.  @chronodm was this reproduced by running one of the installers, or launching from a jar file or source? If from an installed TripleA, it would mean our bundled JDK is not being used.

[2018-03-20 07:05] DanVanAtta commented on #3289
I updated the list of desired items for top level README's, added for example 'how to restart' . We are at six items now:
1. overview of the repo contents and how it fits in with the rest of the system
1. compile and build
1. test locally
1. deploy
1. restart
1. check status (is it alive?)
1. check logs

Is that an agreeable list? Anything missing?

[2018-03-20 15:23] chronodm commented on #3297
Interesting. That was running the game after installing with the Mac installer. I'm away from that machine at the moment but when I get back to it I'll see if I can find any other configuration information that might help.

[2018-03-20 15:40] RoiEXLab commented on #3297
Technically we don't bundle a JRE.
The installer is just configured to download one if the system it runs on doesn't have a JRE preinstalled.
Because we currently don't have a maximum java version, the java 9 JRE is treated as perfectly fine and therefore no additional JRE will be downloaded and the existing JRE will be used.

[2018-03-20 15:51] ssoloff commented on #3297
@RoiEXLab Should we temporarily revert the portion of 8913692bb that removed Java 8 as the max version supported by the installer?  We have several issues at the moment that prevent the application from running correctly on Java 9+ (most notably JDK-8199664).  We can always direct users to the portable install for Java 9+ testing.

[2018-03-20 15:53] RoiEXLab commented on #3297
@ssoloff probably the best option for now.

[2018-03-20 15:59] RoiEXLab commented on #3297
@ssoloff We should probably also consider changing the second travis build to java 10 to ensure the code still compiles.

[2018-03-20 17:21] RoiEXLab commented on #3224
Closing due to inactivity.
We will reopen this issue if you respond and your issues still persists

[2018-03-20 17:21] #3224 closed

[2018-03-20 17:31] RoiEXLab commented on #3297
@ssoloff #3304

[2018-03-21 19:58] FrostionAAA opened #3305 "Aircraft movement during “Move air units to carriers”"
### Engine version
1.9.0.0.9708

### Issue
It seems that when I place a carrier, and the “Move existing fighters to new carriers” is true, then I am able to move more carrierCost out to sea than the placed carrier unit has carrierCapacity (Like in the pictures where I move 6 carrierCost to a 3 carrierCapacity carrier). This results in a warning after all placement is done. Here I can then redo the

[2018-03-22 23:19] Cernelius commented on #3160
I found them. Forget what I said about downloading the 1.8.0.9. All the documentation you need is here:

https://github.com/triplea-game/triplea/tree/master/docs/map_making

Reading that and anything that is referred in it will make you fully able to mapmake (more than enough to just debug this game, and possibly, also, rework it a bit (rebalance the units and players, and making it closer to the

[2018-03-23 00:05] erik542 opened #3308 "Purchasing Bug"
### Engine version
1.9.0.0.9687

### My Operating System
Windows 10 with Creators Update

### Map name
Happened on at least NWO, NML, WAW, so it's likely all of them.

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Join a game hosted by a bot, open up a map, get to purchase phase, attempt to increment up any unit.

### Do you have the exact error te

[2018-03-23 00:13] ron-murhammer commented on #3308
@erik542 Are you sure about your Java version? We've seen a few similar errors recently for users that are running Java 9 and we are working on a few fixes for Java 9.

[2018-03-23 00:28] ron-murhammer commented on #3308
@erik542 Can you try downloading and installing the latest pre-release TripleA version here: https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.9866

[2018-03-23 00:34] erik542 commented on #3308
That works.

[2018-03-23 00:38] ron-murhammer commented on #3308
I think its still pulling in Java 9 from your system somewhere but the latest pre-release fixed a few bugs we had with Java 9 so should be all good. If you have any other issues just let me know.

[2018-03-23 00:38] #3308 closed

[2018-03-24 19:49] DanVanAtta opened #3312 "Travis -> Gitter Integration"
With https://github.com/triplea-game/triplea/pull/3311 we have travis reporting build activity to a gitter room: https://gitter.im/triplea-game/travis-build

[2018-03-24 22:03] DanVanAtta commented on #3269
Thanks for the response. I can see that is why I did not understand why we had the problem, when I attempted this, I was unwiring `GameData`  from anything that gained a serialization proxy. At the time removing the references I thought was a very nice code cleanup benefit.

@ssoloff If we do the update non-backward compatible, add proxy and remove 'GameData' reference, is it just a matter of rins

[2018-03-24 22:53] RoiEXLab opened #3313 "Unify test source sets (and seperate them differently)"
An idea that just came to my mind:
The additional integTest source set might just overly complicate things.
Instead we could unify this source set with the "normal" test source set and annotate any integration tests with special [tags](https://junit.org/junit5/docs/current/user-guide/#writing-tests-tagging-and-filtering) so we can still run tests independent of each other.
I'm not 100% sure how th

[2018-03-24 23:02] RoiEXLab commented on #3313
Alternatively we could of course just seperate by the class name and just exclude any class files ending with 'IntegrationTest' from being run

[2018-03-25 00:25] DanVanAtta commented on #3282
Let's leave explicit `super` to the side. I don't necessarily feel that strongly about it. It does seem there is agreement for explicit static calls.  To do here would be to investigate and/or add these two checkstyle rules:
- http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle/checks/imports/AvoidStaticImportCheck.html
- http://checkstyle.sourceforge.net/apidocs/com/puppycra

[2018-03-25 08:17] panther2 opened #3314 "Still two *.jar in <bin>"
### Engine version
1.9.0.0.9893

Despite #3300 there are still two *.jar-files inside the bin-directory.

[2018-03-25 14:41] RoiEXLab commented on #3314
Did you do a clean reinstall?

[2018-03-25 14:50] prastle commented on #3314
Yes I can confirm we have game-core-1.9.0.dev and 1.9.0.09893 .  on a clean install is that what you are expecting?  @RoiEXLab

[2018-03-25 15:06] RoiEXLab commented on #3314
@prastle Not at all.
I just wanted to confirm the additional jar file isn't an old artifact of an earlier installation.
Looks like @DanVanAtta or someone else needs to look at this again.

It's interesting that the naming schemes of the 2 jar files differ.

[2018-03-25 16:59] panther2 commented on #3314
@RoiEXLab

Yes, I always do.

[2018-03-25 20:48] ron-murhammer commented on #3313
@RoiEXLab Makes sense to me. I think an annotation is probably better as its a bit more obvious and explicit.

[2018-03-25 20:50] ron-murhammer commented on #3312
Looks good to me. Once at least all the devs have seen this issue, we can probably close it unless you had further ideas.

[2018-03-26 05:01] DanVanAtta commented on #3312
The dedicate gitter room for the notification is maybe overkill. For some consideration, we may want to send the activity notifications to a different room, maybe the QA one (it's public, and QA is interested in new builds)

[2018-03-26 21:57] DanVanAtta commented on #3314
We can see the problem from the release size, it is still ~20MB. Locally I was able to repro and fix and saw 16MB files. Because we do not clean the workspace in travis, the assets that were intended to be excluded would be created on previous steps and get included (thanks to us including everything in artifacts instead of pulling in files explicitly).

#3316 should fix more properly by putting t

[2018-03-26 21:58] DanVanAtta commented on #3314
I'll be following up with #3316, assigning this to myself accordingly.

[2018-03-27 15:30] RoiEXLab commented on #2796
@ssoloff Dug into this a little bit deeper.
The gradle issue [is actually a groovy issue](https://github.com/gradle/gradle/issues/2995) being tracked here: https://issues.apache.org/jira/browse/GROOVY-8339 but it doesn't seem like it's going to get fixed soon as long as everything is still working fine.
And the mockito issue is actually not a mockito issue at all. Haven't tested this but I'm prett

[2018-03-27 16:35] #2710 closed

[2018-03-27 16:35] RoiEXLab commented on #2702
Closing due to inactivity.
We'll reopen this issue if you reply with more details

[2018-03-27 16:35] #2702 closed

[2018-03-27 17:22] RoiEXLab commented on #2601
@djensen47 Finally got some time to look at this again.
Seems you need to enable this feature first:
![grafik](https://user-images.githubusercontent.com/8350879/37983567-1a21d886-31f4-11e8-9222-3e6049acf39c.png)
GET Request used was: http://forums.axisandallies.org/user-api-key/new?application_name=TripleA&scopes=post&nonce=asdasdasd&auth_redirect=<redacted>&client_id=TripleA&public_key=<redacted>

[2018-03-27 20:21] ZjelcoP opened #3324 "MacOS Map scroll bug"
### Engine version
9824 up to 9925
### My Operating System
MacOS High Sierra 10.13.3
### Map name
NWO, WW2 Europe 1940 original
Any map that should have no connection left to right.
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Mouse on the map, use two finger scroll to go to right edge of map, you jump to left edge of map.
It's not a smooth scroll

[2018-03-27 20:51] DanVanAtta commented on #3313
How would this integrate with IDE tooling?
One nice thing about current setup is I can run all the unit tests by right clicking a single folder and running all tests, and it runs quickly. The faster run-time is important, at 20+ some seconds it's still slow but unit-test speed. The integration tests take a bit longer, long enough a dev would not run tests nearly as often.

[2018-03-27 20:53] DanVanAtta commented on #3313
I'll take the question to the PR to keep conversation in one place.

[2018-03-27 21:04] DanVanAtta commented on #3324
Closing, duplicate of: https://github.com/triplea-game/triplea/issues/3280

(@ZjelcoP thanks for submitting, this is a pretty bad bug it turns out, makes Civil War almost unplayable on a Mac because you can't view the right hand edge of the screen without it jumping around).

FWIW I found we can repro this problem by holding shift and using the mousewheel to scroll, you'll get a left/right scroll

[2018-03-27 21:04] #3324 closed

[2018-03-27 21:13] ZjelcoP commented on #3324
Ah, well i checked all issues with bug label, didn't see it there.

[2018-03-28 00:40] DanVanAtta commented on #3324
I suppose this should be considered a bug since the wrapping is on one side and not the other. I'll add the bug label to that issue.

[2018-03-28 06:32] #3279 closed

[2018-03-28 06:32] #3313 closed

[2018-03-31 17:30] DanVanAtta commented on #3296
now fixed
![screenshot from 2018-03-31 10-29-56](https://user-images.githubusercontent.com/12397753/38165821-8ad6d068-34ce-11e8-9f18-9eb1dd56fde3.png)

[2018-03-31 17:30] #3296 closed

[2018-03-31 17:31] DanVanAtta commented on #3314
Now fixed :sweat_smile:

![screenshot from 2018-03-31 10-29-56](https://user-images.githubusercontent.com/12397753/38165825-9e4fa5b6-34ce-11e8-87a5-375d4a5329ee.png)

[2018-03-31 17:31] #3314 closed

[2018-03-31 17:53] #3312 closed

[2018-03-31 17:59] DanVanAtta commented on #3170
The 'game engine' category on forum was not a success. The one useful topic of was moved to 'feature requests and ideas'.

I think this means that we keep msot development conversation on github; but discuss updates to the game play and features on forums 'feature requests and ideas' https://forums.triplea-game.org/category/42/feature-requests-ideas

[2018-03-31 18:02] prastle commented on #3170
@DanVanAtta  Oki Doki.  Did you notice the new Bug Topic does that work for you?

[2018-03-31 18:02] ron-murhammer commented on #3170
@DanVanAtta Agree. I don't think having 'developer'/'engine' conversations on the forum is helpful. I think keeping technical conversations in github issues is easier. I think the key is focusing on the end user population for github being developers (anything technical in nature) and the forum being focused on the community (anything less technical in nature).

[2018-03-31 20:32] General-Dru-Zod opened #3337 "TripleA_1.9.0.0.9991_windows-64bit.exe - Virus!"
### Engine version
9991

### My Operating System
windows 10

### Map name

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
I have McAfee Live Safe 2018. While trying to run TripleA_1.9.0.0.9991_windows-64bit.exe, after scan it says "TripleA_1.9.0.0.9991_windows-64bit.exe contained virus and was deleted". I did not go continue running it as it was aut

[2018-03-31 20:46] RoiEXLab commented on #3337
[Try again](https://www.virustotal.com/#/file/105ef053a9a1b3fdddd37f090cee575c7695baed73546cb6d4304a84fa96109e/detection)

Closing as there's not much we can do about it.

[2018-03-31 20:46] #3337 closed

[2018-03-31 21:04] prastle commented on #3337
I would like to point out that I had the same error using windows defender.

[2018-04-01 05:47] DanVanAtta commented on #3291
Good news and an important milestone hit: https://github.com/triplea-game/infrastructure/pull/1

This lobby is always now set to be the latest prerelease and would update on each merge:
http://172.104.27.19:7000

I also hooked up the infrastructure to automatically set up new servers with logging sent to paper trail and metrics to grafana.

With that system we'll be able to trigger deployments by

[2018-04-01 05:47] #3291 closed

[2018-04-01 06:00] DanVanAtta commented on #3337
The checksums of the files matched? Kinda curious we see this now and not earlier.

[2018-04-03 20:38] Cernelius commented on #3170
As long as the developers always discuss in forum (rather than in GitHub) whatever things changing default behaviours or available options for the users / makers. Otherwise, it is not really fun following all tech stuff in GitHub in search of something that might.

For example, I believe the decision of removing the ability to set the ram in game (via Engine Preferences) should have been discussed

[2018-04-04 04:57] djensen47 commented on #2601
Sorry I missed this, let me do this right now.

[2018-04-04 05:03] djensen47 commented on #2601
It looks liker I have it enabled already:
![image](https://user-images.githubusercontent.com/527865/38289398-c9b81e2c-378a-11e8-9961-88b6e2fa0856.png)

[2018-04-04 07:16] Cernelius commented on #3170
In my opinion, and I believe this was about the old way (even tho a lot was actually done with no discussions at all, when the developer was only 1), discussions where always kept in forum and, once something was agreed that it was going to be done, a ticket was opened about doing it, specifically (so, a single discussion could have resulted in a bunch of tickets).
I cannot recall a single sourcef

[2018-04-04 07:29] Cernelius commented on #3170
To be clear, when in the past we had a gaming forum and a developer forum, it seemed obvious development discussions were for the forum (that was the name of the forum itself!).
Now that there is a single forum, I'm not so sure, as drowning users with techtalk they don't care to see is a drawback, but the new forum is already mostly about mapmaking talking, I guess most users are not following, ei

[2018-04-05 02:38] ghost opened #3348 "Tile Image Reconstructor Not Reconstucting BaseTiles"
While using the in-game map creation tools recently, I stumbled across a potential bug in the Tile Image Reconstructor utility. The utility seemingly worked correctly, but the final image it produced, while the correct size, did not contain any of the base tile images, but was a blank file.

### Engine version
TripleA Version 1.9.0.0.10030

### My Operating System
macOS 10.13.3

### Can you descri

[2018-04-05 03:39] Cernelius commented on #3106
No, don't do this.
Even if it is somewhat not overwritten on new installs, a mapmaker may have maps in development in it, and managing (also deleting) TripleA versions at the same time, so better keeping them set well apart, to avoid the risk or the fear of deleting your maps, and not to make things just harder to manage, manually.
Other than this, it is good to be able to install TripleA wherever

[2018-04-05 03:50] prastle commented on #3106
Off topic but I'm still annoyed we couldn't make the new one version 10.000 .  😄  Yes  The downloaded maps separate works well.  If they need the new engine to run some of them then they need to read the mapmakers post.  ATM All maps are back compat except the ones released in the past few months that only work on the new engines.  These have all been detailed as required by the map makers as requ

[2018-04-05 07:07] RoiEXLab commented on #3348
@theredbaronaaa Could you figure out if this is a recently introduced bug, and if so tell us the version it was introduced?

[2018-04-05 07:29] theredbaronaaa commented on #3348
@RoiEXLab All I can say is that I had similar problems with this around version 1.8.0.5 (early 2015). I have not tried to use it again until just now, thus why I am only reporting it now. From my digging, it looks like the feature itself was introduced in 1.7.0.1, based on the change log at the time. So to answer your question, no, to the best of my knowledge, it is an old bug.

[2018-04-05 07:31] RoiEXLab commented on #3348
Ok, that's good to know.

[2018-04-05 08:12] panther2 commented on #3348
FWIW, It works fine here, using 10030 on Win7.64.

[2018-04-06 23:25] gg405 opened #3350 "EasyAI: No China "Place Units" phase on World War II v3 1941 map (AA50)."
### Engine version
1.9.0.0.9687

### My Operating System
Windows 10

### Map name
World War II v3 1941

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Playing game with all AI except Human British. On Turn 1, Chinese earned 2 infantry, but there was no China placement phase and infantry never made it to the map. Pretty much makes this map/scenario u

[2018-04-08 02:46] General-Dru-Zod opened #3352 "Null Exception Error"
### Engine version
.10025
### My Operating System
win10
### Map name
ww2v3
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
It was happening while watching a game in the lobby, the private host was running .9997. The error poped up whenever I tried to view the resources tab. Then the error kept popping up as the players did stuff.

### Do you have the

[2018-04-08 03:12] ron-murhammer commented on #3352
@General-Dru-Zod Are you able to reproduce the error using the save game you attached?

[2018-04-08 03:32] prastle commented on #3352
I can't reproduce this locally.  But I can confirm I observed iit in an online multi-player game of v3 41.  Zod is correct.  I am curious if one of the 5 players had an old engine?

[2018-04-08 04:35] General-Dru-Zod commented on #3352
@ron-murhammer I was able to consistently reproduce the error with if @prastle was hosting the game in  the lobby. I was able to reproduce the error locally only once with the game save above. Which was taken from prastles lobby game.

[2018-04-08 04:38] ron-murhammer commented on #3352
@General-Dru-Zod Ok. Can you try testing out the latest pre-release: https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.10042

[2018-04-08 04:40] General-Dru-Zod commented on #3352
@ron-murhammer  Ok, prastle logged off already, so I will ask him to host the game again tomorrow while I have 10042 running.

[2018-04-08 17:12] prastle commented on #3352
We tested and yes 9997 was the problem works fine with 100042.  Thanks @ron-murhammer

[2018-04-08 17:28] #3352 closed

[2018-04-08 20:04] RoiEXLab commented on #3348
#3355 Could potentially fix this issue.
I hope it gets rewieved soon, so you can test if this issue was actually fixed soon.

[2018-04-09 00:01] ghost opened #3356 "Maps "Download with TripleA" fails if "Download Maps" Window is already open"
Background information here: #3302. In short, the URI event to download a map via the website maps page fails if the "Download Maps" window is already open.

### Engine version
TripleA engine version 1.9.0.0.10046

### My Operating System
macOS 10.13.3

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
At the [maps listing](http://triplea-game.org/maps

[2018-04-10 04:06] theredbaronaaa commented on #3348
@RoiEXLab I just tested again with 1.9.0.0.10053, which contains the changes you made in #3355. Unfortunately, the fix did not help the problem.

I am wondering if the log I provided could help diagnose the problem more accurately. @panther2 do you have a log from Win 7.64 with a working Tile Image Reconstructor that you could compare to my log in the comment above? If I remember correctly, there

[2018-04-10 07:25] panther2 commented on #3348
@theredbaronaaa
Unfortunately there is no log information in case things run fine.
I cannot find a log file, either.
Or do I miss something here?

[2018-04-10 07:30] RoiEXLab commented on #3348
@panther2
I think he meant the logs that appear when setting the "show all logs" setting to true.
I can confirm that there is more in the log on windows than in the log @theredbaronaaa posted.
Haven't looked at the details yet though.

[2018-04-10 07:33] panther2 commented on #3348
Sorry, @RoiEXLab , I edited my above comment while you were posting.
I found the information in the console, as there indeed is not any specific log-file.

[2018-04-10 19:50] gg405 opened #3359 "No limit on minor industrial complex placement."
### Engine version
1.9.0.0.9687

### My Operating System
Windows 10

### Map name
World War II Pacific 1940 2nd Edition

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
1. Capture Korea as United States
2. Build minor industrial complex in Korea.
3. On a later turn, build a 2nd minor industrial complex in Korea (and potentially, more)
4. Profit.

###

[2018-04-11 20:50] RoiEXLab commented on #3348
@theredbaronaaa Looking at the code again it doesn't seem like there should be an issue that's mac-only.
The most likely explanation for this is that you are selecting the wrong folder, like for example the map folder instead of the baseTiles folder or similar as @panther2 already assumed.
If that's not the case I'd appreciate it if you could create some detailed reproduction steps or record a sho

[2018-04-13 02:29] theredbaronaaa commented on #3348
@panther2 @RoiEXLab I can confirm that the process looks exactly the same on the Mac and that I filled it out exactly like that. Perhaps the problem is with the Mac file selector for the process, which I assume has differences with Windows under the hood. That is the only other possibility I can think of.

[2018-04-14 16:45] ron-murhammer opened #3366 "Bots Throwing Error When Saving Game"
Reported here that bots are throwing errors and freezing up: https://forums.triplea-game.org/topic/716/bot-63-stuck

**Cause**
This is probably happening due to memory issues as the stack trace points to https://github.com/triplea-game/triplea/blob/master/game-core/src/main/java/games/strategy/io/IoUtils.java#L72. This is where the save game is written to in memory stream.

**Error**
[code]

[2018-04-14 16:53] ron-murhammer commented on #3366
The method calls that lead down to that change are the following:
- https://github.com/triplea-game/triplea/blob/master/game-core/src/main/java/games/strategy/engine/framework/ClientGame.java#L202
- https://github.com/triplea-game/triplea/blob/master/game-core/src/main/java/games/strategy/engine/framework/ServerGame.java#L153
- https://github.com/triplea-game/triplea/blob/master/game-core/src/main

[2018-04-14 18:05] ron-murhammer commented on #3366
@ssoloff Any thoughts on this PR: https://github.com/triplea-game/triplea/pull/2469

That looks to be one of the only changes that could have impacted saveGame over the last year.

[2018-04-14 19:09] ssoloff commented on #3366
@ron-murhammer Sorry, I don't see anything that jumps out at me as being suspicious.  With respect to `GameDataManager`, the behavior after that PR appears to be almost identical to the behavior before the PR.  The only differences I see are the following:

* The old code pre-allocates 25 kB for the buffer, whereas the new code uses the JDK default buffer size.
* The old code did not flush the `Ob

[2018-04-14 19:34] RoiEXLab commented on #3366
@prastle You have root access to the bot servers right?
If so, pulling the logs is easy: `journalctl -u triplea-bot@<bot_number>`, however this will show you all logs that are present since the last log rotation (probably a couple of weeks ago), so in order to reduce the scope of those logs you can limit it using the `--since` and `--until` flags followed by a timestamp to only show the logs that

[2018-04-14 19:49] ssoloff commented on #3366
If the problem turns out to be that the save games are simply too large, here's a potential fix that uses the file system instead of memory as the intermediate medium to hold the save game to ensure the final destination is not overwritten (when it's a file) in the case an error occurs:

[code]

I haven't tested this beyond simply saving and reloading a game.

[2018-04-14 20:56] ron-murhammer commented on #3366
@ssoloff Yeah, I wouldn't think it should matter since I think a larger save game is like 1MB which shouldn't really impact a 320MB JVM much.

[2018-04-14 21:00] prastle commented on #3366
Thanks @ roi but it appears they are running out of memory.  Since relaunch they are fine.  Would it be simpler to close a few bot servers and double their memory to warclub size?  Since we have lots of extra bots atm anyways?

[2018-04-14 21:00] prastle commented on #3366
Other option reduce each bot server to two bots?

[2018-04-14 21:05] DanVanAtta commented on #3366
Is this a memory leak situation or a poison pill?

Do we know the repro steps to simulate this, could we re-iterate them kindly?

I'm curious if this is a problem on after any given save, or if the problem builds up over time.

[2018-04-14 21:17] prastle commented on #3366
Its a time build up. can't repro

[2018-04-14 21:37] ssoloff commented on #3366
Pursuing the leak angle, I captured a heap dump of Bot 62, which has been running for a while.  Here's the top of the heap histogram:

![bot-62-histogram](https://user-images.githubusercontent.com/4826349/38772565-9476bde2-4007-11e8-9763-b6450fe94dc4.png)

What I thought was more interesting is the fact that there are 107 instances of `GameData` in the heap.  That seems like a lot of instances for

[2018-04-14 23:12] ron-murhammer commented on #3366
@ssoloff Yeah, that seems a bit strange as I don't see any reason there should be 100+ GameData instances on the bot. My guess is something is holding onto a reference to GameData which shouldn't, therefore, causing a leak as GameData is cloned for various things.

[2018-04-15 01:14] General-Dru-Zod commented on #3366
I was watching a r17 game of tww the other day and it seemed fine. So it's probably not the game saves themselves of long term games.

[2018-04-15 03:33] ron-murhammer commented on #3366
@General-Dru-Zod Probably because that change allows players to play more than 1-2 rounds of TWW without reloading which is allowing the memory to build up in the bot. I think save games are fine since I haven't noticed their size increasing but most likely their is a memory leak related to not removing references to game data clones.

[2018-04-15 03:50] ron-murhammer commented on #3366
@ssoloff Did you put the heap dump you took somewhere so I can take a look? Or do I need to take another one?

[2018-04-15 04:30] ssoloff commented on #3366
@ron-murhammer At my upload speed, that's going to take a while. :disappointed:

I just created a new dump file on 60_GA_USA (45.79.205.242) at _home/triplea/bot-61.bin_.  (For reference, the command I ran was: `/home/triplea/programs/jdk1.8.0_162/bin/jmap -dump:format=b,file=bot-61.bin 14597`.)

[2018-04-15 04:53] ron-murhammer commented on #3366
@ssoloff Cool. I just pulled it down and deleted it. If anyone else wants it then I can upload it somewhere. I'll try to take a look at it tomorrow if no one else has made further progress on tracking this down.

[2018-04-15 17:13] ron-murhammer commented on #3366
So looking through the heap dump, I'm pretty sure the issue is with the OOL cache in BattleCalculator: https://github.com/triplea-game/triplea/blob/master/game-core/src/main/java/games/strategy/triplea/delegate/BattleCalculator.java#L49

The only place this cache is cleared is from AI code so if there are no AI players like in a lobby bot game and you play for many rounds on a map with large game

[2018-04-15 17:42] DanVanAtta commented on #3366
A data point, I'm connecting brand new bots to newest test lobby and am seeing instability, they are periodically cycling in/out with OOM, simply after being loaded and connected to bots, no games being played.

This can potentially suggest it is just map parsing. At the moment I have the bots loading every map including WarOfRelics, I'm not sure if that is making the situation worse so it can be

[2018-04-15 17:45] ron-murhammer commented on #3366
@DanVanAtta Are you sure that is the same problem? I don't think we've seen any issues in the production lobby with just starting up bots only when they were playing large maps for several rounds.

[2018-04-15 17:46] prastle commented on #3366
Not same problem

[2018-04-15 18:07] DanVanAtta commented on #3366
Well, any OOM is a major problem, and we previously had not seen any kind of OOM at all before. There is a difference in that this bot is loading an additional map that comes with 100's of thousands of attachment objects. We did also change how we did attachment loading not that long ago, it could be that when parsing maps we are now holding on to those references. It's just a theory, but that cou

[2018-04-15 18:09] prastle commented on #3366
I restart the bots in production all the time and don't have any issues until they have been used for a bit.  Example

https://forums.triplea-game.org/topic/716/bot-63-stuck

[2018-04-15 18:10] prastle commented on #3366
Ye red has this posted but notice wirkey's comments today ^^

[2018-04-15 21:07] ron-murhammer commented on #3366
@DanVanAtta Agree. My point was I think your finding deserves a different bug issue so we can track resolution of each problem separately as they don't appear related at this point.

[2018-04-15 21:43] ssoloff commented on #3366
I believe `oom-killer` comes into play when the _machine_ is running low on memory, not necessarily when a Java process runs out of heap space (i.e. an `OutOfMemoryError` being raised inside the JVM).

We saw this on Travis about a year ago when our Gradle processes were being killed in the middle of a build because, due to a Travis configuration error, multiple Gradle processes were running with

[2018-04-15 22:11] DanVanAtta commented on #3366
Hmm, there is a psql running, that should not be, but it is only consuming <0.1% of memory. Otherwise we have just the 3 bot instances, all of which is pretty standard. I'm surprised if an extra PSQL with that little memory usage is putting us over the edge.

[2018-04-15 22:55] ssoloff commented on #3366
The log seems to indicate `oom-killer` is not kicking in due to RSS pressure but because the host ran out of swap space:

[code]

It looks like `bot25_ca` is configured to only use 256 MiB of swap, whereas all of the production bots (except for `botserver80_CA_USA`) use 4 GiB of swap.

[2018-04-15 23:08] DanVanAtta commented on #3366
256 MB of swap should be enough to buffer needed memory usage. Not enough swap does not sound like a root cause problem to me, and if it were a problem we should have seen it when bots were set up previously unless something new has been introduced.

It's not clear to what extent if at all the different problems are related, so we should be careful of red herrings.

I am concerned I was not aware

[2018-04-16 00:36] prastle commented on #3366
Yes @RoiEXLab roi upped  the swap months ago when we had the previous bot problems and they were reduced to four bots per server.  I guess CA was missed it needs to upped as well.

[2018-04-16 00:41] ssoloff commented on #3366
Actually, CA is ok--I just didn't read the text carefully enough. :smile:  While the disk name is "256MB Swap Image", it does have 4 GiB allocated.

[2018-04-16 00:43] prastle commented on #3366
@ssoloff  COOL!  So i guess the prob with pre release server is lack of swap and production/pre issues  w ill be fixed when the other oom is solved.

[2018-04-16 00:56] DanVanAtta commented on #3366
I'm not sure if that is the problem, "lack of swap" is likely more masking other issues. When bots start swapping we would expect performance to drop by a significant amount, disk reads magnitudes slower than memory, performance drops of 100-1000x are common for systems that start to access their swap.

[2018-04-16 00:58] prastle commented on #3366
I hear ya and thus why I asked for more ram.  But it was decided this was the cheapest easiest fix was my understanding.  Now we are down to three bots per server and still same issue.

[2018-04-16 01:02] DanVanAtta commented on #3366
ya, the way the way the servers are priced, getting another server is as cost effective as getting more ram.

We need to gather more information about this problem:
- which bots have seen the problem? This could help us pinpoint if it was a specific release or a long running problem
- need a repro case

[2018-04-16 01:04] prastle commented on #3366
Sadly all of them.  It isn't a bot issue it's an engine and or map issue.  only occurs on tww and possibly other Big maps.  TWW appears to be the culprit only because it is played the most.  I would guess Iron war or a long Global would cause same problems.

[2018-04-16 01:07] prastle commented on #3366
@DanVanAtta , @ron-murhammer The swap was done to allow us to be able to have four bots per server and it was done before the new engine and maps were released.   Perhaps we should drop them to two bots per server? to test?

[2018-04-16 01:25] prastle commented on #3366
Also @ all I just noticed bot 80 CA is missing from lobby so perhaps look at that one if ya can.  Just trying to help.

[2018-04-16 01:58] DanVanAtta opened #3369 "Bot logs: java.lang.NullPointerException at DefaultNamed.java:33"
Looking at logs, ran across the following:

[code]

### Engine version
9480

### My Operating System
Bot

### Map name
n/a

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
unknown

[2018-04-16 02:02] prastle commented on #3369
Which bot was this out of curiosity?

[2018-04-16 02:29] DanVanAtta commented on #3369
botserver60_GA_USA

[2018-04-16 02:30] prastle commented on #3369
yup that was one of them

[2018-04-16 03:29] ron-murhammer commented on #3366
@DanVanAtta I still think we are looking at 2 completely different issues here. Can you cut a separate issue for looking at the memory issues you are seeing on the staging lobby bots with map parsing?

[2018-04-16 03:46] General-Dru-Zod commented on #3366
I suggest someone run a mock game of tww in a bot and see if we can reproduce it that way.

[2018-04-16 04:06] prastle commented on #3366
It has also occurred in other maps @General-Dru-Zod  and all bots pretty much. todays reload that I did was a global

[2018-04-16 04:07] prastle commented on #3366
Its simple to find for any mod admin dev just look for a bot in progress with 0 players or 1 ;)

[2018-04-16 05:28] DanVanAtta commented on #3366
courtesy @ron-murhammer a bot memory leak will be fixed.

The problem I'm seeing is likely to be too much memory demand on server, extra swap would simulate more memory and would fix the problem. I can see that not being related and will try allocated less memory per bot server.

I'm in progress of rolling out new bot servers with new infrastructure scripts. We can roll those out with the next ver

[2018-04-16 05:45] ron-murhammer commented on #3366
One final comment on this for the night. When I analyzed the bot heap dump, >97% of the memory was being retained by the OOL cache! While I'm sure some portion of that would be retained regardless, my gut is that probably >80% of that was just the OOL cache. So in theory if there aren't any other memory leaks (which I didn't see any other major offenders), bots could possibly run with much less me

[2018-04-16 08:41] DanVanAtta opened #3371 "Bot startup - java.lang.NullPointerException at speakerAdded(Chat.java:295)"
Notice the NPE below. See this often on bot startup (if not always). Does not seem to be impactful, but noting the exception here so it can be tracked/fixed:

[code]

[2018-04-16 10:44] DanVanAtta commented on #3366
- Latest version with patch is deployed to an all new set of bots that have been added to lobby
- All old bots except one have been powered down (the last one needs to empty out)
- New bots are on infrastructure control, can be adjusted by updating this file and restarting service: https://github.com/triplea-game/infrastructure/blob/master/roles/host_control.sh

Current configuration is with 4 bot

[2018-04-16 12:48] prastle commented on #3366
Ya 5 didn't work in past safely THANKS guys! @ron-murhammer @DanVanAtta

[2018-04-17 00:08] DanVanAtta opened #3372 "Error pop-up and console are not supposed to both appear"
Noticing an error, I see both the error console and error popup message.

The error console should not appear *unless* 'show details' is clicked on the popup message.

[2018-04-17 00:10] DanVanAtta opened #3373 "Can't connect to lobby with latest"
### Engine version
9687
10111

### My Operating System
Mac

### Map name
N/A

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Try to join the lobby, after the login credentials window and click 'join', there is a delay then an error message.

### Do you have the exact error text? Please copy/paste if so
[code]

### Instead of this error, what should

[2018-04-17 00:14] DanVanAtta commented on #3373
This also impacts 9687, it is a production problem.
Given the lobby is not available at all for an entire OS, perhaps more widespread. This is a P0.

[2018-04-17 00:43] ron-murhammer commented on #3373
@DanVanAtta Not sure I follow. We weren't having any issues with at least 9687 connecting to 9687 so this would most likely be something with the latest pre-release or something with the infra changes. I'm a little skeptical that all MacOS users can't connect to the lobby.

[2018-04-17 00:43] DanVanAtta commented on #3373
Looks like network is dead for that port not responding.

[code]

This should not be mac related, but maybe the network I'm on.. Could be impacting only new connections.

I am able to ssh to the machine though, so port 22 is listening

[2018-04-17 00:44] DanVanAtta commented on #3373
Can you connect to lobby @ron-murhammer ?

infra changes were only for bots, nothing touched server. Server maybe given the updates went into some sort of crash, but looking at those logs nothing stands out.

[2018-04-17 00:45] ron-murhammer commented on #3373
@DanVanAtta Yep, along with about 50 other users :)

[2018-04-17 00:46] DanVanAtta commented on #3373
okay, that knocks this down then at least. The fact it works for some and not all is still a problem. I cannot connect to that port for lobby.

[2018-04-17 00:48] DanVanAtta commented on #3373
Hmm, I see that i am connecting:
[code]
But no response locally on client, so seems packets are not making it back to my machine for whatever reason.

[2018-04-17 00:48] DanVanAtta commented on #3373
to clarify, 'connecting' means I see a message on lobby logs, but client is not getting anything, still freezes and then errors out with the same stack trace printed above.

[2018-04-17 00:54] DanVanAtta opened #3374 "Frequent lobby error: TLS is required, but was not offered by host smtp."
### Engine version
~9687, latest lobby as of 4/16

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Not known, error message can be observed in lobby logs, perhaps triggered by PBEM game or marti dice server

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?
no error

### Any additiona

[2018-04-17 03:54] DanVanAtta commented on #3373
Dropping out of a P1 as there is no confirmed widespread impact.

Trying to connect from a new network, I now have no issue. Seems there was something very special with that last wifi I was connected to where packets being sent back from a specific port were not making it.

[2018-04-17 03:54] #3373 closed

[2018-04-17 04:22] ron-murhammer opened #3377 "Must Finish Battle in X Save Game Corrupted"
Happened in the lobby on bot102 around 10:30PM CST (an hour or so before this issue was opened).

Here is the save game which even if you try to take a save from history from earlier in the round its still corrupted:
[Bot103_Must_Finish_Battle_Error.zip](https://github.com/triplea-game/triplea/files/1918124/Bot103_Must_Finish_Battle_Error.zip)

It appears that something happened during the battle

[2018-04-17 06:31] RoiEXLab commented on #3374
Hmm I remember changing the postfix server to require TLS so all the MARTI emails would be sent securely, but emails seems to be get sent normally.

[2018-04-17 16:27] prastle opened #3378 "Headless bot shows in progress but fails to launch game."
### Engine version.

1.9.0.0.10121
### My Operating System
Win 10
### Map name

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
join the bot select all players and it shows in progress but doesn't launch.
### Do you have the exact error text? Please copy/paste if so
no error
### Instead of this error, what should have happened?
Game should have launc

[2018-04-17 16:35] prastle commented on #3378
I should have added that it works np with 1.9.0.0.10042 engine.  @DanVanAtta @ron-murhammer @ssoloff @RoiEXLab > It's not a big deal really since I think I am the only one that still hosts bots on occasion.  BUT If we could ever get it running smoothly again maybe we would not need as many bot servers.

[2018-04-17 21:06] prastle commented on #3378
TripleA engine version 1.9.0.0.10121
Loading map: , from: C:\Users\prast\triplea\downloadedMaps\
Loading resources from the following paths: [C:\Users\prast\triplea\downloadedMaps\, G:\10121\TripleA\assets]
Setting memory for new triplea process to: 2G
TripleA engine version 1.9.0.0.10121
Setting memory for new triplea process to: 2G
TripleA engine version 1.9.0.0.10121
Setting memory for new trip

[2018-04-17 21:18] RoiEXLab commented on #3369
Looking at the code this NullPointerException should not occur at all, because the `m_name` field is a constant and can't be initialized with null.
So the only way the field can be null is by deserializing and "invalid" object.

[2018-04-17 22:33] ron-murhammer commented on #3377
So I pulled the logs and don't see any issues. Just appear to be one of the players lost connection and it took an autosave:
[code]

[2018-04-17 22:56] ron-murhammer commented on #3377
From what I can tell, it appears that the autosave is taken after the battle is complete but before it sets "currentBattle" to null on this line:
https://github.com/triplea-game/triplea/blob/master/game-core/src/main/java/games/strategy/triplea/delegate/BattleDelegate.java#L222

Anyone familiar with how the autosave works when players disconnect? Essentially in this case, the battle is complete bu

[2018-04-18 04:46] ron-murhammer commented on #3377
I was actually able to recreate the error in a new save game using break points:
[Reproduced_Must_Create_Battle_Error.zip](https://github.com/triplea-game/triplea/files/1922472/Reproduced_Must_Create_Battle_Error.zip)

There appears to be lots of locking magic in `DelegateExecutionManager` that I don't fully understand but essentially it appears to try to allow the delegate `start()` method to alw

[2018-04-18 22:08] RoiEXLab commented on #3378
Hmm I noticed something "similar" today.
The bots seems to have a noticeable delay before starting, not sure if this was always the case or it's just my memory tricking me into thinking it used to be faster, but perhaps it just takes way too long without any visual feedback?

[2018-04-18 22:11] RoiEXLab commented on #3378
But if you have the time:
Could you identify the exact version this issue was introduced in?
This would speed up the process of finding the cause drastically

[2018-04-18 22:11] prastle commented on #3378
Ya I thought of that as well so i loaded both tww and v3 41 in a bot with np.  (remarkably faster with your new changes btw!  Nice job !)  Then I loaded v3 41 in the headless and waited 2 min still no load.  It does show in progress tho in lobby which is interesting..  Just the game does not load.

[2018-04-18 23:49] prastle commented on #3378
@RoiEXLab  Can't really.  Since it worked last week with 100042 and stable.  With the new changes it has suddenly stopped working.  Current bot script is this

This is the rewritten bot script
@echo off
SET PORT=3363
SET BOT_NUMBER=25
SET LOBBY_HOST=45.79.144.53
SET LOBBY_PORT=3304
java -Xmx320m -Djava.awt.headless=true -classpath bin/triplea-1.9.0.0.10121-all.jar games.strategy.engine.framework.h

[2018-04-18 23:50] prastle commented on #3378
Last week it was this and worked.

@echo off
SET PORT=3363
SET BOT_NUMBER=25

SET LOBBY_HOST=45.79.144.53
SET LOBBY_PORT=3304

java -Xmx320m -Djava.awt.headless=true -classpath bin/triplea-1.9.0.0.10042-all.jar games.strategy.engine.framework.headlessGameServer.HeadlessGameServer -Ptriplea.game.host.console=false -Ptriplea.game= -Ptriplea.server=true -Ptriplea.port=%PORT% -Ptriplea.lobby.host=%LOB

[2018-04-18 23:52] prastle commented on #3378
Stable is this
@echo off
SET PORT=3363
SET BOT_NUMBER=25

SET LOBBY_HOST=lobby-staging.triplea-game.org
SET LOBBY_PORT=3304

java -Xmx320m -Djava.awt.headless=true -classpath bin/triplea-1.9.0.0.9687-all.jar games.strategy.engine.framework.headlessGameServer.HeadlessGameServer -Ptriplea.game.host.console=false -Ptriplea.game= -Ptriplea.server=true -Ptriplea.port=%PORT% -Ptriplea.lobby.host=%LOBBY_

[2018-04-19 00:58] prastle commented on #3378
Did some more testing @RoiEXLab   Apparently many maps still load just some do not.  2 that do not load are (but load fine in my private host and our new bots) V3 41 and TWW Beta.  Interestingly V3 41 Move Buy Move and Neusch load fine in the headless bot.

[2018-04-19 03:03] #3377 closed

[2018-04-19 06:26] RoiEXLab commented on #3378
@prastle I know I already told you, but it would be really good if you could format your console output as code, so the lines do not wrap around.
In Text it's still the three backticks just like on the forum, but here it works as well when you just highlight the "code"/"console output" and just click on the `<>` button. I did it for you this time, but click on the 3 dots to edit your post and look

[2018-04-19 19:14] prastle commented on #3378
G:\10138\TripleA>SET PORT=3363

G:\10138\TripleA>SET BOT_NUMBER=25

G:\10138\TripleA>SET LOBBY_HOST=45.79.144.53

G:\10138\TripleA>SET LOBBY_PORT=3304

G:\10138\TripleA>java -Xmx320m -Djava.awt.headless=true -classpath bin/triplea-1.9.0.0.10138-all.jar games.strategy.engine.framework.headlessGameServer.HeadlessGameServer -Ptriplea.game.host.console=false -Ptriplea.game= -Ptriplea.server=true -Ptri

[2018-04-19 19:16] prastle commented on #3378
Exception in thread "Triplea start thread" java.lang.StackOverflowError is this what you were looking for? @RoiEXLab

[2018-04-19 19:17] RoiEXLab commented on #3378
If you format the log as code I'll have a look 😉

[2018-04-19 20:03] prastle commented on #3378
What do you mean as code?

[2018-04-19 20:03] prastle commented on #3378
Btw with newest release it only is tww beta that won't load now.  In the headless bot.

[2018-04-19 20:06] RoiEXLab commented on #3378
@prastle
Enclose it with three backticks on each side as describes in an earlier post.

[2018-04-19 20:09] prastle commented on #3378
Which one? the console or command console
finally found the backtick key

[2018-04-19 20:09] RoiEXLab commented on #3378
Everything ^^

[2018-04-19 20:13] prastle commented on #3378
[code]

[2018-04-19 20:13] prastle commented on #3378
[code]

[2018-04-19 20:14] prastle commented on #3378
Current bot script
[code]

[2018-04-19 20:18] RoiEXLab commented on #3378
@prastle Thank you.
Id appreciate if you could remove the unformatted log from your original post to keep this conversation rather small.
I actually thought you'd just edit your existing posts instead of reposting everything.
But back to the topic:
We seem to have an infinite recursion or something similar here.
This explains why the game doesn't start, but doesn't explain why this only happens wi

[2018-04-19 20:26] prastle commented on #3378
What is also interesting is it launches fine in my private host or in a Triplea Bot.

[2018-04-20 17:15] prastle opened #3385 "battle in progress but is finished"
### Engine version

current triplea bots
### My Operating System
na
### Map name
Global
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
na
### Do you have the exact error text? Please copy/paste if so
no
### Instead of this error, what should have happened?
the battle should have finished
### Any additional information that may help
You probably have

[2018-04-20 17:34] Cernelius opened #3386 "Negative Coordinates Not Anymore Supported (1.9.0.0.10153)"
I see that you have disabled the possibility of loading negative coordinates, from the skin.
That can be argued one way or the other, I think, but fact is that you will get a few broken games.
For example, "Rome Total War"; you will get this:

Failed to start game
java.lang.IllegalStateException: No where to place units:RomanRepublicBox
	at games.strategy.triplea.ui.screen.TileManager.drawUnits(Ti

[2018-04-20 20:14] ron-murhammer commented on #3385
@prastle Is this the same error as #3377

[2018-04-20 20:38] ron-murhammer commented on #3386
@Cernelius Guessing this was unintentional during some refactoring.

@RoiEXLab Any insight here as I think most likely some of your tile changes probably affected this?

[2018-04-20 21:12] ron-murhammer commented on #3366
Gonna close this now and can always reopen if we see any further issues.

[2018-04-20 21:12] #3366 closed

[2018-04-20 21:15] ron-murhammer commented on #3305
@FrostionAAA Yeah, this is a known limitation. I personally don't plan to enhance this as I think “Move existing fighters to new carriers” is really an outdated property.

[2018-04-20 21:16] prastle commented on #3385
Similar but occurred in global map not nwo @ron-murhammer

[2018-04-20 22:13] RoiEXLab commented on #3386
@ron-murhammer This is unrelated to the Tile Refactoring, this error just happens to occur during the initialization of the map.
Nevertheless this issue is my fault, opened #3387

[2018-04-20 22:27] ron-murhammer commented on #3386
@Cernelius This should be fixed in the latest pre-release.

[2018-04-21 18:37] RoiEXLab commented on #3378
It seems like the cause is somewhere in those lines: https://github.com/triplea-game/triplea/blob/1d2bc83faee8e3cb417546911a7b8e908dcd417d/game-core/src/main/java/games/strategy/engine/framework/startup/launcher/ServerLauncher.java#L119-L155

[2018-04-21 19:39] Cernelius commented on #3386
Since the wording in here:
https://github.com/triplea-game/triplea/pull/3387/commits/dc6d9d6800d8c99663b41be0a915397f2ae4e3c4
appears to refer to the polygons only, I want to point out that this regression applied to probably all loaded coordinates, or at least not only to the polygons. For example, you could not have negative coordinates anymore in the "territory_effects.txt", when I tested for t

[2018-04-21 19:41] RoiEXLab commented on #3386
@Cernelius It's just the wording. This issue should be fixed for all kinds of points and point lists

[2018-04-22 14:49] RoiEXLab commented on #3378
@prastle I could not reproduce your issue using latest master.
Here's what I did:
1. Start TripleA and join the lobby.
2. Start the Bot and wait for it to connect to the lobby.
3. Connect to the bot, select TWW BETA as map and click play on all forces
4. Game Loads without any problems.

[2018-04-22 15:31] prastle commented on #3378
@RoiEXLab  Just tried again and it fails again with 10182.  Old tww loads fine.  Also it does attempt to load as I have said and shows in progress in the lobby.  But the map never loads.  I also reinstalled tww the other day just to see if beta somehow got corrupted.

[2018-04-22 15:35] prastle commented on #3378
Could you please post the bot script that you used?

[2018-04-22 15:53] RoiEXLab commented on #3378
@prastle I'm not using any scripts, I'm launching the bots directly from source.
The equivalent of your srcipt would be:
[code]

[2018-04-22 16:29] prastle commented on #3378
@RoiEXLab  That worked TY! But how is my sys. memory maxed out?  Task manager shows at 19 % memory usage.

[2018-04-23 17:37] hispublic opened #3393 "TripleA slows down with large games/1 turn takes 20 mins for AI"
### Engine version 1.9

### My Operating System win 10 home 64..core i7 6700 32GB RAM 1080 graphics

### Map name Happens on any large (many units) games

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?) play any map with large amount of units (I think)

### Do you have the exact error text? no error text

### Instead of this error, what should have h

[2018-04-23 20:33] hispublic commented on #3393
version 1.9.0.0.8304
[saved game runs slow.zip](https://github.com/triplea-game/triplea/files/1939925/saved.game.runs.slow.zip)

[2018-04-24 00:33] DanVanAtta commented on #3378
Nothing changed infrastructure wise on how bots are launched; any problems would be in source code. It is strange the 'new' bots connected to lobby have no issue. This makes me think there might be a version conflict somewhere, two versions not compatible with each other perhaps.

[2018-04-24 01:11] hispublic commented on #3393
@RoiEXLab I thought I had the save on the original...it should be on my second post. Please let me know if there's anything else you need...BTW, game turns are now up to about 40 minutes

[2018-04-24 01:37] ron-murhammer commented on #3393
@hispublic Can you try the latest pre-release version located here as there have been some recent AI performance improvements: https://github.com/triplea-game/triplea/releases. I'll try to take a look at your save game later tonight myself as well.

[2018-04-24 02:12] ron-murhammer commented on #3393
Oh wow that is a round 145 game... I've never seen anything past round 30 on any map LOL. Honestly the problem is the game data is so large because of the game history that the AI takes a long time dealing with it. I'd definitely recommend playing against Fast AI instead of Hard AI at this point. At the moment the AI and arguably the game engine really isn't designed to handle large maps that last

[2018-04-24 02:42] hispublic commented on #3393
@ron-murhammer patience seems the only way to win as the Borg vs hard AI (game runs windowed while I do other stuff).  I didn't know that each turn builds on the previous so that it's a race against turns...do I win first or does the PC crap out?..lol.  So, is it the number of turns, the amount of units in the game, the type of AI or a mixture of the three?  I was trying to make the game as hard a

[2018-04-24 02:45] ron-murhammer commented on #3393
@hispublic Mix of all 3 but I think mostly just the sheer number of rounds. I think you could start a new round 1 game and edit in the exact same ownership/units/etc then it would probably run 10x faster.

[2018-04-24 04:09] hispublic commented on #3393
@ron-murhammer thanks for the explanation.  I updated the engine and tried it...but it was still slow enough that I stopped it.  After, I changed it to Fast AI and that made a HUGE difference.

I'm curious and if it's difficult to explain don't worry about it but does the previous turn info make any difference to the game, other than slowing things down?  You mentioned that editing in the same uni

[2018-04-24 07:00] Cernelius opened #3396 "Revert territoryEffects Bottom Bar Display Request (1.9.0.0.10186)"
I believe you made a change that should be reverted.

I see that the image in the territoryEffects folder now displays in the bottom bar, similarly to the images in resources.

However, differently from resources, territoryEffects was not an unimplemented item, but it is implemented as displaying those images on board, by coordinates defined in territory_effects.txt.

Practically, the territoryEff

[2018-04-24 07:55] hispublic commented on #3393
@ron-murhammer gotcha...that makes sense. Thank you again for your time and explanations.

With that explanation in mind, my revised wish list item would be a setting allowing the user to set the number of turns in the history, from zero, some to all turns.  In theory, this would allow better single player game performance and bigger and/or more complex maps that might take many turns to complete.

[2018-04-24 08:04] hispublic commented on #3393
@RoiEXLab   If the OddsCalculator is attached to the Battle Calculator then I think you are on to something.  In the saved game, the Battle Calculator is completely overwhelmed.  At some point, it became futile (I'm playing the Borg, see what I did there) to try using the Battle Calculator because while it will show a count of units quickly, waiting for it to "copy data" is like watching paint dry

[2018-04-24 14:10] RoiEXLab commented on #3393
@hispublic That's a good hint:
The battle calculator internally uses the same code as the Ai.
If the cloning process takes really long, that could be another reason for it to "idle" for so long.

[2018-04-24 17:30] hispublic commented on #3393
Thank You everyone for being awesome!!  I just had to say it.

I'm curious, with the configuration changes that I've made, would it be the general consensus that I've made the best performance changes?  Here's what I've done:

 TripleA VMOPTIONS file (I have 32GB RAM):
-Xmx10G
-Xms10G

AI Pause duration set to 0

[2018-04-24 18:14] RoiEXLab commented on #3393
@hispublic Assigning more RAM to TripleA is ok, but you shouldn't assign uneccessarily much RAM to TripleA because this won't magically make TripleA perform better.
The AI Pause duration shouldn't make a difference either. AFAIK this option is just to slow down the AI (like when using the Fast AI), so you can still follow it's moves and everything isn't too quick for you.

##### Technical Stuff
@D

[2018-04-24 22:41] ron-murhammer commented on #3393
@RoiEXLab I'm pretty sure really its just the game history that is 90% of the problem of long data copy times. Essentially, we'd just need to find a way to clear the game history before copying and then set it back. Then ensure any game history calls made by the battlecalc steps are essentially no-ops.

[2018-04-24 22:42] RoiEXLab commented on #3393
@ron-murhammer The problem is: How do we clear it before copying without clearing the actual history

[2018-04-24 22:49] ron-murhammer commented on #3393
@RoiEXLab Could we do the following:
1. Set history object to temp variable
2. Set data's history to a new empty history object
3. Copy data
4. Set temp variable back into original game data

[2018-04-24 22:51] RoiEXLab commented on #3393
@ron-murhammer I don't know, probably but this would of course come with the price of having to aquire a write lock instead of a read lock.

[2018-04-24 22:52] ron-murhammer commented on #3393
True but if having a write lock for 10% of the time that we had to have a read lock then its probably worth it.

[2018-04-24 23:27] Cernelius commented on #3393
@hispublic You can open task manager and take a look how much RAM your TripleA / java process is using. As long as it is using less RAM than your settings (in this case, 10 GB), then that is not the limit.
I think it would never happen the RAM going above like 4 GB, but I've never played a 145 rounder.

[2018-04-25 16:53] ron-murhammer opened #3400 "History Wrong Thread Error"
**Version:** current master

**Steps:**
- All Hard AI except last player is human game of Feudal Japan, this error is thrown at the end of initial placements:
[Wrong_Thread_Error.zip](https://github.com/triplea-game/triplea/files/1948005/Wrong_Thread_Error.zip)

**Error:**
[code]

@RoiEXLab My guess is this has something to do with some of the loading changes you've done recently.

[2018-04-25 17:16] RoiEXLab commented on #3400
@ron-murhammer #3401
The UI code is too tied to the game logic code. The History class seems to hold the Data at the same time as being a swing UI model

[2018-04-25 17:25] ron-murhammer commented on #3400
@RoiEXLab Yeah, its definitely not a great design as the data portion and UI portion should really be separated.

[2018-04-25 21:56] hispublic commented on #3393
More data if anyone is interested in how the game is acting.  I'm not asking anyone to look at it.  I'm uploading if there is a glutton for punishment that would enjoy looking at the error log...or if it would help you with the tech discussion you were having.

At round 165 I got an error in the Battle Calculator regarding being out of memory, but got busy with something else and the console got h

[2018-04-25 22:12] Cernelius commented on #3170
This is an example of a topic that would fit better in a "TripleA Development Discussions" section, rather than in Announcements, and it seems reasonable to keep in forum, rather than in a tracker:

https://forums.triplea-game.org/topic/464/taking-your-suggestions-for-a-new-ui

I think that one should have been moved in the new development / discussions section.
I'm not sure why initially there wa

[2018-04-26 07:06] General-Dru-Zod opened #3404 "AI Neutrals - Null Pointer Exception"
### Engine version
10042, 10211

### My Operating System
win10

### Map name
Bad-Ass 4-Nation FFA v.1.6.0.20

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Set british, germans, Japanese, russians to hardAI, and the rest to do-nothingAI. and launch game.

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what

[2018-04-26 07:27] RoiEXLab commented on #3404
@ron-murhammer I believe this is related to #3389

[2018-04-26 07:31] General-Dru-Zod commented on #3404
@ron-murhammer
I ran a few more tests, the error with 10042 is resolved if I set the Chinese to hardAI as well. However this does not help in 10211 error.

Note they seemed to be caused by 2 different reasons, but with same end result or "nullpointer exception".

[2018-04-26 08:33] General-Dru-Zod commented on #3404
@ron-murhammer
Some additional information for you. If I set british, germans, japanese, russians set to human, chinese set to hardAI, rest set to doesNothing AI (as a normal game would be played). I get the following error on Chinese placement. With 10042 is this setup is ok.

Error: java.lang.NullPointerException
java.lang.NullPointerException
	at games.strategy.triplea.ai.pro.util.ProUtils.isNe

[2018-04-26 15:53] prastle commented on #3404
Also possibly why Headless bots needed more memory?  Noob ?

[2018-04-26 17:41] ron-murhammer commented on #3404
@General-Dru-Zod Yeah, this a bug related to the neutral changes that I made. Should be resolved once #3405 is merged.

[2018-04-26 23:46] hispublic commented on #3404
I think this may similar and points to something in the new update?  Since updating to the new release, every map I've tried (except and after the long game) is giving an error.  Here is the latest.

TripleA engine version 1.9.0.0.10192
Loading map: ww2_phillipines, from: C:\Users\C\triplea\downloadedMaps\ww2_phillipines-master.zip
Loading resources from the following paths: [C:\Users\C\triplea\do

[2018-04-27 00:25] ron-murhammer commented on #3404
@hispublic Yeah that should be fixed in the latest pre-release.

[2018-04-27 02:01] General-Dru-Zod commented on #3404
@ron-murhammer Tested 10216, It's fixed.

[2018-04-27 02:03] #3404 closed

[2018-04-30 06:52] FrostionAAA commented on #3270
Am I really still the only person who experiences this minor flaw? That’s strange.
![error](https://user-images.githubusercontent.com/15268177/39417319-c031a99e-4c53-11e8-98c9-e0972e08a2bb.png)

[2018-04-30 07:36] RoiEXLab commented on #3270
@FrostionAAA found a way to reproduce this by accident:
Just resize the window to be smaller than the initial size and it always looks like this
#3408 has a fix

[2018-04-30 07:58] FrostionAAA commented on #3270
Ok. So future verisons of the pre-release should not have this problem? I just saw the window pop up to small on engine version 1.9.0.0.10211

[2018-04-30 09:36] RoiEXLab commented on #3270
@FrostionAAA Yes, once #3408 is merged this problem should no longer occur.

[2018-04-30 12:42] RoiEXLab commented on #3270
@FrostionAAA Just FYI: You shouldn't close or at least you don't need to close an issue when a PR is available:
1. This PR might fix an issue, but might not fix your specific edge case
2. This issue is being closed automatically when the PR gets merged

[2018-05-02 11:06] RoiEXLab opened #3409 "Lobby downtime, a follow-up"
Our lobby server was recently restarted due to the recent spectre/meltdown vulnerability.
However it failed to restart the IPv4 network interface (IPv6 worked), because of a wrong line in the a configuration file:
In the `/etc/network/if-up.d/sendmail` file (or similar, we can check the logs later) I commented out a line that tried to invoke the non existent `/usr/share/sendmail/dynamic` script an

[2018-05-02 19:05] prastle commented on #3409
Quite a few bots keep crashing while being played in as well as some bot servers have too many bots.  SSH keys appear to be broken as it informs me it isn't the one expected and saved.

[2018-05-02 19:55] prastle commented on #3409
@RoiEXLab  Well it appears all we are doing is pissing off a lobby full of 50 people since they keep disconnecting and crashing.  Should I stop the confirmed broken servers for now?

[2018-05-02 21:10] RoiEXLab commented on #3409
ok, everything seems to be working fine now.
@DanVanAtta I want to point out, that 5 bots are being started although only 4 are specified in the infrastructure repo.

[2018-05-02 21:54] DanVanAtta commented on #3409
``` systemctl disable triplea-bot@<number>```
This step does not happen automatically.
I wonder if the 5 bots is a misconfiguration or if it is due to an old bot server not being uninstalled.

Running 5 bots will crash a server, there is not enough main memory to run that many.

[2018-05-02 21:55] prastle commented on #3409
400 bots still screwed up
and ssh to bot servers but yes seems to be working now.

[2018-05-02 21:57] prastle commented on #3409
Also all bot servers had to be rebooted twice they did not auto launch when restarted.

[2018-05-02 23:03] DanVanAtta commented on #3409
Go for it @RoiEXLab , I'm pretty slammed for about a week, likely out of town for a long weekend this weekend as well.

[2018-05-02 23:04] prastle commented on #3409
also need 1 more in 501 that's missing

[2018-05-02 23:04] prastle commented on #3409
We will be fine only 50 peeps tonight

[2018-05-03 18:45] panther2 opened #3410 "Illegal movement restriction"
### Engine version
1.9.0.10225 (and prior versions)

### Map name
wwII_global (and wwII_europe)

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

On US1 try to move US ships from SZ 101 to SZ 121, TripleA illegally restricts your movement.
(Also the path is drawn via land territories - looks funny!)

### Do you have the exact error text? Please copy/

[2018-05-03 22:07] prastle commented on #3409
Three servers have afk bots atm.

[2018-05-04 04:51] beelee1 commented on #3410
not sure if it's engine or Veqryn just didn't do it. Here's the xml:

!-- Americans in OOB are not allowed to move to or through these sea zones:
						125 Sea Zone:111 Sea Zone:119 Sea Zone:109 Sea Zone:104 Sea Zone:91 Sea Zone:87 Sea Zone:83 Sea Zone:70 Sea Zone:71 Sea Zone:72 Sea Zone:76 Sea Zone:80 Sea Zone:79 Sea Zone

 Americans in Alpha +3 are not allowed to end their movement in:
						Eur

[2018-05-05 18:15] prastle commented on #3409
No matter @RoiEXLab  from now on you can fix yourselves.  Power was out for 36 hrs here but either answer is the same.  Apparently you guys want no root.  NP after spending 2 hrs at 3am the other night to then discover he had removed my ssh without even telling me I feel really stupid... Alot of posted messages about nothing I was removed.   Make sure you guys fix from now on.

[2018-05-05 19:41] Elreigh opened #3411 "Adding a map"
I have completed a map for TripleA and I want to share it with the community. Please send me an invite for a map team at triplea-maps

[2018-05-05 22:25] prastle commented on #3409
From now on when a bot locks since as we discovered we can only boot or stop them.  If I notice I will.  Hopefully someone restarts them.

[2018-05-06 01:39] DanVanAtta commented on #3409
Having a 5th bot *will* cause crashes; i suspect a lot of recent instability was perhaps due to this.

@RoiEXLab have we seen such instability with the correct 4 bots running? We can try allocating less memory per bot if 4 at current setting is not stable:  https://github.com/triplea-game/infrastructure/blob/master/roles/host_control.sh#L24  We should also get more specific about crashes, "unstabl

[2018-05-06 01:46] prastle commented on #3409
1st it has always been four bots we discovered that last year you changed that @DanVanAtta
2nd with four we have always had lock ups
3rd admin needs to be able to restart bots and stop them individually.  Yes I can  use linode to restart the server BUT that means emptying all other bots on that server that are still running.  Do it as you wish but the  simple solution is toolbox having a restart o

[2018-05-06 01:51] prastle commented on #3409
@RoiEXLab  @DanVanAtta Also as a side note I have to Giggle ... Who are the admin your reffering to?  Since generally it was only myself or zod  that have ever restarted?  You make it sound like we have a crew... WE DO NOT!  Hopefully your new system works since now only you or roi are restarting them ;)

[2018-05-06 01:52] DanVanAtta commented on #3409
Exactly what kind of lockups, what is the cause? With 5 we get a pretty specific "system out of memory" error, the bots almost do not even launch and stay started for more than 5 minutes. It's very clear this would be because the current memory calculation is for 4 application instances, not 5.

[2018-05-06 01:53] DanVanAtta commented on #3409
Restarting stuff is not a fix for anything, power it down instead so we can start it back up with a better/fixed configuration. The last message in logs being an errors is better than us panicking. There is a huge information gap as well, as you have/had all the access you need to restart bot instances.

[2018-05-06 01:54] DanVanAtta commented on #3409
In this context, system administration, `admin` is a user account on the linode machines. Instead of `ssh triplea`, you should use `ssh admin@`

[2018-05-06 01:54] prastle commented on #3409
Dear I love you but simple the truth is this is two years old...
Join the lobby look at waiting for players or in progress bots

[2018-05-06 01:55] prastle commented on #3409
naw
your turn only way ya learn is by doing

[2018-05-06 01:59] DanVanAtta commented on #3409
@prastle we need paper trail payed for: https://papertrailapp.com/events

[2018-05-06 02:01] DanVanAtta commented on #3409
There are a number of different reasons why bots would halt; Some of them are pure misconfiguration, or 'ghost' servers from scripts not running cleanly or cleanup. Others are long-running issues. Each need a different fix. The way to fix them is to diagnose in the logs what the reported error message is, then keep track of which different error messages we see and when, and fix each one in turn.

[2018-05-06 02:02] prastle commented on #3409
yup read that days ago
and i need a lobby that doesn't  fail with a months notice
and bots that don't need 12 hrs to get working with someone adding their own root and removing me.

[2018-05-06 02:02] DanVanAtta commented on #3409
Ya.. me too.

[2018-05-06 02:03] DanVanAtta commented on #3409
You need to bring @RoiEXLab @ssoloff me, or @ron-murhammer  please next time.

[2018-05-06 02:04] prastle commented on #3409
brought roi
ron on holidays
also asked ssoloff

[2018-05-06 02:04] prastle commented on #3409
also if you check gitter
you will see time stamp

[2018-05-06 02:04] prastle commented on #3409
you got an email as well

[2018-05-06 02:07] prastle commented on #3409
So to be blunt since the lobby and forum pay for triplea and we have 600 in account after my donation last week myself of another hundred how about the lobby and forum become a concern?  Instead of all the other GitHub stuff.

[2018-05-06 02:08] DanVanAtta commented on #3409
okay, you did what you needed. We're a volunteer project. I've personally other professional commitments that 100% take priority, and some days I will not at all be available. I suspect others are falling into that case more and more often.

Look, us bickering helps nothing.

We need to start tracking errors, analyzing why bots are failing, exactly from a system level. We should then be able to cl

[2018-05-06 02:08] prastle commented on #3409
simple answer
bots are failing because no forced uupdate

[2018-05-06 02:11] prastle commented on #3409
To be blunt
I could care lless about root still think i need it BUT a rare thing.  What we need is three things. One admin works with old roi triplea scripts.
two a list all admin can use that get the admin ssh !!' = they need putty etc AND KNOW A BIT

[2018-05-06 02:12] prastle commented on #3409
three only admin you feel are worthy get ssh

[2018-05-06 02:12] prastle commented on #3409
either way we need more than 2 peeps available if the whole system crashes which it did

[2018-05-06 02:13] prastle commented on #3409
so root needs more than 3 peeps

[2018-05-06 02:14] DanVanAtta commented on #3409
ya, and we don't have them.

Are there any current problems?

Please pay for papertrail @prastle , the $5 per month so we can get some log history going.
I'm going to be gone for next 3 days, I'll take a look at bot issues when I get back.
@RoiEXLab please take a look in the meantime.

@prastle please create a github issue whenever there is a bot crash, create oen every time you have to mess or f*

[2018-05-06 02:15] DanVanAtta opened #3412 "Papertrail"
Having all our logs in a central place available in a web console is really useful.

@prastle could you please use the triplea fund to do the $5 per month account.

[2018-05-06 02:15] DanVanAtta commented on #3409
papertrail action item: https://github.com/triplea-game/triplea/issues/3412 @prastle

[2018-05-06 02:16] prastle commented on #3409
sure round 18 one player
ghost bot
to be specific hey dont crash they just don't reload

[2018-05-06 02:16] DanVanAtta opened #3413 "Bots are very flaky / not stable / crashing, requiring daily maintenance"
Tracking ticket to document what we discover with bots.
@RoiEXLab @ssoloff @ron-murhammer please dig in as you can...

@prastle is reporting that bots are crashing pretty frequently, hourly basis, application restarts are needed daily and if not more frequently.

[2018-05-06 02:17] DanVanAtta commented on #3409
https://github.com/triplea-game/triplea/issues/3413  << ticket for bot flakiness, investigation. @prastle good place to describe any problems, but please try to be concise, clear and specific as best you can.

[2018-05-06 02:17] prastle commented on #3412
dan we have 600? plus in the linode account
buy it :)

[2018-05-06 02:20] DanVanAtta opened #3414 "Bot / Lobby should be able to survive a system restart"
This is a task tracking ticket, we need to have the bot/lobby servers to be able to survive a system restart and boot back up cleanly without by-hand intervention.

[2018-05-06 02:28] prastle commented on #3409
I have not had any complaints about marti so i assume it launched fine?   Did anyone have to  tweak?

[2018-05-06 08:49] RoiEXLab commented on #3414
Problem 1: https://github.com/triplea-game/infrastructure/issues/42

Problem 2: network configuration issue, similar to the lobby issue a while back, the ipv4 network interface didn't start due to an invalid line in the startup script.
Hard to track down the root cause, might be related to uninstalling or updating sendmail? Details in #3409

[2018-05-06 08:50] RoiEXLab commented on #3409
@prastle Didn't have to do anything once the server network was running again.
Closing this issue as several others were created.

[2018-05-06 08:50] #3409 closed

[2018-05-06 13:13] prastle commented on #3412
@DanVanAtta looked into it perhaps we want the $6. a month plan which lets you search for 3 days?  Either way they don't take paypal.

[2018-05-06 15:15] prastle commented on #3412
@DanVanAtta  Upgraded us to 60 a year 3 day search 1 gb hopefully that is what you needed.

[2018-05-08 03:34] Cernelius opened #3415 "I Cannot Find My Autosave (1.9.0.0.10225)"
I have a problem that may also be a general issue.

I was playing just now a "270BC 40%" multiplayer game, in my private host, and I closed it due to issues in my private host, and, in the confusion, I didn't take a save.

The engine used to take autosaves, but now I go trying to reload it and the save is nowhere to be found.

**Do the engine still take autosaves? Where?**

I was playing with 1.9.

[2018-05-08 17:56] panther2 commented on #3415
I would like to help, but I don't understand your question. You have listed your autosaves so you have found them... or are all those empty files?

What date and time do those files have - when have they been created? Aren't they from your game?

Of course the autosaves save at certain points during the game. So chances are that a small part of action (after saving until leaving the game) is missi

[2018-05-08 19:58] Cernelius commented on #3415
None of those are my game. They are all old autosaves.
I've checked now the "savedGames" folder, and the only saves taken the same day are connection losts saves (that is not what I need, because it was me closing the game, there).
"autosave" and "autosave2" are 2018/02/28. All others I listed are older, apparently.
So where does the program autosaves now? Is nobody getting autosaves anymore?

[2018-05-08 20:08] Cernelius commented on #3415
Nevermind I see there is an "autoSave" folder now. I should have immagined.
I've lots of folders in there, as I like to archive the saves separately; so that is probably otherwise obvious to spot, for new users.

[2018-05-08 20:08] #3415 closed

[2018-05-09 14:28] #3270 closed

[2018-05-09 16:32] DanVanAtta commented on #3414
Cool, sounds like we're close to having this resolved. We should confirm that this is the fixed by doing a test restart and verifying things come up well.

[2018-05-10 03:16] DanVanAtta opened #3417 "Disaster recovery plan"
Task here: work out the details of a disaster recovery (DR) plan, where to post and content.

There are a number of topics to decide:
- 1. How are p0 events initiated, is this a forum post? a github issue tagged with a label?
- 2. how are p0 events escalated. This needs to be automated, probably an email notification (which can be sent to an SMS email address if desired)
- 3. How will admin commun

[2018-05-10 03:24] DanVanAtta opened #3418 "Need a TripleA How-to System Admin Doc"
One question for group, should this doc be public or private? As public we gain open source benefits, and we reduce the number of secrets we have. As private on the other hand we can include bot IP addresses (I would say passwords, but we already have those stored securely elsewhere, would not be good to mix them in that doc).

Second, we need to get the doc completed and shared. I would like @pra

[2018-05-10 03:25] DanVanAtta commented on #3418
We do have a start of this document that is private, that would be a good starting point as it is a good chunk of this task already completed.

[2018-05-10 03:33] DanVanAtta opened #3419 "we need automated systematic backups of DB data"
To my knowledge there is no automated job to run postgres dump and get a copy of DB as backup.

We need to do this manually until we have a systematic way to do this in place. The mechanism should be installed via the infrastructure scripts.

This is a p1 as it's really dangerous to not have an active copy of DB handy. I have a dump used for test data that is maybe 2 weeks old, that is nothing we

[2018-05-10 03:37] DanVanAtta commented on #3419
Requirement note: the backups can be stored locally, but must also/or be sent off-server. Assume in the disaster scenario where we need these backups that the DB server is physically dead.

[2018-05-10 03:41] DanVanAtta opened #3420 "Set up a new lobby stack, Disaster preparedness"
I suggest that as an exercise, we each spin up a linode server and install a full lobby+DB stack on it, install data from backup, then login to the lobby from the game client.

For this we would assign the task to everyone, we could un-assign as we each complete it. What does everyone think?  Would this be a good drill? I'm reluctant to document this in favor of using the infrastructure scripts. T

[2018-05-10 03:42] DanVanAtta commented on #3420
Assigning to everyone for input on this topic; it's pretty important we have good coverage in case things go wrong and that we all know what to do.

[2018-05-10 03:58] DanVanAtta commented on #3412
Thanks @prastle !

We are actually not that far over 100MB which would qualify us for a free plan if we could get under that. I suspect as we do more lobby activity logging, that will become more difficult (but perhaps we can get there and save on our project's yearly cost).

I'll close this otherwise as the task has been accomplished.

[2018-05-10 03:58] #3412 closed

[2018-05-10 04:01] DanVanAtta commented on #3411
invite sent: https://github.com/orgs/triplea-maps/teams/elreigh/members

if you have the map hosted on a repo, and provide us a link, we can fork it into the triplea-maps repo and then add your ownership to it.

[2018-05-10 08:14] RoiEXLab commented on #3419
@DanVanAtta An option would be to spend some money on linode to have them automatically create backups of the complete image for us.
This way applying the backup would be super simple.
The same is true for the forum server as well.

[2018-05-10 21:52] prastle commented on #3420
Without bringing up old  arguments I attempted to do that with all Council and Devs and Admin here.  Then it all changed again ...
https://forums.triplea-game.org/topic/653/server-admin-information/57
I guess ya need to ask all admin if they want to go through the new hoops...

[2018-05-10 21:59] prastle commented on #3420
@DanVanAtta  Off topic but concerning this Infra relaunch from linode is great! BUT it still reduces us to the linode members once working which I think you pointed out elsewhere.