[2017-08-18 00:47] RoiEXLab commented on #2244
@ssoloff Interesting: The build only fails for the tagged versions, the [current build for the master branch is not affected](https://travis-ci.org/triplea-game/triplea/builds/265787803), whats different with tags?

[2017-08-18 01:13] RoiEXLab commented on #2244
It seems this was just some temporary issue with travis...
I restarted all the failing builds, and they returned 0.
Closing...

[2017-08-18 01:57] Cernelius commented on #2222
What does "adding one option per retreat territory" mean?

[2017-08-18 02:36] RoiEXLab commented on #2111
@ssoloff I pushed my first "working, but not really" alpha version to git. There's still a lot to do, so I created a todo list: https://github.com/triplea-game/dice-server-js/issues/1
Any insights and suggestions (also commits of course) would be really helpful! @DanVanAtta @ron-murhammer

[2017-08-18 03:02] ssoloff commented on #2244
This just happened again with @ron-murhammer's latest PR (build [6212](https://travis-ci.org/triplea-game/triplea/builds/265814355)).

The failures appear to be intermittent, so I would expect running a previously-failed build might succeed on subsequent attempts.  That probably does not indicate the issue has been resolved.  I'm going to try to reproduce on my fork with additional logging to see

[2017-08-18 03:21] ssoloff commented on #2244
It looks like sometime in the last 24 hours, Travis changed the build image to automatically disable the Gradle daemon:

[code]

[Build 6202](https://travis-ci.org/triplea-game/triplea/builds/265420054) was the last build to use the Gradle daemon, while [build 6204](https://travis-ci.org/triplea-game/triplea/builds/265652194) was the first build to exhibit the above log message.  Build 6205 was th

[2017-08-18 03:40] ssoloff commented on #2244
Yup, looks like Travis disabled the Gradle daemon by default yesterday: travis-ci/travis-ci#8205.

[2017-08-18 03:45] Cernelius commented on #2236
The matter with bugs in forum, instead of in this Issue tracker, that it is obviously the right place to track bugs, as the sourceforge bug tracker was previously to GitHub, is not discussing the bug in forum, but the fact that my experience tells me that very few normal users report bugs in GitHub, even when instructed and directed to (by me).

To be clear, you are not getting bug reports in here

[2017-08-18 04:26] ssoloff commented on #2244
Funny...  A similar problem was [reported](https://stackoverflow.com/questions/38967991/why-are-my-gradle-builds-dying-with-exit-code-137), but the root cause was apparently due to _using_ the Gradle daemon; disabling the daemon fixed the issue.

[2017-08-18 05:47] ssoloff commented on #2225
I checked this on Linux one last time in the 1.9.0.0.6225 release.  Everything looks good.  Please re-open if anyone still experiences this issue on other platforms.

[2017-08-18 05:47] #2225 closed

[2017-08-18 06:33] simon33-2 commented on #2222
Reworded.

[2017-08-18 07:05] simon33-2 commented on #2219
Tangentially related but I've noticed a couple of times units bought being counted twice when "buy" is clicked twice. Not sure how to reproduce it though.

[2017-08-18 07:43] panther2 commented on #2219
FWIW, I just want to add here that in "A&A"games you regularly are allowed to "purchase as much as you can **afford**". Consequences of an overbuy are different depending on the game version (map). But those conseqences are part of the the `unit placement` phase.

The official FAQ of Global added the interdiction of "intentional overbuy" - but this is subject to argue between the players and not s

[2017-08-18 08:24] simon33-2 commented on #2217
Macs are particularly bad for this.

You should also have buttons for scramble, intercept, Kamikaze.

[2017-08-18 11:24] RoiEXLab commented on #2244
Is this still an issue?
Currently builds are passing.

[2017-08-18 15:48] ssoloff commented on #2244
Yes, several builds failed last night.  So far, I've only seen the problem occur when building tags and PR branches.  I was finally able to get it to fail on a feature branch in my fork.  I plan on doing some more debugging later today.

[2017-08-18 17:38] ssoloff commented on #2244
I was able to repro the failure on my fork and captured the `dmesg` logs after the build stopped:

[code]

Approximately 3.5 minutes into the build (while the `test` task is running), available memory appears to be running out, and the Linux OOM Killer kicks in.  It kills two `mysqld` processes before finally killing a `java` process, which is presumably our Gradle test executor.

If I'm reading t

[2017-08-18 17:41] Cernelius commented on #2236
If it would be up to me, on that latest bunch I would say:

.I don't understand:
6157 - Different staging screen treatments

.GitHub triplea-game:
6157 - no 'unmute' option
6157 - default player name for network games should be same as lobby player name
6157 - Missing step name pop-up in combat
6157 - combat button text is truncated, could use some hover text
6157 - 'quit' does not actually quit t

[2017-08-19 02:14] RoiEXLab commented on #2221
@DanVanAtta They are supposed to (unless install4j is buggy), the overwrite mode is set to 4 which means replace always as I suppose (if this is not the case the installer would replace none of the files including the jar file).
For the vmoptions file I chose update if newer, otherwise ask. (Although this is not really necessary as JVM options don't change very often).
Here you can see all of the

[2017-08-19 02:14] #2221 closed

[2017-08-19 04:06] ssoloff commented on #2244
In addition to the `dmesg` logs, I modified the build to take a snapshot of process memory usage every 30 seconds, as well as one final time before the build ends.  There's a couple of interesting things in this data.  For reference, I've attached `ps` logs from a [failing build](https://github.com/triplea-game/triplea/files/1236029/ps-snapshots-fail-without-daemon.txt) without the Gradle daemon a

[2017-08-19 04:38] ssoloff commented on #2244
Looking at the `ps` snapshots again, I think I now know why the daemon build succeeds while the non-daemon build fails.

If you look at the command line arguments for the Gradle daemon process, you'll see that `-Xmx1024m` is explicitly specified.  Therefore, the daemon process heap has a reasonable upper bound, which we can confirm in the maximum RSS usage from the `ps` snapshots.

However, there

[2017-08-19 04:42] ssoloff commented on #2244
Yeah, getting the _host's_ available memory rather than the _container's_ is the expected behavior: https://developers.redhat.com/blog/2017/03/14/java-inside-docker/

[2017-08-19 06:32] simon33-2 commented on #2219
I don't know @panther2 , if it wasn't for the USA facility upgrade bug, I think it would be preferred to prohibit overbuys.

[2017-08-19 07:23] panther2 commented on #2219
Indeed, @simon33-2 the USA facility upgrade bug is a point in global.
That brought me to remember our last year's discussion, especially my answer here:
https://github.com/triplea-maps/world_war_ii_global/issues/4#issuecomment-244552740

The addition of the prohibition of the "intentional overbuy" into the FAQ did not remove the refund for units that were overbuyed and would be replaced.

So in ca

[2017-08-19 16:44] prastle commented on #2236
Yes I think Cer nailed it well with his explanation of bugs in forum.

  "The matter with bugs in forum, instead of in this Issue tracker, that it is obviously the right place to track bugs, as the sourceforge bug tracker was previously to GitHub, is not discussing the bug in forum, but the fact that my experience tells me that very few normal users report bugs in GitHub, even when instructed and

[2017-08-19 17:52] prastle commented on #2100
Some good news! Just got a small windfall from and old customer.  Unexpected money is always nice :)

If you give me the details ill pay it myself @RoiEXLab

[2017-08-19 17:59] RoiEXLab commented on #2100
Will do on Gitter @prastle

[2017-08-19 18:51] prastle commented on #2100
think ur asleep :) but no worries!  think you or dan should open that account with what ya need.  Just need account details for email transfer. Or Paypal or charge card.

[2017-08-20 00:10] prastle commented on #2100
Thanks for walking me through it @RoiEXLab  hope that helps
:)

[2017-08-20 17:44] Cernelius commented on #1332
If nobody did any of the things at my post above or the matter wasn't otherwise solved, I suppose it is still open.

My suggestion is first, as I said:

Then I guess I may take a look myself and see what to suggest.

I want also to reference this:
https://forums.triplea-game.org/topic/180/land-transport-improvements/2
in which @ron-murhammer appears wanting to deprecate the "isInfantry" property,

[2017-08-20 17:47] Cernelius commented on #1332
To be clear, I'm suggesting someone to run a search of the above and give here the full list of all games in which it is positive. Then I can take a look at each one if, say, they are about a score.

[2017-08-20 17:49] Cernelius commented on #1332
And I think it is needed getting around sorting this out and, possibly, solving and closing it.

[2017-08-20 17:56] Cernelius commented on #1332
Especially if they would be too many, it would be actually preferable:

Search all games having these codes in the same attachment:

`name="isInfantry" value="false"`
`name="isInfantry" value="true"`

Search all games having these codes in the same attachment:

`name="isAirTransportable" value="false"`
`name="isAirTransportable" value="true"`

That would show exactly what we need to know; I just d

[2017-08-20 18:31] Cernelius commented on #1332
Do you mean that you have cleaned it up somehow already or that it is to be cleaned up yet? I understood that you meant it has to be, not that you did it.
The problem is that one plus "isAirTransportable" alike.

[2017-08-20 22:38] prastle commented on #1332
your a trooper cernel  :)

[2017-08-21 01:00] RoiEXLab commented on #2180
Closing due to inactivity, will reopen once @rotorhead321 provides more details as requested by @ssoloff .

[2017-08-21 01:00] #2180 closed

[2017-08-21 10:38] simon33-2 commented on #2216
The only real issue I have with it is that the summary is not presented as a final figure. Should be (in the example) something like:
Carthage collect 1528PUs to hold 1529PUs.
54PUs from territories, increased by a factor of 999%
999PUs additional.

Or something like that. Point being that it first gives you a final figure then changes it. That is pretty dislikeable.

[2017-08-22 00:17] luckylow opened #2255 "Lower Luck"
I thought about another Low Luck variant: Each round of combat only one die is rolled for both attacker and defender, i.e. both have the same die result.

Thanks for TripleA!
tim

[2017-08-22 01:34] ron-murhammer commented on #2255
@luckylow I think most players want more luck than LL not less. Here is the current feature discussion on alternative luck modes: https://forums.triplea-game.org/topic/212/moderate-luck-option

[2017-08-22 01:34] #2255 closed

[2017-08-22 12:22] panther2 opened #2256 "Incorrect unit repair"
### My Operating System:
Win 7/64

### TripleA version:
1.9.0.0.6242 (noted with)

### Map:
ww2Global40_2nd_Ed

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Move your damaged capital ship (Battleship or Carrier) to a friendly naval base.
On the next Purchase and Repair Phase it will be repaired even if your capital is in enemy's hand.

### Instead

[2017-08-22 23:06] Cernelius opened #2259 "Non-Blitz Land Units Can Move After Capturing a Territory During Non Combat Move (1.9.0.0.6115)"
A "mech_infantry" of WWII Global that captures alone an empty hostile territory with its first move is correctly blocked during Combat Move but it can move on during the subsequent Non Combat Move.
[BugReport_Cernel_20170823_World War II Global 1940 2nd Edition.zip](https://github.com/triplea-game/triplea/files/1243635/BugReport_Cernel_20170823_World.War.II.Global.1940.2nd.Edition.zip)

I believe

[2017-08-23 04:22] ssoloff commented on #2231
It looks like this will require the addition of a few new "unmute" methods to `IServerMessenger`.  The only thing that I'm not sure about is if `IServerMessenger` methods can be invoked remotely because, if they are, adding new methods will introduce a compatibility issue with old releases, as we've discovered in two other recent PRs.  My cursory research seems to indicate that `IServerMessenger`

[2017-08-23 11:53] panther2 commented on #2259
@Cernelius
I was not able to open your extracted savegame, due to an error when opening.
But I can confirm your issue, having created a respective sitaution with TripleA

No unit - except air units - should be ever allowed to move as well during CM as during NCM.

There is a somehow related note in the document to be found here:
https://github.com/triplea-maps/world_war_ii_global/issues/2

[2017-08-23 14:06] Cernelius commented on #2259
Actually, I was not talking about that, but about units unable to blitz only.
Meaning that this bug report was not about the limit that "No unit - except air units - should be ever allowed to move as well during CM as during NCM", but about the rule that units unable to bliz should be blocked in the first hostile territory they enter, and stay blocked in there till their endturn.

**I'm fine with

[2017-08-23 14:49] RoiEXLab commented on #1505
Just some concluding words, summing up my own opinion:
After hearing your concerns, we should IMO opinion go for a WebSockets API and send JSON back and forth.
Ideally this JSON should be gzip/deflate compressed, depending on browser support, in order to send less data overall.
I'd like to have a consistent JSON scheme to make overall reading much simpler e.g. have all JSON look like this:
[code]

[2017-08-23 16:20] panther2 commented on #2259
How should I have gotten that from your first posting?

This is simply against the rules, as correctly pointed out, and this is what I confirmed.

In Global the tank is the only unit that can blitz. A Mech Inf is only able to blitz, when paired with a tank.
I don't know how this matters regarding your issue, so I am adding this just for completeness.

Just ignore it in case it is useless.

[2017-08-23 16:53] Cernelius commented on #2259
And thanks for the confirmation on point 1.
If you (or anyone) can also confirm point 2, that would close the confirmation needs (no doubt this is wrong, but a confirmation is always good to have, in case any developers might need it).

Basically, what the engine is doing here, is for a "mech_infantry" alone having a half-blitz capability, allowing it to blitz only if moving on to friendly territo

[2017-08-23 17:35] prastle commented on #2259
IF all above is correct i agree cer

What i can say is wow that is a long read ....

I cant confirm or deny since if I noticed it happening I definitely would have said against the rules!

I will trust that u have seen it occur and vote yes

[2017-08-23 19:35] RoiEXLab commented on #2100
When creating the certificate, what should I choose as organisation name?
Candidates:
TripleA
TripleA Org
TripleA Organisation
TripleA Developers
TripleA Development Team
Other suggestions?

@DanVanAtta @ron-murhammer @ssoloff

[2017-08-23 20:04] panther2 commented on #2259
Regarding No 1 I would definitely vote for a fix (including a property for disabling it) - at least many A&A players would love to see TripleA being as rules compliant as possible
Regarding No 2 I confirm you are right, the lonely Mech Inf must stop (even in an empty territory), as must a Tank (in case the Tank meets enemy units or enemy infrastructure in that territory)

[2017-08-23 20:39] ssoloff commented on #2259
Just confirming that the attached save game can't be loaded in the latest pre-releases because it was created with 1.9.0.0.6115, which had a save game compatibility regression.  That regression was fixed in 1.9.0.0.6147 (#2208).

[2017-08-23 20:41] Cernelius commented on #2259
Just to avoid misunderstandings, I'll clarify that @panther2 with:

means that "the lonely mech_infantry must always stop (even in an empty territory), like an armour would have to in case of meeting enemy units able to block blitzing (any units in WWII Global)".

[2017-08-23 20:51] Cernelius commented on #2259
So, for this bug, my suggestion is to target the problem related to no-blitz units only, and make sure that the "mech_infantry" (or whatever the like) stays blocked until its EndTurn phase (currently, it is correctly blocked during CM, but stops being blocked at the start of NCM, instead).

Practically, there is something in the engine that un-block the no-blitz unit at the start of NCM, while thi

[2017-08-24 00:52] ron-murhammer commented on #2256
@panther2 Is this a new bug or has this always existed in TripleA?

[2017-08-24 00:53] ron-murhammer commented on #2259
@Cernelius Does this issue occur on other maps like WaW/NWO as well for non-blitz multi-move units?

[2017-08-24 01:13] Cernelius commented on #2259
It happens in any maps having non-blitz multi-move units, which means not in WAW or NWO, where all multi-move units are able to blitz.

I guess it should be an easy fix. The non-blitz units are already correctly handled during CM. It just needs to avoid NCM to unblock them (endturn should unblock).

[2017-08-24 01:19] Cernelius commented on #2259
Thinking again about it, instead of EndTurn, it would be probably better that the reset movement unblocks the no-blitz units. I mean this:

I'm thinking it would be logical the most to stay with "wasInCombat" (the one that blocks the units that made combat).

[2017-08-24 01:22] Cernelius commented on #2259
So, yah, I think default the no-blitz block for having taken undefended hostile territory should be resetted at end of NonCombatMove, or at any point in which "resetUnitState" is true.

[2017-08-24 01:27] Cernelius commented on #2256
Yah, I was just thinking you may want to add a ### step specifically asking if the issue is known to be absent in a previous version (like if it is something that used to work fine for the user, until recently). Just saying.

[2017-08-24 01:27] ssoloff commented on #2256
I believe it happens in 1.9.0.0.3635, as well.  Not sure if I reproduced it correctly, though.  I had to use edit mode to give the battleship in SZ 93 one hit during France's first turn after load, and then observed it get repaired at the start of France's following turn.

[2017-08-24 02:20] ssoloff commented on #2226
Confirmed fixed in 1.9.0.0.6263.

[2017-08-24 02:20] #2226 closed

[2017-08-24 05:16] ssoloff commented on #2100
I looked at some other open source projects to see what ON they use on their certificates:

* The ones that had registered non-profit corporations obviously used the corporation name.
* The ones that did not have a corporation used the name of an individual involved in the project.  I couldn't find any that used something else like the project name.

Without any other OSS projects to use as guidan

[2017-08-24 07:23] panther2 commented on #2256
It was because of the above stated discussion that I tested paticularly this issue.
I am not aware that it had been subject to discussion before, but chances are that the issue had been there before.

@ssoloff - using the savegame in history mode shows the issue (Fr1, Fr2), too.

[2017-08-24 11:08] simon33-2 commented on #1768
I've noticed that running differing engine versions causes crashes when there is a bombardment. Should this "feature" be fixed or should we just say that you have to upgrade to use a bot or vice versa? I think it would be nice if it could be backwards and forwards compatible.

Trace with a build 3635 host, build 4684 client:
java.lang.ArrayIndexOutOfBoundsException: 1
	at games.strategy.engine.mes

[2017-08-24 12:19] prastle commented on #2100
We are non-profit but not registered.  This really only matters if we have over $10 000.00 in donations a year from what I read with Pay Pal.  Maybe just stick with TripleA?

[2017-08-24 19:15] Cernelius commented on #2259
To be clear, in the current engine you can move a ship or an armour of 1 during CM and of another 1 during NCM. This is against the rules, too, but here I'm not asking to fix that (and I actually would not want that to be fixed, unless with a property for not having the fix).

[2017-08-24 20:41] panther2 commented on #2259
I will open a separate issue for it, then.

[2017-08-24 20:49] panther2 opened #2266 "No unit - except air units - should be allowed to move during both CM and NCM during the same turn (6242)"
### My Operating System:
Win 7/64
### TripleA version:
1.9.0.0.6242 and 6263
### Map:
WWII-Global
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Move a tank one space to invade an empty enemy territory during CM. You will be able to move it back during NCM.

### Any additional information that may help:

This is a follow up to https://github.com/tri

[2017-08-24 21:18] panther2 commented on #2236
From my forum experience "bugs" reported there are often related to misunderstandings, wrong settings, problems with Java and the OS. So for these the forum is the perfect place to report, as regularly they can be resolved quickly.

This is why I vote for Github as "real" bug tracker and the forum as additional platform to report.

[2017-08-24 23:02] ron-murhammer commented on #2266
@panther2 @Cernelius This is technically a bug when compared to strict A&A rules. I think we need to open a forum thread to get some input from folks on if there is a sizable majority that want this fixed or if there are a lot of people that don't like this rule: https://forums.triplea-game.org/topic/301/no-unit-except-air-units-should-be-allowed-to-move-as-well-in-cm-as-in-ncm

@panther2 If you k

[2017-08-24 23:43] prastle commented on #2266
It is kinda a minor point. BUT it is completely ilegal to blitz a country (1 move only) and then retreat in non combat.  The real ? is how much work is it to fix this?

[2017-08-24 23:46] Cernelius commented on #2266
I strongly hope this bug won't be fixed or, if fixed, a property be made for still having it.

[2017-08-25 00:22] Cernelius commented on #2266
I want to point out that at least 2 games (made by me), currently in the repository, make use of this bug of not-air units to split movement between CM and NCM, and have this special allowance notified in "Notes":

https://github.com/triplea-maps/270bc_variants/blob/master/map/games/270BC_40%25.xml
https://github.com/triplea-maps/270bc_variants/blob/master/map/games/270BC_Cernel.xml

This is what

[2017-08-25 00:31] prastle commented on #2266
The memory of an elephant :) Agree Cer

[2017-08-25 00:38] Cernelius commented on #2266
This is another example of why this rule is silly, by @veqryn

http://tripleadev.1671093.n2.nabble.com/Movement-during-CM-and-NCM-tp6989743p6995284.html

I don't see much of a point in fixing silly rules just because they exist, but I guess it has a value for people being really into the traditional games; just I strongly suggest this having an opt-out property, if anyone really wants to fix it. T

[2017-08-25 00:49] Cernelius commented on #2259
To me now it reads that they are moving "After Attacking During Non Combat Move", which is not possible, and anyway that is not the matter, as they are correctly blocked if they attacked anything, just not if they conquered or liberated a hostile empty territory, but whatever works best for the ones working on it is good (minor note).

[2017-08-25 01:03] DanVanAtta commented on #2237
'priority' labels and as a topic has come up a few times. The thing to solve is definitions when we have "Critical, High, Medium, Low", and secondly purpose.

I do see a reason for a `p0` label, and a pretty clear definition.

***Reason & Purpose***: To communicate to game devs, admins and community that there is a known major problem. Provide a centralized place to coordinate resolution and mitig

[2017-08-25 01:12] DanVanAtta commented on #2222
Indeed, no suggestion to revert, but a fresh look for further improvement!

I think as you guys have suggested, a second control to 'zoom to territory' or 'show territory' seems workable as well.

If anyone is inclined to look at this problem in detail, there are other approaches too. We could agument the battle window somewhere to always show the attacking and defending territories. Then a second

[2017-08-25 01:13] DanVanAtta commented on #2219
An additional consideration, would be great if we had a way to indicate somewhere if over-bought units would be lost, refunded, or held over to the next turn. I don't know if we expose that property/setting anywhere at all in the UI.

[2017-08-25 01:38] DanVanAtta commented on #1505
I think we're on the same page. The exact JSON structure used is an interesting thing to consider, a number of different ways to do that. Though, I do think we have at least made a few steps forward. We may want to track this initiative as a project so we can relate the different ideas/PRs as they come up

[2017-08-25 02:52] DanVanAtta commented on #2236
Thanks for the feedback @Cernelius (and all). I suggest we continue to track all usability issues in github only.* We need a developer who is willing to own or fix any one of them before it is ever worth discussing as a larger group. This way we keep github as a single list of items that should not be left 'as-is'.

A key point then is that it is up to the developer the freedom to open a forum pos

[2017-08-25 03:13] DanVanAtta commented on #2256
:champagne: for @panther2 on this bug report.

For clarity on the build version prefix '6242'. It is not 'earliest known' version, but version tested and reported. Helpful for tester coordination. I want the first question for such reports to be  "is this a major" before we ask whether it is live or not.

[2017-08-25 03:32] DanVanAtta opened #2267 "Pls add Testing group as contributors"
@ron-murhammer can we mark members of the 'testing' group (so needs a better name!), as contributors on this repo? For now that would be: @panther2 and @prastle .

I'm thinking it's best to give the option to add some initial labels to a tester. This way it's the test reporter that uses 'p0' or 'blocker' to escalate major problems found when testing. This gives us a good bit of information when se

[2017-08-25 03:34] DanVanAtta commented on #2267
Assigning to @ron-murhammer for the specific action item and/or feedback. The process part of this topic is an open conversation though, please anyone feel free to add their 2 cents as helpful.

[2017-08-25 05:31] DanVanAtta opened #2269 "Lobby upgrade, postgres go-live"
Tracking tasks for lobby upgrade:

- [x] test latest lobby with current client: 3635
- [ ] double check postgres readiness, verify documentation exists on how to set that up, verify process status and  connnect to DB from CLI
- [x] verify postgres is installed on lobby server
- [ ] update lobby upgrade notes and documentation, verify that process and the install script
-----

Execute upgrade:

- [

[2017-08-25 07:21] panther2 commented on #2266
@ron-murhammer
Wow, this is the first time (ever) that I feel I have to justify for opening an issue and ask for a bugfix.
You and other developpers have always asked me in the past to point out as much bugs and rules inconsitencies as possible.

I can only speak for A&A-players, and on our forum the desire for TripleA being as rules compliant as possible has always been high. Of course, maybe we

[2017-08-25 07:44] panther2 commented on #2256
Thank you @DanVanAtta , and good point, too.

[2017-08-25 08:48] simon33-2 commented on #2219
There is a setting? Is it a map property?

[2017-08-25 10:53] veqryn commented on #2266
Please keep posting bugs panther.

It may be a silly rule (i said so myself), but our goal as always is to create a fully rules-complaint engine for all A&A versions.

The main considerations when prioritizing any bugs or work will be:
1. How important is it?  (ie: is it a game breaking bug?)
2. How easy is it to workaround, and how much does the workaround impact the game?
3. How difficult is it

[2017-08-25 11:25] panther2 commented on #2266
Thank you for your encouraging words, @veqryn !

[2017-08-25 11:30] RoiEXLab commented on #2231
@DanVanAtta If we remove a "mute xyz in chat" option, we should provide a "disable" or hide chat option though, which simply does not display the chat at all, and doesn't allow the user himself to write messages until he re-enables the chat again.

[2017-08-25 11:33] RoiEXLab commented on #2267
@DanVanAtta Just a small side note here: Assigning labels etc. requires Write Permission to this Repo

[2017-08-25 11:43] RoiEXLab commented on #2269
@DanVanAtta I can confirm postgres is already installed on the lobby server. (Version 9.5+173)
Not sure how it's setup though.
The lobby server needs a full restart in order to update, we should do that just before we update the lobby to use the opportunity

[2017-08-25 12:17] panther2 commented on #2267
Thank you for considering this. Apart from the usability it would be an honour to be part of it.

Regarding permissions: I would never interfere in things I have no clue about (not being a programmer).

[2017-08-25 12:18] RoiEXLab commented on #2267
@panther2 I'm sure you wont ^^
Just wanted to mention it, so you just get the read permission and @DanVanAtta wonders why the newly created labels are not being used or whatever ^^

[2017-08-25 12:22] RoiEXLab commented on #2100
So summing up:
Valid name considerations are still:
 - TripleA (I'd like to avoid that one, as this is not a good name for a group)
 - TripleA Development Team (My favourite ❤️ )
 - TripleA Community (Sounds good as well, like the idea behind it)

@DanVanAtta @ron-murhammer Your vote?

[2017-08-25 14:10] Cernelius commented on #2266
This bug report doesn't need to be justified. It is a correct bug report, because the rules (that I personally consider being silly to the extreme here) are clear here, and we all agreed on them, so far.

So, I also believe this should be tagged as "bug".

I don't believe anybody said this is not a bug or that it should not have been reported. If someone did, I disagree.

I know the "silly" argume

[2017-08-25 14:20] Cernelius commented on #2266
To be clear, my preference is this bug being fixed and a property being added for still having the split-everything behaviour (default to false, of course).

I admit it doesn't make sense to say that you prefer a bug not being fixed, and it is kind of silly discussing if to fix or not to fix bugs that everyone agrees they are bugs, but (like it or not) this would be my personal preference, if no w

[2017-08-25 14:28] Cernelius commented on #2266
You never did.

[2017-08-25 15:53] panther2 commented on #2256
@ron-murhammer
While there please note https://github.com/triplea-maps/world_war_ii_global/issues/23

This is very important when it comes to the question where UK damaged battleships can be repaired while Calcutta is in enemy's hands and London is still British.

(For rules details please see starting from http://www.axisandallies.org/forums/index.php?topic=40380.msg1687000#msg1687000 )

Thank yo

[2017-08-25 18:16] RoiEXLab commented on #1505
I just looked into the net code, and this is going to be a similar huge project as the JavaFX project...
1. TripleA uses java NIO, which only has SSL/TLS support with manually using SSLEngine. I found a [promising example](https://examples.javacodegeeks.com/core-java/nio/java-nio-ssl-example/), in order to test some things out, but this example did unfortunetely not work with our code, as our code

[2017-08-25 18:18] RoiEXLab commented on #1505
TL;DR: I'm not going to have more than 1 giant project active at the same time: I'm not going to work on this until JavaFX is reaching it's final state, not going to happen soon (although I will continue working on it soon)

[2017-08-25 19:06] RoiEXLab commented on #2266
I actually like being able to split moves between Phases (as long as all moves in CM-Phase are for combat, and all movesbin NCM-Phase are strictly non-combat, of course), but I think this should be a game specific setting like 2-hit battleship or kamikaze.

[2017-08-25 20:24] DanVanAtta commented on #1505
No worries @RoiEXLab , this has been on the radar for some time, we all really would like something that we can update with compile time checks, and let the devs and game players worry far less about versioning.

[2017-08-25 20:38] DanVanAtta commented on #2266
It can be a preference for players, and in some ways the 'combat move' before 'purchase' optimizes for this. Let's say there are only 2 or 3 moves you have to do during non-combat (AA-gun). There are advantages to moving everything you can if a combat is before purchase:
1. The board looks as much as possible like the 'placement' phase minus the moves dependent on combat. This can make reasoning a

[2017-08-25 21:08] Cernelius commented on #2266
I've made a clear example. I'll clarify it further.

I have 1 "quinquereme" and 3 "legionaries".

In CM, I load the 3 legionaries on the quinquereme, unload 1 legionary to take an undefended Caralis, and keep the other ones on board.
In NCM, after seeing how dice went, I decide if to keep the remaining 2 legionaries on board, or unload 1 or both of them in Caralis.

The above is, in my opinion, a

[2017-08-25 21:28] wirkey commented on #2266
just my 2 cents:
in all A&A games it is the rule that only air units can move during CM AND NCM! While I agree that this is a silly rule (at least in most cases) I think it should be fixed if it is easy to do so. But there should be an option if you want to use that rule or not.

[2017-08-25 22:55] Cernelius commented on #2266
Not necessarily, if you are playing a game with NCM obligations. For example:

http://tripleadev.1671093.n2.nabble.com/Seig-trio-default-rules-discussion-tp7590530p7595713.html

[2017-08-25 23:00] prastle commented on #2266
SIDE NOTE  i hope @RoiEXLab  ideas can save all the sourceforge and warclub :) because once again we talking about same things as discussed before.  pokes @ roi ex one forum and github :) either way yes it would be nice to have both as an option

[2017-08-25 23:03] Cernelius commented on #2266
Also, I want to point out, while I'm talking about carriers, that you may have a game in which you have a carrier you want to use to take a convoy zone, during CM, and, then, use it to move to land air, during NCM, and, maybe, if the carrier moves 3 spaces or more, it can't reach the final destination, maybe needed to land, during CM, because of having to go through a blocked sea zone, that has to

[2017-08-25 23:10] RoiEXLab commented on #2100
bumping @DanVanAtta
I'd really like to hear your vote on this, otherwhise I'll interpret this as "go with your favourite"

[2017-08-25 23:43] DanVanAtta commented on #2266
Taking the convoy zone does not count as an attack? Which map are you referring to for that example?

I don't quite buy this example:

In that case, I would say that moving carrier02 during combat to avoid it being forced to pick up figs is valid even under no-kamikaze. The figs combat move was valid because carrier01 moved, carrier02 is from then on immaterial unless it is able and needed to pick

[2017-08-25 23:45] DanVanAtta commented on #2266
I'm still curious why convoy zone attacks during CM benefit vs NCM, but perhaps immaterial. It may be useful to know the cases where a partial move during CM is really needed/desired. We very well could have maps and features that rely on this rule not being enforced.

[2017-08-25 23:47] DanVanAtta commented on #2100
Do you have any idea what other projects do? My first inclination was to use the project name, but I don't know what is common practice here. I don't have a terribly strong preference one way or the other at the same too as well.

[2017-08-25 23:57] prastle commented on #2100
im fine with the Donkeys :)   all up to u guys np here

[2017-08-26 00:05] prastle commented on #2266
@DanVanAtta  this will be a hard fix!  but to simply answer it affects many maps. Also it is completely against the rules.  It has existed for years.  the simple real ? is it worth fixing or adding a button or ignoring.

  Gamers that know the rules dont cheat.  Sadly the only answer i can give you.

[2017-08-26 00:14] prastle commented on #2100
like the bottom 2 @RoiEXLab  if my vote matters

[2017-08-26 00:19] RoiEXLab commented on #2100
@DanVanAtta I just checked a couple of projects:
OBS uses the main developers name, (btw. also a certum certificate)
Atom uses "Github Inc."
VLC Media Player uses "VideoLan" (org name)
PostgreSQL uses "OPEN SOURCE CONSULTING GROUP INC"

So none of them use the actual Project Name, I wouldn't do either.

[2017-08-26 00:21] RoiEXLab commented on #2100
@prastle Everyones vote matters ^^
This name is going to be pretty permanent (at least for one year), that's why I'm asking for everyones agreement.

[2017-08-26 00:24] RoiEXLab commented on #2100
@ all I will go for 'TripleA Development Team' then unless anyone defenitely wants something else
Currently still waiting for that card reader to arrive here, taking longer than expected
(@prastle somethig else arrived ^^)

[2017-08-26 00:33] Cernelius commented on #2266
For the convoy zone, I was just talking in theory; I've never actually played a map having both convoy zones and carriers, but it is possible. Another example is that you may want to use the ship to take a convoy zone, and then use it to transport something, during NCM. Also a question would be if a ship starting in a hostile convoy zone, because of politics, that takes it without moving, should t

[2017-08-26 00:36] ron-murhammer commented on #2100
@RoiEXLab I'm fine with any of those 3 suggestions.

[2017-08-26 02:23] ron-murhammer commented on #2266
@panther2 Sorry if my original post didn't come off well. I do appreciate the bug reports and the general direction is to be as compliant as possible with the engine enforcing A&A rules. I strongly dislike "player enforced rules" from both a player and AI standpoint.

That being said the issue of moving units during both combat and noncombat has been known for a long time (way before I started eve

[2017-08-26 03:28] Cernelius commented on #2266
As I said, I think the two major rules that have never been enforced in TA are the limits that you can't do non combat movements during CM and the limit that you can't split movements between CM and NCM (aside from air).
For all a series of reasons, most of which I've detailed, I think both these so far unsupported limits should have opt-out properties, if implemented, because I just can't see how

[2017-08-26 06:56] panther2 commented on #2266
That's fine, @ron-murhammer.

It had been explained to me via onlie-chat yesterday, that I - unintentionally - stirred up a hornets' nest with what I thought was just a simple issue concerning an obvious rules violation.
I never expected that much of reaction and certainly did not want to hurt anyone myself - I simply did what I always do here 😄

[2017-08-26 11:19] prastle commented on #2100
ok @RoiEXLab but you also received shipping invoice in your email correct?  So it is on its way right?

[2017-08-26 12:00] RoiEXLab commented on #2100
@prastle Yes, it's on it's way... Should arrive in the next couple days

[2017-08-26 12:05] prastle commented on #2100
Awesome!

[2017-08-26 14:58] prastle commented on #2266
Which is great! @panther2  🥇

[2017-08-26 16:29] Cernelius commented on #2219
No. The only settings shown are the editable ones, and showing them all would not cover all rules, as many are either defined not with properties or have settings beside the related properties.

The mapmaker is supposed to explain in Notes what ruleset the game follows and detail all exceptions to it or provide a rulebook in Notes (like in the case of Total World War). In this case, the mapmaker s

[2017-08-26 20:11] #1723 closed

[2017-08-26 22:37] RoiEXLab commented on #2236
Once we find a solution for this problem, we need to remeber to update the website accordingly...
This issue is opened for years now: https://github.com/triplea-game/triplea-game.github.io/issues/17

[2017-08-27 21:34] RoiEXLab opened #2285 "Upgrade to install4j 7"
Just noticed, that install4j recieved an update to verion 7 in june.
One of the big features is that it allows to create themes for the installer, we could display screenshots of the best maps while installing.
My concern is, that the license TripleA currently uses is only valid for install4j 6, so we might need to reapply for a new license.
@DanVanAtta Any chance you have more insight on this?

[2017-08-28 01:18] ssoloff opened #2286 ""triplea:" URLs do not work on Linux/Firefox"
### My Operating System:
* Fedora 25 4.11.12-200.fc25.x86_64
* Firefox 55.0.1 (64-bit)

### TripleA version:
1.9.0.0.6358

### Map:
N/A

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
* Install TripleA on Linux with symlinks enabled.
* Use Firefox to navigate to `triplea:world_war_ii_classic`.

### Do you have the exact error text? Please copy/paste

[2017-08-28 01:18] ssoloff commented on #2286
@RoiEXLab Please take a look when you have a chance, as the solution may be obvious to you.  Otherwise, I'll dig deeper when I can get around to it.

[2017-08-28 01:23] ssoloff commented on #2100
@RoiEXLab This is just a reminder to update the installer with whatever organization name you chose for the certificate.  Currently, the publisher is set to "TripleA **Developer** Team".  (It's quite possible that this will happen automatically when you add the certificate to the installer, but just in case...)

[2017-08-28 10:04] RoiEXLab commented on #2286
Hmm there are a couple things that could be the issue:
1. Could you verify the generated file in ~/.local/share does contain double quotes as supposed to?
2. Is this a Firefox only problem? Does chromium work without problems?
3. I assume you are typing this link directly into the adress bar, does it work properly when clicking on any links generated by the website?

@ssoloff The reason why it doe

[2017-08-28 11:59] RoiEXLab commented on #2286
@ssoloff Also, while you're testing it: Could you check if this error still persists, when launching TripleA directly from the command line e.g. `/path/to/triplea "triplea:270BC Variants"`?

[2017-08-28 13:20] RoiEXLab commented on #1633
Just mentioning: The "topics" API is now in an open beta stage, so we could potentially revisit this topic again, just one request needed to categorize all of the maps.

I agree with @simon33-2 that this is probably the best idea. @DanVanAtta we still can download specific revisions of the maps, a feature we should use once we change this build step.
Every commit has a SHA-1 hash, and a correspond

[2017-08-28 15:49] DanVanAtta commented on #2219
To clarify the proposed task:
- have a more consistent treatment of 'overbuy' so players can know from the game engine UI how that behavior will be handled given any specific map configuration. This can have two parts:
 1. Know if a warning dialog will be presented if an 'overbuy' is requested from the purchase screen,
 2. Know how an overbuy will be handled if you override the warning (eg: units

[2017-08-28 16:06] DanVanAtta commented on #2236
Problems with long threads, we actually have...

------------------------------

tl;dr

Usability problems are problems, so we track in bug tracker. Developer that wants to pick up such a problem will create forum post when time is right. In contrast, features, just nice to have add-ons, go only in forums since they are not problems, so this way they do not pollute our bug and problem tracking que

[2017-08-28 17:18] ssoloff commented on #2286
@RoiEXLab

Yes, the `Exec` key has the URL argument in double quotes:

[code]

I have Chrome installed, but, for some reason, it doesn't recognize the custom protocol handler.  I didn't try to debug that too long and just punted.

The same problem occurs when downloading via the website.

This works fine using either double quotes or single quotes because the shell is stripping them.  However, if

[2017-08-28 17:23] DanVanAtta commented on #1633
Tracking SHA-1 versions could get very painful. Remember we want the map making process to be self service, needs to be as easy as possible for map makers. We had a travis build so that release numbers could be used, but that overhead was not great for admins and actually made it harder for people to host in github. They tended to throw their hands up seeing their was a piece only we could do. The

[2017-08-28 17:26] RoiEXLab commented on #2286
@ssoloff Thanks for the report! I'm concerned, that this issue is a firefox-linux problem rather than an install4j Problem.
Could you create another protocol handler which runs the echo command or something similar which is the written to a file?
I have an Idea what might be happening:
Maybe firefox on linux tries to be smart, and inserts quotes automatically, so the actual command turns into:
[co

[2017-08-28 17:29] RoiEXLab commented on #1633
@DanVanAtta With an "automatic compilation" map makers don't need to worry about that, the link is generated automatically every time a travis build runs. If we merge not frequently enough for this, we could also use travis "cronjobs" which make travis run every hour/day/week/month automatically without any push

[2017-08-28 17:30] ssoloff commented on #2286
@RoiEXLab

Apparently, this is the problem.  According to the freedesktop.org [Desktop Entry Specification](https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html), the `%u` **must not** be quoted:

I edited my `.desktop` file to remove the quotes around `%u`.  Now when I go to a `triplea:` URL, the error dialog no longer appears, and the Download Maps window is c

[2017-08-28 17:32] RoiEXLab commented on #2286
That shouldn't be too hard to fix... I will submit a PR in about half an hour...
Thanks for the analysis!

[2017-08-28 17:41] DanVanAtta commented on #1633
The update cadence would be wrong, no way to push a new map immediately, and cron builds would generate 99% no-change builds.

Maybe having two files yaml config files would be the way to go, the first one being a 'driver' file for the second that is auto-generated. The seed file would look like the yaml file of today, though it would be missing the download URL. When the version is updated on tha

[2017-08-28 17:43] DanVanAtta commented on #1633
Re: engine versions and map XMLs

I strongly believe we need to add a "XML" version to our XML specs. This way the engine could read for example "version 2.0" and load perhaps a completely different set of parsing rules, but if that if that version is missing then we default the legacy XML parsing.

[2017-08-28 17:57] DanVanAtta commented on #2100
Second reminder:
- pls update dev_docs so we know in a year what to do.
- update/simplify user documentation, the mac 'read me first' file for example can now be removed and our mac steps simplifiied

How will we remember in a year to update the cert once more? I'm curious what we'll do to remind ourselves so we don't get the "expired cert" bug report.

[2017-08-28 18:04] RoiEXLab commented on #2100
@DanVanAtta Will do!

Maybe add an entry to our calendar? :D PRobably the best we can do...
Will have to create the certificate anyways, once this card reader arrives, still hasn't arrived, but I got a notification this morning that it arrived at a german mail company. + I already know exactly what I'm going to do once it arrives, I read the travis docs etc. to properly encrypt it and on how to di

[2017-08-28 18:12] ssoloff commented on #2100
Too bad there's no @RemindMeBot for GitHub issues. :smile:

[2017-08-29 03:08] ssoloff commented on #1950
@RoiEXLab If you're satisfied with the solution in #2289, I believe this issue can be closed.

[2017-08-29 07:06] RoiEXLab commented on #1950
I am.

[2017-08-29 07:06] #1950 closed

[2017-08-29 10:45] RoiEXLab commented on #2100
Hmm unfortunately we can't define a completely custom name for the certificate :(
But we can't complain for about 150$/year less than normal prices...
I will register the certificate on my behalf then, still not satisfied though :/

[2017-08-29 19:35] DanVanAtta commented on #1950
2 cents, it looks like the intent was for logging to be done via 'system.out' and 'system.err', and no formal logging framework was used. The intent then appears that info messages go to 'system.out' which are appended to the console, but it does not open the console if it is closed. 'system.err' on the other hand was to open the console (note the title is "An error occurred").

The log util objec

[2017-08-29 20:07] DanVanAtta opened #2293 "Fix accidental Space bar confirmation (problem while typing, eg: chatting)"
Background: https://forums.triplea-game.org/topic/293/remove-space-bar-for-casualties-confirmation

Task:
- look at any place where an action can be confirmed with a single press of space bar (politics is an example). Check if:
  - if it makes sense to assign a new hotkey for confirmation and space bar can be excluded
  - if a second confirmation prompt would be appropriate
  - if the confirmation

[2017-08-29 20:28] #2286 closed

[2017-08-29 20:36] Cernelius commented on #2293
Just as a side note, for actions (political and user) accept there is the workaround of having 2 or more action accept for the same player. That way, you get asked the same thing twice (or more), and accept it only by accepting it all the times, thus basically working as a confirmation upon accepting (not upon refusing). However, this is a hack, because the multiple is supported for political acti

[2017-08-29 21:35] panther2 opened #2294 "No document behind Help Doc button in Map Maker"
### TripleA version:
1.9.0.6386

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

Run the map creator,
hit the button:

![tra2](https://user-images.githubusercontent.com/20812775/29845132-0dce594c-8d12-11e7-9a56-b3cae639129c.PNG)

Nothing happens.

### Any additional information that may help:

In the past I remember the information provided on this

[2017-08-29 21:40] panther2 opened #2295 "Missing unit of time (AI pause duration)"
### TripleA version:

1.9.0.0.6386

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

Hit engine preferences, under "AI" see
![tra1](https://user-images.githubusercontent.com/20812775/29845504-5c3136e4-8d13-11e7-8633-5b3d44206639.PNG)

Is it 400 milliseconds? What is the maximum?

[2017-08-29 23:31] ron-murhammer commented on #2295
@panther2 Yeah, its milliseconds. I'm pretty sure it used to be there and must have gotten lost in the preferences updates.

[2017-08-30 01:29] ssoloff commented on #2295
@panther2 The permissible range of each setting, where applicable, is now available via tooltip by hovering your cursor over the text field containing the current value (`400`).

[2017-08-30 13:12] #2295 closed

[2017-08-30 14:02] panther2 commented on #2294
Fixed, thanks!

[2017-08-30 14:02] #2294 closed

[2017-08-30 16:16] gavmelv opened #2301 "Dragon War"
### My Operating System:windows 10

### TripleA version: 1.9.0.0.3635

### Map:dragon war

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)no

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:
Zombie Plague slows down (Rnd 5,6) then stops

[2017-08-30 16:17] gavmelv commented on #2301
loving the game/map

[2017-08-31 01:32] ron-murhammer commented on #2301
@FrostionAAA Can you take a look at this?

@gavmelv Uploading the save game here (you need to first zip it then upload it) would be helpful.

[2017-08-31 09:37] RoiEXLab commented on #2100
I'm pretty upset right now, so excuse me if I'm overreacting on things.
As it turns out Cerum only offers certificates when private keys are stored on Smart Cards.
This makes exporting the certificate + private key impossible.
I'm claiming a refund now, and I already found a slightly more expensive alternative, it costs twice as much, but no crypto equipment is required, which is a good sign.
@pra

[2017-08-31 10:04] FrostionAAA commented on #2301
I have just played a 10 round game. Used 1.9.0.0.3635 and downloaded Dragon War. Also ran an AI vs AI game and observed. I cannot see any errors and the console is also empty of errors.

The Zombie plaque acts like it is coded:
•	It can fly into an empty enemy territory during combat move, and not capture it, as it is an air unit.
•	It can also end its round there, again without capturing the terr

[2017-08-31 11:41] gavmelv commented on #2301
Yes, FrostionAAA, I agree that's how things should go with the ZP and on many occasions it has done.
But not with this one.
I'm having trouble with zip on this new laptop with Windows10. If you're in the US and see that wee fella Gates, then give him a slap from me. I'll email you the files directly.

It might be an idea to put that info in the Game Notes.

[2017-08-31 12:48] prastle commented on #2100
I have np with this @RoiEXLab but I think they will probably just refund my credit card.  The current balance is $168.75  USD plus my refund.  If the site you are using takes paypal we can do it that way.  Or now that you are home I can transfer you the funds.  Up to you.

[2017-08-31 13:10] prastle commented on #2100
@RoiEXLab I am away today but I will be on later.  Let me know if you need my help. GL

[2017-08-31 13:33] RoiEXLab commented on #2100
@prastle Probably not in the next couple of days, except you want to pay before the refund is payed.
The Problem is going to be the refund is going to be significatly less that the initial price.
Full Price - Shipping - Smart Card (Not the reader, but the small little chip because it can't be reused now).
I expect the refund to be about 90€ of 130€ :/

[2017-08-31 21:02] simon33-2 commented on #2219
If it is already possible to refund over bought units, that is the correct behaviour for the Axis and Allies games AFAIK. Definitely so for global. How do we enable this?

[2017-08-31 21:42] panther2 commented on #2219
v1: units are lost, no refund
v2:  units are lost, no refund
(per FAQ: Technically (which means, in a tournament), yes. In a friendly game, tell the player he's making a
mistake and let him take it back or refund him the money. You don't want to win that way.)
v2: LHTR: units are lost, no refund
v3: units are not lost but can be placed during a future mobilization phase
v4; return units, get refun

[2017-08-31 23:09] DanVanAtta commented on #2219
Good summary. It can vary by map. The task at hand here is to display the value of the setting in one way or another to users.

[2017-08-31 23:40] Cernelius commented on #2221
I believe you should remove the "regression" label.

[2017-08-31 23:44] RoiEXLab commented on #2221
Doesn't really matter, because this issue is closed, but if this makes you sleep bad...

[2017-08-31 23:45] Cernelius commented on #2221
Thanks.

[2017-09-01 16:27] DanVanAtta commented on #2285
I suspect the install4j folks would be pretty happy to issue us a v7 license if needed. Their OSS support has been generous.

[2017-09-01 16:54] DanVanAtta opened #2307 "Infrastructure Cost Savings - WarClub and nodeBB forum migrations"
Linode released a 1024 plan a few months ago that cost $5 / month. The new bot servers and test lobby use this server type, we currently have 5 of those machines. We also have a 2048 server ($10 / month) hosting nodeBB and a 4096 server ($20 / month) that is hosting warclub, lobby and some bots.

If we can move nodeBB to a 1024 server we'll save $5 per month, and if we can move lobby and warclub w

[2017-09-01 16:55] RoiEXLab commented on #2285
@DanVanAtta I know, if you look at their prices they indeed are ^^
@ssoloff What exact steps are neccessary to bump an install4j version again? + Is it time to update the bundled JRE? The current version we bundle is 1.8.0_66, which is really outdated,

[2017-09-01 17:02] DanVanAtta commented on #2285
We keep a copy of the install4j binaries in the assets repo which travis downloads and executes as part of build. You would need to update the build script and the asset files to be latest. I think we keep the key as well as an environment variable, if that were updated we would need to update the travis config for that (env variables are via their website).

Are there reasonable bug fixes in newe

[2017-09-01 17:09] ssoloff commented on #2285
@RoiEXLab

1. Add new install4j installer to assets repo (e.g. triplea-game/assets#13).
1. Upgrade build to use new install4j installer and Gradle plugin (e.g. #2040 and portions of #2031 [fb167b4]).
1. Upgrade build.install4j using new install4j IDE (e.g. portions of #2031).
1. Remove old install4j installer from assets repo (e.g. triplea-game/assets#14).

[2017-09-01 17:16] panther2 opened #2308 "Install4j keeps "useless" information in Windows Registry when uninstalling"
### My Operating System:

Win 7.64

### TripleA version:

all

### Any additional information that may help:

With every installation, install4j writes information as follows to the registry:

[code]

This version-specific information is **not** removed when uninstalling.
So by the time you get a huge list of dwords, that I manually remove from time to time.
Any chance this entry can be removed wh

[2017-09-01 17:24] DanVanAtta commented on #2308
There may be something in install4j somewhere. If not we may need to seek the help of the install4j people.

[2017-09-01 17:41] RoiEXLab commented on #2308
@DanVanAtta I don't think theres a setting, this seems to be an internal value of install4j alone... I will kindly ask the support about this, closing in the meantime

[2017-09-01 17:41] #2308 closed

[2017-09-01 17:42] RoiEXLab commented on #2285
@ssoloff Could I hand you the ball on this? I'm still in the process of getting a code signing certificate 😅

[2017-09-01 17:51] RoiEXLab commented on #2308
I'm guessing this is also the case using install4j 7, but this problem seems to be present using all install4j products, I had some entries for JProfiler in there (I uninstalled it).

[2017-09-01 17:53] ssoloff commented on #2285
@RoiEXLab I'll add it to the back of my task queue, but I'm concerned that it won't be as straightforward as the previous upgrades.  Being a major release, we may run into some breaking changes.  At a minimum, it's going to require some comprehensive testing.

[2017-09-01 18:07] RoiEXLab commented on #2285
Thanks @ssoloff
this Issue has a pretty low priority, so don't feel obligated to hurry!

[2017-09-01 18:14] RoiEXLab commented on #2308
I verified, this issue is also happens when using the latest version of install4j when creating the installer.
I will report, once the install4j support tells me more.

[2017-09-01 18:54] DanVanAtta commented on #2307
Good list @RoiEXLab . I would encourage writing a script to do the forum install so then it's more of a DB move. Anything we touch with forum ideally we update scripts first and then run the scripts.

We may not need to re-install anything, linode provides a re-size option where they will do a data copy from one instance to another. We would be responsible to make sure everything boots up correctl

[2017-09-01 19:27] RoiEXLab commented on #2307
@DanVanAtta
A point I forgot to mention:
We could of course just make the forum read only at the same time. There are several tools out there, that crawl a website and convert them into a lot of php files.
This way we wouldn't need to worry about any configuration files.
Thoughts?

[2017-09-01 21:04] DanVanAtta commented on #2307
If we do an image migration, we wouldn't need to worry about config as well, just starting services : )

With that, I'd rather not couple image move with other projects unless needed, we should move to make the forum read-only independently of hosting hardware.

Though this will be an outage for the lobby, so it would be a good time for anything that needs a lobby restart. Lobby code upgrade comes

[2017-09-01 21:11] DanVanAtta opened #2309 "Server Ops - documentation and DR checklists - let's build an index of ops docs!"
An opportunity to review ops. For everything we run: lobby, bots, forum, github.io website, dice server, warclub website and forum; do we have:

### documentation:
- how to install
- how to check if running
- how to restart

### Disaster Recovery
- are we taking data backups?
- are data backups replicated to a second physical machine?

I think we can consider Derby dead for this discussion. For ot

[2017-09-01 22:29] prastle commented on #2309
The warclub and old forum have had 0 posts in 2 months other than some spam to the best of my knowledge.  ( Also off topic but could we get a couple bots in the test lobby so @Hepps can test trains in Global Dominance.  He is ready to test @DanVanAtta @RoiEXLab  )

[2017-09-01 23:11] RoiEXLab commented on #2307
Lobby upgrade sounds like a good idea!

[2017-09-02 00:42] prastle commented on #2307
We can easily lose one of the $5 bot servers to host warclub if it can get image transferred as read only.  We don't need all the bots we have now that summer is over.  It is a long weekend and we still have 8 empty bots during peak est play time.  This is after removing the nj bots on the new forum server from the lobby @RoiEXLab .

[2017-09-02 00:49] prastle commented on #2307
I am thinking that once test the lobby is finished being used it can host marti by itself ? and maybe a read only warclub? As well as a Source Forge forum read only?  If this is possible on one of the 1024 plans.  This would leave the new forum on the 2048 server that could in an emergency host some extra bots.  Either way ya we can trim this somehow.

[2017-09-02 01:10] prastle commented on #2307
Another thought @DanVanAtta  is could the test lobby become the new lobby if it was standalone no bots etc? does it have enough memory on that plan?

[2017-09-02 10:57] RoiEXLab commented on #2309
The mongoDB backing our forum has no backup on it's own, but doesn't linode do regular backups on the servers?

[2017-09-02 10:59] RoiEXLab commented on #2309
Edit: I don't think so, but we could use their backup service for additional extra dollars per month

[2017-09-02 11:07] RoiEXLab commented on #2309
And well I don't think we need guides on the io website 😅
Github hosts this on it's own...

[2017-09-03 00:04] simon33-2 opened #2314 "Loaded games cleared out"
Entering the main screen either after quitting a game or on loading Triple A initially, if you load a game quickly enough it is cleared out by some automatic game selection logic. This no longer prevents loading a game from the command line though.

Is this issue clear? There's clearly some sort of race condition of a multithreaded process when single threading would have been more suitable.

[2017-09-03 00:08] RoiEXLab commented on #2314
Are you using one of the more recent versions of TripleA? I recall having fixed this big in a PR, but it isn't out in a stable version yet

[2017-09-03 00:38] simon33-2 commented on #2314
Ok, I've just grabbed the most recent version. It seems that the problem is resolved for command line file specs but I can still get a problem but loading up something quickly enough after quitting a game. I guess with a fast enough computer, that would be unlikely.

[2017-09-03 00:39] RoiEXLab commented on #2314
Let's just rename this issue to focus on the existing issue...

[2017-09-03 00:40] simon33-2 commented on #2314
What would be a better name?

[2017-09-03 01:01] RoiEXLab commented on #2314
Hmm. I can't think of a better name...
It'll be sufficient to just edit your description of the issue

[2017-09-03 03:48] ssoloff commented on #2314
#2039

[2017-09-03 06:55] simon33-2 commented on #2314
Hmm, I can still get it to stuff up if I quit a current game and quickly load another one. It is annoying because when you click play the default game is loaded.

[2017-09-03 16:55] RoiEXLab opened #2316 "Map directory CLI Argument not working for Headless Bots"
Noticed this with the latest pre-release,
When starting a bot using `java [other args] mapFolder=/home/triplea/maps`, the setting is displayed in the starting log, but is not actually applied (TripleA still searches in /home/triplea/triplea/downloadedMaps).
There's of course a workaround for this, to just copy all the files to the default directory, but this is certainly not the intention.
I assum

[2017-09-03 19:56] DanVanAtta commented on #2309
Github hosts this on it's own...

I think I see your point, though I disagree slightly. IMO we would not write a guide, but give a link to it. The idea being that nobody would have to hunt for this type of documentation. We did run into big trouble with the last few NodeBB crashes, nobody was able to get that up and going except one person. Not to pick on you @RoiEXLab , but this has been an ongoi

[2017-09-03 20:02] DanVanAtta commented on #2309
It may make sense. Looks like we would want it for the forum and warclub servers, $4 / month. It's not a lot. I am a bit reluctant to solely rely on this though (maybe the carbon copy data backup is a good last resort to have for us):
- a custom solution would likely be more robust and would have no monthly cost
- we can practice and script a custom solution more easily I suspect. Any disaster rec

[2017-09-03 20:10] RoiEXLab commented on #2309
@DanVanAtta

Of course, what I meant was that on the io website we don't need to say something like "this is how you start, stop and update the server", but of course we should provide information that github.io is powered by jekyll, has limits which make dynamic handling of HTTP parameters impossible, and the only thing we need to do in order to keep it running is to not mess up the config file (

[2017-09-03 20:14] DanVanAtta commented on #2316
I'm not actively working on this, removing assignment.

[2017-09-03 20:18] DanVanAtta opened #2317 "Look and Feel - Future Plans.."
Creating a tracking/reminder ticket after https://github.com/triplea-game/triplea/pull/2165

Short term:
- drop all L&F's except for 'substance'

Longer term:
- remove all substance L&F's
- provide a way to customize L&F so we can have a dark themed background
- fix up case where last default L&F no longer exists.
- unify OS treatment, no more special casing where Mac get a default L&F otherwise w

[2017-09-03 20:22] RoiEXLab commented on #2316
No Problem, intention was to get possible input from your side, because I skimmed some of the affected code and couldn't find the introducing change...

[2017-09-03 20:59] DanVanAtta opened #2318 "Warclub / Xoops Read-only"
Seems like it is the right time to turn warclub forum to read only and put links to post in the new forum. Correct me if I'm wrong, the sourceforge forum is already read-only.

Can anyone pick up this task and see it through, perhaps @prastle ?

[2017-09-03 21:09] DanVanAtta opened #2319 "SVN forum read-only"
Can this be done? If so, can someone take this task up? (I'm assuming there is no objection to this being done at the moment, please chime in if you think we should wait on this task or maybe not do it at all)

[2017-09-03 21:11] DanVanAtta commented on #2307
@prastle to be sure, I am suggesting we drop the current warclub bots and move the image of that server to a smaller and cheaper one. We could move lobby to a dedicated server, though I'm not sure if it is worth having a new server for that, cohosting with warclub I think is reasonable.

I would support that. I somewhat thought it was already done. It' s anew topic though, I opened: https://github

[2017-09-03 22:01] ssoloff commented on #2319
By "SVN forum," do you mean the Subversion repository on SourceForge?

[2017-09-03 23:27] ron-murhammer commented on #2319
@DanVanAtta Assuming you mean this forum: http://triplea.sourceforge.net/mywiki/Forum

I've now made it read-only for everyone except admins. The one other thing that should be done is updating the old SF home page to point to the new forum and remove war club link: http://triplea.sourceforge.net/mywiki/TripleA

[2017-09-03 23:30] #2267 closed

[2017-09-04 00:30] Cernelius commented on #2319
I suggest allowing posting in it forever in old threads, and also keeping allowing new users registration, but disable new ones, if possible. This should also solve the spam problem, as I see they always open new topics, not post in any existent ones.

For example, there are a lot of maps topics, you may want to give some opinion about, but not opening a new whole thread about it (and very few of

[2017-09-04 00:35] Cernelius commented on #2319
That is assuming the old forum is not being imported in new, as you said.

[2017-09-04 12:08] prastle commented on #2318
The war club has a link to the new forum in the news.  New members have been blocked already.  I will look into what needs to be changed to block posting by all except webmasters.

[2017-09-04 13:01] prastle commented on #2318
It appears to require resetting the default permissions template for all the different user groups.  A bit of a time consuming thing.  Probably unnecessary if we are going to image move it.  Since new users are the only ones that were posting generally in the past few months and they have been blocked.

[2017-09-04 13:11] prastle commented on #2307
So if i follow you correctly we get linode to down size warclub to one of the 1024 plans and lose the bots ? will it have enough memory to be read only and lobby and marti?  Either way yes we can lose the war club bots with all the other ones running.  I do recommend that we keep the new forum on the middle plan tho since it crashed yesterday as roi was moving maps in the already reported glitch.

[2017-09-04 13:16] RoiEXLab commented on #2157
To revisit this topic, I like have no objections on having a yaml file, I'd like having a consistent scheme like this though:
[code]
This is how I load in the file in JavaFX:
https://github.com/triplea-game/triplea/blob/a701f157eafcbbdee0d5c8493853cd24c3b61987/src/main/java/org/triplea/client/ui/javafx/FxmlManager.java#L43
Far from being final, the code should eventually detect all available langu

[2017-09-04 13:18] panther2 opened #2322 "Incorrect handling of Facility bombing"
### My Operating System:
Windows 7.64

### TripleA version:
1.9.0.0.6454 (and earlier)

### Map:
WWII_Global_1940

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
TripleA does not handle bombing facilitites correctly, in case facilities are already at their maximum damage.

In the starting scenario, 6/6 damage is already assigned to as well the air b

[2017-09-04 13:20] RoiEXLab commented on #2307
@prastle Problem wasn't RAM, but actual Hard Disk Drive Space (all maps together are pretty large...)
If we avoid having a bot "backup", this won't be an issue, which won't be a Problem, if we put the forum alone on a 1024 Server.

[2017-09-04 13:37] prastle commented on #2322
Excellent description @panther2 I can confirm this as it just occurred testing trains in @hepps new tww yesterday.  we were using as well  6454 as well.  It does function fine in original tww using current stable.

[2017-09-04 13:40] prastle commented on #2307
Yes that was my thought no bots and standalone but a 1024 will handle? cool 👍

[2017-09-04 13:41] prastle commented on #2307
I just am unsure if losing 13 bots will be to many/  1-7 warclub 10-13 nj

[2017-09-04 14:55] RoiEXLab commented on #2308
ej Support responded, they added this to their bug tracker

[2017-09-04 16:41] ssoloff commented on #2322
@panther2 The errors you attached are unrelated to the primary bug you reported above and are possibly a regression caused by #2313.  I'll investigate and open a separate issue, if necessary.

[2017-09-04 16:54] ssoloff opened #2323 "EventThreadJOptionPane#showMessageDialogWithScrollPane() runs UI code off the EDT"
Originally reported in #2322.  The error log attached to that issue demonstrates that the `EventThreadJOptionPane#showMessageDialogWithScrollPane()` method invokes `createJLabelInScrollPane()` (which creates UI components) off the EDT.

This is a regression caused by the last commit of #2313 (962df43).  Testing in that PR didn't catch the issue because I use the Nimbus L&F, which doesn't have a ro

[2017-09-04 16:56] ssoloff commented on #2322
@panther2 Confirmed.  Those error logs are a regression caused by #2313.  I opened #2323 and should have a fix prepared by the end of the day.  Thanks for always being complete in your error reporting, even when things seem unrelated. :smile:

[2017-09-04 17:03] prastle commented on #2322
i would like to reinforce the pt that escorts no longer seem to be supported as well. he did mention that above not sure if that is same problem.

[2017-09-04 17:17] panther2 commented on #2322
Indeed, @prastle, The complete SBR-sequence is suppressed, when the bug occurs.
Send fighters with the bombers only and it will work as expected.
But if you send them together with bombers **and** tac bombers, the bug occurs.
You can't send them as escorts together with the tac bombers, either.

[2017-09-04 19:48] #2323 closed

[2017-09-04 19:53] ron-murhammer commented on #2319
@Cernelius I'd rather users create a thread in the new forum and just reference the old one. I'd really prefer not to have any more posts in the old forum.

[2017-09-04 20:03] ssoloff commented on #2323
@panther2 This should be fixed in build 6464 or later.  Please reopen if you continue to observe these types of errors.

[2017-09-04 20:59] Cernelius commented on #2319
@ron-murhammer I'm not sure how this can be. Are you sure that you want to allow anyone to open the official/main thread of any maps?

Of course, I don't believe that there is a way to verify anything, so I could as well register in the new forum as "Sieg" (while not being him) and open the new official main thread of "New World Order", but I guess false impersonification should happen very rarely

[2017-09-04 21:15] panther2 commented on #2323
Looks good so far in 6465 (tested with savegame from #2322). Thanks!

[2017-09-05 00:04] Cernelius opened #2325 "Player "Limit" (movement/attacking/placement) Always Behave As "all" (Units) When The Limit Is Exceeded (1.9.0.0.6380)"
The Player attachments:

**movementLimit
attackingLimit
placementLimit**

currently have the behaviour that, once the territory has a number of units in excess of the limit, then all units are impeded the respective actions, not only the specified ones.

For example, if I have:

[code]

What happens is that, if in the territory I want to move into there is 1 owned or allied infantry, already in th

[2017-09-05 02:48] ron-murhammer commented on #2325
@Cernelius Does this work properly in the current stable release?

[2017-09-05 06:15] ssoloff commented on #2322
I did some debugging and think I found some useful information, although I'm not sure where the fault lies for causing this bug.

When sending the bombers and tactical bombers from Holland Belgium to attack the UK, no offer is made to choose SBR because the [`UnitAttachment#getAllowedBombingTargetsIntersection()`](https://github.com/triplea-game/triplea/blob/a554d85cbc6e10f54a38d7513b1709981e383d3

[2017-09-05 09:17] panther2 commented on #2322
Interesting, @ssoloff , thanks.

Just let me add that the engine would not allow bombers to further SBR max. damaged factories, either, not only in Global but for example in WWII_v5, too.
What would not bother me because it would be absolutely pointless to send bombers to AA-fire for nothing.

But it supports your above statement

[2017-09-05 12:42] prastle commented on #2322
@ssoloff actually I wasn't looking at the bombing. I was observing the escorts not escorting in the new and working fine in the old.  The original Total World War in the download maps list works for escorts.  The newer one with trains did not.

[2017-09-05 17:29] ssoloff commented on #2322
@prastle Thanks for the clarification, and sorry for the confusion.  Would it be correct to say then that the escort issue is separate from the facility bombing issue @panther2 originally reported?  If so, would you mind opening a separate issue for that so it doesn't get lost in the details of this ticket?

@panther2 I tried your save game in 3635 and experienced the same result as in the latest

[2017-09-05 18:05] prastle commented on #2322
@ssoloff  actually i think it might be the same issue and engine related.  Since while playing today with hepps using  .6481 it still occurs but i will test the bomber issue separately.  What I can clarify is that if using tww the fighter's escort on a bombing run with .3635 and current tww in download list.

[2017-09-05 18:07] prastle commented on #2322
and btw what is this amazing new list of functions im looking at LOL in github (off topic) :)

[2017-09-05 18:21] panther2 commented on #2322
@ssoloff
I would consider it being a bug rather than a regression. I suppose it always had been there and became only evident because of that special scenario that has been discussed. If  `the TripleA code seems to filter such units out from the available target list` it needed a special scenario to discover the issue.

[2017-09-05 22:33] Cernelius commented on #2319
The coolest thing, and I don't even know if this is a feasible feature request, would be that a topic in forum is automatedly created for each map, in the moment in which the map exists in download list, with a static incipit, like what you see here:
http://www.triplea-game.org/map/270bc/
and an additional section thereafter, that it is fully directly editable only by the admins of the related rep

[2017-09-05 23:15] prastle commented on #2319
Actually @Cernelius  that is completely possible in the forum.  We just add a group that have permissions for that section only (other than admin). Or we add 20 sub groups 1 for each map if ya want it really isolated as the assigned owner and admin only have true permissions in that section.  Good Idea! up to them.

[2017-09-05 23:18] RoiEXLab commented on #2319
@prastle Thought about that too.
I think it's worth mentioning it would be way too much work to automate creating threads, if you can add them manually.

[2017-09-05 23:37] prastle commented on #2319
@RoiEXLab dont think we need to automate.  The owner(s) of that map is sub admin(s) of their own thread.  BTW I am referring to the future.  Past threads would have to be imported and ownership taken over.

[2017-09-06 04:20] prastle commented on #2322
after discussing with hepps it is def a separate issue.ill open new

[2017-09-06 04:25] Heppisorus commented on #2322
Yes the escort function is definitely not working in the latest pre-release even though using the same XML in .3685 yields perfect functioning of the escort properties.

[2017-09-06 04:53] Cernelius commented on #2319
I was actually talking mainly of past threads, and only incidentally of future ones. I think for any future threads just simply opening a forum topic, like it was done in the old developer forum and I see it is being done now (for example, @ron-murhammer did it for WAW), works well enough, and may be just the best way.

The main problem is that if you just close the old forum, people has no anymor

[2017-09-06 05:08] Cernelius commented on #2319
To be clear, I don't think it would be good if the mapmaker has to ask admittance to anyone for making his own map thread, as that would increase overhead on both sides (especially work for the admins and waiting time for the mapmakers) and be an unnecessary confusing element overtime (with people missing the step and creating a normal thread, instead). As I see it, either it is automated (created

[2017-09-06 05:16] Cernelius commented on #2319
Ok, nevermind then. I was just wondering, since you made this (neat) thing in the static website:

http://www.triplea-game.org/maps-list/maps/

[2017-09-06 16:59] DanVanAtta commented on #2319
I don't necessarily agree it is dispersive. For most maps there will likely be one thread, but there is no hard and fast rule about this. It is pretty simple: open a new thread if you need one. If you are picking up from an old thread, use the same title, link the old thread, and just pick up from there. The old forum is still not yet read-only, now is a good time to finish any threads. Really tho

[2017-09-06 21:47] RoiEXLab commented on #2244
@ssoloff Closing as this is a travis problem and we can do nothing more than ti wait for a fix.

[2017-09-06 21:47] #2244 closed

[2017-09-06 21:49] RoiEXLab commented on #2316
Closing via  #2321

[2017-09-06 21:49] #2316 closed

[2017-09-06 21:50] RoiEXLab commented on #1854
Closing, has been working well for the past months

[2017-09-06 21:50] #1854 closed

[2017-09-06 21:52] RoiEXLab commented on #1850
Closing, worked well for months, although I think the report comes always in a bit late

[2017-09-06 21:52] #1850 closed

[2017-09-06 21:55] RoiEXLab commented on #1648
Closing in favour of #2284

[2017-09-06 21:55] #1648 closed

[2017-09-07 02:41] ron-murhammer commented on #2322
@panther2 @ssoloff So does this essentially boil down to SBR units should be able to target units that are at max damage but currently aren't allowed to? And the logical reason this needs to be allowed is for maps that have air battles or want to take casualties for other bombers?

[2017-09-07 02:49] Heppisorus commented on #2322
I haven't tested the specifics surrounding sending bomber in against (what I would consider ineligible targets) facilities that are already at maximum damage. This because in TWW there is no such thing... as all facilities are destroyed when they reach maximum damage.

My comment was based on an observation that escorts where not being prompted to either escort or attack while accompanying legitim

[2017-09-07 02:50] ron-murhammer commented on #2322
@Heppisorus That appears to be a separate problem as what @panther2 describes is the same behavior in the current stable release. Can you open a different issue describing the issue you are seeing around escorts (save game showing the behavior would be helpful as well).

[2017-09-07 03:29] Heppisorus commented on #2322
Aye Capt.

[2017-09-07 03:52] ssoloff commented on #2322
@ron-murhammer The problem is that attacking a territory with both bombers and tactical bombers in a single move gives the user different options than when the bombers and tactical bombers are moved separately.  In the specific scenario described by @panther2 above, there are two independent engine rules for this difference in behavior:

1. SBR target list only includes facility unit types that ca

[2017-09-07 04:23] ron-murhammer commented on #2322
@ssoloff So the reason I believe for (1) is that you'd end up with a complex SBR target selection window. Imagine that instead of ALL it did ANY so you get a full list of any that could be bombed, then it would have to limit which target various SBR units could target (couldn't assign tac to factories for example). It instead makes you move them in chunks based on target so you move strats and cho

[2017-09-07 04:45] ssoloff commented on #2322
@ron-murhammer I agree that trying to modify (1) to accommodate every possible SBR scenario would just be a mess.  You're right that putting the onus on the user to split units across multiple moves to achieve the desired attack behavior is the best compromise.

[2017-09-07 07:12] panther2 commented on #2322
This is my understanding, yes.

[2017-09-07 18:25] Heppisorus commented on #2322
Not that I am fluent in what goes on behind the magic curtain... but is the mechanism that governs bombarding of any use in this situation?  Seems like when you have lots of bombard options in the same SZ the engine does a very efficient job of separating out the different options available to the player.  Just a random suggestion.

[2017-09-07 23:49] ron-murhammer opened #2333 "Existing Bombing Damage Not Displayed on Bombing Target Selection Window"
**Bug:** Bombing target selection window doesn't display existing bombing damage

**Enhancement:** Wanted to know if it would be possible to add a visual component to the target selection window for Bombing runs.

The current window appears as this:
![image](https://user-images.githubusercontent.com/1427689/30190060-5386e084-93fd-11e7-9855-605904b3bb0a.png)

However I was wondering if a visual com

[2017-09-08 00:55] DanVanAtta commented on #2333
Good catch, +1 to this suggestion.
@ron-murhammer should this be labelled as a usability problem instead as bug (aka defect)? A bug to me applies something is not working as intended or doing something very unexpected (and broken). This seems like a very good example of a usability problem to me, everything is working as intended, but in practice, the feature is difficult or impossible to use.

[2017-09-08 01:03] ron-murhammer commented on #2333
@DanVanAtta It could go either way. Given that there is important information missing to make a decision, I'd lean towards bug in this case as we are not displaying something that absolutely should be displayed. Not really a big deal either way though.

[2017-09-08 02:14] DanVanAtta opened #2335 "Labeling decision: usability + bugs"
A quick topic to decide how to label for usability vs bug types.

I would suggest these 3 options for discussion:
1.  keep as is, two labels, one for bugs, another for usability problems (with a small grey area when a usability problem is so bad the feature is effectively broken, ie: defective or buggy, eg: #2333)
2. Drop the usability label type, just use `type: bug` for both bugs and usability p

[2017-09-08 02:17] DanVanAtta commented on #2333
Instead of hijacking this issue further with bug vs usability, I opened a quick issue to discuss labelling: #2335, I only draw the nit distinction to justify having the two different labels, we perhaps may just want to merge the two labels.

[2017-09-08 02:27] prastle commented on #2333
Hepps drew a great diagram of what we talked about.  I am curious about the overall decision. Either way it is definitely hard to understand if you are a first time user.  Thus I definitely have to say its a usability issue.  Is this a bug?  hmm.   I would say it is also a bug.  Now that trains have been added we added one more thing that can be bombed to the  item roster.  Just my 2 cents

[2017-09-08 02:58] ssoloff commented on #2335
Without any other context, I view `type: bug` as having a slightly higher priority than `type: usability`.  So I think the extra label has some value.

However, if it's decided that a single label is best, I would suggest a slight variation of option (3) to keep things simple: `type: defect`.  I don't think there's a need to further qualify it with `or UX problem`.

[2017-09-08 03:15] prastle opened #2336 "Bots being updated?"
I apologize if this shouldn't be brought up in this manner. I just don't seem to be getting any responses/posts in the gitter server thread other than me when things get updated to the bots. Thus why I am asking?
How are the bots being updated or was I the last one to do so? @RoiEXLab showed me an excellent program which sadly doesn't work. Fillezilla.
Do we need to keep manually updating the bots

[2017-09-08 03:21] prastle commented on #2336
I apologize if this shouldn't be brought up in this manner.  I just don't seem to be getting any responses/posts in the gitter server thread other than me when things get updated to the bots.  Thus why I am asking?
  How are the bots being updated or was I the last one to do so?  @roiex showed me an excellent program which sadly doesn't work.  Fillezilla.
  Do we need to keep manually updating the

[2017-09-08 03:31] DanVanAtta commented on #2335
Neither conveys a priority, a bug could be hard to notice while a usability problem could be so severe you can not use a feature.

I personally would opt for `type: UX problem` over `type: defect` if we were to merge the two (to me UX problems can include bugs, but many UX problems are not necessarily bugs).  This I then I think would work well with our category labels, which then could further ho

[2017-09-08 03:36] DanVanAtta commented on #2335
Some more consideration, maybe just -   `type: problem`
I think we may see situations where we are reviewing and finding a lot of none-critical items, I'd rather not call all of these things 'defects', I'm concerned it would discourage us from fixing the smaller things.

[2017-09-08 03:37] prastle commented on #2335
If renamed it changes nothing.  Usability should take precedence over a bug in most instances.  BUT I am a live player.  Either decisions are fine.

[2017-09-08 03:39] DanVanAtta commented on #2336
Yes, that was the case before, still now. Ideally we would put the commands behind a cron job or similar to run on a periodic basis. The current script downloads everything and would use a bit too much network if we ran that all the time. We would be better to check frequently for latest versions and update as needed.

In the meantime making the update script 'one-touch' so you can login and run i

[2017-09-08 03:40] prastle commented on #2335
A  better wording would be PLAYABILITY and  SPEED of game ... but i know dan will yell at me about this :)
gl with your choices :)

[2017-09-08 03:42] #1335 closed

[2017-09-08 03:44] DanVanAtta commented on #1650
closing for now, please re-open @simon33-2 to pick up the topic again.
I'm adding 'ice-box' label as there are some good ideas here, someone may find inspiration from them and pick them up yet.

[2017-09-08 03:44] #1650 closed

[2017-09-08 03:46] DanVanAtta commented on #1721
closing, we've been writing our own builders. Using a lib to do this is not that huge of a deal IMO since the pattern is pretty rote, not as significant as say an architectural or more major design component. It's probably best we introduce it in a PR when it comes up and fits well. I'm going to close this issue in the meantime.

[2017-09-08 03:48] #2237 closed

[2017-09-08 03:48] #2023 closed

[2017-09-08 03:50] #2236 closed

[2017-09-08 03:54] #2322 closed

[2017-09-08 03:54] DanVanAtta commented on #2335
Again, severity/priority can really vary. There are many aspects to usabiltiy/UX problems, some are delays of games, others could be windows that are covered or rendered unusable through user action.

This does make me think still that `type: problem` is perhaps the right way to go, with `category` labels as additional clarification (eg: playability, speed, defect, crash)

[2017-09-08 04:05] DanVanAtta commented on #2336
(edit note: consolidated via copy/paste prastle's comment to the overview)

[2017-09-08 07:18] panther2 commented on #2322
@ron-murhammer @ssoloff
I am sorry, this is still not resolved correctly, will open a new issue....

[2017-09-08 07:32] panther2 opened #2340 "Still incorrect handling of Facility bombing"
### My Operating System:

Win7.64

### TripleA version:

1.9.0.0.6507

### Map:

wwII_Global_1940
wwII_v5

### Any additional information that may help:

This is a follow-up of #2322 and #2337 .

At a first glance, everything seems to run fine now.
Now the engine allows to choose to SBR correctly.

But starting (again) from this position
[SBR_StartPosition.zip](https://github.com/triplea-game/trip

[2017-09-08 10:13] RoiEXLab commented on #2336
@DanVanAtta An update script would be very useful. It's not that difficult to update it manually using the new scripts, just a couple of commands and a restart, but it would be nice to have a simple update script which only accepts an optional version parameter (reimplement the assume stable version, if version is omitted), which also removes legacy bot versions automatically.

[2017-09-08 15:20] DanVanAtta commented on #2336
I recommend putting the removal in a dedicated script so you are not forced to run it. We could then create a simple 'command wrapper' script for convenience and to document the full end-to-end, eg:
[code]

Really to start, we need a map update script that downloads only the newest and missing, or at least run the current one automatically once a week.

[2017-09-08 16:04] RoiEXLab commented on #2336
@DanVanAtta Adding a cronjob to automatically update the maps seems like a good idea. The Problem is going to be that we currently need to restart bots for the maps changes to take effect.
So we either need to determin a way to check if the bots are currently in-game, or we add a file changed listener for the map directory, which then reloads the maps once they change.

[2017-09-08 16:04] Cernelius commented on #2335
I definitely would say this is a bug (either a bug in the map, if you are supposed to never have multiples of the same bombing targets, or a bug in the engine, if that is supposed to be supported):
https://github.com/triplea-game/triplea/issues/2333

Let's make a simple example.

I open TripleA and the entire screen is completely white, but I can still fully play the game, if I happen to blindly c

[2017-09-08 17:04] DanVanAtta commented on #2307
Let's start shutting down warclub bots (@prastle). We have extra bots, if we need more we can spin up another bot server.

[2017-09-08 17:05] DanVanAtta commented on #2307
10-13 nj should already be uninstalled and halted, 70-73 nj is a different nj server.

[2017-09-08 17:08] RoiEXLab commented on #2307
10-13 NJ Is currently connected to the test lobby AFAIK

[2017-09-08 17:10] DanVanAtta commented on #2307
Ah okay. Interesting numbering choice, next time let's use something like  '01 Test' instead of re-using what were the very first NJ bot numbers.

[2017-09-08 17:17] prastle commented on #2307
@DanVanAtta  You should put a post on forum as well saying they are being closed.  So that other mods don't try and restart them.

[2017-09-08 17:20] prastle commented on #2336
Yes they still have to be restarted.  It's to bad filezilla doesn't work.  It made it real easy.

[2017-09-08 17:25] RoiEXLab commented on #2336
FileZilla is a tool to manage files on a remote server, nothing more. And it does do that as it's supposed to.

[2017-09-08 18:09] DanVanAtta opened #2341 "Script standard proposal - usage text printed on no-arg invocation"
I'd like to make it standard for any ops scripts when run without any args will display usage and help text. This standard lets us then run any script we have safely without args to learn more, and won't have to wonder if the right help flags are `\h` `-h` `--help` `\?`, or something else, or if there is one even.

Any thoughts on this standard? If agreed next steps would be to add a note in the s

[2017-09-08 18:20] RoiEXLab commented on #2341
@DanVanAtta I'd suggest going with the Unix style flags only instead of the windows `\something` flags.

[2017-09-08 18:21] DanVanAtta commented on #2341
I'm hoping we use none of those flags, that's part of the point. No-args prints help text, no need for a flag.

[2017-09-08 20:33] DanVanAtta opened #2342 "Derby DB data went blank"
When upgrading lobby to 5802, we observed that the derby DB => postgres bridge did not work when we upgraded the lobby server software. Specfiically we were getting failures to login, as if your password was no good (socket closed exception). Clearing the derby data, you could create an account, but logging back in after logging out would fail.

These being severe problems, the lobby was rolled ba

[2017-09-08 22:56] DanVanAtta commented on #2335
#2333

Not knowing what to click on, even though everything is correctly (but maybe not fully) labelled is a usability problem. It would be a bug if for example the factory were not repaired, or maybe the wrong unit were repaired instead. This is an example of a usability problem that is so severe you pretty much can not use the feature.

If you want to call any broken feature 'bugged', I can't re

[2017-09-08 23:08] DanVanAtta commented on #2336
Are you sure? I think I saw/noted that it would actually take effect when the map is started/played (note that we do a 'parseFull' at that time which parses all of the map XML). That may be the case though to pick up brand new maps.

IF we really do need a restart, we may instead better focus on how we do map loading for bots, so it would behave more similar to the headed single player case

[2017-09-08 23:14] RoiEXLab commented on #2336
@DanVanAtta I'm pretty sure, there are also other inconsistencies when it comes to headlessserver map loading.
Have a quick look at the HeadlessGameServer class and you will notice completely seperate code for map loading than for headed clients.
The main functional differenc being that HeadlessGameServers can't load maps that are not present in the triplea_maps.yaml file

[2017-09-08 23:24] DanVanAtta commented on #2307
Today we moved the nodeBB server to a 1024 plan from 2048, saves $5/ month.

We also moved warclub from 4096 to 2048, which saves $10/ month. We need to reduce the total disk size more before we can move to 1024.

We current are at 21G of 30G used, I think we can probably clean that up more.

[2017-09-08 23:48] DanVanAtta commented on #2342
I deployed the updated DB code to the test server and verified login with the latest release version and saw no problem.

I updated the documentation as well with some useful lobby install/check commands: https://github.com/triplea-game/lobby/pull/43; https://github.com/triplea-game/lobby

[2017-09-09 00:31] DanVanAtta commented on #2342
We're doing an upgrade of lobby code now that would address this and move us to postgresql: https://forums.triplea-game.org/topic/320/lobby-upgrade-to-v1-9-0-0-6520-2017-sep-8

[2017-09-09 01:20] DanVanAtta opened #2344 "Lobby login is very slow"
The lobby client login is very slow now that we are on a postgres only DB configuration. (very slow is around 30 seconds to a few minutes)

[2017-09-09 01:21] DanVanAtta commented on #2342
things are looking okay, but lobby login is very slow, tracking that here: https://github.com/triplea-game/triplea/issues/2344

[2017-09-09 01:21] #2342 closed

[2017-09-09 01:41] DanVanAtta commented on #2307
Lobby on 1024 server had all memory except 13M used, so 2048 seems best fit for us for now.

![mem](https://user-images.githubusercontent.com/12397753/30235972-40aa6d6e-94c5-11e7-8a04-62d534038aa0.png)

Closing as we've now the minimum sized servers possible for our configuration.
Now that lobby is on latest, we no longer needed the test lobby server either.

[2017-09-09 04:51] ron-murhammer commented on #2340
@panther2 Ah, damn. I forgot about AA. I just need to make one more small change to fix the remaining issue.

[2017-09-09 05:08] #2333 closed

[2017-09-09 05:09] ron-murhammer commented on #2340
@panther2 Can you try testing it out in a few scenarios again to see if its resolved in the latest pre-release?

[2017-09-09 05:37] RoiEXLab commented on #2341
@DanVanAtta Fine then, could potentially be problematic if the command does not require any arguments

[2017-09-09 05:50] RoiEXLab commented on #2344
@DanVanAtta The more important question is which part is taking the most time.
Is it the server trying to process a request or the client taking too long to send a request and process a response?

[2017-09-09 07:10] DanVanAtta commented on #2344
client is the same, so presumably something server side. We tried same server hardware spec 2048 with both code bases and no noticeable difference. Good question indeed where the time being spent is.

[2017-09-09 07:31] panther2 opened #2347 "Lobby login fails"
### My Operating System:
Win 7.64
### TripleA version:
1.9.0.0.6538

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

Login with my **new account** fails:

![lobby](https://user-images.githubusercontent.com/20812775/30238135-5c0d720a-9541-11e7-92e4-716d26770f67.PNG)

Though my user name exists:

![lobby2](https://user-images.githubusercontent.com/208

[2017-09-09 07:36] panther2 commented on #2340
@ron-murhammer

Thank you.
The issue is resolved for the first of the above scenarios only.

In case the bombers are sent against max. damaged facilities only, they can be assigned to SBR, but AA fire is still missing. You can prove this by adding max. damage to the factoy in the above SBR_StartPosition, too.

Or by using the other two savegames.

[2017-09-09 07:37] simon33-2 commented on #1768
I agree with the suggestion to restore the default look and feel to Graphite. Looks much nicer to me.

[2017-09-09 09:41] RoiEXLab commented on #2347
We are aware of this problem...
We ran into some issues with the DerbyDB, while Migrating the lobby software.
We decided to drop Derby completely, and @DanVanAtta removed the supporting code in  #2343
It seems the removal did not work out as expected, and therefore the versions after the merge of #2101 are unable to log in

[2017-09-09 09:49] panther2 commented on #2347
Thanks for the insight.

(Just in case it helps: I created the new account and successfully logged in using version 1.9.0.0.6507)

[2017-09-09 09:50] RoiEXLab commented on #2347
@panther2 Yeah, but now you probably won't be able to login using the stable version of TripleA

[2017-09-09 12:52] panther2 commented on #2347
Ah ok, but I am always going with the latest pre-releases.
The stable had a very short existence on my hard-drive :wink:

[2017-09-09 13:32] prastle commented on #2347
@RoiEXLab I just dl .6538 and yes i can confirm above still occurs.  Same error with newest but the stable login is fine.

[2017-09-09 14:31] prastle opened #2348 "Dashboard of Forum Broken"
I was attempting to mass email the forum users about the new database and I noticed that i can still login as Admin but the dashboard functions do not work now.

[2017-09-09 15:44] ssoloff commented on #2347
I can reproduce a similar problem (can't login but get a different error message) locally running a 6538 lobby and client.

What version of the lobby is currently installed in production?

[2017-09-09 15:46] RoiEXLab commented on #2347
I believe the first pre-release that has @DanVanAtta's Derby changes.
Should be the same in terms of lobby code as the latest pre-release

[2017-09-09 15:48] ssoloff commented on #2347
Negative on that last statement.  I forgot I just reset my lobby database last night, so the account I was using didn't exist. 😞

So, using 6538 for both lobby and client works fine for me locally.  I will try using a 6520 lobby.

[2017-09-09 15:56] #2348 closed

[2017-09-09 15:58] ssoloff commented on #2347
Using a 6520 lobby and a 6538 client, everything works fine for me when run locally.

[2017-09-09 16:02] RoiEXLab commented on #2347
@ssoloff I believe the issue is only noticeable if you created your account using the latest stable and then try to login with the latest pre-release and vice versa. While the former is not desired, the latter could definitely be "normal behaviour" as when users used the latest pre-release their accounts have been updated.

[2017-09-09 16:05] prastle commented on #2347
Above is correct @RoiEXLab

[2017-09-09 16:12] ssoloff commented on #2347
@RoiEXLab

Latest local test...

1. Start 6520 lobby.
1. Create a new account using 3635 client.  Login was successful.  Logout.
1. Login using 6538 client with account created in (2).  Login was successful.  Logout.

Another test against the production lobby:

1. Create a new account using 6538 client.  Error dialog displayed with title "Account creation failed" and message "java.io.IOException:

[2017-09-09 16:21] RoiEXLab commented on #2347
@ssoloff Weird, the socket exception however means that a server side exception is occurring, I'll see if there some logs

[2017-09-09 16:34] panther2 commented on #2347
My experience was.

1. Create new account with 1.9.0.0.6507 last night (German time) (after hint that new account creation was fine at that time)
2. Login/logout without problems
3. Sleep
4. This morning (German time): Uninstall of 6507, install of 6538
5. The above mentioned problems occurred

[2017-09-09 16:48] RoiEXLab commented on #2347
Server log wasn't as useful as I hoped.
It seems errors are coming from the lobbyloginvalidator

[2017-09-09 17:08] ssoloff commented on #2347
Well, this might help a little...  If I comment out the code at `LobbyLogin.java:105` that sets the RSA password in the challenge response:

[code]

I can successfully login to the production lobby from a 6538 client.

Obviously, the lobby is choking when trying to validate the RSA password.

[2017-09-09 17:24] panther2 commented on #2347
FYI:
I have just downloaded and installed the stable (3635) version.
I managed to login successfully using the new account data.

6538 now returns this:
![lobby3](https://user-images.githubusercontent.com/20812775/30242323-7d868554-9594-11e7-8770-d29789fef259.PNG)

[2017-09-09 17:27] ssoloff commented on #2347
Another issue to investigate is, if I created an account using a 6538 client, why is an MD5Crypt password being stored in the database instead of a bcrypt password?  That seems to be the case since my modified client is only sending an MD5Crypt password in the response.  (Someone with DB access can verify that claim by looking at the password for user `test1000` and seeing if it starts with `$2a$`

[2017-09-09 17:54] ssoloff commented on #2347
I confirmed that I can reproduce the exact behavior I observe in production (both creating a new account and trying to login to an existing account) on my local machine if I force an exception to be thrown from `UserController#updateUser()` before the transaction can be committed.

The reason the client is getting a socket closed error rather than seeing the cause of the authentication failure app

[2017-09-09 17:58] ron-murhammer commented on #2340
@panther2 Alright let's try this one more time (sorry for the multiple false starts). I tested that it allows AA and bombing even if there are only max damaged targets.

[2017-09-09 18:17] ssoloff commented on #2347
Ok, I think I have a real good candidate for what the problem may be.  I suspect the Postgres database in production was not re-created after [this change](https://github.com/triplea-game/triplea/commit/44f358f7fcf3d31321cfddc4289509395ea14074#diff-bfa3a4fe6065631b4ed6576b1ed67bd0) to the `ta_users` table schema.

I rebuilt my lobby database Docker container with the old schema and can confirm tha

[2017-09-09 18:18] panther2 commented on #2340
@ron-murhammer
I can confirm it runs fine now in all tested scenarios with 6542. Thank you!

[2017-09-09 18:18] #2340 closed

[2017-09-09 18:20] ron-murhammer commented on #2340
@panther2 Excellent. Also any additional testing on other maps with various SBR rules is appreciated. I want to make sure the changes didn't have any negative effects. Thanks.

[2017-09-09 18:35] panther2 commented on #2340
@ron-murhammer
I did a quick testing on WWIIv3 and WWIIv4. No further issues there.
I will keep an eye on it when I come to test other maps.

[2017-09-09 18:43] prastle commented on #2347
Some new info.  If it matters.  I can login with pre release using my old name of himmler.  Testing now but I am assuming i cant use stable with that name

[2017-09-09 20:22] RoiEXLab commented on #2347
@ssoloff Thanks for the analysis of this issue, @DanVanAtta should be able to alter the DB schema, when doing so I'd suggest to add another column for bcrypted passwords in order to be backwards compatible.
This would of course require another patch

[2017-09-09 22:36] wirkey commented on #2344
Login was still a bit slow.
More annoying is that I ain't a mod anymore. How am I supposed to abuse my powers if I don't have them anymore?

[2017-09-09 23:29] Heppisorus commented on #2344
Didn't you get the memo?

Awkward.

[2017-09-10 03:38] ron-murhammer commented on #2256
@panther2 The fix for this should now be in the pre-release. Please test and let me know if its works as expected.

[2017-09-10 03:53] ron-murhammer commented on #2259
Given that #2266 is a super set of this issue and the fix should address both, I'm closing this one and will track testing in that issue.

[2017-09-10 03:53] #2259 closed

[2017-09-10 04:20] ron-murhammer commented on #2266
@panther2 The fix for this should now be in the pre-release. Please test and let me know if it resolves the problem.

[2017-09-10 04:27] ron-murhammer commented on #2335
I don't have a strong opinion here. I tend to think of things as either bugs/defects/problems/etc or as features/improvements. If something doesn't work properly then its the first if its a suggestion to improve or add something new then its the latter.

Usability or UX is more of a category as you can have usability bugs (I personally believe the issue that started this discussion was on that typ

[2017-09-10 04:34] ron-murhammer commented on #2325
@Cernelius Can you also provide a save game showing the behavior so any fix can be verified?

[2017-09-10 09:21] RoiEXLab commented on #2347
@DanVanAtta I probably have sufficient rights to access the postgresdb, but I don't know how to exactly access it, assuming it's using a password.
Assigning you to alter the DB schema to have an additional column/allow for bcrypted passwords.
I'd suggest using char(60) instead of varchar as the hash should not change in length at all.
If I have the time tomorrow, I'll submit a PR which effectively

[2017-09-10 17:29] panther2 commented on #2256
@ron-murhammer
Thank you, I have done an extensive test documented in the attached savegame.
Now the French battleship is not repaired when Paris is in enemy's hand. When France retakes Pairs, the battleship is repaired correctly.
Also I have tested the correct handling of repairs for British battleships in case either London or Calcutta is in enemy's hand, as discussed in the above mentioned thre

[2017-09-10 18:01] panther2 commented on #2266
@ron-murhammer

Looks good, thanks!

[2017-09-10 18:01] #2266 closed

[2017-09-10 21:48] RoiEXLab commented on #2347
Thanks to @prastle I was able to alter the DB schema myself... I'll try to submit a fix tomorrow

[2017-09-10 23:47] prastle commented on #2347
no ty for helping me as well
@RoiEXLab

[2017-09-10 23:48] prastle commented on #2347
WE WILL GET THERE @ ALL

[2017-09-11 00:12] prastle opened #2353 "Lobby Mod Challenges"
As discussed in the past by many of the mods that are no longer here( sadly).  Admins of lobby and forum have some real issues that are never addressed.

 1 Security from anon login (hopefully) the new database solves this and allows mods/admins to see multinkicks.

 2 The ability for admin/mods to see server bans mutes boots when they havent been posted in bunker?

3 A very long list could be sta

[2017-09-11 01:38] ron-murhammer commented on #2256
@panther2 Wait a sec. I was thinking whether a naval base repairs ships depends on if the owner of the naval base controls their capital. For example, if France loses Paris then the naval base in Southern France won't repair French ships or allied ships.

You are saying the rule is actually that a nation can only repair its ships if it owns its capital and could even repair at naval bases of allie

[2017-09-11 03:35] DanVanAtta commented on #2347
@RoiEXLab please do not modify production by hand. All changes to production should be done through scripts that are checked in. Note that the new column is not going to get created during integration tests: https://github.com/triplea-game/triplea/blob/master/config/lobby/db/001_create_tables

We've had examples of blatantly broken install scripts, which is at least far better than the examples of

[2017-09-11 03:36] DanVanAtta commented on #2347
Please install one locally! Do not run anything in production unless it has been reviewed.

[2017-09-11 03:38] DanVanAtta commented on #2347
This is actually totally not necessary, create a file '002'  similar to: https://github.com/triplea-game/triplea/blob/master/config/lobby/db/001_create_tables, it will get picked up automatically during travis build and we can run the same in production to update the schema.

Schema updates are not run by me from a postgres command line. THe fact I"ve been doing that for moderator updates is reall

[2017-09-11 03:38] DanVanAtta commented on #2347
Let's just check both columns? Then it does not matter if client is old or new.

[2017-09-11 03:44] DanVanAtta commented on #2347
@ssoloff

[code]

I did not blow away the postgres DB.. We do need to tighten up the brand new process of deploying a schema. The schema does not match what is checked in: https://github.com/triplea-game/triplea/tree/master/config/lobby/db

I ran:
[code]

We now have:
[code]

`bcrypt_password` needs to have some constraints, it's not used. I dropped that as well:

[code]

We should now be more or

[2017-09-11 03:48] DanVanAtta commented on #2344
I'm questioning how much slower login actually is. I'm getting in under 20 seconds, but it was always a bit slow.. We had some severe minute plus logins, it does not seem that is the case anymore which really prompted this issue (90 second logins was a really long time).

We certainly need better data on performance, like how long it takes to log in.. Short term though there is not much to be done

[2017-09-11 03:48] #2344 closed

[2017-09-11 03:59] ssoloff commented on #2347
@DanVanAtta Confirmed that I can now create new accounts and login with existing accounts using the latest client from `master`. :+1:

Also, login times appear to be the same as what they were prior to the upgrade.  I am seeing about 10-15 seconds.

[2017-09-11 06:14] RoiEXLab commented on #2347
Okay @DanVanAtta I will remember sticking to the scheme scripts, would anyone mind if I copy the bcrypted rows over to the "new" column just before upgrading the server software using `UPDATE ta_users SET bcrypt_password=password, password=NULL WHERE password LIKE '$2a$%'`?

[2017-09-11 06:37] RoiEXLab commented on #2347
@DanVanAtta I actually added some constraints to bcrypt_password...
I added a check constraint which ensured either password is bcrypt_password is not null (you need to set the password column back to not null to get the initial behaviour.

[2017-09-11 06:46] panther2 commented on #2256
@ron-murhammer
Indeed. By the rules the repair of damaged ships takes place takes place during the "Purchase and Repair-Phase" of the ship-unit owner's nation. When the capital of the ship-owner's nation is in enemy's hands the Purchase and Repair-Phase is skipped. So there is no repair.
In SZ93 of the above example. France on its turn has lost Paris, so France has no P+R-Phase to repair it's Batt

[2017-09-11 08:58] panther2 commented on #2347
I have been able to log in with my new account and 6555 this morning.

So can this issue be closed - or is it still needed for any purpose?

[2017-09-11 09:42] RoiEXLab commented on #2347
In theory this issue can be closed, I'd like to implement a feature, which allows for some sort of backwards compatibility.
I will probably submit a PR today, which should then finally close this issue.

[2017-09-11 14:04] Cernelius commented on #2256
So, the rule would be that having no capital will not impede you to passively letting someone else with a capital repair at your base, with the only one exception that it does for the British capitals only (British bases in territories whose related capital is currently not British owned), but only with respect to British ships, yet still always allowing non-British ones to repair at any British b

[2017-09-11 15:26] panther2 commented on #2256
For repairs the rulebooks only require:
- the existence of a purchase and repair phase (thus requiring a capital) **of the ship's owning nation**
- the ship being at a friendly and operative (2 or less damage) naval base at that time

It is irrelevant whether the owner of an allied naval base has his capital. The base only conducts repairs.
It is the ship's owning nation that (in case it has its c

[2017-09-11 18:10] #2347 closed

[2017-09-11 18:11] DanVanAtta commented on #2347
@RoiEXLab if you are confident something is fixed, in this case you checked, you can close a report like this and ask it be re-opened if you missed something. I suggest that to reduce the overhead, so we can deal with things once by one person where possible.

[2017-09-11 18:16] DanVanAtta opened #2356 "introduce liquibase"
I think we should introduce liquibase into our stack. I think there are a few things to check on first, but there are some compelling reasons:

- the custom solution we have in the travis script is very obviously custom, it's not convincing that we run that against production. This has lead to a confused state where we do not know how to run DB commands properly.
- Our custom solution is not very

[2017-09-11 19:15] Cernelius commented on #2256
I was mostly suggesting to specifically confirm that British bases owned by a British economy without capital still allow repair to any allied ships but don't allow repair to British ships.

I'm just abstaining giving a personal opinion on the sensibility of these rules, but you may want to give alternative options for custom maps; up to you. Maybe ask the TWW mapmakers.

[2017-09-11 19:17] panther2 commented on #2256
Ah ok. Confirmed!

[2017-09-11 19:33] Cernelius commented on #2256
Yes. I didn't mean to reverse the point of view. What I was sayin is, more specifically:

_In the scenario of British owning only part of its capitals, British bases owned by a British economy without capital still allow repair to any allied ships but don't allow repair to British ships, even tho these ships are themselves able to repair (at any other naval bases), for British still having a capit

[2017-09-11 20:12] Cernelius commented on #2256
That is actually what I wanted to clarify; maybe I didn't. With "allow repair" I didn’t' mean that the bases, or the players owning them, are repairing; I meant "allow the ships to repair themselves" or "satisfy the naval base requirement for the ships to repair themselves".

So, let's say I can rewrite it this way:

_In the scenario of British owning only part of its capitals, British bases owned

[2017-09-11 20:25] Cernelius commented on #2256
Basically, the issue is that when I said "the base allows repair" you understood that I was saying "the base is allowed to repair", while I was saying "the base allows the ships to repair themselves" or "the ships are allowed to repair themselves by the base" (if I'm being grammatically correct, since I'm not English).

But nevermind if I'm adding confusion.

[2017-09-11 20:47] panther2 commented on #2256
I am afraid I have nothing more to add.

Generally, I am just explaining the rules sticking close to the rulebooks. As it is always easier to explain and understand the rules by what is written there rather than by what is not written there and/or (sometimes mis-) interpreted into them.

If your own words or interpretation help you to better understand the issue it's just fine. :smile:

[2017-09-12 03:51] ron-murhammer commented on #2356
@DanVanAtta I'm fine if you want to add liquibase.

[2017-09-12 03:54] ron-murhammer commented on #2256
@panther2 Latest changes should be in pre-release. It should now work properly for everything except the UK scenario. I have to think about whether there is an easy way to meet the UK functionality with how the dual UK players are setup in the engine.

[2017-09-12 08:38] RoiEXLab commented on #2100
@DanVanAtta @ron-murhammer @ssoloff
I'm required to go to a notary (or similar) in order to get my identity verified, unless we register the TripleA org as a company.
I really don't know anything about registering companies and the different possibilities there are, the question is: Is it worth it? We'd be required to pay taxes etc. and worry about much more stuff.
I just wanted to tell you about

[2017-09-12 12:22] panther2 commented on #2256
@ron-murhammer

Thank you. I have done another extensive testing. See the attached savegame.
The remaining issue, stated here https://github.com/triplea-game/triplea/issues/2256#issuecomment-328358100 is resolved now.

But (as expected) we now have issues concerning UK with British ships.

The scenario begins when India is taken by Japan. Here all damaged British ships are treated correctly, **exc

[2017-09-13 15:36] ssoloff commented on #2356
Inspired by [this article](https://martinfowler.com/articles/evodb.html#AllDatabaseChangesAreMigrations), an incremental improvement that wouldn't require fully switching to Liquibase would be to

1. keep a changelog table in the database itself that records each migration that has been applied, and
1. write a simple shell script that
    1. looks up the highest applied migration from the changelo

[2017-09-13 18:16] DanVanAtta commented on #2100
I don't know if registering as a non-profit would give us any benefit or even change much of anything. Is the notary just an extra nuisance, or is there any extra implication or liability to you @RoiEXLab if you proceed?

This all does seem like one damn giant scam though, to think we also will have to pay yearly for these privileges... At this point, I would wonder what is common for other open s

[2017-09-13 18:59] RoiEXLab commented on #2100
@DanVanAtta It's just another nuisance + extra fee in order to verify my identity (which apparently cannot be proved by my ID + bank documents etc. only).
It'll be one-time only, so that won't be a major problem.
The good thing is that there's no time limit on any decision. We can get a full refund any time until we haven't proven my or any other identity.

A code signing Certificate is normally d

[2017-09-13 19:21] DanVanAtta commented on #2100
If we want further legal clarification, that is our best route. Sounds like the notary is just a nuisance.

I appreciate the high thoughts, but I am a humble linux user and the binary signing and certs do not come up at all. I actually know very little about this process, just what is being reported and mainly that is from your research.

It does seem like Win10 and MacOS do have a successful scam

[2017-09-13 19:29] DanVanAtta commented on #2356
@ssoloff I was thinking similar, and a custom script do so would not be terribly difficult. But, for steps one and two that you have outlined, liquibase is exactly that (and not a whole lot more).

I think the next steps are to research how we would integrate liquibase and make it easy to run. I'll assign to myself to follow up further.

[2017-09-13 19:34] DanVanAtta commented on #2356
NB: @ssoloff @RoiEXLab liquibase runs migrations as a single transaction, so it simplifies a little bit the SQL that needs to be written. The `001_create_tables` file was created with liquibase in mind (at least in imitation of that setup)

[2017-09-13 19:53] RoiEXLab commented on #2100
@DanVanAtta I actually meant the legal stuff, e.g. the discussion about making the TripleA Org an actual company, but ok.

The Problem is not so much Microsofts or Apples policies, but much more the actual implementation of trust systems in the Internet.
Getting a certificate for any purpose is somewhat like getting a new id card with the exception you can only buy them from capitalistic companies

[2017-09-13 22:02] prastle commented on #2100
@RoiEXLab  @DanVanAtta  @ssoloff  Just a ? But if we are not for profit is there somewhere we can be registered that has no taxes for non - profit?  Also if we are registered non-profit pay pal fees go down ;)  Just some info.

[2017-09-13 22:03] prastle commented on #2100
In addition Pay pal doesn't care unless over $10 000 in donations.  Thus I would assume same for USA etc.

[2017-09-14 19:07] panther2 commented on #1270
@simon33-2 @DanVanAtta
I have tested the issues mentioned in the first posting using 6604 and wwII-global.
Generally they are resolved correctly.
Unfortunately there is one remaining issue:
In the attached savegame the Russian transport is removed incorrectly from SZ 115.
In the sea battle the hits were assigned to the cruisers leaving the German carrier and the Russian transport behind. As the ca

[2017-09-14 21:05] simon33-2 commented on #1270
Bummer! I'll look at that over the weekend.

[2017-09-15 06:53] panther2 commented on #1270
Thank you, @simon33-2

While there, please look at another scenario, too:

[test4_incorrect.zip](https://github.com/triplea-game/triplea/files/1305496/test4_incorrect.zip)

Here a German cruiser and transport attack a Russian cruiser and transport.
Both cruisers hit, so the transports survive. In this special case the rulebook says:

TripleA does not offer the retreat option.

[2017-09-15 07:06] Cernelius commented on #2335
Also, I personally would be sure that this is a bug (and would suggest labelling it as such):
https://github.com/triplea-game/triplea/issues/1270

In the moment you are offered an option you should not have, even if maybe all code as written is working exactly as intended... Well anyways I guess you should clearly define what a bug is, document it, and, then, try to apply it consistently. The main

[2017-09-15 23:08] simon33-2 commented on #1270
That rule is a bit daft isn't it? If a transport is in an attack, it's either doing an amphibious assault or started in a hostile sea zone. In either case, I don't see why you should have the option to retreat. Is it the same in other variants?

[2017-09-16 01:06] simon33-2 commented on #1270
@panther2 what platform do you use? Windows, is it 32 or 64 bit?

I have a fix for test3  - was using the defense power.

[2017-09-16 02:55] simon33-2 commented on #1270
[mac.zip](https://github.com/triplea-game/triplea/files/1308018/mac.zip)
[unix.zip](https://github.com/triplea-game/triplea/files/1308019/unix.zip)
[win32.zip](https://github.com/triplea-game/triplea/files/1308021/win32.zip)
[win64.zip](https://github.com/triplea-game/triplea/files/1308020/win64.zip)

I decided to attach installers for all platforms. Are there any other cases I've missed?

[2017-09-16 06:01] simon33-2 commented on #1270
I've tested your test4 scenario in versions back to 1.8 and this scenario has never been implemented as per the rulebook. I can't get excited about it.

[2017-09-16 07:30] panther2 commented on #1270
Thank you @simon33-2 . I will run the test3 sceanrio soon using the latest TripleA-pre-release.

Concerning the test4-scenario:

Yes, at least in v3, v4, v5, v6 and Global (not having checked older versions, though).

[2017-09-16 13:33] panther2 commented on #1270
Anyway, this issue is different from the initial one (retreat options were incorrectly offered), so I am closing this issue and open a new one for the new scenario (here a retreat option is incorrectly **not** offered).

[2017-09-16 13:46] panther2 opened #2367 "Incorrect Handling of v3+ Transports Stalemate and Defining 0v0 Stalemate Behavior"
### My Operating System:
Windows 7.64

### TripleA version:
1.9.0.0.6620

### Map:
wwIIv3, v4, v5, v6, Pacific 1940, Europe 1940, Global 1940

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
In case the result of a sea battle is an attacking transport facing a defending transport TripleA does not offer the attacker's option to retreat but ends the ba

[2017-09-16 16:18] RoiEXLab commented on #2307
I believe this issue can be closed until we find a solution for  #2318

[2017-09-16 16:18] #2307 closed

[2017-09-16 21:17] ssoloff commented on #2285
For anyone with an install4j 6 open source license key...  The v6 license key can be upgraded to a v7 license key [here](https://www.ej-technologies.com/support/upgradeProduct) at no charge.  This process will not revoke the v6 license key, so it can continue to be used until the v7 upgrade is complete.

[2017-09-17 01:52] Heppisorus commented on #2224
This affects more unit interacts as well.  The same thing happens in TWW when you stop a sub in the same SZ as a destroyer (which cannot block the subs movement)... you have to undo the move and redo it moving to the final destination (through the SZ with the destroyer) without stopping.  Minor annoyance... but I agree with Dan's assessment.

[2017-09-17 09:19] panther2 commented on #2256
@ron-murhammer

This is the result of testing the latest scenario using 6635:

When India is captured by Japan
- the British battleship at SZ 37 (Malaya) is incorrectly repaired

When London is captured by Germany
- the British battleship at SZ 101 (EUS) is incorrectly not repaired
- the British battleship at SZ 93 (Southern France) is incorrectly not repaired
- all British battleships on the Paci

[2017-09-17 19:36] Heppisorus opened #2372 "Units edited during current movement phase ignored for bonus movement"
### My Operating System:
Windows 10
### TripleA version:
1.9.0.0.6604 (all pre-releases I tried)
### Map:
Global variants, TWW (any map with units that provide extra movement)
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Simply edit any unit that receives bonus movement from another unit... into the terr. with the unit providing the additional mov

[2017-09-17 20:04] ron-murhammer commented on #2256
@panther2 Sorry, needed to make a small change to the code. You also need to add this in the game.xml to test:

Replace:
<step name="britishCombatMove" player="British" delegate="move"/>

With:
<step name="britishCombatMove" player="British" delegate="move">
<stepProperty name="combinedTurns" value="British:UK_Pacific"/>
</step>

[2017-09-17 21:19] panther2 commented on #2256
Thanks, @ron-murhammer .
Already night here, so I will test this tomorrow.

`Note to myself: code change starts at line 1369`

[2017-09-18 02:49] prastle commented on #2372
:)

[2017-09-18 13:51] panther2 commented on #2256
@ron-murhammer

Success!!!

I set up the scenario again using the modified game.xml. Now everything is handled correctly.
All repairs/non repairs are done accroding to the rules respecting the ownership of the local UK-capital.

Now we have to update the map-repo accordingly.

Inside the zip find the modified xml, the scenario setup and the savegame after completing turn 2.

[savedGames.zip](https

[2017-09-18 14:09] RoiEXLab commented on #2256
@panther2 Can this issue be closed then?

[2017-09-18 14:13] panther2 commented on #2256
@RoiEXLab

IMHO yes, I must have missed to hit "Close and comment" :wink:

[2017-09-18 14:13] #2256 closed

[2017-09-18 20:18] RoiEXLab opened #2376 "How to handle overflow issue"
I discovered an issue with @prastle earlier that day, which seems like a Java bug to me (probably worth reporting, if I knew where).
An ArithmeticException is being thrown when banning someone forever using the MenuBar Toolbox.
The change in https://github.com/triplea-game/triplea/commit/62ede44a596452aca66e9895545c6268a5d3375a#diff-8720367863d7314b908593d8073c7baeR158 introduced it, but did not r

[2017-09-18 21:25] ssoloff commented on #2376
I only looked at this briefly, so I may be misunderstanding the issue, but it appears `requestTimespanSupplication()` is returning three different types of values:

1. a relative duration to be added to an absolute time (values in the range [0, `Long.MAX_VALUE`)),
1. an absolute time representing "impossibly far in the future" (the value `Long.MAX_VALUE`), and
1. a flag indicating the user cancele

[2017-09-18 21:31] RoiEXLab commented on #2376
@ssoloff I'd like to encourage you open a PR for this issue, I just did some testing with Date and instance objects.
You found a pretty good solution for the problem, but I suggest passing null to the banUsername/banMac methods if the ban is forever in order to be consistent.

[2017-09-19 01:26] ssoloff commented on #2376
Well, that's probably not going to happen any time soon. :smile:  I have too many things in-flight at the moment, and this would require some significant testing and test writing.

Returning `null` from `requestTimespanSupplication()` would cause some confusion between it and an empty `Optional`.  Maybe the thing to do is use `Instant#MAX` as a sentinel value and transform it to `null` in `LobbyMe

[2017-09-19 01:41] ron-murhammer commented on #2372
@Heppisorus @prastle This should be resolved in the latest pre-release. Please test and let me know.

[2017-09-19 01:56] ssoloff commented on #2285
The build after merging #2369 appears to have been successful.  I smoke tested the Unix installer from this build and observed no problems.  Closing this issue.

[2017-09-19 01:56] #2285 closed

[2017-09-19 02:01] Heppisorus commented on #2372
Sure thing

On 09/18/17, Ron  <notifications@github.com> wrote:

[2017-09-19 02:01] ron-murhammer commented on #2256
@panther2 Mind submitting the PR to update the appropriate game.xml for Global? I'm guessing this should be updated in all of the various global XMLs but not sure.

[2017-09-19 02:03] Heppisorus commented on #2372
Sure thing.  Look at it tomorrow.

[2017-09-19 02:06] ssoloff opened #2377 "Clean up after upgrade to install4j 7"
The following tasks need to be performed now that install4j has been upgraded to version 7 (#2285):

* [X] Backup the install4j 6 and 7 license keys (@ron-murhammer).
* [X] Remove the install4j 6 license key (`INSTALL4J_LICENSE`) from the Travis configuration (@ssoloff).
* [X] Disable the debug build feature on Travis (@ssoloff).

@ron-murhammer Since the first task may depend on the others (depen

[2017-09-19 03:03] prastle commented on #2372
Already checked yes it works.  TY

[2017-09-19 03:22] ron-murhammer commented on #2372
@Heppisorus Someone has to clean up your mess :)

@prastle Thanks! Gonna close this. If you find any issues, please let me know.

[2017-09-19 03:22] #2372 closed

[2017-09-19 04:27] RoiEXLab commented on #2376
@ssoloff I did not, but my concern would be that Instant.MAX is actually too big of a value that postgres could handle.
java.sql.Timestamp extends java.util.Date, so we wouldn't be able to convert types already at that point.

[2017-09-19 04:33] RoiEXLab commented on #2376
Anyways I do not want to push the scope of #2355 even further. This would be a change for a follow-up PR, where we could also consider merging banned_macs and muted_macs tables into punished_macs with 3 rows as well as merging banned_usernames and muted_usernames together into one table as well.

[2017-09-19 04:57] ssoloff commented on #2376
Good point.  And it looks like these methods will throw an `IllegalArgumentException` if an `Instant` value larger than the maximum `Timestamp` value is passed.  Since we changed these methods from previously accepting a `Date` to now accepting an `Instant`, do we need to do some additional mapping between the domain and data layers.  For example, map any `Instant` value greater than the maximum `

[2017-09-19 05:01] RoiEXLab commented on #2376
Something like this would be desirable, but then again this would be inconsistent with null being passed into the ban controller method.
Changing that would introduce breaking changes.

[2017-09-19 05:57] panther2 commented on #2256
@ron-murhammer

I have already commented on this here: https://github.com/triplea-maps/world_war_ii_global/issues/24

I will submit a PR updating 3 out of 7 files soon. I will give you a note when it is done.

[2017-09-19 07:24] panther2 opened #2379 "Feature request: Option to enable/disable autosaves"
If it is not too much work I would welcome an option (hopefully I did not miss it) to disable/enable autosaves.

My savegame folder regularly gets flooded with autosaves, that I never ever have needed.
Personally I save manually whenever I feel it is needed.

So an option to enable/disable autosaves would be helpful.

[2017-09-19 10:48] simon33-2 commented on #2379
The most recent versions put it into a sub directory and have done for quite a while. Why's it cause you a problem? I don't think I understand.

You haven't found the usefulness of this change? I think it's great (although I would). I never used autosaves before but find them useful now.

[2017-09-19 11:13] simon33-2 commented on #2314
Video: https://github.com/triplea-game/triplea/files/1313981/loseSaveGame.zip

Shows one instance of it working, then one instance of it not working. Also posted in #2368.

[2017-09-19 11:20] panther2 commented on #2379
When we discussed this feature in April I already mentioned my opinion on this, starting from here:
http://www.axisandallies.org/forums/index.php?topic=39766.msg1655321#msg1655321

I find savegames useful when I need them, this is why I save manually in case I feel I need one - having the opprtunity to assign a file-name myself.

Also in the current implementation it's hard to identify to which ga

[2017-09-19 11:27] simon33-2 commented on #2379
It's not just system crashes though. There's also the every day situation of forgetting an NCM. I use autosave in this case. If playing combat move before purchase, I can also use it for changing combats after getting to the purchase box.

If it really bothers you, make the autoSave directory read only. That'll stop 'em! I found it worked similarly when it was doing autosave onto a samba share.

[2017-09-19 11:32] panther2 commented on #2379
There is no dedicated autosave directory. All those files go into my regular saveGame directory. Way too much files there...

[2017-09-19 11:33] simon33-2 commented on #2379
You must have an old build. There is a dedicated autoSave directory now.

[2017-09-19 11:34] panther2 commented on #2379
Simon, I am testing all the new versions day by day. How do you come to think I have an old build?

[2017-09-19 11:38] simon33-2 commented on #2379
That is very strange. I'm looking at PR #1672 where this was done and it looks like only one step was ever made. I'll keep looking at why all the autoSaves might be going to the same directory. I agree that would be annoying, which was the reason I came up with the idea of putting them all in a subdirectory.

[2017-09-19 11:58] panther2 commented on #2256
@ron-murhammer Done: https://github.com/triplea-maps/world_war_ii_global/pull/25

[2017-09-19 11:58] simon33-2 commented on #2379
Looks like a problem on Windows only. I have reproduced it.

[2017-09-19 12:02] RoiEXLab commented on #2314
@simon33-2  This Framerate (15FPS) is killing me, but you load a game, close it quickly, load another one quickly, click quickly on play and then it loads the previously loaded savegame instead of the newly selected one.
Is that correct?

[2017-09-19 12:07] simon33-2 commented on #2314
Not quite. After exitting one large game, selecting another large game, then clicking "Play", the default game is loaded, not the selected game.

Do you want a slower frame rate?

I'm not sure why it worked in the first instance! Perhaps I was just a little too slow to see the problem.

[2017-09-19 12:10] RoiEXLab commented on #2314
More frames ^^ Not less, I can slow the video down on my own ^^
Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaahhhh. Now I think I know what you meant.
So you mean, you selecte the savegame, but instead of loading the savegame TripleA just loads the map without the savegame applied to it?

[2017-09-19 12:17] simon33-2 commented on #2314
Yes, correct.

[2017-09-19 12:19] simon33-2 commented on #2314
Do you want me to recreate the video?

Notice the round number in the bottom right. The filename ends with the round number which should be used (as you might expect). After the second time I load the game, it is set to 1.

[2017-09-19 12:20] RoiEXLab commented on #2314
@simon33-2 I don't think it's neccessary to recreate it...
I have an odie how we could possibly fix this...

[2017-09-19 12:20] simon33-2 commented on #2379
PR #2380 created to fix the problem of the autoSaves not going to an autoSave directory on Windows. (Mac and Linux are fine).

[2017-09-19 12:40] simon33-2 commented on #2379
@panther2 Thanks for reporting this. This feature might have gotten a lot of negative feedback if it had gone out without the above fix. Hopefully, it is merged quickly.

[2017-09-19 13:12] simon33-2 commented on #2379
BTW, the autoSave subdirectory gives a defacto option to specify the autoSave directory - by creating a link to wherever you would like it to be.

5 consecutive posts. Sorry.

[2017-09-19 13:37] panther2 commented on #2379
I will take a look once it has been merged. A dedicated subdirectory for those files would be an improvement to the status quo, for sure.

[2017-09-19 20:10] simon33-2 commented on #2379
Build 6676 should have this change.

[2017-09-19 20:21] panther2 commented on #2379
Looks good. No need to think about an option any longer, IMHO. Thank you.

[2017-09-19 20:21] #2379 closed

[2017-09-20 08:40] Leijonma opened #2388 "BANNING"
### My Operating System:

### TripleA version:

### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:

Hallo AAA!

When I tried to log in to Lobby I got following message

"You are ba

[2017-09-20 10:00] RoiEXLab commented on #2376
I created a bug report btw: http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8187708

[2017-09-20 18:49] RoiEXLab commented on #2388
@Leijonma Could you try logging in again?
We removed the only entry for one year, we got many reports of 1 year bans in the last couple of days, so we might have a deeper issue there...

[2017-09-21 03:36] ron-murhammer commented on #1768
@DanVanAtta @RoiEXLab @ssoloff I think we should be pretty much ready to release the next stable. Only thing left I think is to restore Graphite L&F default.

[2017-09-21 03:47] ssoloff commented on #1768
@ron-murhammer I'm hoping to submit a PR within the next 24 hours related to #2169.  The only reason I would want to get it in before the next release is because it changes where the master password used for encrypting credentials is stored.  That's a feature that will first appear in the next release, so changing it now won't break compatibility (except for our beta testers who use the latest pre

[2017-09-21 03:57] ron-murhammer commented on #1768
@ssoloff That's fine, we can wait for that. Just want to get it out in the next few days as its been dragging on especially while we seem pretty stable.

[2017-09-21 07:46] Leijonma commented on #2388
Hallo AAA!

Have succeded to get to the Lobby now, twice.

Thank You TripleAAA

hale

Skickat från min iPhone

20 sep. 2017 kl. 20:49 skrev RoiEX <notifications@github.com<mailto:notifications@github.com>>:

@Leijonma<https://github.com/leijonma> Could you try logging in again?
We removed the only entry for one year, we got many reports of 1 year bans in the last couple of days, so we might have a

[2017-09-21 07:52] #2388 closed

[2017-09-21 10:23] RoiEXLab commented on #1768
Not that important, but just for the sake of consistency: I'd like to merge #2358 before releasing a new stable.
The changes are just backwards compatible server-side, but we probably want to have the exact same version as stable and as lobby.

[2017-09-21 10:42] simon33-2 commented on #2367
This can be handled with edit mode though, if you really want to, right?

[2017-09-21 11:28] simon33-2 commented on #1768
Hallelujah!

Happy to wait for those two issues.

What about #1739? Shouldn't we get rid of the fourth version number?

[2017-09-21 11:41] panther2 commented on #2367
Indeed - and I can stop playtesting for rules compliance, too, as everything can be handled by edit mode. Am I just wasting my time?

Simon,  Ihave been added to the playtesting group for some reason!
https://forums.triplea-game.org/topic/268/volunteers-needed-early-release-testing-group/

[2017-09-21 11:50] simon33-2 commented on #1768
Logged PR #2394 for removing the 4th version number.

Note that latest_version should not be changed!

[2017-09-21 12:05] simon33-2 commented on #2367
Well we know that not everything can be handled that way, at least not easily.

It's just that this one is well down the list of issues. Firstly, even if the situation appears, it is highly unlikely that you would want to retreat and leave the land units on the transport. Secondly, it's one of the less desirable rules. I know you don't rate the second point.

[2017-09-21 12:09] simon33-2 commented on #2367
For me, the real problem is that this issue is not included in the game notes.

[2017-09-21 12:24] simon33-2 commented on #2229
Excellent! This was one of the ones which I found annoying.

[2017-09-21 12:27] simon33-2 commented on #2228
All air battles are already automatically fought!

Amphibious assaults are not presently noted differently from overland or naval battles.

Removing "Battle in" has no impact on maps I'm aware of; perhaps there are other maps though.

[2017-09-21 13:19] panther2 commented on #2367
I am not assigning priorities, I am simply pointing out issues - and (if possible) help resolving them according to my skills.

Personally, I consider the list in the game notes (global) as a list of currently unresolved issues - corresponding to this list: https://github.com/triplea-maps/world_war_ii_global/issues/2

Sidenote:

In case you do not have enough seaborne units left to invade the enem

[2017-09-21 21:06] simon33-2 commented on #2367
Hmm, interesting point about some transports might have been lost! I hadn't thought about that. That possibility still applies if the defender has no transports though, why should you only get a retreat option in the instance that there happen to be defending transports?

Regarding it being less desirable, it adds confusion and goes against the Zen theory of forbidding retreats when no units who c

[2017-09-22 07:35] panther2 commented on #2367
Yes, as I said above - this is an exception.

Respecting your individual particular opinion on this issue,  I am safe to say that the discussed rule has been explicitly written in every rulebook **starting from Anniversary Edition in 2008.**  That it has not been correctly implemented in TripleA does not make it suddenly surprising or confusing or more or less desirable in general.

Retreat rules

[2017-09-22 08:34] simon33-2 commented on #2367
Fair enough.

[2017-09-22 16:15] panther2 opened #2398 "New (?) lobby login failure (stable only)"
### My Operating System:
Windows 7.64

### TripleA version:
Stable (3635)

### Map:
irrelevant

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Lobby login fails (stable only)

### Do you have the exact error text? Please copy/paste if so
![tra](https://user-images.githubusercontent.com/20812775/30753925-13bfcb4e-9fc1-11e7-9728-b8ceb00e037e.PNG)

###

[2017-09-22 16:53] ssoloff commented on #2398
@panther2 In the current production lobby database, there is a single column that is used to store your hashed password.  However, the current client uses one algorithm to calculate the hashed password (MD5Crypt) while the pre-release client uses a different algorithm (bcrypt).  Because there's only a single column, only one or the other type of hashed password can be stored at a time.

Therefore,

[2017-09-22 17:01] ssoloff commented on #2398
#2347 (comment)
I had been able to log in to 3635, too.

For completeness....  This worked temporarily due to an error on our part.  We deployed the new lobby code without updating the database schema to match what it expected.  This prevented the new lobby from writing the bcrypted password, so it _always_ wrote the MD5Crypted password.  Because the pre-release client can login with either the MD

[2017-09-22 17:34] panther2 commented on #2398
Understood! Thanks a lot for the comprehensive background information, @ssoloff .
So my feeling that my latest experience has been "expected behaviour" due to interim development has not been wrong.

I'm sticking to latest pre-releases anyway and only access 3635/stable for testing purposes here and there. But your explanation will help me understand possile issues other players experience better.

[2017-09-22 17:34] #2398 closed

[2017-09-22 18:02] prastle commented on #2398
TY  @ssoloff  but the simple answer is if @hepps wants to use pre release he needs account deleted and needsto login with a pre correct?

[2017-09-22 18:49] ssoloff commented on #2398
@prastle I looked at @Heppisorus's [thread](https://forums.triplea-game.org/topic/329/installing-and-running-pre-release) on the forum.  As @panther2 pointed out, that error message indicates the client cannot even connect to the lobby; not that authentication failed.  So it is probably unrelated to the old vs. new hashed password issue discussed above.

I think @panther2's theory about Windows Fi

[2017-09-22 18:50] prastle commented on #2398
Just to clarify
I cannot login with stable after login with new pre

[2017-09-22 18:51] prastle commented on #2398
all other pre releases work have um 20?

[2017-09-22 18:51] prastle commented on #2398
but not stable

[2017-09-22 18:53] panther2 commented on #2398
@prastle This is most likely due to the same situation I created this issue for.

[2017-09-22 18:53] prastle commented on #2398
he only way I was able to login again with a pre was by deleting my own account....

[2017-09-22 18:54] ssoloff commented on #2398
@prastle

I cannot login with stable after login with new pre

 Yes.  Unless @RoiEXLab overrides me on this, that is the expected behavior at this time.

[2017-09-22 18:55] prastle commented on #2398
ok so can someone tell hepps since he doesnt believe me

[2017-09-22 18:55] prastle commented on #2398
and by delete to be CLEAR
deleted from database
and recreated

[2017-09-22 18:56] ssoloff commented on #2398
@prastle

Did you mean "with ~a pre~ current"?

[2017-09-22 18:56] prastle commented on #2398
YES

[2017-09-22 18:57] prastle commented on #2398
Created account with stable
couldnt use pre
Created account with pre
cant use stable

[2017-09-22 18:57] prastle commented on #2398
Is that clear?

[2017-09-22 18:59] prastle commented on #2398
Just to also clarify Why am I deleting myself to test?

[2017-09-22 19:03] prastle commented on #2398
atm using .6714
i appologize for the issues
just explaining as best i can @panther2  did as well

[2017-09-22 19:04] ssoloff commented on #2398
@prastle

I think so.  If you're saying you can't login with a pre-release using an account created with 3635, that's a problem.  Let me try to reproduce that.

Because we broke compatibility. :smile:  To be fair, I don't think the concept of the test group had been established at the time those changes were merged into the pre-release.  So no one was thinking there would be a large number of user

[2017-09-22 19:09] prastle commented on #2398
No what im saying is i cant login with an acount created with pre release back to stable
thus hepps recreated his new account in stble and cant use a prerelease.

[2017-09-22 19:12] prastle commented on #2398
SO
as i asked in other spots
Is the simple answer delete his account and he logs in with a pre?

[2017-09-22 19:27] ssoloff commented on #2398
@prastle

Ah, ok.  I was confused by the first two lines of your previous statement:

couldnt use pre

I interpreted that to mean you could not use the pre-release after creating an account with stable.

<hr>

If hepps is getting a "Connection Refused" error, I don't believe deleting and recreating his account will have any effect.  That error implies his client is not even making a network connec

[2017-09-22 19:43] prastle commented on #2398
ty we can try that

but i can safely say

anyone on stable join that time period cant go vice versa

[2017-09-22 19:43] prastle commented on #2398
doesnt really matter its truly up to him

[2017-09-22 19:44] prastle commented on #2398
and yes he created with stable thus cant use pre

[2017-09-22 22:41] RoiEXLab commented on #2398
@ssoloff Everything you said is correct.
The "hack"/workaround you spoke of: It's true, thr code hasn't changed, because the code to update the current password is invoked seperate from the whole login and registering code.
The latest commit to the branch of my PR "fixes" this behaviour by sending a "not-md5crypted hash" along with it, but it doesn't improve security, as this md5 hash is not send

[2017-09-22 23:55] simon33-2 commented on #1768
Can I suggest that the removal of the old jar mechanism should be held over until the next incompatible release? I find that mechanism really useful.

[2017-09-23 15:37] DanVanAtta commented on #1768
my 2 cents, as soon as we have testing cleared, we should release: https://docs.google.com/spreadsheets/d/1CSZ4s7wBLcvgue_IHwl-CbjQd95qj8hhR8m89ngCzbU/edit?usp=sharing

I would also recommend everyone taking a stab at testing and add a column in that sheet and also test the latest version. It's pretty surprising how many usability issues and other bugs can be found.

We have been trying to work ou

[2017-09-24 00:02] simon33-2 commented on #2367
One more comment on this one. Perhaps confusion was the wrong word above. I should have said that the exception adds to complexity without improving game play.

[2017-09-24 06:52] panther2 commented on #2367
Again a very particular and individual opinion, that I respect, but do not share.

In this case complextiy lies in the fact that this special rule has been overseen for coding since Anniversary Edition so the retreat rules (otherwise having been resolved correctly in #1270) never took this rule into account.

[2017-09-24 07:13] simon33-2 commented on #2367
Adding complexity is a fact, is it not?

How does it improve game play?

[2017-09-24 07:25] panther2 commented on #2367
I brought examples above.

Simon, if you don't want to resolve this issue then leave it. I did not ask you to solve it.

[2017-09-24 07:27] panther2 commented on #2367
Playtesting is just pointless if everyone has its personal "quality process" and judges about core game rules.

[2017-09-24 13:42] simon33-2 commented on #2367
Yeah, fair enough. I've got a few other things I'm more worried about.

[2017-09-24 19:28] RoiEXLab commented on #2269
@DanVanAtta I'd close this issue given that we already updated the lobby.

[2017-09-24 20:14] RoiEXLab commented on #1768
@ron-murhammer @DanVanAtta @ssoloff
I edited the old 1.9.0.1 milestone and used it as "tracking label" for issues that _definetely need_ to be adressed before releasing a new stable.
There are just 2 things I'd like to personally get done before a new stable: #2358 and one thing I noticed: The automatic update checking does not make use our "new stable workflow" e.g. using the GH API to determine

[2017-09-24 20:21] prastle commented on #1768
(Gives a silent noob cheer in background )  :)

[2017-09-24 21:20] DanVanAtta commented on #2367
Not all bugs are equal, agree. Though it is good to have issues like this for a few reasons. First, there is something wrong/incorrect in the game, the fact it is not common is immaterial. Also in case we get a new dev in the group, smaller/easier issues like this are good tasks to have for them to pick up and to get accustomed to the code. Worst case, a list of issues is good in case we choose to

[2017-09-24 21:25] DanVanAtta commented on #1768
I'm not 100% sure we should do that. If we do, we can't have a 'soft-release'. Also, I really do expect us to start marking releases as stable on a weekly or bi-weekly basis. That would be too fast a cadence for the normal user to be upgrading. (Noting, 95% of all release versions will be backward compatible, I would expect non-backward compatible to be once or twice a year, and with current effor

[2017-09-24 21:51] RoiEXLab commented on #1768
@DanVanAtta If you worry about the message being displayed too often, we could of course implement a cooldown which makes TripleA not check for updates for the first month after a update

[2017-09-25 00:54] prastle commented on #1768
Somewhat off topic ( but quite about this ) is the simple point that in the old days everyone had one engine.  A stable engine.   We need everyone on the same one again.  Jmho.  It is very difficult to test glitches when George has 37,  Sue has 38 and I have 41.  Just my two cents worth.  Either way you guys are getting there and an amazing job with all the new changes :)

[2017-09-25 04:56] DanVanAtta commented on #1768
I'm more worried about releases going out to every player and then us realizing pretty quickly there is a bad bug, and then downgrading the latest release. In that case everyone then has to downgrade, and we potentially have a number of games that are in limbo as well.  The alternative I imagine is we mark the latest as stable, then ideally some small percentage would use that version and we would

[2017-09-25 04:59] DanVanAtta commented on #1768
We may never quite see that again, the pace of development is MUCH faster in github. Also I'm not sure I agree on that need. If versions are backward compatible, and if there are minor differences between versions, I don't quite see the problem if people are on different build numbers.

[2017-09-25 05:08] DanVanAtta commented on #2269
@RoiEXLab for things like this that are pretty clearly done, feel free to close and ask to re-open if anything is remaining, or add the 'close pending confirmation' label and then close a few days later.

[2017-09-25 05:08] #2269 closed

[2017-09-25 05:08] DanVanAtta commented on #2269
(assigning to someone means they are actively working a problem, that is not the case here, this was more or less orphaned but in a done state, hence the assignment not super appropriate, but all good :+1: )

[2017-09-25 05:10] DanVanAtta commented on #2100
@RoiEXLab what are next steps here?

@prastle if there is benefit to us being a non-profit, I think that is probably worthwhile picking up in a new issue. WE need to coordinate that effort, but the benefits to do so I think need to be discussed first for it to be worth doing at all.

[2017-09-25 05:12] DanVanAtta commented on #2377
@ssoloff backups of the keys are accomplished by distributing to multiple people. At least both Ron and I should have the keys, please send me the install4j 7 key.

When we remove the install4j 6 key, are we replacing it with the 7 key? Does 7 no longer need a license key?

Why disable the debug build feature in travis, can you point to me when it was added?

[2017-09-25 05:17] prastle commented on #2100
It was just a general comment.  We need to be incorporated as non profit to get those savings.  But yes there is a benefit.  Paypal fees are reduced slightly.  But unless we are over 10 000 dollars in donations this might be a completely moot point.  I was mainly asking to discover if TripleA was registered already.

[2017-09-25 05:18] prastle commented on #2100
Good news is it might help @RoiEXLab  with above as well. @DanVanAtta

[2017-09-25 05:35] ssoloff commented on #2377
Sure, not a problem.  However, I'd prefer to do this securely.  Can you email me your PGP public key so I can return the key to you encrypted?  I could also securely send you the key via ProtonMail if you have an account.

Alternatively, you can start a Travis [debug build](https://docs.travis-ci.com/user/running-build-in-debug-mode/) to [extract the key](https://stackoverflow.com/questions/315195

[2017-09-25 08:03] RoiEXLab commented on #2100
@DanVanAtta I really have little knowledge about what needs to be done. Especially because it's the german right system and I need to check what comodo exactly wants/needs and what I need to do for it.

The other option would be to get a refund and send the money to someone of you living in America, might make some things easier (and cheaper? I don't know if an official translation of the document

[2017-09-25 16:24] DanVanAtta commented on #2377
Thanks for the context @ssoloff . I PM'ed you the link to our 'secrets' spreadsheet, that is perhaps actually the best place to put the license key. I would agree with removing the debug build flag.

[2017-09-25 16:41] prastle commented on #2100
@DanVanAtta  sent a gitter message about the probs.

[2017-09-25 17:05] ssoloff commented on #2377
@DanVanAtta Done.  install4j 6 and 7 license keys copied to the doc at the link you provided.

[2017-09-25 21:45] ron-murhammer commented on #1768
Yeah, my thought is the update prompt should only push users to a new major/minor not build version (if we go with 3 point version system). That way for the daily/weekly releases that are just updating the last version number, new downloaders and testers could grab them but not push everyone forward as we will probably end up having more bugs in these. Then when we look to do a major/minor version

[2017-09-26 14:08] ssoloff commented on #2377
All tasks are now complete.  Closing.

[2017-09-26 14:08] #2377 closed

[2017-09-26 14:33] RoiEXLab commented on #1505
@DanVanAtta @ssoloff @ron-murhammer Found this: http://docs.oracle.com/javase/9/rmi/toc.htm
We might should consider using a security manager for the server side...

[2017-09-26 15:48] RoiEXLab commented on #1505
@ssoloff We actually do: https://github.com/triplea-game/triplea/blob/master/src/main/java/games/strategy/net/GUID.java

[2017-09-26 15:58] ssoloff commented on #1505
@RoiEXLab Using a type from the `java.rmi` package doesn't equate to using the RMI™ protocol. :smile:

[2017-09-26 16:03] RoiEXLab commented on #1505
If you say so... ^^

[2017-09-26 20:27] DanVanAtta commented on #1768
I agree, but one comment on:

WE really need to avoid that! If we are lax and allow 'unstable' versions then we'll be back in the mode of endless bug fixes and testing before releases. I really want to emphasize we need a process that is going to catch most of these issues. We have the testing group as a last line to make sure we don't repeat some of the previous horrible mistakes, but again, that

[2017-09-26 21:15] ron-murhammer commented on #1768
@DanVanAtta Agree but we also have to be realistic given the amount of automated unit tests and number of developers/testers we have. We do need to be better around keeping things stable and trying to push releases out more often. I think some of the major changes like the database migration, map download/XML changes, and user preference refactoring (while great changes) need to maybe be considere

[2017-09-27 02:21] DanVanAtta opened #2407 "Code Coverage - Require PRs to be green and have test coverage?"
It's been noted since we added code coverage that we are getting red 'X' marks on PR builds, and we are effectively ignoring them, eg:

![codecov](https://user-images.githubusercontent.com/12397753/30892784-4e5d68ca-a2ef-11e7-9ee4-786690203ae8.png)

Thinking about this a bit, I think this is a bad state/process to have. We are incurring overhead to check if a build "actually" passed or not, yet me

[2017-09-27 05:24] RoiEXLab commented on #2407
I believe we should continue ignoring them for PRs that fix a typo or do some cleanup e.g. removing some unused imports/variables etc.
I agree that we should look at them more strictly, but I'd like to point out that integration tests are not affected the calculated coverage, so we might consider merging integTest and test into a single test task (if that calculates the real coverage)

[2017-09-27 05:44] ssoloff commented on #2407
The only real problem I have with this feature is the non-deterministic changes in codecov/project.  I think that's the most annoying part of the process and is what causes the double-check.  I looked into this a few weeks ago and came up with a good root cause candidate in the thread pool used by the `UnifiedMessenger` class.  From `VaultTest`:

[code]

My initial thought was to move messaging te

[2017-09-27 15:07] DanVanAtta opened #2426 "Flaky build - Source forge resource"
Build failure on validate yaml step:

[code]

1. We should not have a flaky build! Let's aggressively fix these issues so that the build is deterministic, it will be hell if we let these kinds of problems accumulate.
2. Ideally, we would have completely evacuated all tripleA assets from source forge. For this build failure, simply rehosting the asset should help avoid this error.

[2017-09-27 15:14] DanVanAtta commented on #2407
One nuance I wanted to convey:

If there is no test case, one could argue it was not a refactor and is a re-write. Part of refactoring is that there is validation of the existing code before any modifications (via unit tests), and then after changes those same validations pass. If there are no unit tests, then it was not a refactor and should have been at least tested manually. I then suggest we s

[2017-09-27 15:16] DanVanAtta commented on #2407
The code base is brittle, even these kinds of things could break the code. But again, we have to practical, this is perhaps a good exception.

integration tests in lieu of unit tests IMO is a anti-pattern and a death spiral. Beyond integration tests belonging at the boundary of a system, so for the most part they are not appropriate anyways, I would really want our incentives to be to break up cod

[2017-09-27 15:19] DanVanAtta commented on #2407
We agreed as a project that we would as a PR submitter describe how code is tested. If we start requiring the code coverage to be green, we will have automated that to some extent. If not, we would anyways expect details on the manual testing done. New here as proposed, in addition to describing manual testing that is done, there would be some rationale of why unit tests were not added.

I also th

[2017-09-27 15:26] DanVanAtta commented on #2426
This is actually a bit of a pressing issue, we're seeing consistent failures right now due to SF asset issues, related: https://github.com/triplea-game/triplea/pull/2427

[2017-09-27 15:34] DanVanAtta commented on #2426
:+1:  I vaguely recall doing some of that, it was quite the effort though and there is a lot to be done. I think you are right on the corrective action @RoiEXLab .

[2017-09-27 15:41] DanVanAtta commented on #2407
I think there are two questions.
1. Do we want to require code coverage check to be green?
2. What is the list of exceptional cases where we can ignore it?

For now I can think of two exceptions we would want:
  - renaming that is almost certainly not going to impact RMI (eg: local variables, parameter names)
  - "pure" UI code

For any other cases, perhaps we could allow exceptions so long as scr

[2017-09-27 17:28] ssoloff commented on #2407
Heh, renaming can break RMI if it changes the sort order of the methods.  I'm actually going to submit a PR later today where I will be explicitly saying, "I renamed an RMI-callable method, but it doesn't change the sort order." :smile:

[2017-09-27 17:37] DanVanAtta commented on #2407
Indeed renaming can impact RMI! I edited the comment to give some examples where it is clearly okay like local variables and parameter.

[2017-09-27 17:39] DanVanAtta commented on #2407
I take that back actually, you're right, so long as the order is not changed since we invoke by method number. Serialization is where naming is more brittle and was a bit more of what I was thinking of.

[2017-09-27 22:07] DanVanAtta commented on #2407
I think I'm pretty convinced the simplicity of needing all checks to be green is just really straightforward, and we simply allow few and very specific exceptions to that policy.

@ron-murhammer your thoughts?

This would be a bit controversial as it starts to force everyone to write more tests and most importantly to design code so it can be tested. But, IMO that is a both a good and necessary go

[2017-09-27 22:32] ron-murhammer commented on #2407
@DanVanAtta I'd say for most PRs we should strive for that and especially new features or enhancements. I think the exceptions are probably:
- Bug fixes
- Comment fixes/additions/removal
- Formatting
- Pure UI (IMO this doesn't exist in that many places given the way the code is today)
- Minor refactoring (very low risk and/or automated)

[2017-09-28 20:26] limo49 opened #2441 "export/decode savegame"
Hi,
sorry if this is not the right place but I can't find where to ask questions.

Is there a way to read a savegame with other languages (python, etc.) or to export/convert it in a common format (xml, json, etc.) from the command line?

[2017-09-28 20:44] RoiEXLab commented on #2441
We use java serialization to store savegames, so no, we don't have a way to convert it to a common format.
However our code is open source, so you should be able to read the code with our engine into java objects and serialize it into a format of your choice using one of various libraries like gson etc.
@ssoloff Might have more insight on this...

[2017-09-28 21:13] ssoloff commented on #2441
Nothing wrong with posting it here.  You can also use the [TripleA Forum](https://forums.triplea-game.org/) for general questions like this.

Unfortunately, TripleA currently does not support any save game format other than what's in a `.tsvg` file (which is a gzipped Java object serialization stream).

There's currently work in progress to decouple the game engine domain model from the persistenc

[2017-09-29 01:22] arileus opened #2443 "Java Error When clicking on "Play Online" Failed while attempting to check for a newer version"
### My Operating System: Windows 7

### TripleA version: 1.9.0.0.36.35

### Map: WWII Revised

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?) Click play online.

### Do you have the exact error text? Please copy/paste if so
[code]
### Instead of this error, what should have happened?

### Any additional information that may help:
Tried Installing to

[2017-09-29 06:13] RoiEXLab commented on #2443
Could you try joining the lobby using our latest pre-release?
You can find a list of all releases [here](https://github.com/triplea-game/triplea/releases).
If it resolves your problem, please be so kind to close this issue.

[2017-09-29 11:38] limo49 commented on #2441
Thank you for the answers.

I'll look into the Java source code trying to build a sort of command line tool for the conversion (or using directly Java for my analysis).

Of course, if someone has already developed such a tool it would be very appreciated :-)

[2017-09-29 11:39] limo49 commented on #2441
Thank you for the answers.

I'll look into the Java source code trying to build a sort of command line tool for the conversion (or using directly Java for my analysis).

Of course, if someone has already developed such a tool it would be very appreciated :-)

[2017-09-29 13:42] #2376 closed

[2017-09-29 15:52] DanVanAtta commented on #2443
@RoiEXLab this seems like an ongoing bug for users, we should not close it as we will need to give info on how to work around the problem until we officially push past this version. We should also seek to understand why we are getting this error, simply calling it gone with the latest release when we have not reproduced it would be ignoring the error.

Looking at the stack trace there a few things

[2017-09-29 16:01] RoiEXLab commented on #2443
@DanVanAtta In general you are right, in this case though you missed some progress @ssoloff made.
We actually switched to httpcomponents for all webinteractions.
This implementation handles SSL/TLS much better than the standard library, so this error won't occur in the future as long HTTPComponents is updated regularily.

And no @DanVanAtta the lobby_server.yaml is not being shipped with the insta

[2017-09-29 16:05] DanVanAtta opened #2453 "Logging GameOverException on game close"
Repro:
- start a single player game (I used 270BC as an example)
- open error console
- leave the game via file menu

Note: game over stack trace was written 'quietly' to the console.
Expected: no stack trace

[code]

[2017-09-29 16:26] ssoloff commented on #2443
Actually, I may have missed it too. :smile:

The only thing I remember "fixing" related to SSL/TLS was we were seeing intermittent TLS handshake failures when attempting to retrieve the Map Making Tutorial map from SourceForge because one of their mirrors had an invalid certificate.  We moved that map to GitHub, and continued to use an HTTPS URL (#1762).

Around that time, based on @RoiEXLab's sug

[2017-09-29 16:32] RoiEXLab commented on #2443
@ssoloff Also Github announced it's deprecations of TLS1.0 and TLS1.1 and removal in 2018: https://developer.github.com/changes/2017-09-21-discontinue-support-for-weak-cryptographic-standards-update/

Might be related to this although it's unlikely.

[2017-09-29 19:02] DanVanAtta opened #2455 "GameDataUtils ensure stream flushing"
Some follow up needed after: https://github.com/triplea-game/triplea/pull/2450

convert the try with resources blocks to follow this rough pattern:

[code]

Avoids potential problem of:

[2017-09-29 19:27] DanVanAtta opened #2456 "Unit tests fail if network is turned off"
We get failures to look up MAC from unit tests if network is turned off. This is generally most easily done with a laptop, ubuntu has a setting to turn off wireless or even networking altogether. Afterwards running unit tests fail.

MAC coming from potentially untrusted client software (nothing stops someone from running a custom version of the game), is not sound, to begin with. I suggest we may

[2017-09-29 19:47] panther2 commented on #444
I am sorry, @Cernelius , for any reason I missed this issue and saw it only by now.

However, this is the from the latest AA50-FAQ (from September 3, 2014) that had been officially published:

Q. Bombers carrying Paratroopers must stop moving in the first hostile territory they enter. If a
tank is blitzing through an unoccupied hostile territory, does a bomber entering that territory
during the sa

[2017-09-29 19:49] #1794 closed

[2017-09-30 06:08] panther2 commented on #1148
I stumbled over this issue again, when dealing with "older" issues, and there is one aspect I have to add for completeness:

While it is correct, that in v2/AARE (2004) a transport is allowed to unload as well during Combat Move as during Non Combat Move, it may **never** do so into different territories.

The rulebook clearly states:

Also it had been clarified in the official FAQ that had been p

[2017-10-01 03:56] ssoloff commented on #2453
I git bisected the first occurrence of this failure down to `a08ac89 (tag: 1.9.0.0.6854) Harden UnifiedMessenger.java (#2411)`.  Nothing jumps out at me as the root cause after a casual glance at the #2411 diff.

[2017-10-01 04:30] ssoloff commented on #2453
Removing the `Preconditions#checkNotNull()` call added in #2411 from `UnifiedMessenger#getImplementor()` causes the exception to no longer occur:

[code]

I stepped through this method with the debugger and observed that an exception is being raised during the attempt to call `m_localEndPoints.toString()` (from the string concatenation).  I drilled down a bit deeper and found the exception is actu

[2017-10-02 06:03] ssoloff commented on #2455
Closed via #2461.

[2017-10-02 06:03] #2455 closed

[2017-10-03 03:09] ssoloff commented on #2453
@DanVanAtta Bumping this before you go offline.  If you can provide your opinion on how you'd like to see this fixed, I'll be happy to submit a PR so it can get in before the next stable release.

[2017-10-03 18:36] DanVanAtta commented on #2453
- IMO `toString()` should usually be 'safe'  to call, this example where we can get an exception depending on game state seems a bit broken. So ideally we would avoid that, but not the biggest priority by the same token.

- removing the toString() simply should work, it's there for extra debug, not critical to have it.

[2017-10-03 19:20] RoiEXLab commented on #2443
@arileus closing due to inactivity, will reopen once I get a response from you, just to keep our issues clean

[2017-10-03 19:20] #2443 closed

[2017-10-04 03:28] ssoloff opened #2466 "Publish public key used to verify release artifact checksum signatures"
This issue is a follow-up to #2463, which implemented signing of the release artifact checksum files to ensure their integrity.  In order for users to verify the signatures, they need access to the public key corresponding to the private key used to create the signatures.  The purpose of this issue is to discuss how we should distribute that public key.

I'll start off by proposing two possible so

[2017-10-04 06:38] panther2 commented on #2466
@ssoloff

Interesting read. But from (my) the user's point of view: Why do I need such a key? I never need any key to verify signatures:

![hash](https://user-images.githubusercontent.com/20812775/31162683-272b8246-a8df-11e7-8504-a5840579bebe.PNG)

I just load the txt-file into any editor, and drag and drop the downloaded exe into simple tools, such as HashMyFile. In the screenshot I easily see th

[2017-10-04 06:39] panther2 commented on #2466
Also: What would I need to do with that key, once I have it? Would I need any additional software to do exactly what?

[2017-10-04 15:19] ssoloff commented on #2466
@panther2 Good question.  TL;DR: Signing the checksums basically proves that neither the binaries nor the checksums have been modified since they were published by the development team (assuming the team's private key hasn't been compromised).

Consider what could happen if someone hacked GitHub (or there was a rogue GitHub employee).  They could replace one of our installers with malicious code.

[2017-10-04 15:33] ssoloff commented on #2466
Good suggestion.  When a user clicks an installer link on the Download page, they download the file directly without ever seeing the checksum files in the release listing.  So I can see how it would be more convenient for them to never have to leave the Download page to verify the checksums.

When we update the links on the Download page for each new stable release (which currently doesn't happen

[2017-10-04 16:49] panther2 commented on #2466
Thank you very much, @ssoloff , it is always a great pleasure to learn from the background information that you provide in a very comprehensible way.

[2017-10-04 19:04] RoiEXLab commented on #2466
@ssoloff Regarding the website problem: What about adding the hashes to the release description?
It's currently unused and we could display it on the website.

[2017-10-04 19:10] ssoloff commented on #2466
@RoiEXLab Great idea.  We might even be able to automate that as part of the Travis build.

[2017-10-05 10:44] RoiEXLab commented on #2453
Closing via #2465

[2017-10-05 10:44] #2453 closed

[2017-10-05 20:28] simon33-2 opened #2467 "How do I start a headless server?"
Looking to start headless servers. Can't see how to do that in the wiki or another way.

[2017-10-05 22:47] prastle commented on #2467
First copy the old code they removed from the standard install.  Also install the headless server.exe and .bat files

then rewrite it for the current

Thanks @ Roiex for the help

@echo off
SET PORT=3363
SET BOT_NUMBER=25

SET LOBBY_HOST=45.79.144.53
SET LOBBY_PORT=3304

java -server -Xmx320m -Djava.awt.headless=true -classpath bin/triplea.jar games.strategy.engine.framework.headlessGameServer.Hea

[2017-10-06 00:11] heckerjohnson45 opened #2468 "Can't download or install Maps...."
### My Operating System: Windows 10

### TripleA version: 1.9.0.0.3635

I just downloaded and installed Triplea today, I played to tutorial and wanted to play something else. But The Tutorial is the only thing that is installed. Under the Select Map option the only option is the tutorial. I checked the install file and it appears that the other maps are installed. I tried to download a new map man

[2017-10-06 01:21] ssoloff commented on #2443
@DanVanAtta

Unfortunately, I don't think that will help for files hosted on GitHub because HTTP URLs will automatically be redirected to HTTPS.

[2017-10-06 03:18] ssoloff commented on #2468
This looks identical to #2443.  In both cases, it appears the JVM can't certify the CA path of the GitHub certificate.  When I go to the `triplea_maps.yaml` [URL](http://raw.githubusercontent.com/triplea-game/triplea/master/triplea_maps.yaml?raw=true), the certificate path shown is

[code]

Seems pretty vanilla.  I used the DigiCert [SSL Certificate Checker](https://www.digicert.com/help/) to test

[2017-10-06 03:26] ssoloff commented on #2468
@heckerjohnson45

Could you please do the following so we can better troubleshoot the problem:

1. Provide the version of Java you are using.
    * You can find this in Control Panel under **Programs > Programs and Features**.
1. Attach your Java `cacerts` file to this issue.
    * This file is buried inside your Java installation directory.  For example, `C:\Program Files\Java\jre1.8.0_121\lib\se

[2017-10-06 04:46] ssoloff commented on #2468
@heckerjohnson45

An alternative to action (3) in the previous comment is to enable TLS tracing when running TripleA itself.  This is actually preferable, as we'll be able to see exactly which certificate TripleA is hanging on.

To do this, you'll have to run TripleA manually from the command line:

1. Open a Command Prompt and navigate to the directory where you installed TripleA.
1. Run the foll

[2017-10-06 05:17] ssoloff commented on #2468
Another possible theory (let's call it (2)(b)) is that the users who are experiencing this problem are behind a proxy that is used to intercept TLS (see [here](http://www.zdnet.com/article/how-the-nsa-and-your-boss-can-intercept-and-break-ssl/)).  In addition to this being commonly used within corporations to monitor employee traffic, it also seems to be used by some antivirus programs to block ma

[2017-10-06 07:01] RoiEXLab commented on #2467
If you are using Linux you can find all sorts of scripts in the triplea-game/lobby Repository

[2017-10-06 07:24] simon33-2 commented on #2467
Thanks, seems to work. Seems I've left a few dead bots in the lobby though. Not sure what to do with that or how to prevent it?

[2017-10-06 14:44] RoiEXLab commented on #2467
@simon33-2 I haven't noticed anything, after logging out and back in everything should be displayed correctly anyways...

[2017-10-06 14:51] prastle commented on #2467
Yes they were gone this am @RoiEXLab .  Thus I am guessing he closed them.

[2017-10-06 14:52] #2467 closed

[2017-10-06 17:00] ssoloff commented on #2443
@arileus If you're still having this problem, please see [here](https://github.com/triplea-game/triplea/issues/2468#issuecomment-334648761) and [here](https://github.com/triplea-game/triplea/issues/2468#issuecomment-334657302) for some information you can collect to help us troubleshoot the problem.  Analyzing this information from different users experiencing the same problem would be very useful

[2017-10-07 03:39] ssoloff commented on #2466
I added a temporary [wiki page](https://github.com/triplea-game/triplea/wiki/Verifying-Binaries) that captures the information needed to resolve this issue.  The content of this page is subject to change depending on how the team decides to resolve this issue (e.g. if the keyserver distribution mechanism is selected, the instructions for importing the GPG public key must be updated).

[2017-10-07 20:51] ron-murhammer commented on #1768
@ssoloff @RoiEXLab @DanVanAtta I think we resolved all issues needed to put out the next release. Would you agree? Can we update the download to the latest (1.9.0.7029) today?

[2017-10-07 20:58] ssoloff commented on #1768
Agreed.  Copying @panther2 and @prastle just in case the test team has observed any blocking issues in the recent builds.

[2017-10-07 21:10] ssoloff commented on #1768
@ron-murhammer Actually, won't there have to be at least one more build?  Does the version need to be bumped to 1.9.1?  Or did @simon33-2's recent change effectively take care of that by moving the build number into the micro position?  (Sorry, I'm still confused a bit by the current versioning rules.)

Regardless, I'm assuming that `latest_version.properties` still has to be updated after we've p

[2017-10-07 21:28] RoiEXLab commented on #1768
@ssoloff The latest_version.properties file is just used to check for newer versions of TripleA (I still think the GH api should be used for that task, just like the website does.
For the website to offer the new version the pre-release-checkbox just needs to be unchecked which makes deployment of a new stable very easy.

We should also update the lobby in the next week or so to fix a couple of db

[2017-10-07 22:55] simon33-2 commented on #1768
Does build 3627 contain the fix to the latest_version.properties check? Hopefully you remember what I'm talking about.

[2017-10-07 22:56] simon33-2 commented on #1768
Regarding bumping to 1.9.1, no. We can't nor shouldn't do that. That would make it an incompatible release.

[2017-10-07 23:02] ssoloff commented on #1768
@simon33-2

Are you referring to #1558?  If so, then no that's not in 3635.  Good point, though.  If we update `latest_version.properties`, then pretty much every current user is going to experience a hang.  So maybe we should avoid updating `latest_version.properties` for this release?

[2017-10-07 23:06] simon33-2 commented on #1768
Oh, in fact, #1558 isn't in build 3635. There is no way we can bump latest_version.properties without causing all existing installations (besides pre-releases) to hang.

[2017-10-07 23:06] simon33-2 commented on #1768
Oh, you answered the question before I did.

[2017-10-07 23:39] ron-murhammer commented on #1768
Yeah, the thought is to just mark the latest (1.9.0.7029) as stable (not pre-release) so the website download points to that. It appears there is agreement on that and unless any objections are made in the next few hours then I plan to do it tonight.

[2017-10-08 12:44] panther2 commented on #1768
I would say let's move on (if not already done).

[2017-10-08 13:21] prastle commented on #1768
Um The new release cant use any bots.  We will need the bots updated before it becomes stable.

[2017-10-08 13:25] prastle commented on #1768
@panther2  can you try to join a bot and confirm this?

[2017-10-08 13:57] panther2 commented on #1768
Indeed, @prastle

![tra](https://user-images.githubusercontent.com/20812775/31317433-66ec4d74-ac41-11e7-93da-15906bd065d9.PNG)

[2017-10-08 14:23] RoiEXLab commented on #1768
Should be an easy fix, but probably requires updating the bots as well as the client...

[2017-10-08 14:26] panther2 commented on #1768
Yes, @prastle tested and found out that this might be due to the removed digit from the version number.
Using 1.9.0.0.6991 works fine.

[2017-10-08 14:27] prastle commented on #1768
True but then all old games dont work.  Also no one using old can join new and vice versa we just tested.

I believe @simon33-2   said this here as well. https://github.com/triplea-game/triplea/issues/1768

[2017-10-08 14:27] RoiEXLab commented on #1768
It is caused by this, modifying the game_engine.properties files and adding an extra digit should temporarily workaround this issue.

[2017-10-08 14:28] prastle commented on #1768
Well my concern is that it is stable on the website now.  It needs to  be fixed fast.

[2017-10-08 15:30] RoiEXLab commented on #1768
I changed the release back to pre-release state until we adressed this issue.
While we could fix this issue by simply updating all the bots to the new stable version, we will run into the exact same issue again once we have a new build, so holding for now, I might be able to open a PR later this day which fixes this issue

[2017-10-08 15:36] prastle commented on #1768
ty

[2017-10-08 20:21] RoiEXLab commented on #1768
https://github.com/triplea-game/triplea/pull/2470 has a fix

[2017-10-08 21:49] teenpilot opened #2472 "Triplea doesn't download or run new maps"
When I tried to download a map it gave me the following message in my Java TripleA Console:
[code]
 Then I manually downloaded the maps, put them in the maps folder and it said this:

[code]
please help. my firewall is not blocking it and though I'm not a programmer I know a thing or two about computers.

### My Operating System:Windows 10

### TripleA version:1.9.0.0.3635

### Map:all except tuto

[2017-10-08 21:54] ssoloff commented on #2472
@teenpilot Regarding the SSL handshake error...  see [here](https://github.com/triplea-game/triplea/issues/2468#issuecomment-334648761) and [here](https://github.com/triplea-game/triplea/issues/2468#issuecomment-334657302).  Any information you can provide would be appreciated.

[2017-10-08 21:55] RoiEXLab commented on #2472
You are describing 2 issues here:
Issue number 1 has already been reported as @ssoloff already said,
Issue number 2 indicates that the maps you downloaded are outdated. Where did you download them from?

[2017-10-08 22:07] teenpilot commented on #2472
I downloaded them from: https://sourceforge.net/projects/tripleamaps/files/maps/

[2017-10-08 22:10] RoiEXLab commented on #2472
You can find an updated list of all available maps [here](http://www.triplea-game.org/maps-list/maps/)

[2017-10-08 22:26] teenpilot commented on #2472
@RoiEXLab  the manual downloaded maps of the website you gave works, thankyou
@ssoloff  I'll try to get back to you soon.

[2017-10-08 22:34] teenpilot commented on #2472
@ssoloff
## For the first here
1. Java 8 update 144
2.
[cacerts.zip](https://github.com/triplea-game/triplea/files/1367256/cacerts.zip)
3.C:\Users\Texas.Loewen\Downloads\openssl-1.0.2l-x64_86-win64>openssl s_client -showcerts -connect raw.githubusercontent.com:443
WARNING: can't open config file: /usr/local/ssl/openssl.cnf
CONNECTED(000001D4)
depth=0 C = US, ST = California, L = San Francisco, O =

[2017-10-08 22:39] teenpilot commented on #2472
@ssoloff
for your second "here"
[ssl.log](https://github.com/triplea-game/triplea/files/1367260/ssl.log)

[2017-10-08 22:40] RoiEXLab commented on #2468
Closing in favor of https://github.com/triplea-game/triplea/issues/2472

[2017-10-08 22:40] #2468 closed

[2017-10-08 23:34] ssoloff commented on #2472
Thanks, @teenpilot!  I'll take a look at the logs later this evening and get back to you.

[2017-10-08 23:51] DanVanAtta opened #2473 "Need a time wait indicator when joining lobby"
Anonymous login to lobby seemed to render the lobby window faster for me, regardless on a non-anonymous login, with a wait of what was about 10 solid seconds - the game seemed to have frozen.

Task:
- add an indicator that the game is connecting to lobby

[2017-10-09 00:12] ssoloff commented on #2473
A significant portion of this time is due to the lobby server generating a new 4096-bit RSA key pair per connection.  @RoiEXLab and I talked about this in Gitter recently, and I have a PR ready to go after we get this release out which should shave seconds off the login times.

[2017-10-09 00:48] DanVanAtta commented on #1768
Please use the testing group to answer "when can I release": https://docs.google.com/spreadsheets/d/1CSZ4s7wBLcvgue_IHwl-CbjQd95qj8hhR8m89ngCzbU/edit#gid=800027447

If you see 2 or 3 sign-offs next to a version number then it is okay to mark that version as the latest github release. Testers will pick up versions as fast as they can. We use the test sheet to be able to converge on specific version

[2017-10-09 00:56] DanVanAtta commented on #2473
An alternative - maybe something as simple as having a label be updated to "connecting to lobby" be printed on the login dialog, disabling the dialog fields, and making the dialog disappear after the lobby renders instead of before.

The goal is to provide feedback to the user on what the computer is doing. I assume the lobby login may always take a few seconds in perhaps the 90th percentile cases

[2017-10-09 02:46] ssoloff commented on #2472
@teenpilot Thanks so much for all the data.  From the OpenSSL logs you provided, I think it's pretty clear that the root cause of your problem (and probably all the other users that have reported the same thing) is that you are using a TLS-intercepting proxy.

The key bit from the OpenSSL log is

[code]

Here, the GitHub certificate has been signed by the CovenantEyesProxy self-signed certificate

[2017-10-09 04:51] Venryx commented on #1722
Wow, this brings back memories. 😃

I'm the one who built the early map makers, and have been out of the TripleA loop for a very long time. I haven't actually been playing it in that time, however my dad and younger brother play it frequently (like every couple days), so it's been nice to see the game continue to get updates here on Github. (and it's a much nicer platform than Source Forge)

I agre

[2017-10-09 05:33] ron-murhammer commented on #1722
@Venryx Contributions always welcome! And yeah the map making tools could definitely use some improvements. I actually completely rewrote the AI already (now called FastAI and HardAI) and at least I think its vastly improved over the previous ones. It performs fairly well on most simple/standard maps. I always wanted to create a sort of testing harness for the AI but haven't gotten around to doing

[2017-10-09 05:47] DanVanAtta opened #2477 "unit tests are running slow"
Unit tests lose a lot of effectiveness when they are slow to run. Target should be around 10 to 20 seconds. Given a thousand to 10k unit tests, we need each one to run in 100ms or less.

We've a few particularly slow ones to look at:
![slow](https://user-images.githubusercontent.com/12397753/31326267-6f1f6b1e-ac7a-11e7-9624-575ae2f08d79.png)

Not sure of the options just yet, @ignore is always one

[2017-10-09 05:50] ssoloff commented on #2477
@DanVanAtta This will be covered by the PR I mentioned in #2473.  The slow unit tests were actually why I decided to look into how we can improve the speed of lobby authentication. :smile:

[2017-10-09 06:03] Venryx commented on #1860
Hey there! I'm the one who made the two very old map creators, and just wanted to add some info that might be helpful.

1) The non-beta map tools from the TripleA menu are, as you determined, helpful shortcuts to the packaged individual tools. Definitely keep this as it's easier to access than the old command-prompt approach. (something like "java -jar triplea.jar --classpath games.triplea.tools.p

[2017-10-09 07:20] panther2 commented on #1860
Just a +1 for adding back the (improved) XML-creator one day.

As I said above:

[2017-10-09 07:21] panther2 commented on #1722
Just a +1 for adding back the (improved) XML-creator one day.

As I said in #1860:

[2017-10-09 16:29] prastle opened #2480 "The Donation link needs to be updated."
When playing in a game the donation link under the web tab still lists the old paypal link  We need to update this.  Running   .7051

[2017-10-09 17:23] veqryn commented on #1722
I don't think we'd be adding it back ever.  Instead we would be re-writing it in Java, integrated with the existing code base, just like the new 'part 1' is.

[2017-10-09 17:24] veqryn commented on #1722
Hi Venryx!

[2017-10-09 17:27] ssoloff commented on #2480
@prastle If you can provide the exact URL, I can update this.  It's not clear to me just by looking at the Donate link on the Forum what the correct PayPal URL should be.

There's also a link on the [Sponsors](http://www.triplea-game.org/sponsors/) page, but that appears to be an older PayPal link that went directly to Chris.  That should probably be updated, as well.

@RoiEXLab I noticed that the

[2017-10-09 19:19] prastle commented on #2480
@ssoloff   TY

This should work I think.
https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GKZL7598EDZLN

Yes the sponsors link should probably be updated to the last years sponsors.

https://forums.triplea-game.org/post/2160

[2017-10-09 19:52] ron-murhammer commented on #1722
@Venryx Probably some combination of an XML creator and edit mode would be best (how exactly you do that is up for discussion). My thought is you still need some steps to define the "map" portion of the XML like image, territories, rules, etc but then things like unit placement, PUs, resources, etc could be done with edit mode (or a form of edit mode). There are actually a lot of map makers that d

[2017-10-09 20:04] RoiEXLab commented on #2480
@ssoloff I'd assume it has been dropped at some point probably not intentional, searching through the git history may make some things clear...

[2017-10-09 20:20] ssoloff commented on #2480
@RoiEXLab Weird...  It doesn't appear that the Sponsors page has _ever_ been linked from within the website, even when it was first introduced in triplea-game/triplea-game.github.io@b9e3448.

Do you have any suggestions from which page it should be linked?

[2017-10-09 20:24] RoiEXLab commented on #2480
@ssoloff Maybe somewhere in the footer section?

[2017-10-09 20:28] prastle commented on #2480
I can safely say I have never seen it till you showed me.

[2017-10-09 20:33] prastle commented on #2480
Either way the people who have donated or sponsors should be the most recent with perhaps past history.  jmho

Perhaps just eliminate it altogether and just use the donations link in new forum?  Just a thought.

[2017-10-09 20:39] ssoloff commented on #2480
@RoiEXLab Sounds good to me.  How about right under **About > License**?

@prastle I was just going to ask you that since you said you had never seen the Sponsors page before. :smile:

@ron-murhammer Do you have an opinion on keeping the Sponsors page on the website?  It's never been linked, so for all intents and purposes, no one has probably ever viewed it since it was first introduced two years

[2017-10-09 20:43] prastle commented on #2480
Well we always had a donate link in footer or header forget which?  It went to Veq then.  Ron removed that awhile ago.  I think just and same link to donations page in new forum in header or footer.

[2017-10-09 21:22] Venryx commented on #1722
Yeah, we'd need to make the edit-mode process easier to discover and use for people building a map. For now, perhaps just a button in the map creator window launching the bare map xml as a game, with a label explaining that you should then enter edit mode, change the units and such, then use the "export as xml" command to re-save.

[2017-10-09 21:27] ron-murhammer commented on #1722
@Venryx Yep, that was my thought as well. I kind of think of map making in 3 main parts:
1. Create initial XML and map images (this is where the "map creator" should focus). This gets you to a base functioning map zip that you could launch.
2. Use edit mode to add units, PUs, resources, etc to the base map. With some base explanation on how to do it and save it.
3. Point folks to POS2 XML for adva

[2017-10-09 21:30] ron-murhammer commented on #2480
No strong opinion on it. I actually didn't realize it existed either :)

[2017-10-10 02:08] ron-murhammer commented on #2480
Closing as this should be fixed now.

[2017-10-10 02:08] #2480 closed

[2017-10-10 02:44] teenpilot commented on #2472
## Alright @ssoloff  I did your 2nd suggestion and the download screen is still blank. When I try a manually downloaded game it says

triplea.engine.version.bin:1.9
Failed while attempting to check for a new Version
javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find va

[2017-10-10 03:13] ssoloff commented on #2472
Thanks for the update, @teenpilot.  It looks like you're still getting the same certificate validation error, so can you please repeat the following steps you did previously:

1. Zip and attach the `cacerts` file into which you imported the CovenantEyesProxy certificate.
1. Re-run the scenario that generates `ssl.log` and attach it.

And one additional item:

* On the TripleA Console window, there