[2017-10-10 03:34] prastle commented on #2480
TY

[2017-10-10 08:49] simon33-2 commented on #2441
Hold on, what about the xml export function? Has a couple of bugs but if you can figure them out, it mostly works. Doesn't handle things like a battle in progress. Could even be as course as starting at the start of a whole round, and if I remember rightly you lose all the game history too.

[2017-10-10 08:57] simon33-2 commented on #1768
Should we retire the check on latest_version if we can easily just check the github API before marking this as stable? Or is that not easy to achieve?

[2017-10-10 10:39] limo49 commented on #2441
Thanks simon33-2 but what I need is a way to read the history automatically from the command line.
We handle several PBEM A&A tournaments and need to check dozens of files possibly with a script.

[2017-10-10 18:27] simon33-2 commented on #2441
Ah ok. Well that isn't what you want then.

[2017-10-13 02:13] ssoloff opened #2488 "Map blends are not rendered correctly when zoom < 100%"
#### Environment

TripleA 1.9.0.0.7079

#### Description

I'm not exactly sure what the **View > Show Map Blends** command is for, but I noticed that when it is enabled, and I lower the zoom below 100%, the map is not rendered correctly.  If you look at the screenshots below, it looks like the "blends" are not scaled before they are rendered.  It may be as simple as the zoom not being taken into a

[2017-10-13 17:55] ssoloff commented on #2466
Bumping...

After writing that [wiki page](https://github.com/triplea-game/triplea/wiki/Verifying-Binaries) and seeing just how much information it contains, I'm reconsidering the idea of embedding all of that in the README.  I'm thinking it might be better to just add a "Verifying Binaries" section to the README that links to the wiki.

[2017-10-13 21:12] ron-murhammer commented on #2488
@ssoloff Interesting. I wonder if this is a known limitation.

@Cernelius @panther2 Are either of you aware of this?

[2017-10-14 04:47] DanVanAtta commented on #305
New simpler repro:
- move a unit
- hover over unit and press 'u'

Expect:
- move to be undone

Actual:
- nothing happens

Note, if you click the map anywhere, then repeat the hover and 'u' action, then the mvoe will be undone as expected.

[2017-10-14 06:03] DanVanAtta opened #2498 "Remove Codacy?"
At question: remove codacy branch builds? Codacy is reading zero issues, did we zero that out thanks to the checkstyle? If so, then codacy is seeming a bit redundant.

![wow](https://user-images.githubusercontent.com/12397753/31573101-aa409e0a-b069-11e7-8cdb-2f64bf0b9771.png)

[2017-10-14 06:06] DanVanAtta commented on #1369
This conversation just needs to be moved to the forums...

[2017-10-14 06:27] RoiEXLab commented on #1369
A general question:
The diplomacy map is currently broken (having multiple map centers on the exact same spot causes exceptions when moving).
So we could either make triplea more forgiving (not recommended) or just remove the duplicate territories (I can create a PR, but this still doesn't fix some movement issues, fleets can move on land normal armies on water etc.)

[2017-10-14 08:50] panther2 commented on #2488
No, I cannot add anything here, sorry, as I have never ever used this feature.
What actually are those "blends"? On a first view it looks like the map colours are treated with some more transparency. But when scaling we see that there must be something more behind it...

All I can say is that I can reproduce this issue on other maps.

[2017-10-14 18:22] ssoloff commented on #2488
Thanks for digging up that reference, @panther2.

[2017-10-14 20:53] ssoloff opened #2502 "PBEM: Warnings displayed in console when sending email"
#### Environment

TripleA 1.9.0.0.7131

#### Reproduction Steps

* Start a PBEM game.
* Select a provider (I used Gmail) and enter your credentials.
* Click **Test Email**.

#### Actual behavior

The console is displayed with the following warnings:

[code]

#### Expected behavior

No warnings should appear in the console.

#### Notes

The email is sent without any issue.  This is just an annoying

[2017-10-14 21:58] DanVanAtta commented on #1768
QA group could not break: https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.7062; it has been marked as latest :confetti_ball:

Please do not "advertise" we are on a new latest until 10/19. After then we'll update lobby message and create a forum post notifying people that a new latest has been released. In the meantime we need to get to work on the release notes: https://github.com/tri

[2017-10-14 22:17] DanVanAtta opened #2503 "Forum Consolidation and SVN Migration"
Let's take inventory of the migration from old forums and sourceforge to the latest stack. I'd like for us to get a better idea of everything we have and be sure we have it all deprecated nicely so you would as automatically as possible be redirected to the latest.

New:
- http://www.triplea-game.org/
- https://forums.triplea-game.org/
- https://github.com/triplea-game/triplea
- https://github.com

[2017-10-14 22:20] DanVanAtta commented on #2477
Down to 16s now.
Thanks for addressing this @ssoloff , #2473 did the trick.

[2017-10-14 22:20] #2477 closed

[2017-10-14 22:57] beelee1 opened #2504 "waiting for players highlighted in forum"
hmm...

### My Operating System:

### TripleA version:
well idk what all the stuff below is but thought it'd be cool to have games waiting for players somehow highlighted on the lobby. Don't know if that'd be hard to do or not . Anyway Rock On TripleA
### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Ple

[2017-10-14 22:59] beelee1 commented on #2504
ok let me try again : )

It'd be cool to have waiting for players games on the forum highlighted somehow.

Sorry for the above

[2017-10-14 23:26] beelee1 commented on #2504
will post this at the triplea forum

[2017-10-14 23:26] #2504 closed

[2017-10-15 01:00] simon33-2 commented on #1768
Shouldn't #2483 be merged first? Otherwise the version needs to remain at 1.9.0.0.

[2017-10-15 01:04] simon33-2 commented on #1768
Interesting point about the latest_version check. I guess that is a fair argument for the status quo.

[2017-10-15 02:21] ssoloff commented on #1768
I created triplea-game/triplea-game.github.io#253 as a starting point for the 7062 release notes.

[2017-10-15 03:50] ssoloff commented on #2498
Checkstyle is still reporting ~2,500 issues.  The last time I remember looking at Codacy, it reported all the existing Checkstyle issues.  Maybe something in the configuration changed recently?  Because the results make it appear as if Checkstyle analysis has been shut off.

I need to create a Codacy project for my fork so I can play around with what's available.  There seems to be other metrics w

[2017-10-15 04:21] simon33-2 commented on #2121
Has this bug been fixed? I can reproduce it in the save game but I expect the problem has already occurred at this point.  Problem really is that the units don't get movement.

Can it be reproduced from an earlier point in the game?

[2017-10-15 05:36] RoiEXLab commented on #2503
@DanVanAtta I'd like to point out I have a prototype of a dice server already here: https://github.com/triplea-game/dice-server-js I also created an issue to track things that need to be done before being able to fully use it https://github.com/triplea-game/dice-server-js/issues/1

About the cloning part: While there are several tools out there which offer (free and paid) cloning a website automat

[2017-10-15 16:25] prastle commented on #2503
I wonder if we really need to save most of Warclub?  A lot of it is available here https://web.archive.org/web/*/http://www.tripleawarclub.org/modules/newbb/viewtopic.php?topic_id=2305  The only thing that is really missing is the bunker.  do we still need that since we have a new database anyways?  Just a thought.

[2017-10-15 21:00] DanVanAtta commented on #2498
@ssoloff we would want to be able to run those same metrics locally as well. It would be a bad situation if we had to wait for codacy to re-run to check any branch build. For me that seems like even if we can get value out of it, we need to also spend effort to be able to run the analysis locally. Now, if we can do both of those things, and be sure that if a local build would match all checks run

[2017-10-15 21:56] ssoloff commented on #2498
@DanVanAtta Agreed that we should be able to reproduce all metrics locally, and we would definitely do that (e.g. we would enable PMD in the Gradle build before turning it on in Codacy).  But the value I see for Codacy is having a _history_ of those metrics so we can see where we are improving and where we are not.

[2017-10-16 11:41] RoiEXLab opened #2507 "Error on startup"
I just installed TripleA v1.9.0.0.7062
and got the following error message:
[code]

The 2 latter exceptions are caused by the first exception, the mainFrame field is not getting initialized due to the first exception and therefore we get the subsequent NullPointerException.
I tried resetting the java preferences storage, without any result.
When restarting TripleA I get an additional error message

[2017-10-16 12:14] RoiEXLab commented on #2507
It seems this regression was introduced in #2396 (not 100% sure, but 90%)
It does probably not occur in my IDE, because of different settings (they are stored at a different location and therefore I didn't reset them).
But I have no idea on how to really reproduce it.
It crashes when a substance LAF is set, and doesn't crash when the "default Windows" LAF is set, which is weird.

[2017-10-16 14:01] panther2 commented on #2507
Strange, I am always using `SubstanceGraphit`, I am using the windows installer, Java 8 u144, but Windows 7 64 bit. I have never experienced this with any TripleA version. So I cannot reproduce it.

[2017-10-16 14:02] prastle commented on #2473
Ya I can agree login times seem to have increased.

[2017-10-16 14:30] RoiEXLab commented on #2507
I don't know why it's occuring either

[2017-10-16 16:19] ssoloff commented on #2507
I cannot reproduce the exception in the following environment:

* TripleA_1.9.0.0.7062_windows-64bit.exe
* Windows 8.1
* Java 8 u121

I tried both with my existing settings and after clearing them; there was no exception in either case.

AFAIK, there should be no difference.  On Windows, user preferences are stored in the registry under `HKCU\Software\JavaSoft\Prefs`.  On Unix, user preferences ar

[2017-10-16 17:08] prastle commented on #2507
Cant say I have seen it with windows ten either.

[2017-10-16 17:31] RoiEXLab commented on #2507
Ok I'll try to investigate further.

[2017-10-16 17:31] #2507 closed

[2017-10-18 02:25] DanVanAtta commented on #2498
Interesting point, I can see value in having a history. I think that answers the question of whether we should keep it. The cost of having it is low at the moment. Enabling PMD local and in codacy seems like a decent idea.

Stepping back, I think we do need to focus on rewriting code and adding unit tests before much of anything else though. I would not want us to fix a bunch of PMD violations for

[2017-10-18 02:25] DanVanAtta commented on #2498
Summary: keep codacy, it gives us a history view

[2017-10-18 02:48] DanVanAtta commented on #2507
@RoiEXLab did the game still launch, or fatal on startup?

[2017-10-18 03:20] DanVanAtta commented on #2503
I like the web archive idea @prastle
Migrating dice server is a hard requirement, so we need at least that to happen before we can turn off the PHP platform.

[2017-10-18 04:53] prastle commented on #2503
I think @RoiEXLab  had a new one on the go.  But I am just throwing ideas out there.  Great job @ all

[2017-10-18 08:15] RoiEXLab commented on #2507
The game did not launch.
It might be the case that there's an error with my java installation, I'll try to fix it and give you an update once I figured out how to fix it...

[2017-10-18 13:33] prastle commented on #2336
@DanVanAtta  @RoiEXLab   The lobby is slow atm.  I stopped the DE server bots since they are not needed.  Perhaps we can load the new stable on them as a test?  Just a thought.

[2017-10-18 14:18] ssoloff commented on #2169
@DanVanAtta Does #2395 resolve this issue?  Or are you anticipating a bigger, more fundamental change?

[2017-10-18 17:07] RoiEXLab commented on #2503
@prastle Yes, as mentioned earlier I started working on a dice server replacement.
Using web.archive.org would be the easiest solution.
Could you make sure the "most important" things are available there?
Also for saving the bunker: Just recreate the topics in the new forum

[2017-10-18 19:34] prastle commented on #2503
OK I will try and do some digging this week.

[2017-10-19 02:33] DanVanAtta commented on #2169
I believe #2395 resolves this exactly - thank you!

[2017-10-19 02:33] #2169 closed

[2017-10-20 00:39] ron-murhammer opened #2511 "Download Maps Window Layout Messed Up"
It appears the layout in the download maps window got messed up with the list of maps no longer on the left hand side but floating at the bottom???

Glancing through recent PRs, my guess is that this is the culprit but not sure: #2478

![image](https://user-images.githubusercontent.com/1427689/31800253-2fba65ee-b505-11e7-9e1d-9d0234fbaa3f.png)

[2017-10-20 00:48] ssoloff commented on #2511
Yup, that's the guy.  I can't repro it with

[code]

but it occurs with

[code]

I'll dig through and see if I can find the exact root cause.

[2017-10-20 04:25] ron-murhammer commented on #2511
Retested this and looks good. Thanks @ssoloff for the quick fix. Closing this.

[2017-10-20 04:25] #2511 closed

[2017-10-20 04:52] DanVanAtta commented on #2511
Not the best regression to see, given this I marked 7062 as a pre-release again. We are back to 3635 as latest  :disappointed:

Release notes were updated in (#258) and a lobby warning message would be made live with #2514. Test group will be jumping forward to 7175, with luck that will be marked as latest shortly (under 48hours)

[2017-10-20 04:57] DanVanAtta commented on #2511
I'm quite relieved that this was not a problem introduced before v7062.
Let's clarify "P0" means a live problem :)

[2017-10-20 14:47] RoiEXLab commented on #2507
Ok I know the cause of this issue.
This issue occurs when java 9 is installed on your PC.
For some reason install4j always uses java 9 which causes this issue.

[2017-10-20 15:25] ssoloff commented on #2507
Nice!

Does this mean that the Substance L&Fs are incompatible with Java 9?

[2017-10-20 17:05] RoiEXLab commented on #2507
Seems like it...

[2017-10-20 17:35] RoiEXLab commented on #2507
@ssoloff I just found this comment:
https://github.com/triplea-game/triplea/blob/f9f81445911fcd99527525257af985b90475a9ac/src/main/java/games/strategy/engine/framework/lookandfeel/LookAndFeel.java#L72-L77

Digging further into this

[2017-10-20 19:37] RoiEXLab commented on #2507
The "workaround" didn't solve the issue.
I didn't found a solution either.
However I found a github project which "maintains"/keeps updating this library, unfortunately without any sort of maven repo: https://github.com/kirill-grouchnikov/substance

[2017-10-20 20:35] ssoloff commented on #2507
@ron-murhammer @DanVanAtta Just calling your attention to the previous five comments.  This may make the priority of #2317 a bit higher.  It appears the Swing client, in its current state, will not start correctly on Java 9 with the Substance L&F.  This could become a problem with the proliferation of Java 9.

[2017-10-21 21:44] simon33-2 commented on #1768
Shouldn't the latest stable include #2483?

The path forward IMO should be:
- upgrade stable to include all changes on master
- mark as stable
- merge no other changes to master
- convert version number to 1.9.0.build on master
- upgrade bots to stable
- mark new master as stable
- restart merging

Then at least Triple-A will know what version it is and you'll be able to see it in Help|About.

I s

[2017-10-21 22:09] prastle commented on #1768
@simon33-2  During the weekend a new stable release etc is a bad idea (jmho).
 (75 players in the lobby atm all bots full and I added some myself.)
  We can shut down a bot server and test during the week with a test lobby or separate bots?  Atm I have had np with 7062.  Up to you guys about future.

[2017-10-21 22:20] simon33-2 commented on #1768
build 7062 hasn't been deployed to the bots has it?

[2017-10-21 22:22] prastle commented on #1768
Correct but I would like to announce happily that 2 have been running for three hours (my own bots)  So i tentatively think we are good to go.  With 7062

[2017-10-21 22:23] prastle commented on #1768
What we really need is a server loaded
with new stable bots
jmho
@simon33-2

[2017-10-21 22:25] simon33-2 commented on #1768
7062 is missing a fix though.

[2017-10-21 22:26] prastle commented on #1768
Then load a new server with the bots ya want to test :)
Cash is there 5 bucks for a test server
:)

[2017-10-21 22:29] simon33-2 commented on #1768
I already did put up a server a while back.

Seems a bit pointless to redo unless there's agreement about the path forward.

[2017-10-21 22:32] prastle commented on #1768
The problem is not the bots.  The problem is without a forced update we will never find all the glitches between an old map and a new; an old version and a new engine version.  Thus having one bot server running new is probably a good idea (Renamed new stable bot engine).  Just My thoughts.  You guys are the devs I am just a lobby guy.  Great work at all btw!

[2017-10-21 22:41] simon33-2 commented on #2229
This is fixed in #1981.

Please close.

[2017-10-21 23:33] prastle commented on #2503
After a brief glance I think I have pretty much moved everything already that I felt was important when we built the new forum.  I think I imported most of the important stuff.  The rest is just comments, arguments over the years etc. and is way to much to import.  The bunker is a long list of issues!  Many have been solved as well as many no longer mattering.  Since we have the new database anywa

[2017-10-21 23:36] prastle commented on #2503
To continue
Old Statistics/Laders etc are already imported with web archive.  Since its a new database all we are really losing is info on trouble makers.  As well as info from the original builders.  In the bunker
  So lets start fresh! just my thoughts Pras

[2017-10-23 03:33] ssoloff commented on #2466
triplea-game/triplea-game.github.io#259 adds a link to the wiki from the Downloads page.  I don't think it's necessary to add anything to the README because the README already links to the Downloads page.

[2017-10-23 09:02] RoiEXLab commented on #2503
With that being said I'm probably going to continue the work on the new dice server software.
It would be nice if @ssoloff could help me a bit with stuff like ESLint and automated tests, as it seems he has a couple repositories already using those tools.

[2017-10-23 16:37] ssoloff commented on #2503
Sure, @RoiEXLab.  It might be best to create a task list issue in the dice server repo of what exactly you want done.  I may not get to it for a while, though, because I'm currently doing a significant re-write of portions of the serialization proxy feature.  The circular references finally hit critical mass, and I couldn't overcome the problems without changing the design. 😞

[2017-10-23 16:40] ssoloff commented on #2229
Closing per @simon33-2's confirmation.  @DanVanAtta, please reopen if there was something else you wanted fixed with this issue.

[2017-10-23 16:40] #2229 closed

[2017-10-23 16:56] #2466 closed

[2017-10-23 16:59] RoiEXLab commented on #2503
Thanks @ssoloff I think I'll be able to get ESLint done on my own, seems to be fairly easy to setup.
The biggest question for me is what testing framework to use and how to set it up.

[2017-10-23 17:08] ssoloff commented on #2503
All I can offer is my experience. :smile:  I've pretty much used Jasmine exclusively for ES over the past several years.  It's very well supported and can do pretty much anything you need.

I have been playing around with Jest lately and see many things I like.  Jest is based on Jasmine (although now they've officially forked from Jasmine), so it is very easy to use for someone coming from that st

[2017-10-24 01:32] ron-murhammer opened #2529 "Battlecalc is Noticeably Slower In New Stable Compared to 1.9.0.0.3635"
Pretty much start any new game or open a save then try using the battle calc. Its about 2-3 times slower in the new stable then 1.9.0.0.3635.

[2017-10-24 02:48] DanVanAtta commented on #2529
Can confirm about a 3x increase in some quick experimentation.

--------------------
(0.56s -> 1.2s)

3635:
![3635](https://user-images.githubusercontent.com/12397753/31922526-47681768-b82a-11e7-9aa9-a693378824dc.png)

latest:
![latest](https://user-images.githubusercontent.com/12397753/31922527-477d5a24-b82a-11e7-950d-5891be2e904b.png)
[battle.zip](https://github.com/triplea-game/triplea/files/14

[2017-10-24 03:14] ssoloff commented on #2426
After the merge of #2530, there should be no more SourceForge links that will be checked as part of the `validateYamls` task.  (There are two SF links in the descriptions of TWW and The Rising Sun, respectively, but we do not currently check links embedded in the map description.)

Any objections to re-enabling the `validateYamls` task?

[2017-10-24 03:55] prastle commented on #2529
Yup and clacs 4 threads in tww he was using old stable im on new

[2017-10-24 03:57] prastle commented on #2529
Also to clarify that was with a cell connection at 75 mbs not my normal redneck speed ;)

[2017-10-24 04:03] ron-murhammer commented on #2529
Yeah, it has nothing to do with connection or lobby games as its slower in just regular local games.

[2017-10-24 04:05] DanVanAtta commented on #2529
@ron-murhammer I'm curious more about the 10x difference, I'm wondering what may be different as I'm not yet able to repro the drastic performance difference.

[2017-10-24 04:09] ron-murhammer commented on #2529
@DanVanAtta It appears my run counts were different as well. I see more around what your test result is now that I adjusted that to be equal.

[2017-10-24 04:25] ssoloff commented on #2529
I tried bisecting to which build the problem first appeared.  Let me say first that there appears to be two separate performance degradations.  The first one occurred sometime between 3635 and 4684, and accounts for about a 25% increase in calc time.  Since everyone seems to be observing a 2-3x increase between 7062 and 3635, I didn't pursue that further.

The second increase adds about another 75

[2017-10-24 04:40] ssoloff commented on #2529
It appears the `MustFightBattle#getBattlePower()` method added in #2080 is getting pounded during a battle calc.  I confirmed that if I remove the code added in #2080, I get back to 6590 times.  This method might be a candidate for optimization.

[2017-10-24 04:42] prastle commented on #2529
Would that explain a 1.5 min batle calc? In lobby? In Tww?

[2017-10-24 04:43] prastle commented on #2529
you guys are talking seconds
I am talking huge

[2017-10-24 04:44] ron-murhammer commented on #2529
@prastle You might want to check your run count. It appeared to reset to 5000 for me in the new stable.

[2017-10-24 04:45] ron-murhammer commented on #2529
@ssoloff Hmm. I think we should just revert that commit (again) for now.

[2017-10-24 04:45] prastle commented on #2529
I am using new stable
And you were in room
I cancelled the battle calc

Think we need a lobby test from someone other than me

[2017-10-24 04:47] ssoloff commented on #2529
@ron-murhammer Can you confirm that you observe a similar improvement by commenting out that code?  Just want to make sure I'm not the outlier here.

[2017-10-24 04:49] prastle commented on #2529
4 peeps in lobby hosted room Tww vs Hepps

Ran a battle calc on a small battle

Locked

no result

they were able to keep chatting

finally cancelled the battle calc min half later no result

Hepps using old stable me using new

nidea what ron or other gent were using

end of story never did get my calc result

[2017-10-24 04:51] prastle commented on #2529
Also would like to add this
 which is actually important
I could read their chats while they waited for me in my own host but could not respond until I hit cancel

[2017-10-24 04:52] ron-murhammer commented on #2529
@ssoloff Yeah, that seems to get us back to close to the performance of .3635.

[2017-10-24 04:52] ssoloff commented on #2529
@prastle If you can reproduce the long calc time consistently, can you post a screenshot of your battle calc window so we can try to run it locally with the same parameters?

[2017-10-24 04:52] prastle commented on #2529
join lobby we test
take a copy yourself
ron was there

[2017-10-24 04:55] prastle commented on #2529
Rons still there we can test

[2017-10-24 05:02] ron-murhammer commented on #2529
@ssoloff It appears to be that the new default LL run count is 5000 and I think the settings refactor reset everyone. That should probably be changed to more like 500.

[2017-10-24 05:07] ssoloff commented on #2529
@ron-murhammer Yup, confirmed the old default was 500:

https://github.com/triplea-game/triplea/commit/71bcf7af9bee7f989a4fd563b17e527123e69c0f#diff-9b89a4a639024ac31252e44ba37d2967L8

Probably just a fat finger during the settings migration.  I'll submit a PR for that separately.

[2017-10-24 05:09] ron-murhammer commented on #2529
@ssoloff Yeah, I figured that was where the mistake happened. We should probably make dice default to something like 200.

[2017-10-24 05:13] prastle commented on #2529
Yup

[2017-10-24 05:13] prastle commented on #2529
Good stuff guys we getting closer :)

[2017-10-24 05:21] ssoloff commented on #2529
#2531 reduces the dice and LL run counts to 200 and 500, respectively.

I'm going offline soon, so I'll just tag @simon33-2 to possibly take a look at the #2080 changes to see if there are any obvious optimizations that can be applied before it gets reverted.

[2017-10-24 16:16] RoiEXLab commented on #2529
Closing per #2531

[2017-10-24 16:23] ssoloff commented on #2529
Going to leave this open until the performance issues associated with #2080 are resolved.

[2017-10-24 19:52] simon33-2 commented on #2529
#2080 only changed MustFightBattle. Does the odds calculator use that? I guess it might.

It seems clear that such a change would slow things down a little, repeated 2000 times it could become significant. I don't see an agreeable change though. Perhaps have a flag for "Are we battle calculator"?

[2017-10-24 19:54] ssoloff commented on #2529
Indirectly, yes.

[2017-10-24 21:15] ron-murhammer commented on #2529
@simon33-2 Yeah MustFightBattle is a very core class to the engine since its used by regular battles, battle calc, and AI. So performance of it is pretty critical so we need to either revert that change or optimize it to have a minimal impact on performance.

If you have ideas to optimize it and have time the next day or so I'm open to that otherwise I'd like to revert it for now and reopen an iss

[2017-10-24 21:24] ron-murhammer commented on #2472
Closing due to lack of activity.

[2017-10-24 21:24] #2472 closed

[2017-10-24 21:28] ron-murhammer commented on #2441
@limo49 Interesting. I'd encourage you to try PBF instead of PBEM for your tournaments and either use our new forum or A&A:
https://forums.triplea-game.org/
http://www.axisandallies.org/forums/index.php?board=40.0

Closing this based on no further questions.

[2017-10-24 21:31] ron-murhammer opened #2538 "Unable to View Error Log When Game Doesn't Load"
https://forums.triplea-game.org/topic/350/unable-to-view-error-log

[2017-10-25 03:12] simon33-2 commented on #2529
Unless you like the idea of having a flag "are we battleCalculator", I can't see a solution that is all things to all people here. I still think that it would have been adequate and still would be adequate to just look at the Raw Attack and defense values as I originally coded it, which would have been somewhat faster than the solution adopted.

There's a couple of suggestions but I don't think yo

[2017-10-25 19:00] ssoloff commented on #2502
Fixed in 1.9.0.0.7286 via #2541.

[2017-10-25 19:00] #2502 closed

[2017-10-26 02:22] ssoloff commented on #2488
Fixed in 1.9.0.0.7291 via #2542.

[2017-10-26 02:22] #2488 closed

[2017-10-26 02:58] DanVanAtta commented on #2538
The more salient problem here to me is that we are quietly swallowing the error rather than displaying it. While working on map error handling in #2509 I noticed that.

[2017-10-26 05:23] ron-murhammer commented on #2529
@simon33-2 Yeah, neither of those solutions works well. I think I'd prefer to revert the change until we have more time to think about how it can be optimized to avoid impacting battle calc and AI performance.

[2017-10-26 08:40] DanVanAtta commented on #2529
@ron-murhammer any examples of how to repro the 10x difference? Again, I can see a 2x or 3x, but not 10x. There is likely something different going on for the calculator to be yet that much slower.

[2017-10-26 12:27] prastle commented on #2529
@DanVanAtta Try it with TWW.  That was where we noticed it the most.

[2017-10-27 02:02] ssoloff commented on #2529
The performance fixes are available in 1.9.0.0.7309 and later, if anyone wants to give them a spin.  However, based on developer testing, you should still expect a performance degradation of anywhere between 25-50% from 1.9.0.0.3635.

(Note that if you overrode the dice or LL simulation counts in Engine Settings, you'll have to **Reset To Default** to pick up the new values.)

[2017-10-27 02:04] ron-murhammer commented on #2529
@ssoloff Yeah, seems reasonable now after reverting that. I think we should look to test the latest and update the download in the next few days.

[2017-10-27 06:05] simon33-2 commented on #2367
For regrettable reasons, namely the reversion of #2080, this is not a problem any more.

[2017-10-27 08:36] panther2 commented on #2367
I can't confirm this.

I have tested the scenario using 7316 now.
The engine still does **not** offer the retreat option in case of a transport's stalemate.

[transports_remaining_stalemate_new_.zip](https://github.com/triplea-game/triplea/files/1421308/transports_remaining_stalemate_new_.zip)

[2017-10-27 19:58] ron-murhammer opened #2546 "Sub XML Properties Map Repo Audit"
https://forums.triplea-game.org/topic/355/sub-xml-properties

From a technical standpoint, I'd like to do an audit on these 10 properties to see if they are all being used across the map repo. If they are always the same value or not used then we can look to retire them.

If anyone wants to volunteer to do some searches across the map repos for them and post the results here that would be much app

[2017-10-27 21:23] simon33-2 commented on #2367
Oh ok. Sorry for the false alarm. I just checked with build 3627 and the problem still existed back then. I thought the problem was caused by #2080.

[2017-10-27 21:38] simon33-2 commented on #1768
Shouldn't we bump along this now? If we aren't happy with build 7062 then why is the version which is available to be downloaded.

[2017-10-27 21:40] ron-murhammer commented on #1768
@simon33-2 We should try to run through basic testing and look to update the download soon.

[2017-10-28 01:27] General-Dru-Zod opened #2549 "Bug Report for Owned+Contested Island Territories and Air Units"
[zipped.game.saves_10.27.2017.zip](https://github.com/triplea-game/triplea/files/1423800/zipped.game.saves_10.27.2017.zip)

### My Operating System: windows 10

### TripleA version: .3536 , .7062,  and .7316

### Map: Big world 2 Balance of Power

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
see below
### Do you have the exact error text? Please c

[2017-10-28 14:00] RoiEXLab commented on #2426
Closing per #2550 and #2530

[2017-10-28 14:00] #2426 closed

[2017-10-28 20:37] ssoloff commented on #2473
Fixed in 1.9.0.0.7326 via #2548.  @DanVanAtta, please re-open if the solution isn't satisfactory.

[2017-10-28 20:37] #2473 closed

[2017-10-29 18:01] ghostronin opened #2554 "Play by Forum (PBF) Error (Cert)"
-->
[1508817523236-triplea_352_ger1_Github.zip](https://github.com/triplea-game/triplea/files/1425365/1508817523236-triplea_352_ger1_Github.zip)

### My Operating System:
Windows 10 Pro x64

### TripleA version:
1.9.0.0.7062

### Map:
Total World War (TWW) 2.7.7.2

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Test post to forum and/or post game sa

[2017-10-29 19:54] prastle opened #2555 "Bots Seem to very slow to load."
I am not sure if this is an issue.  Lately the bots seem very slow to restart if they have been shut down.  I don't ever recall it taking this long to restart four bots.  I often shut down the DE server bots unless it is needed and all the bots in the lobby are full.  It makes the lobby very crouded with 20 bots running and half of them empty was my theory.  I just timed it right now (lobby is ful

[2017-10-30 00:18] ssoloff commented on #2554
@ghostronin Thanks for the information.  We kind of know what's going on with these types of errors, but to start the process of resolving it, we first have to determine which certificate is causing the problem.  Please perform the following steps when you have a chance:

* Install OpenSSL.
    * The latest portable binary for Windows 64-bit is [here](https://indy.fulgan.com/SSL/openssl-1.0.2l-x64

[2017-10-30 22:27] ron-murhammer commented on #2549
@General-Dru-Zod Interesting. Not sure contested functionality is really that well defined as we don't have many maps that utilize it. Definitely sounds like a bug though given the inconsistency. Guessing it isn't an easy one to figure out and fix though.

[2017-10-31 05:57] DanVanAtta commented on #2555
Bot load time is dominated by map parsing. @prastle check if War of the Relics was installed, that map takes longer to load then all other maps combined and then some. Deleting the file is best way to go, no way to preserve that map in the game and avoid the really slow load delay (if that is what is actually at issue)

[2017-10-31 17:58] prastle commented on #2555
Ok ty I will look. @DanVanAtta

[2017-10-31 18:02] RoiEXLab commented on #2555
We did in the past, but the current "update" script redownloads all maps, so we need to delete it every time after an update.

[2017-11-01 03:04] DanVanAtta commented on #2555
Opening, action item: omit downloading War of Relics when download 'all' maps so we don't accidently re-introduce the map.

[2017-11-01 03:59] General-Dru-Zod commented on #2549
@ron-murhammer  Yes, contested territories are not used very much. I was hoping to test it out though in my Big World 3 mod.  It would be a very different dynamic with "Land Battle Rounds=5", "Sea Battle Rounds=3", and Contested Territories Produce No Income" value="true.  However  it remains to be seen if it would be a constructive and fun dynamic in a live game.

I'm gonna shelf the idea for now

[2017-11-02 08:14] simon33-2 commented on #2529
Is there a reasonable way to just remember the previous calculations done in #2080 rather than do them again 2000 times? Seems like it ought to work on paper, although looking at the code I think it would require an incompatible release.

[2017-11-02 15:24] ssoloff commented on #2529
@simon33-2 That's actually a really good idea.  There's probably plenty of code the battle calculator runs that is independent of dice rolls and only dependent on the state of the map.  However, separating that stuff out so that it can be cached between runs sounds like a huge task.

[2017-11-02 20:30] simon33-2 commented on #2529
You would be limited to remembering only the unchanging data like the UnitBattleComparator because m_attackingUnits and m_defendingUnits can actually change with each call. Perhaps it might not get enough of an improvement.

[2017-11-02 20:35] ron-murhammer commented on #2529
@simon33-2 @ssoloff Actually most of the heavy lifting is around things like casualty selection which is dependent on remaining attacker/defending units that obviously change based on rolls and previous battle rounds. I believe it already does some caching around casualty selection.

[2017-11-02 20:41] djensen47 opened #2562 "URGENT: axisandallies.org is now https only"
People are experiencing an issue where TripleA is not handling a redirect from http to https for the axisandallies.org forums.

Allowing any http traffic after transitioning to https is going to seriously affect SEO so I would rather not re-enable http.

[2017-11-02 21:26] djensen47 commented on #2562
Thanks!

[2017-11-02 21:29] ssoloff commented on #2562
@djensen47 Sent you a message on Gitter regarding some trouble I'm having registering.  Can you please take a look so I can start testing this in a few hours?  Thanks!

[2017-11-02 21:52] ssoloff commented on #2562
Actually, I think I'm making this more difficult than it needs to be.  If axisandallies.org is switching to HTTPS, then we probably just need to update the URL schemes, and leave everything else unchanged.  There will be no HTTP-to-HTTPS redirect in that case.

[2017-11-02 21:56] ron-murhammer commented on #2562
@ssoloff Correct. Please review if you have a few minutes: #2563

[2017-11-02 21:59] ssoloff commented on #2562
Thanks, @ron-murhammer.  We can extract the common base URL to `UrlConstants` in a follow-up PR.

[2017-11-02 21:59] ron-murhammer commented on #2562
@ssoloff Agree. Just did the minimal effort to get it working for now.

[2017-11-02 22:06] ron-murhammer commented on #2562
@djensen47 The PR switching to HTTPS is merged now. A pre-release build should be put out shortly.

[2017-11-02 22:19] ron-murhammer commented on #2562
@djensen47 https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.7378

[2017-11-03 00:07] ssoloff commented on #2562
@djensen47 Just a heads-up when users start using this fix...  If a user has some kind of web content filtering app installed on their machine (e.g. parental controls), they're likely to be unable to post using the new HTTPS URL.  See #2468, #2472, and #2554 for the progress we've made in tracking down the root cause.

Unfortunately, we haven't had a user get all the way through the steps we think

[2017-11-03 00:26] djensen47 commented on #306
Agreed. My new strategy is to just use block storage or S3 to store the uploaded files. The cost isn't terrible,

[2017-11-03 01:57] ghostronin commented on #2554
WARNING: can't open config file: /usr/local/ssl/openssl.cnf
OpenSSL> s_client -showcerts -connect raw.githubusercontent.com:443
CONNECTED(0000022C)
depth=1 C = US, O = DigiCert Inc, OU = www.digicert.com, CN = DigiCert SHA2 High Assurance Server CA
verify error:num=20:unable to get local issuer certificate
---
Certificate chain
 0 s:/C=US/ST=California/L=San Francisco/O=GitHub, Inc./CN=www.github.

[2017-11-03 02:23] ssoloff commented on #2554
Thanks, @ghostronin!

So, unlike the other case we examined, it appears you're not behind a TLS proxy, as you're getting the correct certificate chain.  Interesting...

Can you please do the following so we can investigate further:

1. Provide the version of Java you are using.
    * You can find this in Control Panel under **Programs > Programs and Features**.
1. Attach your Java `cacerts` file t

[2017-11-03 03:00] ron-murhammer opened #2564 "Dice Server Returning Errors"
Test
Contacting  dice.tripleawarclub.org
An error has occured!
Possible reasons the error could have happened:
  1: An invalid e-mail address
  2: Firewall could be blocking TripleA from connecting to the Dice Server
  3: The e-mail address does not exist
  4: An unknown error, please see the error console and consult the forums for help
     Visit https://forums.triplea-game.org/  for extra help

[2017-11-03 03:01] ron-murhammer commented on #2564
@RoiEXLab Have you been working on the live dice server at all?

[2017-11-03 03:24] ssoloff commented on #2564
Weird...  MARTI seems to be responding on the HTTPS endpoint:

[code]

but not on the HTTP endpoint:

[code]

[2017-11-03 03:28] ssoloff commented on #2564
Just curious, does `tripleawarclub.org` have any relation to `axisandallies.org`?  It just seemed like too much of a coincidence not to ask since Dave said he was switching from HTTP to HTTPS.

[2017-11-03 03:30] ron-murhammer commented on #2564
@ssoloff They shouldn't have any relation.

[2017-11-03 03:38] ssoloff commented on #2564
With a small hack, I was able to connect to MARTI:

[code]

I think that confirms that MARTI is running fine, it's just no longer listening on the HTTP endpoint.

[2017-11-03 03:42] ghostronin commented on #2564
I have the same error I think:

Test
Contacting  dice.tripleawarclub.org
An error has occured!
Possible reasons the error could have happened:
  1: An invalid e-mail address
  2: Firewall could be blocking TripleA from connecting to the Dice Server
  3: The e-mail address does not exist
  4: An unknown error, please see the error console and consult the forums for help
     Visit https://forums.tr

[2017-11-03 03:43] ron-murhammer commented on #2564
@ssoloff Weird. I just don't understand why it would stop listening on the http endpoint....

[2017-11-03 04:02] ssoloff commented on #2564
@ron-murhammer I should have been more accurate in what I stated.  It's not that the HTTP endpoint is disabled, it's that it is redirecting to the HTTPS endpoint (confirmed by running curl with `-L` [follow redirects]: `curl -L -X POST https://dice.tripleawarclub.org/MARTI.php`).

So it sounds like someone flipped a switch that said to redirect HTTP to HTTPS for the `dice.tripleawarclub.org` subdo

[2017-11-03 04:04] ssoloff commented on #2564
Nevermind, I realize I ran that curl command with an HTTPS URL instead of HTTP.  I get the same response as before with `-L` when hitting the HTTP URL.

[2017-11-03 04:24] DanVanAtta commented on #2564
Seeing a 301 moved permanently:
[code]

I'm not sure about this bein ga port issue. The above seems to be returned from the web server.

[2017-11-03 04:24] ssoloff commented on #2564
An alternative theory is that HTTP always redirected to HTTPS, and, for some reason, that is no longer happening.

HTTP requests to `www.tripleawarclub.org` are redirected to HTTPS:

[code]

While HTTP requests to `dice.tripleawarclub.org` are _not_ redirected to HTTPS:

[code]

[2017-11-03 04:30] ssoloff commented on #2564
@DanVanAtta Interesting that you're getting a 301, while several of us are getting 404s with that empty `sanjura.ca` page.  Almost like there's a proxy or something between those of us seeing the 404 and `dice.tripleawarclub.org`, while you're getting the raw response.

What happens if you add `-L` to your cURL command to follow the redirect?

[2017-11-03 04:31] DanVanAtta commented on #2564
[code]

[2017-11-03 04:36] DanVanAtta commented on #2564
And the plot thickens... I'm seeing the 301 redirect followed.  Are you still getting the 404?

[code]

[2017-11-03 04:39] ssoloff commented on #2564
Yup.

[2017-11-03 04:56] DanVanAtta commented on #2564
On the other hand, I can reproduce the error in-game when testing the dice server:
[code]

[2017-11-03 05:05] DanVanAtta commented on #2564
If the dice server is returning a redirect, seems like we should update the configuration as noted by
@ssoloff to hit https directly. I can confirm that those updates result in a successful dice test.

I checked gitter and @RoiEXLab  updated the tripleawarclub postfix config. I do not know how though. With some luck @RoiEXLab would check back in soon.

[2017-11-03 05:11] DanVanAtta commented on #2564
https://github.com/triplea-game/triplea/pull/2565 Would update the game config.

[2017-11-03 05:43] DanVanAtta commented on #2564
I suggest we do this:
- update the config to use https (merge: #2565), wait for a new build
- post in forum about dice server, give link to the new build

---------------

Within the next 24 hours I'd suggest:
- coordinated regression testing on newest build
- mark that version as the latest (update download link)
- update lobby text to say that the newest has PBF and PBEM fixes

[2017-11-03 05:43] DanVanAtta commented on #2564
I suspect @RoiEXLab will check back and PBEM would be restored, though we still want to get users on the newest for PBF fix.

[2017-11-03 06:11] DanVanAtta commented on #2564
https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.7386 has the latest updates

[2017-11-03 08:54] RoiEXLab commented on #2564
Sorry for the trouble everyone.
We had this problem when I migrated the Warclub sites over to https (that's why both were supported for a long time now), but I could've sworn I submitted a PR which made triplea follow 301 POST redirects. (I even found the PR, #1656).
So I thought with the new latest stable, everything should be working fine.
Everything should work fine again now, I configured ngin

[2017-11-03 08:59] #2564 closed

[2017-11-03 15:42] ssoloff commented on #2564
@RoiEXLab I believe the #1656 code correctly follows 301 POST redirects.  It's just that some of us were not seeing the redirects.  @DanVanAtta saw the redirects when using cURL, and then was getting the same 404 as the rest of us when using TripleA.  It would be interesting to understand the root cause of that discrepancy.

[2017-11-03 15:56] RoiEXLab commented on #2564
Alternative would be to try and get a new dice server working as quickly as possible, to avoid having to deal with PHP :P

[2017-11-03 16:05] RoiEXLab commented on #2564
Nevermind, I found the reason why the 404 errors occured.
Apparently I didn't do the redirect to https correctly: I forgot to out-comment the server_name entry for dice.tripleawarclub.org, leading to the request being picked up by another configured http handler (the sanjuro.ca entry for example I just deleted, because the domain doesn't exist anyways).

Should we try turning it on again correctly

[2017-11-03 16:12] ssoloff commented on #2564
Nice.  Still wondering why @DanVanAtta saw what he saw, but your analysis of the problem makes total sense from my perspective.

Probably not at this time.  As @ron-murhammer pointed out [here](https://github.com/triplea-game/triplea/pull/2565#issuecomment-341726855), that's just going to lead to potentially more users reporting certificate path validation errors.

[2017-11-03 16:16] RoiEXLab commented on #2564
@ssoloff Yeah, see https://github.com/triplea-game/triplea/pull/2565#issuecomment-341751600 for my answer

[2017-11-04 04:05] ssoloff commented on #2529
Closing as no one has reported any further issues in the eight days since the fixes were merged.

[2017-11-04 04:05] #2529 closed

[2017-11-04 16:15] ssoloff commented on #2158
Fixed in 1.9.0.0.7398 via #2568.

[2017-11-04 16:15] #2158 closed

[2017-11-04 21:24] ghostronin commented on #2554
[cacerts.zip](https://github.com/triplea-game/triplea/files/1443579/cacerts.zip)
[ssl.zip](https://github.com/triplea-game/triplea/files/1443585/ssl.zip)

Java 8 Update 144, 8.0.1440.1, build 1.8.0_144-b01

[2017-11-05 01:15] ssoloff commented on #2554
@ghostronin Thanks for the logs.  There were 17 separate TLS connections to GitHub, and they all appear to have been successful.  The certificate chain was validated successfully each time, and no other exceptions are present.  Did you see the error message you originally reported (or any other error message) when you were capturing these logs?

Reviewing your original post once again, I'm wonderi

[2017-11-05 02:33] ghostronin commented on #2554
Hmmm...when I run TripleA and test post after opening via the command prompt you gave me: java -Djavax.net.debug=ssl -jar bin\triplea.jar > ssl.log, it works. The test works correct, see: https://forums.triplea-game.org/topic/352/redrum-axis-vs-ghostronin-allies-tww-2-7-7-2/12

However, when I open TripleA via shortcut or directly thru the program and attempt to test-post the same error occurs as

[2017-11-05 02:54] ssoloff commented on #2554
Yes, interesting.  I wonder if when you run TripleA via the launcher, it's using a different JVM that might have a different _cacerts_ file that doesn't contain the CA certificate for the Let's Encrypt certificate `triplea-game.org` uses.

Let's determine the JVM TripleA is using when you run it via the launcher.  Please do the following:

* Start TripleA from the launcher or shortcut.
* Start a l

[2017-11-05 03:11] ghostronin commented on #2554
The error is only with forums.triplea-game.org. axisandallies.org has been working for me via PBF. See: https://www.axisandallies.org/forums/index.php?topic=40781.0
https://www.axisandallies.org/forums/index.php?topic=40804.0

triplea.engine.version.bin:1.9
Loading map: world_war_ii_classic, from: C:\Users\Master\triplea\downloadedMaps\world_war_ii_classic-master.zip
Loading resources from the fol

[2017-11-05 03:23] ssoloff commented on #2554
Yeah, so it looks like install4j downloaded and installed Java 1.8.0_66 when you installed TripleA at some time in the past and is continuing to use that version instead of the 1.8.0_144 version you probably installed yourself.

Can you please send me the _cacerts_ file from _c:\program files\common files\i4j_jres\1.8.0_66\lib\security_?  I suspect we'll find that it does not contain the required

[2017-11-05 04:04] ssoloff commented on #2554
Using the 1.8.0_66 JRE in the `triplea-game/assets` repo, I confirmed that its _cacerts_ file does not contain an entry for the root CA used to sign the `triplea-game.org` certificate (DST Root CA X3; SHA-1 fingerprint: `DA:C9:02:4F:54:D8:F6:DF:94:93:5F:B1:73:26:38:CA:6A:D7:7C:13`).

[2017-11-05 04:06] ghostronin commented on #2554
Deleted Java 1.8.0_66. Reinstalled TripleA. Now it appears PBF via forums.triplea-game.org is working. Thank you ssoloff!!!!

[2017-11-05 04:16] ssoloff commented on #2554
Excellent!  Now we at least have one confirmed troubleshooting path we can offer other users who are experiencing the same TLS certificate path validation error.  Thanks for taking the time to slog through this, @ghostronin.

Tagging related issues #2468 and #2472 for trackbacks.

[2017-11-05 04:16] #2554 closed

[2017-11-06 05:35] ssoloff opened #2575 "Can not start a local game"
#### Environment

* TripleA 1.9.0.0.7422
* Multiple operating systems
    * Windows 8 x86_64 (Oracle Java 1.8.0_121)
    * Fedora Linux 26 (OpenJDK 1.8.0_151 and Oralce Java 1.8.0_144)

#### Reproduction steps

1. Start a local game.

#### Expected behavior

The game should start.

#### Actual behavior

The game appears to launch (i.e. loading dialog is displayed) but then immediately returns to t

[2017-11-06 05:49] ssoloff commented on #2575
It appears this issue was introduced in 1.9.0.0.7412 via #2570.  I'm looking into the root cause now.

[2017-11-06 08:11] simon33-2 opened #2577 "PBF turns off dice"
Loading a PBF game, the dice server selected by default is the internal dice server. Why is that? It wasn't the case in the past. It should select the marti server unless you select something else along the way.

[2017-11-06 09:33] panther2 commented on #2577
I can't reproduce that here. Which version are you using?

[2017-11-06 09:48] #2575 closed

[2017-11-06 19:11] simon33-2 commented on #2577
1.9.7386.

Really? Every save game I load sets the dice server to the internal one.

[2017-11-06 20:09] djensen47 commented on #2562
Should we close this? It appears to be working.

[2017-11-06 20:09] #2562 closed

[2017-11-07 02:03] ron-murhammer commented on #2577
Can't reproduce this either. If you have a save then to reproduce then please upload.

[2017-11-08 19:24] RoiEXLab opened #2584 "Exception on startup"
I'm not sure what exactly is causing this, but I think this regression has been introduced in #2573
I can no longer reproduce this since I explicitly loaded a map, but could reproduce it consistenly before.
[code]

[2017-11-08 19:42] ssoloff commented on #2584
Weird, I just saw it, too, while testing some changes to #2581.  I did not observe this error yesterday, and I haven't rebased since then (that branch is currently based off of 4899e8325 (#2572)).

[2017-11-08 19:49] ssoloff commented on #2584
But it appears to be due to what I mentioned earlier.  Namely, that there is a recursive call to `BackgroundTaskRunner` while loading the default game.  A quick, but smelly, fix seems to be the following:

[code]

[2017-11-08 20:07] ssoloff opened #2586 "Flaky test: OddsCalculatorTest#testKeepOneAttackingLand"
Just noting that I experienced a [build failure](https://travis-ci.org/ssoloff/triplea-game-triplea/builds/299277404) due to the `OddsCalculatorTest#testKeepOneAttackingLand` test failing:

[code]

This test seems to be statistical in nature, and this failure was at the very edge of the boundary condition.  Not sure if we should be concerned at this time.  This is the first time I've seen this tes

[2017-11-08 20:23] ssoloff commented on #2584
You can trigger the code path that raises the exception by deleting the `games/strategy/triplea/settings/DEFAULT_GAME_URI_PREF` user preference.

[2017-11-09 02:02] ssoloff commented on #2584
Here's another possible solution that puts the responsibility of calling `GameChooserModel#parseMapFiles()` on the caller so they can decide if it needs to be done on the current thread or a background thread (this is a diff with whitespace changes ignored):

[code]

[2017-11-09 17:15] panther2 commented on #2584
FWIW I can constantly reproduce this error with 7469.
It occurs not only when starting TripleA but also when leaving a game with "File - Leave Game".

[2017-11-09 17:55] ssoloff opened #2588 "GameSelectorModelTest permanently changes user settings"
After running `GameSelectorModelTest`, the user's settings are permanently modified with what are effectively illegal values.  For example, after running these tests, the user's default game name and URI are modified as follows:

[code]

This issue only affects developers running unit tests locally.

In general, unit tests should not permanently modify the file system, especially when those change

[2017-11-09 17:56] ssoloff commented on #2584
Running `GameSelectorModelTest`, as described in #2588, is another way to trigger this error.

[2017-11-09 18:03] ssoloff commented on #2584
A temporary fix is now available in 1.9.0.0.7475.

We probably still need to discuss this a bit more to determine if there's a better solution before closing this issue.  I don't like the fact that `newInstance()` now may throw `InterruptedException` depending on which thread it's invoked upon.  That forces callers who are calling it off of the EDT to handle `InterruptedException` even though it w

[2017-11-09 21:43] RoiEXLab commented on #2555
I submitted a bunch of PRs that should speedup bot loading on the bot servers.
War of The Relics probably no longer impacts the general loading that heavily.
So since the update script seems to be bot related, I think opening a dedicated issue at the lobby repository would be a good idea.
If the engine should implement an auto-updater for bots, then I'd like you to open a dedicated issue for this

[2017-11-10 00:31] prastle commented on #2555
Np Close it for now. @RoiEXLab

[2017-11-10 00:35] #2555 closed

[2017-11-10 10:26] #2588 closed

[2017-11-10 10:45] simon33-2 commented on #2577
Might have been a bad save somewhere. Anyway, doesn't seem to be recurring.

[2017-11-10 10:45] #2577 closed

[2017-11-10 10:55] simon33-2 commented on #1768
Ok, so it looks like build 7378 is the new stable. Will that be deployed to the bots?

What's the plan to go forward, stick with only compatible changes or is there a plan for an incompatible release?

[2017-11-10 14:42] ron-murhammer commented on #1768
@simon33-2 Once we determine 7378 is the new stable that we want everyone to move then then we'll announce it on the lobby and look to upgrade the bots. After that I would like to consider doing a incompatible release so we have a bit more freedom to make some changes.

[2017-11-10 17:11] ssoloff commented on #2584
@RoiEXLab Do you have any suggestions for improving the **second** solution proposed [above](https://github.com/triplea-game/triplea/issues/2584#issuecomment-343023829)?  As I mentioned in #2587, I don't like the current fix because it forces callers to handle `InterruptedException` even when it can't possibly be thrown.  Without any better ideas, I'll probably submit a PR fairly close to the seco

[2017-11-10 19:32] RoiEXLab commented on #2584
@ssoloff I'm fine with your second proposal, perhaps you should create an overloaded constructor for gamechoosermodel which is required to be called on the EDT and parses the map files without having to explicitly pass them.
But I'd be fine either way.

[2017-11-11 19:53] justbleh opened #2594 "Large Mordor Map crashing when attacking neutral territories"
### My Operating System:
windows 64 bit

[large morder hard good.zip](https://github.com/triplea-game/triplea/files/1464039/large.morder.hard.good.zip)

### TripleA version:

1.9.0.0.7378
### Map:
Large Mordor
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
I saved it right at the error, initiating the battle
### Do you have the exact error text? Ple

[2017-11-11 20:10] ssoloff commented on #2594
Confirmed that I can reproduce this exception with the attached save game in 1.9.0.0.7496.

If I revert #2557 locally, the exception is not thrown and the battle proceeds as expected.

[2017-11-11 20:32] jarollins84 opened #2595 "PBEM: Can no longer send messages using a Hotmail account"
### My Operating System:
Windows 10

### TripleA version:
1.9.0.0.7378

### Map:
None

### Can you describe how to trigger the error?
When I hit test email button

### Do you have the exact error text?
I can't get it all in or copy it but it starts like this unable to send email: 554 5.2.0 STOREDRV.Submission.Exception:sendAasDeniedExceptionSendAsDenied; Failed to processs message due to a permane

[2017-11-11 20:51] #2594 closed

[2017-11-11 20:53] ssoloff commented on #2595
This is possibly due to a large save game being attached to the message (see [here](https://social.technet.microsoft.com/Forums/ie/en-US/a46f4323-f2f1-4b7b-96f0-9fbbea5d031e/554-520?forum=exchangesvrsecuremessaginglegacy)).

@jarollins84 Can you please zip and attach the save game you're trying to send to this issue?  Also, which email provider are you using?

[2017-11-11 20:58] ssoloff commented on #2584
Fixed in 1.9.0.0.7501 via #2593.

[2017-11-11 20:58] #2584 closed

[2017-11-11 21:03] ssoloff commented on #2594
@justbleh This should be fixed in pre-release 1.9.0.0.7509 or later.  You can download the latest pre-release [here](https://github.com/triplea-game/triplea/releases).  Please re-open this issue if you still experience the error.

[2017-11-11 21:03] jarollins84 commented on #2595
Steven,

I wasn't even in a game yet I was just trying to test the email through the PBEM tab now the message is this.   Unable to send email: 451 4.7.0 Temporary server error. Please try again later.  PRX4 [MWHPR0201CA0052.namprd02.prod.outlook.com].  I have reinstalled the program and restarted computer, and am not very tech savy on how I am going to fix this if there isn't a real easy fix.

Ala

[2017-11-11 21:08] ssoloff commented on #2595
@jarollins84 Ah, sorry, I read your description too quickly. :smile:

The latest error you posted indicates it may be a temporary problem with `outlook.com`.  I don't use `outlook.com`, but I'll create a throwaway account and see if I can reproduce the problem.

[2017-11-11 21:09] jarollins84 commented on #2595
It went back to the old long error and i'm using a Hotmail email.

________________________________
From: Steven Soloff <notifications@github.com>
Sent: Saturday, November 11, 2017 9:08 PM
To: triplea-game/triplea
Cc: jarollins84; Mention
Subject: Re: [triplea-game/triplea] Test Email on PBEM issue (#2595)

@jarollins84<https://github.com/jarollins84> Ah, sorry, I read your description too quickly

[2017-11-11 21:11] jarollins84 commented on #2595
Also trying to use the standard global 1940 second edition map

________________________________
From: Steven Soloff <notifications@github.com>
Sent: Saturday, November 11, 2017 9:08 PM
To: triplea-game/triplea
Cc: jarollins84; Mention
Subject: Re: [triplea-game/triplea] Test Email on PBEM issue (#2595)

@jarollins84<https://github.com/jarollins84> Ah, sorry, I read your description too quickly. 😄

[2017-11-11 21:41] ssoloff commented on #2595
Sweet!  While trying to send a test email using a Hotmail account on my Linux box, the JVM core dumped and my entire GNOME session was destroyed. 😞

Switching to Windows, I can confirm that I'm getting a similar message to what you're reporting.

I found [this post](https://answers.microsoft.com/en-us/msoffice/forum/mso_win10/i-cannot-send-out-email-anymore-from-outlook/eb21d415-883f-4ad1-b69d-5f0

[2017-11-11 21:49] ManfredVonRichthofen opened #2597 "Engine Preferences Malfunction"
### My Operating System: Win 10

### TripleA version:1.9.0.0.7378

### Map: World War II v3 1942

Engine Preferences - Combat - Don't work at all it does not matter what values I assume. I set all to True and still it runs as they were False. On version 1.8 things run as they did ( no automated) but the editing isn't working for this new version (1.9.). Please fix it

[2017-11-11 21:51] ssoloff commented on #2595
For my reference... this appears to be due to the fact that we're creating an excessively-wide dialog from the error message sent by Outlook.com.  It appears to be about five screens wide.  There may be a limitation in GNOME that's causing the core dump.  We may have to truncate and/or wrap the text to ensure the dialog width is reasonable.

[2017-11-11 21:51] jarollins84 commented on #2595
Thank you I look forward to hearing from you and am about to start a gmail account lol.

________________________________
From: Steven Soloff <notifications@github.com>
Sent: Saturday, November 11, 2017 9:41 PM
To: triplea-game/triplea
Cc: jarollins84; Mention
Subject: Re: [triplea-game/triplea] Test Email on PBEM issue (#2595)

Sweet! While trying to send a test email using a Hotmail account on m

[2017-11-11 22:18] ssoloff commented on #2595
@DanVanAtta @RoiEXLab @ron-murhammer It appears the claim made at the above link regarding Hotmail rejecting messages with an unverified `From` field is correct.  I confirmed that I can get Hotmail PBEM working again by specifying the user's account name in the `From` field of the message:

[code]

The only issue I see here is from a privacy perspective in that the sending user's email is now bein

[2017-11-11 22:29] jarollins84 commented on #2595
Yeah I’m a pbem I would assume the players know each other.  Now what exactly did u do
Or do I need to do to fix it as I don’t understand what u have put in.  I’m not tech savvy just like using it and having others fix haha

Sent from my iPhone

On Nov 11, 2017, at 5:18 PM, Steven Soloff <notifications@github.com<mailto:notifications@github.com>> wrote:

@DanVanAtta<https://github.com/danvanatta>

[2017-11-11 23:16] ssoloff commented on #2595
@jarollins84 Unfortunately, there's nothing you can do on your end because it's going to require a code change to fix this issue.  Hopefully, we can get a fixed release out soon.  In the interim, your best bet is to use a Gmail account for PBEM.  Sorry for any inconvenience.

[2017-11-11 23:44] jarollins84 commented on #2595
So tried it with gmail accound ja.rollins840815@gmail.com and it gave me another error.  I don't know what to do with this one how do I log in on my web browser.

[cid:27820dda-57d9-4221-86c5-08b8d165c422]

________________________________
From: Steven Soloff <notifications@github.com>
Sent: Saturday, November 11, 2017 11:16 PM
To: triplea-game/triplea
Cc: jarollins84; Mention
Subject: Re: [triple

[2017-11-11 23:56] ssoloff commented on #2595
Hmm, not really sure what that error code signifies.  Can you provide a screenshot of the error dialog TripleA pops up?

Are you able to login at https://gmail.com?  If so, do you know if you have two-factor authentication enabled?  If you are using two-factor authentication, you will need to create and use an "application password" for TripleA; see [here](https://support.google.com/accounts/answe

[2017-11-12 00:04] jarollins84 commented on #2595
Did you see what I sent?  if so that's all that the message said.  I also don't have two-factor authntiactiaon on should I turn it on.

________________________________
From: Steven Soloff <notifications@github.com>
Sent: Saturday, November 11, 2017 11:56 PM
To: triplea-game/triplea
Cc: jarollins84; Mention
Subject: Re: [triplea-game/triplea] PBEM: Can no longer send messages using a Hotmail accou

[2017-11-12 00:22] ssoloff commented on #2595
Just to be clear, you're saying TripleA displayed a dialog box with only the above text in the window?  What was the title of the dialog?  Normally, TripleA will prefix the error message received from the mail provider with something like "Unable to send email:".  That's why I'm confused when you said, "that's all the message said."

I just confirmed that I can PBEM using my Gmail account, so it a

[2017-11-12 00:25] jarollins84 commented on #2595
I sent the print screen let me know if you got it.  Also I couldn't find out how to give an application password when I went to the link it said my account didn't require that.

________________________________
From: Steven Soloff <notifications@github.com>
Sent: Sunday, November 12, 2017 12:22 AM
To: triplea-game/triplea
Cc: jarollins84; Mention
Subject: Re: [triplea-game/triplea] PBEM: Can no lo

[2017-11-12 00:34] ssoloff commented on #2595
Where did you send it?  Did you attach it to an email you used to reply to this thread?  I don't know if GitHub strips out attachments when it converts your email reply into an issue comment.  If you use the [GitHub web interface](https://github.com/triplea-game/triplea/issues/2595), you can just drag-and-drop the image into your comment.

Yeah, so it sounds like Google disables that feature if yo

[2017-11-12 00:35] jarollins84 commented on #2595
![screen shot](https://user-images.githubusercontent.com/33582631/32694791-86815814-c717-11e7-9268-54776bf08eae.png)

[2017-11-12 00:38] jarollins84 commented on #2595
I will try to do two verification on it.

[2017-11-12 00:43] jarollins84 commented on #2595
It looks like the two part verification and app password worked

[2017-11-12 00:44] ssoloff commented on #2595
Thank you.  The link in that message indicates Gmail is not allowing you to authenticate from TripleA.  From the list of things it says to try, this one sounds the most promising:

Or you can just enable two-factor authentication and use an app password.  **EDIT:** Which apparently you've already done. :smile:

[2017-11-12 00:45] jarollins84 commented on #2595
Thank you for your help I really appreciate it

[2017-11-12 01:11] ssoloff commented on #2595
@DanVanAtta @RoiEXLab @ron-murhammer

I didn't notice this before, but even though we're currently using `noreply@triplea-game.org` in the `From` field, Gmail seems to always replace it with the addy of the authenticated user.  Thus, the proposed change above simply brings Hotmail (and the generic SMTP provider) into parity with Gmail.

[2017-11-12 01:49] ssoloff commented on #2597
Whoops...  Confirmed that all three Combat preferences are not referenced anywhere in the code other than by the settings UI.  We'll have to go back through the history and find out when this broke in order to restore the functionality.  Thanks for reporting, @ManfredVonRichthofen.

[2017-11-12 02:12] ssoloff commented on #2597
All three settings appear to have been disconnected from `BattleDisplay` (where the actual decisions are made) in #2137.  Should be a relatively straightforward fix.

[2017-11-12 02:29] ManfredVonRichthofen commented on #2597
When you have it fixed please say so.

[2017-11-12 05:14] justbleh commented on #2594
Perfect, my saved game even runs with the new update. Thanks for you speedy reply and help! I appreciate your thoroughness and proficiency.

[2017-11-12 07:25] justbleh opened #2600 "2 hit troll not repairing at end or beginning of turn"
### My Operating System:

### TripleA version:
1.9.0.0.7509
[dwarves vs the world hard.zip](https://github.com/triplea-game/triplea/files/1464420/dwarves.vs.the.world.hard.zip)

### Map:
Large Mordor map
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
go into battle and 2 turns later none of my 2 hit characters have healed
### Do you have the exact e

[2017-11-12 08:30] #2595 closed

[2017-11-12 08:39] #2597 closed

[2017-11-12 09:18] djensen47 opened #2601 "Axis & Allies .org moving to Discourse forums"
Before the end of the year, we're moving the forums to Discourse. I was hoping to do this in November but my practice migration is taking a _long_ time.

The good news is that Discourse has an API. The bad news is the user token workflow is not documented.

Here is a conversation on meta.discourse.org discussing it:
https://meta.discourse.org/t/generating-user-api-keys-with-rest-api/61916

The new

[2017-11-12 09:30] panther2 commented on #2601
Mail sent, thanks!

[2017-11-12 09:43] RoiEXLab commented on #2597
@ManfredVonRichthofen This issue should be fixed for TripleA v1.9.0.0.7516+

[2017-11-12 09:44] RoiEXLab commented on #2597
You can find the latest pre-releases [here](https://github.com/triplea-game/triplea/releases), please report back if something does not work for you.

[2017-11-12 09:59] RoiEXLab commented on #2601
@djensen Oh well, Setting up a NodeBB client could've been done in minutes, by simply copying the current code for the NodeBB TripleA Forum and changing the URL, but anyways I believe currently the TripleA forum code is doing something similar:
If I recall correctly, we query a new API key using the users credentials, do all of the posting stuff and dump the key afterwards, so if you could provide

[2017-11-12 10:11] djensen47 commented on #2601
Here are the Discourse API docs: http://docs.discourse.org

Looks like you'll need posts and uploads:
http://docs.discourse.org/#tag/Upload
http://docs.discourse.org/#tag/Posts

I think you have to upload the file first, then include a link to it in the post.

[2017-11-12 12:45] prastle commented on #2597
@RoiEXLab It does appear to be working correctly now.

[2017-11-12 13:12] ssoloff commented on #2595
@jarollins84 This should be fixed in 1.9.0.0.7514 or later.  Please reopen if you still have problems with PBEM using your Hotmail account.

[2017-11-12 18:40] justbleh commented on #2600
this error message keeps popping up as well.
triplea.engine.version.bin:1.9
Loading map: large_middle_earth, from: C:\Users\johnw_000\triplea\downloadedMaps\large_middle_earth-master.zip
Loading resources from the following paths: [C:\Users\johnw_000\triplea\downloadedMaps\large_middle_earth-master.zip, C:\Program Files\TripleA\assets]
Loading map: large_middle_earth, from: C:\Users\johnw_000\trip

[2017-11-12 20:43] panther2 opened #2603 "MARTI diceserver (at least sometimes) fails to validate email-addresses"
As reported on axisandallies.org:

https://www.axisandallies.org/forums/index.php?topic=40884

Here we have two cases where MARTI answered

![notver](https://user-images.githubusercontent.com/20812775/32703172-2c7b26ac-c7f2-11e7-8f94-24e55daae9e7.PNG)

after the users clicked the validation link provided by the MARTI-mail after registration.

We have one hotmail- and one gmail-account involved. I

[2017-11-12 21:29] RoiEXLab commented on #2600
According to your error message this seems related to https://github.com/triplea-game/triplea/issues/2594
Could you verify this issue is still present in the lates pre-release?

[2017-11-12 21:34] RoiEXLab commented on #2603
Weird. This really should not be the case, and since this seems to be a very recent problem I don't know the cause either. I haven't been messing with the server config lately (other than https, which has been reverted anyways).

Might increase the priority of https://github.com/triplea-game/dice-server-js/issues/1 further...

[2017-11-12 22:04] ssoloff commented on #2603
The only thing that can cause that error message is if there is no row in the MARTI `pending_validations` table with the specified email and validation key:

https://github.com/triplea-game/dice-server/blob/master/dice/validate.php#L15-L31

It would be interesting if someone could run a query against this table for the affected users' emails to see what validation keys are present.  Then compare t

[2017-11-12 22:18] ssoloff commented on #2603
It looks like PHP itself is URL decoding the values, so that theory, in general, is probably invalid.

However, there still may be something special about the user's email that could trigger a difference to what's stored in the `pending_validations` table.  Have the users disclosed their emails?  Maybe they can be shared via Gitter?

[2017-11-12 23:37] RoiEXLab commented on #2603
@ssoloff I sent you the relevant SQL data via gitter

[2017-11-13 00:21] ssoloff commented on #2603
Got it.  Thanks, @RoiEXLab.  Nothing looks suspicious (although there appears to be one fat-finger with a `gmail.comg` domain, but I'm assuming the user realized that and subsequently submitted the correct email).

The next thing to verify is the actual URL received by one of the users reporting the problem against the content of the `pending_validations` table.  @panther2, would it be ok to forwa

[2017-11-13 05:42] ssoloff commented on #2600
@justbleh

I am unable to reproduce the repair issue in 1.9.0.0.7522 using the _dwarves.vs.the.world.hard.zip_ save game you provided.

Using edit mode, I gave the Orcs trolls in Celebdil and Limlight one hit each:

![trolls-with-one-hit](https://user-images.githubusercontent.com/4826349/32710357-87db488e-c805-11e7-8e16-eaa86e604830.png)

At the end of the Orcs turn, those trolls were repaired:

!

[2017-11-13 08:18] panther2 commented on #2603
Good idea, @ssoloff

[2017-11-13 16:28] justbleh commented on #2600
The error message keeps popping up in a new message, so I added that to this issue. I don't know what it means at all. The main unit is the dragon and troll in Angmar in the saved Angmar map. I didn't use them for two rounds and didn't get attacked and they never healed. In battle a few turns later one hit kills them, then I just enter edit mode and add another....

[2017-11-13 20:57] ssoloff commented on #2600
At the point of the _Angmar.vs.the.world.hard.zip_ save game (combat phase of Angmar's turn in round 4), the state of Angmar's damaged multi-hit units is the following:

Territory | Unit | Hits
:-- | :-- | :--
West Angmar | Dragon | 2 of 3
West Rhudaur | Troll (a) | 1 of 2
West Rhudaur | Troll (b) x2 | 1 of 2

(Note that I don't understand what's different between the one Troll (a) unit and two Tr

[2017-11-13 22:49] panther2 commented on #2603
So, I have created the room `Issue2603` and added you two @RoiEXLab and @ssoloff .

Please take a look, thank you.

[2017-11-14 00:07] panguitch opened #2605 "Crashing during casualty selection since release .7374"
A player brought it to my attention that Greyhawk Wars is crashing during casualty selection. This happens whether it's a human player or an AI. I'm not attaching a saved game because all you have to do to reproduce is start the game and have a battle with mixed troops. I did some testing and it appears this bug was introduced with release 7374 (can't reproduce in earlier versions, can in 7374 and

[2017-11-14 01:05] justbleh commented on #2600
Thanks for all of your help with this. I also have some thoughts on the AI for this map, who would I contact to discuss them with?

________________________________
From: Steven Soloff <notifications@github.com>
Sent: Monday, November 13, 2017 8:57 PM
To: triplea-game/triplea
Cc: justbleh; Mention
Subject: Re: [triplea-game/triplea] 2 hit troll not repairing at end or beggining of turn (#2600)

Th

[2017-11-14 01:45] ron-murhammer commented on #2600
@ssoloff @justbleh The issue seems to be before that battle in West Rhudaur even occurs. The Troll in Weathertop actually has 0 HP (you can check by opening battle calc on that territory and see total HP). Hard to say why that is but there is definitely something wrong with that save game as units shouldn't be able to have 0 HP like that.

@justbleh For AI feedback/thoughts, please post in the for

[2017-11-14 02:21] ron-murhammer commented on #2605
The problem is this:
**Not found:games.strategy.engine.framework.ServerGame.PLAYER_REMOTE.Neutral**

An error was introduced into the engine but has been fixed. Please update to latest TripleA pre-release and retest.

[2017-11-14 02:24] ssoloff commented on #2600
Good catch.  Didn't even think to use the Battle Calc that way.  That explains why it takes two rounds to get that particular unit back to 2 HP.

I went all the way back to the beginning of round 1, and I was surprised to see that the units in question (dragon in East Mountains of Angmar, two trolls in Trollfells, and troll in Ettenmoors) all start with 1 HP.  At first, I thought maybe that was SO

[2017-11-14 02:27] ron-murhammer opened #2606 "Game History Error: Could Not Set Property Attack"
Here is a TWW **save game** that can reproduce:
[1510445411381-triplea_361_us2.zip](https://github.com/triplea-game/triplea/files/1469385/1510445411381-triplea_361_us2.zip)

**Steps:**
1. Load save game
2. Open history panel
3. Click anywhere before USA's last turn

**Error:**
java.lang.IllegalStateException: Could not set property:attack subject:UnitAttachment attached to:UnitType{name=americanBa

[2017-11-14 02:35] ron-murhammer commented on #2606
I think this is similar to #1743. I think the problem is actually that a while back many of the UnitAttachment setters were changed to primitives (int) instead of objects (Integer). Can someone else take a look to confirm that is the issue?

[2017-11-14 02:57] panguitch commented on #2605
Yes, latest pre-release looks error-free. Thanks!
I selfishly hope this goes live soon since Greyhawk Wars is basically a race to conquer neutral territories, hence unplayable on current release.

[2017-11-14 02:57] #2605 closed

[2017-11-14 03:17] ssoloff commented on #2603
Per Gitter, @RoiEXLab confirmed that at least one of the users in question has no record in the `pending_validations` table.

The [code](https://github.com/triplea-game/dice-server/blob/master/dice/register.php#L51-L63) in `register.php` responsible for inserting/updating records in the `pending_validations` table does not check if the insert/update was successful.  Therefore, it's possible that t

[2017-11-14 04:07] ssoloff commented on #2606
I was able to reproduce using 1.9.0.0.7522 and the attached save game.

I'm also seeing numerous occurrences of the following errors:

[code]

Are you using a pre-release TWW map?

[2017-11-14 04:11] ssoloff commented on #2606
As suggested, I confirmed the following change results in no error:

[code]

[2017-11-14 04:26] ron-murhammer commented on #2606
@ssoloff Yeah, its a pre-release so you are missing some image assets (not a real error). I have a feeling there are a number of property setters across various attachments that need reverted to Integer instead of int.

[2017-11-14 04:37] ron-murhammer commented on #2606
@ssoloff @RoiEXLab I believe we need to essentially revert the portions of #1078 which changed attachments setters to primitives.

[2017-11-14 05:37] #2606 closed

[2017-11-14 07:16] FrostionAAA commented on #2600
Sorry. I don't think that I can contribute to any issue solving here. Its above my skill level. But I can say that the Dragon War map and xml also have self healing multi HP units, in the form of dragons. I haven't seen any problems with them not healing as they should; 1 HP every round and more than 1 HP every round when stationed in cities. But in Dragon War there are never more than 1 unit of e

[2017-11-14 22:13] jred1990 opened #2608 "Game keeps crashing"
### My Operating System: Windows

### TripleA version:1.9.0.0.7378

### Map:Middle Earth

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?) Anytime me or the AI attacks Tharbad

### Do you have the exact error text? Please copy/paste if so:
[code]

### Instead of this error, what should have happened? a normal battle

### Any additional information tha

[2017-11-14 22:30] RoiEXLab commented on #2608
@jred1990 Thanks for your bug report, we are aware of this issue.
Fortunately it has been fixed in the latest release that has been released just now and is now available on our [official website](http://triplea-game.org).

If you are still experiencing issues after updating, please continue to report them here, if nobody reports issues, they can't be fixed.

[2017-11-14 22:30] #2608 closed

[2017-11-15 03:06] ssoloff commented on #2603
Per Gitter, @RoiEXLab also confirmed the user in question has no record in the `dice_emails` table.  So that pretty much rules out that the validation failures are due to the user somehow already being validated.

At this point, I think our leading theory is that there was a DB error inserting the record into the `pending_validations` table, but the validation email was sent out anyway.

[2017-11-15 03:40] ron-murhammer commented on #2586
I'd like to get to a point where even rare failures don't occur. Preferably by seeding the dice or something.

[2017-11-15 20:08] RoiEXLab opened #2609 "Bot crash when joining game"
When joining a bot in the latest version this Exception occurs on the bot side:
[code]

I currently don't have the time to dig into it, but this defenitely needs fixing

[2017-11-15 20:37] ssoloff commented on #2609
This seems to fix it:

[code]

`AvailableGames#getGameNames()` is called by `HeadlessGameServer#getAvailableGames()`, which is called by `getAvailableGames()` in the anonymous implementation of `IServerStartupRemote` stored in `ServerModel#m_serverStartupRemote`.  I'm pretty sure the return value of that method is then serialized during RMI.

Not sure if there's a better fix.  You could move the d

[2017-11-15 20:42] prastle commented on #2609
@ssoloff  If you could implement those changes  and help me test with the GA server I would appreciate it greatly!  A few new maps using the new code cant be played unless the bots get the new engine.  Thanks! Pras

[2017-11-15 20:46] ssoloff commented on #2609
@prastle I can make that change and merge it now, but I am going to be unavailable for 5-6 hours beginning in about 15 minutes.

[2017-11-15 20:48] prastle commented on #2609
Ok so make the change hopefully Roir or dan is back to test

[2017-11-15 20:49] prastle commented on #2609
ATM unfortunately a second problem has been found.

Only you three have sudo to the bots

[2017-11-15 20:50] prastle commented on #2609
triplea user cant update

[2017-11-15 20:59] #2609 closed

[2017-11-15 21:01] ssoloff commented on #2609
#2610 has been merged.  Fix should be available in the next pre-release build (7534).

[2017-11-15 21:03] RoiEXLab commented on #2609
@prastle I can apply the update to the bots, no worries

[2017-11-15 21:14] prastle commented on #2609
Ok so since it is the middle of the week please apply and relaunch Ga bots when you have time @RoiEXLab .  Hopefully we can test them with the new tww or frosti map

[2017-11-15 21:19] prastle commented on #2609
Loads fine with trains
  ty
@RoiEXLab
@ssoloff

[2017-11-15 21:24] prastle commented on #2609
Bot 63 mia for some reason but I will try to relaunch it later. TY for all of your hard work! We will use this as the test bots.  :)

[2017-11-15 22:54] panguitch commented on #2600
Same problem in Greyhawk Wars. It doesn't always happen, and I haven't been able to pin down a reason or pattern, but sometimes the map opens with all two-hit units already wounded, and sometimes with the game underway they will all suddenly become wounded.

Look at the attached save game. [15112017.zip](https://github.com/triplea-game/triplea/files/1476540/15112017.zip) Almost every two-hit unit

[2017-11-15 22:59] justbleh commented on #2600
I did start the game in version 1.9.0.0.7378 then when I had an issue with it crashing I updated to the pre-release 1.9.0.0.7509.  I did not save in beta feature. Should I (wince) delete all of my saved games uninstall and re-install?

[2017-11-16 03:36] ssoloff commented on #2600
@justbleh This is sounding more like a bug in the engine rather than a compatibility issue between different versions, so I'm less inclined to think it had anything to do with you starting the game in one version and continuing it in another (especially given @panguitch's comments).

@panguitch Thanks for those observations.  Any additional information you can provide on the repro steps would be g

[2017-11-16 04:43] ssoloff commented on #2498
I was curious as to why we're showing zero Checkstyle issues in Codacy, so I set up a test repo to play around with my own Codacy setup.  I ran into several issues and opened a support case with Codacy.  Ultimately, there were two separate defects the Codacy team fixed in order for Codacy to correctly use an existing Checkstyle configuration file (as opposed to manually configuring the applicable

[2017-11-16 20:06] ssoloff commented on #2600
I dumped all the `Change` objects from the Angmar save game history (see [here](https://github.com/triplea-game/triplea/files/1479974/all-history.zip)).  During the repair phase at the end of the first player's (Dwarves) first turn (isolated Dwarves' first round history [here](https://github.com/triplea-game/triplea/files/1479930/dwarves-round-1-history.txt)), nine units are repaired:

[code]

If

[2017-11-16 22:29] ssoloff commented on #2600
A weak theory, but I'll just throw it out there...  In #2540 (first included in 1.9.0.0.7395), the Battle Calculator implementations were changed so that they no longer clone the current `GameData` before running the simulations.  Since

* both save games exhibiting this problem use the Hard AI,
* the Hard AI uses the Battle Calculator to generate a ranking for attacking multiple territories, and

[2017-11-17 04:55] prastle commented on #2600
https://forums.triplea-game.org/topic/387/world-war-ii-v5-1942-second-edition-battleship-two-hits-issue

Maybe this will help just throwing it in there.

[2017-11-17 05:14] ssoloff commented on #2600
Thanks, @prastle.  I'm not sure it's related, but I'll keep it in mind.

Also, going back through the history of this issue, I see that @justbleh stated he started his game with 1.9.0.0.7378.  Since the history of that save game suggests the unexpected damage happens on the very first player's turn (i.e. due to the fact that a change was recorded to repair the Dwarves' multi-hit units), it wouldn'

[2017-11-17 23:28] panguitch commented on #2600
Here's another save game. [17112017.zip](https://github.com/triplea-game/triplea/files/1484128/17112017.zip)  I ran game after game until it happened. Between Great Kingdom's and Nyrond's turns (at some point after Great Kingdom's noncombat movement and Nyrond's political actions) the two-hit units suddenly flipped to wounded.

Happened right before my eyes and I still don't know what triggered it

[2017-11-17 23:37] panguitch commented on #2600
And while I'm not certain it can't happen under other AI's, I'm pretty sure I've only seen it under Hard AI.

[2017-11-18 11:34] RoiEXLab opened #2614 "Start working on a breaking release"
With an increasing amount of workarounds to maintain compatibility, I'd like to suggest to go for a new breaking release 1.10.build

### Prerequisites
- [x] We update the lobby and all the bots to the current stable release (or the build after the stable build due to a bug) and keep it running for a month. If we're not encountering any issues, the release can really be considered stable. Some bots

[2017-11-18 11:36] RoiEXLab commented on #1768
Closing this issue, as the current version seems to be pretty stable, although perhaps we should push the release one release further because of the bot issue we encountered and is fixed in 1.9.0.0.7534

[2017-11-18 11:36] #1768 closed

[2017-11-18 14:30] RoiEXLab commented on #2564
@ssoloff In case you're still interested:
I found the remaining nginx entry for sanjuro.ca in the tripleawarclub config and confirmed the same page as described above was being displayed when accessing the site with an unknown server subdomain.

BTW. The lobby is now reachable via lobby.triplea-game.org

[2017-11-18 17:05] ron-murhammer commented on #2614
@RoiEXLab Agree. The only issue I'd like us to try and address before rolling out the latest stable is #2600. As there does seem to be some bug related to multi-hitpoint units. If we can address that then update the website download and let it sit for say a week. Then we can roll it out to lobby/bots and begin work on incompatible release.

[2017-11-18 17:17] ssoloff commented on #2614
I'm highly in favor of a separate release branch, regardless of what we call it (FWW, Git Flow uses the `master`/`develop` convention for stable/current).  I'd hate to see a P0 issue come out after we made some incompatible changes to `master`.

And, yes, we need to get a handle on #2600 before moving forward with an incompatible release.  I plan on working on that today.

[2017-11-18 17:32] RoiEXLab commented on #2614
Ok, lets freeze this until #2600 is resolved then!

[2017-11-18 17:51] ssoloff commented on #2600
Yay!  Using @panguitch's latest scenario (Nyrond: Human, all others: Hard AI), I've been able to reliably reproduce the issue three times.  During each of those repros, I observed the Battle Calculator running and applying hits to multi-hit units.  I still don't know if #2540 is the root cause, but I'm once again highly suspect of it based on the information in the following paragraph.

After a re

[2017-11-18 18:36] ssoloff commented on #2600
I'm now pretty sure that #2540 is the root cause.  I couldn't easily revert it due to the structural changes in that PR, so instead I tested 1.9.0.0.7391 (release prior to #2540) and 1.9.0.0.7395 (first release with #2540).  I confirmed that the unexpected hits do not occur in 7391 but do occur in 7395.

I also confirmed that the passive behavior of the Hard AI after leaving and re-starting a game

[2017-11-18 20:46] Leijonma opened #2616 "Banning 365 days"
### My Operating System:

### TripleA version:

### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:

I received the message "You have been banned for 365 days" when trying to log in

[2017-11-18 21:10] ron-murhammer commented on #2616
@prastle Can you take a look at this?

[2017-11-18 22:45] prastle commented on #2616
Hale is not a name I recognize as a user.  The only person banned today to my knowledge (if it was posted by Champ) was an alias of our friend of many names.  I will Dig one moment.  No info posted by Champ.  He did mention that he was banning someone that we have a one year ban on.

[2017-11-18 22:47] prastle commented on #2616
This does bring up my issue that has been talked about tho.  All bans need to be recorded by the toolbox  as to whom when and why on the server.

[2017-11-18 22:51] prastle commented on #2616
So @Leijonma what is your normal online user name?

[2017-11-19 02:57] ssoloff commented on #2600
A naïve cloning of `GameData` per Battle Calculator run won't work because it creates too much pressure on the heap.  The Hard AI ends up performing almost 1,000 runs for the first player in the Greyhawk map.  CPU usage quickly spikes while the GC tries to keep up with all the `GameData`-related objects being created and destroyed.

The original implementation overcame this by using a single `Game

[2017-11-19 05:50] simon33-2 commented on #2614
Small thing: 1.10? Why not 2.0 or just 2?

[2017-11-19 05:52] simon33-2 commented on #2614
Also shouldn't breaking changes be merged into a different branch than master or am I missing something. Didn't merging #2612 break that rule?

[2017-11-19 05:56] ssoloff commented on #2614
#2612 simply removed an incomplete beta feature.  There were no breaking changes (at least not intentionally).

[2017-11-19 06:07] RoiEXLab commented on #2614
@simon33-2

Good question this depends on us completely.
From the [semantic version definition](semver.org):

Which we are technically going to make, one could argue that a major increment of the version number should indicate a complete or big partial rewrite, but on the other Hand @ssoloff's savegame format is going to be a huge improvement.

@ssoloff's savegame format was still experimental you

[2017-11-19 06:10] ssoloff commented on #2614
I can make it even easier...  You couldn't have used it. :smile:  It would always error out during a load due to the circular reference problem.

[2017-11-19 07:17] Leijonma commented on #2616
hale

If you want my email I can give it also (ifyou not already have it).

More facts is that when logging in ca 17 hours CET yesterday my computer demanded me to change some script and I had to accept to be able to get in to main tripl AAA, not lobby.

Sorry forgot to mention this yesterday.

As you recognise I am pretty bad computerwise which dosn't help trying to fix this problem.

Before I pl

[2017-11-19 08:35] RoiEXLab commented on #2616
Not part of the Mod team, but your username was indeed banned.
Since I couldn't find a reason (and no log either) in the banning log we have, I simply unbanned the username 'hale'.
You should be able to login again.

[2017-11-19 08:36] RoiEXLab commented on #2616
@prastle Feel free to correct me if I'm wrong.

[2017-11-19 19:52] prastle commented on #2614
Atm 24 hrs later and thanks to you @RoiEXLab  and @ssoloff for helping with the bots.  0 issues so far in the bots running .7534

Thanks guys for all the hard work.

[2017-11-19 20:33] airwalker1 opened #2619 "Battle Calc after 7401 takes dramatically longer"
### My Operating System:

### TripleA version:

### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:

I've tested several versions from 7384 all the way to today's 7554 and have stuc

[2017-11-19 20:41] Leijonma commented on #2616
Hallo RoiEX!

Sorry but when I tried to log into TriplAAA today I got the message "You are banned for 363 days..."

I still can not log in.

Please try to fix this.
Trying to master WWII Global now because it is so common on AAA.

Greetings

hale

Skickat från min iPhone

19 nov. 2017 kl. 09:35 skrev RoiEX <notifications@github.com<mailto:notifications@github.com>>:

Not part of the Mod team, but

[2017-11-19 21:06] prastle commented on #2616
So Champ did confirm that the banned name was Hale sadly I have no info.  But Atm we only have Jimmy and Bidsurfer banned so if the id matches that I would guess it is a 1 year ban.  Just the info I can offer.

[2017-11-19 21:17] RoiEXLab commented on #2619
@airwalker1
In this case #2540 introduced this Problem,
@ssoloff already proposed a PR to fix this issue: #2617 it should be out fairly soon.

@ssoloff Any Ideas why the PR could have caused such a performance drawback?

[2017-11-19 22:02] prastle commented on #2619
I can confirm this but figured it was my bumpkin internet.  I also rarely use calc.

[2017-11-19 22:16] ssoloff commented on #2619
If anything, #2540 should have improved performance because it no longer makes copies of the game data, which becomes an issue as more and more rounds are played in a game.  I suspect #2617 will degrade performance (and that seemed to be my impression when I was testing Greyhawk Wars before and after that change).

However, there was one performance-related bug in #2540 in that it actually ran twi

[2017-11-19 23:34] airwalker1 commented on #2619
@ssoloff I did not attach a savegame as it happens 100% of the time. As far as different versions, as I said anything past 7401 has horrible calc times. If you test 7401 vs any new updates you will see the effect. I have used a run count of 10,100,500, and 1000. With 7401 it takes almost no time to run with 1000 simulations, but several seconds after 7401 with a run count as low as 10.

UPDATE: I

[2017-11-20 00:30] ssoloff commented on #2619
That's probably the key bit of information that we need.  Most of the performance tests for the past month related to the Battle Calculator were done with local games.  My impression is that all Battle Calculator code should run locally, so that being in a network game shouldn't matter, but your tests seem to prove otherwise. :smile:  I'm going to try to capture network traffic between two nodes w

[2017-11-20 00:37] prastle commented on #2619
@ssoloff  all bots are on your new fix = .7534  But This issue has been here a long time.  Sadly I ignored it because I thought it was me. I have very poor internet at times.  It only occurs online it seems.

[2017-11-20 01:36] #2600 closed

[2017-11-20 01:37] prastle commented on #2619
lol now how do i remove my own thumbs up an down ;) ?

[2017-11-20 02:09] ssoloff commented on #2619
I remember when you mentioned the online-specific problem when we were debugging #2529.  I thought it was unrelated at the time.  Apologies. 😞

Just click the emoji again.  It acts like a toggle.

[2017-11-20 02:34] ssoloff commented on #2600
@justbleh @panguitch This should be fixed in 1.9.0.0.7559.  Please re-open this issue if you still observe the problem.

[2017-11-20 02:55] prastle commented on #2619
thanks   gl  and great job!  Theses are minor things compared with the past.  We will get there! :)

[2017-11-20 04:41] ssoloff commented on #2619
I confirmed I can reproduce this in 1.9.0.0.7554 using @airwalker1's Battle Calculator [scenario](https://github.com/triplea-game/triplea/issues/2619#issuecomment-345559820).  For a local game, my run time is ~1 s.  For a network game, my run time on the server node is ~2 s, while my run time on the client node is ~15 s.  Note that when the run time exceeds 15 s, the Battle Calculator is automatic

[2017-11-20 06:36] RoiEXLab commented on #2619
Could be the case given that the reference pointed to an object on the bot and the netcode does poor to not existent caching, both of which don't seem that unlikely.
Perhaps this is something we could try to increase the performance of.

[2017-11-20 13:05] airwalker1 commented on #2619
@ssoloff & @RoiEXLab - looks good! I will use this latest release from now on and report back if any further issues. Thanks for looking into it and resolving so quickly!

[2017-11-20 15:04] RoiEXLab commented on #2619
@airwalker1 Always great to hear!

[2017-11-20 15:04] #2619 closed

[2017-11-20 20:55] RoiEXLab commented on #2614
#2600 has been fixed.
I'll leave it up to you when to create a second branch (I'm fine with develop as I'm fine with stable), as I'm pretty busy recently.

[2017-11-21 04:36] ssoloff commented on #2614
Throwing a [GitFlow reference](https://datasift.github.io/gitflow/IntroducingGitFlow.html) out for review to see if this is something we'd want to adopt (possibly minus release branches).  IIRC, @DanVanAtta had some reservations about this type of branching model in the past.

[2017-11-21 04:43] ron-murhammer commented on #2614
@ssoloff Yeah, I don't think we need full gitflow. I think just one branch for next incompatible release and one branch for compatible changes and fixes. One of those 2 should be master, I don't really care which one.

[2017-11-21 05:20] ssoloff commented on #2614
@ron-murhammer Right.  The only thing everyone needs to agree on then is that stable fixes should be merged into both the stable and current branches.  Should that responsibility be on the fix author?  That is, the author would open two PRs from their fix branch: one each against the stable and current branches?

I suppose the current branch could have diverged so much from the stable branch that

[2017-11-21 05:24] ron-murhammer commented on #2614
@ssoloff Yeah, my initial thought is do fixes to compatible and incompatible branches. Everything else to only incompatible to minimize having to merge into both frequently.

[2017-11-21 08:19] RoiEXLab commented on #2614
@ron-murhammer @ssoloff I think we should prefer merging any stable fixes into the stable branch and merge the stable branch into the develop branch afterwards if possible.
Another thing that we need to keep in mind is the release artifacts I don't think we should push a gh release after every commit, although building artifacts in general are of course useful for regular users.

[2017-11-21 10:12] RoiEXLab commented on #2614
See #2625

[2017-11-21 12:47] RoiEXLab commented on #2616
@Leijonma Could you try logging in again?
Should definitely work now, assuming your given date is correct.

[2017-11-21 12:47] #2616 closed

[2017-11-21 18:39] Leijonma commented on #2616
Hallo!

Have been able to log into Lobby today 19:30 CET.

Thanks.

hale

Skickat från min iPhone

21 nov. 2017 kl. 13:47 skrev RoiEX <notifications@github.com<mailto:notifications@github.com>>:

Closed #2616<https://github.com/triplea-game/triplea/issues/2616>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/triplea-game/tri

[2017-11-21 18:54] airwalker1 opened #2627 "Low Luck workaround for always active AA's"
### My Operating System:

### TripleA version:

### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:

There is an opportunity to exploit to low luck behavior when passing through act

[2017-11-21 19:04] panther2 commented on #2603
@ssoloff @RoiEXLab

I have just added a new case to `Issue2603`.

[2017-11-23 05:39] airwalker1 opened #2630 "Not all air attacked, various other bugs"
[plane bug on ukraine.zip](https://github.com/triplea-game/triplea/files/1498093/plane.bug.on.ukraine.zip)

### My Operating System:

### TripleA version: 7594

### Map: Revised

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### An

[2017-11-23 15:38] panther2 commented on #2603
... and another one today.

[2017-11-23 16:22] ron-murhammer commented on #2627
@airwalker1 So the problem is that A&A rules dictate that the AA fly over dice must be resolved immediately as each air unit moves. So moving those rolls to the end of combat move would not align with the rules as the player then would not have information til all their moves are done on whether air units were shot down.

IMO, this is an acceptable side effect of LL which most closely aligns the t

[2017-11-23 16:23] #2627 closed

[2017-11-23 16:24] ron-murhammer commented on #2603
@RoiEXLab @ssoloff Are we able to see any kind of logs for MARTI?

[2017-11-23 16:31] ron-murhammer commented on #2630
@airwalker1 Yeah, that is a strange error and definitely not good. I was able to take a save at the beginning of US turn and redo your moves to reproduce only 3 of the 4 fighters rolling.

Did you happen to play this save with any other versions of TripleA engine? There was a problem with the battle calc causing weird unit issues that was recently fixed.

[2017-11-23 17:31] ssoloff commented on #2603
@ron-murhammer I added you to the Gitter room where we've been discussing this out-of-band.

[2017-11-24 05:37] ssoloff commented on #2603
Per Gitter, a user reported that they had successfully registered in the past but are no longer receiving dice roll emails.  Examining the syslogs, it was observed that Postfix refused to deliver mails to the user's MX because the MX did not support TLS.  We determined the root cause was due to a recent Postfix configuration change (approximately 30 days ago) whereby TLS is required between nodes.

[2017-11-24 07:09] airwalker1 commented on #2630
Nope, it was all on 7594. I was testing it due to the calc being fixed. I'm back to 7378 again.

[2017-11-24 07:56] ron-murhammer commented on #2630
@airwalker1 Alright thanks for the response, we'll look into this.

@ssoloff @RoiEXLab If you have some time, this is a pretty serious issue that we need to identify. I was able to reproduce this with a save at the beginning of USA's turn.

[2017-11-24 16:56] ssoloff commented on #2630
I tried to follow @ron-murhammer's repro by producing a save game using the **Save Game at this point (BETA)** feature from the attached save game at the start of USA's turn in round 4.  Using 1.9.0.0.7601, I sent two fighters from Caucasus to attack Ukraine S.S.R. and observed only one of them involved in combat, so I was able to repro the reported problem.

I then loaded the same save game in 1.

[2017-11-24 17:59] ron-murhammer commented on #2630
@ssoloff Yeah, that was how I reproduced it as well. My gut says the save game data is the problem and that 1 fighter has some property set that is making it so it doesn't participate in battles (that was why I asked about using a version before the BC fix). That means whatever version of 1.9 you load it up in, the problem will exist. There is also a good chance that if you put all the players on

[2017-11-24 18:22] ssoloff commented on #2630
One of the fighters from Ukraine S.S.R. is being classified as a non-combatant and subsequently removed from the battle.  The following statement from `MustFightBattle#removeNonCombatants()` is where this particular unit is being removed:

[code]

It looks like the `unitIsBeingTransported()` match would not normally match this unit, but it does because the fighter's `m_transportedBy` field is not

[2017-11-24 19:31] ssoloff commented on #2630
I'm having a heck of a time just trying to get `m_transportedBy` set to a non-`null` value for an air unit.  Moving a fighter to a (same or allied) carrier doesn't set it.  Moving the carrier with loaded (same or allied) fighters doesn't set it.  I've also tried moving the carrier and fighter in the same turn such that the carrier needs to move in order for the fighter to land after combat.

I'm a

[2017-11-24 19:33] airwalker1 commented on #2630
@ron-murhammer The game was never a save game until I did so to upload it.
@ssoloff Yes, at one point I had USA fighters on Brit carrier.

Where do I find the save game at this point option? I enabled beta features for this purpose but cannot find it.

[2017-11-24 19:35] airwalker1 commented on #2630
Bleh, I found it :)

[2017-11-24 19:35] ron-murhammer commented on #2630
@airwalker1 If you open game history and right click at any point, you can then select to beta save game from that point in time. This works pretty well as long as you save at like the beginning/end of player turns not in the middle of battles.

[2017-11-24 19:36] ron-murhammer commented on #2630
@ssoloff It should set the property on fighters if you land say a US fighter on a UK carrier then move that carrier during the UK turn I believe. You may need to move the UK carrier into a battle, can't remember.

[2017-11-24 19:40] ron-murhammer commented on #2630
@ssoloff I fixed a similar case a while back in #1777 for reference.

[2017-11-24 19:41] ssoloff commented on #2630
That's the step I was missing: the carrier itself was not involved in a sea battle.  Thanks!

[2017-11-24 19:57] ssoloff commented on #2630
Ok, I found a candidate where an allied air unit's `transportedBy` property is not being reset to `null`.  The `attackingUnits` collection passed to `MustFightBattle#clearTransportedByForAlliedAirOnCarrier()` does not contain the allied fighter that was on the carrier when the carrier engaged in a sea battle.  Therefore, the code in this method that searches specifically for allied air units on a

[2017-11-24 20:05] ron-murhammer commented on #2630
@ssoloff Interesting. I added the second check to handle the retreated attackers in #1777. Did you test this in 3635? Just wondering if anything changed recently to not have the transportedBy fighters in the attackers list. If this is reproducable in 3635 then I'd say we do need to figure out what list the transportedBy fighters are in and add a check to clear them as well.

[2017-11-24 20:08] ssoloff commented on #2630
@ron-murhammer Yes, I just reviewed your #1777 changes and see where the new code could now be a problem because it previously considered all units in the battle site and now it only considers the union of `m_attackingUnits` and `m_attackingUnitsRetreated`.

What I tested in 3635 was the reported problem, which I was able to reproduce.  However, that was after the `transportedBy` property had alre

[2017-11-24 20:13] ssoloff commented on #2630
Confirmed that I cannot reproduce the problem in 3635.  My allied fighter has its `transportedBy` property reset to `null` as evidenced by the fact that it now participates in subsequent battles.

[2017-11-24 20:15] ron-murhammer commented on #2630
@ssoloff Hmm. So we changed something since then that removed transportedBy units from the attackers list then?

[2017-11-24 20:20] ssoloff commented on #2630
@ron-murhammer Not sure.  Per the rules, I would assume that allied air units on a carrier are considered cargo, and thus are excluded from the collection of attacking units when the carrier attacks.  That is, that particular behavior should have been present since day one.

I'll re-run the test in the releases immediately prior to and after #1777.

[2017-11-24 20:38] ssoloff commented on #2630
@ron-murhammer I tested 4445 (without #1777) and 4451 (with #1777), and they both behave as expected (i.e. the allied air unit has `transportedBy` reset to `null`).  So your theory that, since the introduction of #1777, something removed the allied air units from `m_attackingUnits` appears to be correct.

I'm heading out soon and will be offline for several hours.  If no further progress has been

[2017-11-24 20:41] ssoloff commented on #2630
Here's a quick list of commits that touched anything named `m_attackingUnits` since #1777 (907a40d20):

[code]

[2017-11-25 02:02] RoiEXLab commented on #2503
@DanVanAtta @ssoloff
I'd suggest shutting down tripleawarclub.org at the end of the year.
By shutting down I primarily mean adding a CNAME record which redirects to forums.triplea-game.org so users will be redirected automatically and the site will no longer be reachable.
The actual shutting down the server procedure is going to depend on my coding speed: It'll be easier to shut down MARTI and the

[2017-11-25 02:03] prastle commented on #2503
good stuff

[2017-11-25 04:31] ssoloff commented on #2630
@ron-murhammer Please ignore my previous analysis.  I was using GitHub releases to run my tests, and there's apparently something wrong with build 4451.  The tags for builds 4451, 4452, 4453, and 4454 all point to the same commit.  However, when I run my test using those four builds from GitHub releases, 4451 passes, while the other three fail.  That shouldn't be possible if they were all built fr

[2017-11-25 04:42] ssoloff commented on #2503
Regarding the dice servers...  Another option is to run both in parallel until we're sure the new dice server is ready for production.  We can just drop another properties file under `/dice_servers` pointing to the new server so users can select either one.  Then, when we're comfortable with the new server, we remove the MARTI properties file and decommission the app.

[2017-11-25 04:42] ron-murhammer commented on #2630
@ssoloff Oh ok. In that case, I think just updating where #1777 replaced `battleSite.getUnits().getUnits()` with `attackingUnits` to the combination of `attackingUnits` and `battleSite.getUnits().getUnits()` should resolve this.

[2017-11-25 04:48] ssoloff commented on #2630
@ron-murhammer Just curious...  Under what scenario would `attackingUnits` (i.e. `m_attackingUnits` or `m_attackingUnitsRetreated`) not be a subset of `battleSite.getUnits().getUnits()`?

[2017-11-25 05:01] ron-murhammer commented on #2630
@ssoloff During retreats which was the scenario that #1777 fixed. That was why I needed to change it to `attackingUnits` instead of `battleSite.getUnits().getUnits()`. I made the incorrect assumption that `attackingUnits` included all of the attacking players units from `battleSite.getUnits().getUnits()`.

[2017-11-25 05:03] ssoloff commented on #2630
@ron-murhammer Got it.  I didn't realize retreating units had already been removed from the battle site at this point.

[2017-11-25 05:07] ron-murhammer commented on #2630
@ssoloff Yeah, the whole `MustFightBattle` class is very hard to follow with many of the member variables lists being changed from all over the place. Before #1777, the same issue that we have here around `transportedBy` not being cleared happened if the attackers had a carrier with allied planes that retreated from battle.

So in the end, #1777 fixed the carrier with allied planes retreat scenari

[2017-11-25 05:18] airwalker1 commented on #2630
Here's another one guys. This time UK carrier out of picture but 3 US planes and one bomber attacking german BB and transport in SZ15. Have only 2 planes attacking + bomber. I saved it right at combat. This is on
[1.zip](https://github.com/triplea-game/triplea/files/1502828/1.zip)
today's release 7601.

[2017-11-25 06:14] ssoloff commented on #2630
@airwalker1 I believe this is the same issue.  I dropped into the debugger and confirmed that one of the USA fighters has a `transportedBy` property of "carrier owned by British."  So, as in your other save, that unit gets excluded from the collection of attacking units because it is erroneously considered a non-combatant.

The bug we've been discussing above fails to clear `transportedBy` after y

[2017-11-25 06:26] ron-murhammer commented on #2630
@ssoloff Are you planning to submit the PR to fix this? You did the heavy lifting and testing so deserve the credit :)  Otherwise I can submit it. I'd like to get this fix into the live stable ASAP.

As a side note, it may eventually be worth it to put some unit tests around this but that would probably require some significant effort.

[2017-11-25 06:30] ssoloff commented on #2630
@ron-murhammer I'm just about to shut down everything for the night.  I can submit a PR in about 9-12 hours if that's early enough to get into tomorrow's proposed release.

[2017-11-25 06:33] ron-murhammer commented on #2630
@ssoloff That works for me. Have a good night.

[2017-11-25 13:25] panther2 commented on #2603
That has been done, but using the new/alternative email address the user ran into the #2603 issue again.

[2017-11-25 17:18] #2630 closed

[2017-11-25 17:46] ssoloff commented on #2630
@airwalker1 This should be fixed in 1.9.0.0.7611 or later.

As noted above, however, once you have a unit affected by this bug, upgrading to a new engine won't help you (the fix simply prevents the bug from happening in the future).  You'll need to delete and recreate the unit via edit mode to clear out the munged `transportedBy` property.

[2017-11-25 18:00] prastle opened #2636 ".7611 does not seem to run headless exe anymore"
### My Operating System:

### TripleA version:

### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:
Exception in thread "main" java.lang.IllegalArgumentException: Too much arguments

[2017-11-25 18:03] RoiEXLab commented on #2636
@prastle This is a configuration issue on your end:
Due to internal CLI parsing changes you now need to prefix the arguments in your batch file (assuming you have one) with `-P`
See https://github.com/triplea-game/lobby/pull/46/files for clarification

[2017-11-25 18:03] #2636 closed

[2017-11-25 22:12] ssoloff commented on #2603
I have a pretty good theory why the DB inserts are failing during registration.  In addition to the registrant's email, validation key, and timestamp, we also store their IP address.  We use the function `ip2long()` to convert the IP address as a string to an integer for storage in the `pending_validations` table.  Unfortunately, `ip2long()` only handles IPv4 address.  If it is passed an IPv6 addr

[2017-11-25 22:33] RoiEXLab commented on #2603
@ssoloff I think your theory is pretty likely to be true.
Ip2long is not able to handle ipv6 according to the [docs](http://php.net/manual/en/function.ip2long.php)
So therefore the email can't be stored in the DB.
Because of the bad design of the PHP language, ip2long doesn't throw an exception if the given argument is invalid, but simply returns false instead.
False can't be stored as an 10byte I

[2017-11-26 00:25] prastle commented on #2503
@ssoloff  and @RoiEXLab  We could really use some more bots in the lobby with the holidays.  I also believe Roi wanted the new dice server to be standalone.  Perhaps firing another small server to accomplish your test would kill two birds with one stone.  The funds are available.  And once it is up and working we could remove the bots if that is what is wanted.  Just a thought.

[2017-11-26 05:11] ssoloff commented on #2603
Yes, this is probably the right solution.

Actually, I was a bit surprised when I added some DB error handling code to my local MARTI.  The calls to `prepare()`, `bind_param()`, and `execute()` are _not_ failing when `$IP` is `FALSE` instead of an integer.  I would have expected at least one of those (most likely `execute()`) to return `FALSE`, but that wasn't what I observed during my tests.  The

[2017-11-26 15:22] panther2 commented on #2603
@ssoloff It was a bit different. The user registered his email address and immediately forwarded me the confirmation mail. I inspected the mail and was able to reproduce this issue klicking the link then. I never had access to the user's mail account.

[2017-11-26 19:46] DanVanAtta commented on #2614
I'm a no on this. We discussed this when going to the single feature branch model. We decided we would do 'hotfixes' by checking out the last released tag, do a one-off branch, release that branch, then throw it away.

[2017-11-26 19:49] DanVanAtta commented on #2614
I am *really* concerned by this. We created the testing group so that releases could be 'stable'. I've been working on this project for two years to get rid of the whole 'stable' 'unstable' concept. If merge code to master that is not 'stable', we are saying that one: bugs are okay, and that two: it's okay for the admins and users to find all those released bugs and to then be on the hook for fixi

[2017-11-26 19:51] DanVanAtta commented on #2614
@RoiEXLab  a missing major goal would be to get save game proxy in place. That would have this next incompatible as the last release that can't natively parse backward compatible save game formats.

[2017-11-26 20:23] RoiEXLab commented on #2614
@DanVanAtta I understand your concerns on having a "stable" "unstable" model.
The Point is, we probably want a period, where we can make lots of incompatible changes to completely overhaul the internal code structure.
I'd assume after we did a lot of incompatible changes we'd change our system to work with a single branch again.
The idea of having 2 branches was just in case we discover a severe b

[2017-11-26 20:26] RoiEXLab commented on #2614
@DanVanAtta And I completely agree on the savegame proxy change, this is actually the second point on my list assuming I wasn't clear enough.

[2017-11-26 20:39] DanVanAtta commented on #2503
@prastle let's overshoot capacity on bots once and for all, not bother taking them down during low times and just keep enough running. My hope/goal there is that we don't need the admin overhead of setting them up again. With that said, it is easy to set them up, I just don't want us to worry about this for the next few months while we work on other items. One day we will not need bots at all...

[2017-11-26 20:49] prastle commented on #2503
@DanVanAtta     Well we have never removed any bots.  I just idle them when they are not needed.  The Lobby just keeps growing and growing.  From advertising, the new engine and the new forum etc etc.
We had 85 peeps at one point today possibly more.  The ideal solution is most being able to host.  Sadly 75% cannot.  I really cant give you a number on the overshoot capacity.  We have slowly been g

[2017-11-26 21:47] General-Dru-Zod opened #2639 "Up Arrow hotkey for reposting lobby chat, not functional"
### My Operating System: win10

### TripleA version: 7527, 7601

### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
The up arrow used for reposting lobby chat not functional. Also not functional in bots or private hosts.

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?
Should

[2017-11-26 21:53] General-Dru-Zod commented on #2639
Oh, forgot, it was last noticed as functional in 7342.

[2017-11-26 21:54] #2639 closed

[2017-11-26 22:01] General-Dru-Zod opened #2640 "Up Arrow hotkey for reposting chats, not functional"
### My Operating System: win10

### TripleA version: 7527, 7601

### Map:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Try reposting in lobby, bots, private host using up arrow hotkey.
### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?
Should increment through all recent chat posts

[2017-11-26 22:05] DanVanAtta opened #2641 "Add a performance test for battle calculator"
Proposed Task:
- create a new unit test that runs battle simulator
- do a calc that ideally takes under 500ms, put an SLA on the test so it fails if the runtime increases by more than 30% (overall I think we are looking at 20 lines of code so far if not less)
- be sure to include all corner type cases, network game is a big use-case. (alternatively we can move to remove any network dependencies in

[2017-11-26 22:07] DanVanAtta opened #2642 "Add a 'how_to_host_a_bot.txt' to the game installation"
Simple task, include a text file that directs game players to the triplea-game/lobby repo and the online instructions on how to host.

[2017-11-26 22:10] DanVanAtta commented on #2642
Note: our current online documentation may be lacking, the real work here maybe to improve that.

Some additional requirements:
- need steps for each OS
- all instructions should be hosted online/github, not bundled with the game install. This way we only need to keep one link up to date and documentation can more easily stay in sync and updates are live.

[2017-11-26 22:10] ssoloff commented on #2603
Thanks for the information, @panther2.  Then just repeating what was said in Gitter: you should be able to submit a registration request for the user from your machine (which apparently only has a public IPv4 address).  The user will once again receive the validation email, but this time when they click on the link, the registration should complete successfully.

I don't believe anything related t

[2017-11-26 22:20] DanVanAtta commented on #2614
With severe bug we can create a branch from 1.9.0.0.3635, push it, tag it, and the tag should get released. We can then make any further fixes on top of that tag. Let's make sure that is possible, as that has been the plan for some years when we switched to Github.

[2017-11-26 22:28] ssoloff commented on #2614
Not quite.  Currently, _.travis.yml_ restricts releases to only the `master` branch and tags are never released (this seems to have been added to avoid an infinite loop in the build system due to how we push tags from Travis back to GitHub).  As is, we'd have to modify _.travis.yml_ on every one-off branch to permit a release.

I actually tried to fix that "releasing tags results in infinite build

[2017-11-26 22:33] DanVanAtta opened #2643 "Battle simulator startup delay is too slow for large GameData games"
I've had the experience of playing WaW to round 20+, the game save size is 5MB and it generally took 5~10 seconds before the battle calculator was usable. This delay made the calculator essentially broken, could not be used during a live game for more than one or two calc's without adding minutes to a game turn.

Repro Problem:
- get a large game data (I'll see if i can attach a save game, appreci

[2017-11-26 22:44] DanVanAtta commented on #2614
Sounds acceptable, we expect such releases to be one-off.

-------------------------

For our goals of what to have in the incompatible release, I think our top goal should be compatibility projects.

[2017-11-26 23:06] DanVanAtta opened #2644 "Mac OS default L&F not modeled properly"
Repro:
- open game
- open engine settings
- look and feel, update to any setting and save

Problem:
- no clear way to go back to OS default, can only select a new Look and Feel.

[2017-11-26 23:34] DanVanAtta commented on #2644
Another way to look at this, the 'revert' button should not be *necessary* to undo changes, we are simply missing a 'default' selection that can be selected on the UI.

[2017-11-26 23:39] DanVanAtta opened #2645 "L&F on Mac OS does not update cleanly"
Repro:
- on Mac OS, select any Look and Feel (L&F) setting and save
- restart app
- select 'metal' L&F, save and restart app

Problem:
- notice that in some windows you can see both L&F settings in effect, the old and new.

Example screenshots:
- In the screenshots below I had selected a blue theme, then went to 'metal'. Notice that the 'blue' theme, even on restart, is still visible:

<img width=

[2017-11-26 23:43] DanVanAtta opened #2646 "Fresh install: User is not prompted to download the tutorial map"
Repro:
- install mac OS DMG using https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.7621
- open game

Notice:
- no prompt to play the tutorial
- no tutorial map is installed
- tutorial map is not selected as default map

<img width="796" alt="screen shot 2017-11-26 at 3 07 39 pm" src="https://user-images.githubusercontent.com/12397753/33245709-52f9b504-d2c0-11e7-9a51-2cfe2fb05621.png">

[2017-11-26 23:51] ssoloff commented on #2646
The tutorial is no longer bundled with the installer, so if this is a problem, it shouldn't be Mac-specific.

Is this a box on which you've run TripleA before, possibly from an IDE?  If so, you'll need to delete the `TRIPLEA_PROMPT_TO_DOWNLOAD_TUTORIAL_MAP` entry in _~/.java/.userPrefs/games/strategy/triplea/settings/prefs.xml_.

Also, your user maps folder must be completely empty.  Any file or d

[2017-11-27 00:03] ssoloff commented on #2646
Looks like this broke in [`71bcf7af9`](https://github.com/triplea-game/triplea/commit/71bcf7af9bee7f989a4fd563b17e527123e69c0f#diff-0840434b65a524f239ee2a067d3260b5R162) during the client settings framework rewrite: the default value of `TRIPLEA_PROMPT_TO_DOWNLOAD_TUTORIAL_MAP` was changed from `true` to `false`.  I'll submit a PR later this evening...

[2017-11-27 00:04] DanVanAtta opened #2647 "Mac - automatic map missing download does not work, map missing case generally broken."
Repro:
- 1. install game
- 2. join lobby
- 3. join any game in progress
- 4. click 'cancel'
- 5. click 'yes' to download missing map

Notice:
- Notice, it appears there is a new player that has joined the game (verify this more, but there are more problems)
- Notice that after step 3 there are error messages and a NPE, and a connect to game dialog window. None of these should be visible. The corre

[2017-11-27 00:06] DanVanAtta commented on #2646
Thanks for taking a look. Rig is a fresh game install, no IDE.

Last I knew tutorial should be bundled with installer, it was one of the compromises for allowing no maps to bundled other than Tutorial. In part, it does not make sense to show the 'would you like to play the tutorial' prompt if the map is missing.

I'm curious if there was further discussion on not including the Tutorial.

[2017-11-27 00:12] prastle commented on #2646
Not to my Knowledge
It seems silly to down load an engine with nothinginstalled
 ;)

[2017-11-27 00:21] DanVanAtta commented on #2644
Clicking 'reset to default', the game thinks that the very first selection 'aqua' is default (this is incorrect):

<img width="868" alt="screen shot 2017-11-26 at 4 20 28 pm" src="https://user-images.githubusercontent.com/12397753/33246126-d45b72c2-d2c5-11e7-8e44-ffbadfb2fd26.png">

[2017-11-27 00:28] prastle commented on #2642
Well really the firt step is how to let them host.  Anyone that can host can host a bot. Which would be step two.

[2017-11-27 00:33] ssoloff commented on #2646
#1585

[2017-11-27 00:37] prastle commented on #2646
Thanks @ssoloff  Now I understand. But this it might be causing problems to new users.  Since any new user has no idea how to dl a map.  Thus if they ignore it where do they go from there? later?

[2017-11-27 00:38] prastle commented on #2646
Another side issue would be that all lobby mods expected it to still be there since all other maps were removed.  Thus many myself included would tell a new user to play the tutorial.  Which apparently isn't there now either.  Just my 2 cents

[2017-11-27 01:24] ssoloff commented on #2646
I believe the intention of the message at the bottom of the dialog referenced in #1585 was to instruct users how to download a map if they click **No** when prompted to download the tutorial.  We can provide more detailed instructions for downloading a map in that dialog if users are having a hard time with the current text.

[2017-11-27 02:23] DanVanAtta commented on #2646
I recall more context now, sorry for the churn. Regardless it is a bit broken to have a tutorial map and it just be buried amongst the other maps. In part the dialog is missing, fixing that is a good start.

The intent is that clicking default menu's and pop-ups as a new user would get someone directly in the game, playing the tutorial. Our prompting system would ideally guide a player to a game a

[2017-11-27 03:23] ssoloff commented on #2614
This [post](https://github.com/triplea-game/triplea/issues/1586#issuecomment-307999387) contains the patch I mentioned above where I modified our build to do a release to GitHub for only tags instead of a specific branch or branches.

[2017-11-27 04:01] ssoloff commented on #2647
Hmm, I'm getting slightly different results when running this scenario on Linux.

1. Join lobby game for a map not installed locally (NWO in my case).
1. TripleA main menu is displayed.
1. The following appear to happen nearly simultaneously:
    1. **TripleA Console** is opened with `InvocationTargetException` caused by `MapNotFoundException` as above.
    1. **Download Map?** dialog is displayed

[2017-11-27 04:08] ssoloff commented on #2647
Correction...   The NPEs seem to be raised because the _list_ returned by `ClientContext#getMapDownloadList()` is `null`.  If one of the elements were `null`, the NPE message would say something like, "Maps list contained null element" (see `DownloadMapsWindow.java:330`).

[2017-11-27 04:18] ssoloff commented on #2647
Actually, what I said about that error message in the NPE is not true.  The `checkNotNull()` call on `DownloadMapsWindow.java:330` is malformed: it's passing the error message as the first parameter and the argument to check for `null` as the second parameter, which is the opposite of what it's supposed to be.  So that `checkNotNull()` call will always succeed.  I'll submit a PR to fix that.

That

[2017-11-27 04:25] #2646 closed

[2017-11-27 05:20] ssoloff commented on #2640
Thanks, @General-Dru-Zod.  Looks like this broke in 1.9.0.0.7378 due to #2570.  Working on a fix...

[2017-11-27 08:06] panther2 commented on #2603
Thanks a lot, indeed my ISP always distributes public IPv4 addresses.
The affected user and me will go through the procedure in about 6 hours.
I will report here.

[2017-11-27 09:06] DanVanAtta opened #2656 "Swing Builder updates - Dev Coordination"
Series of updates that will simplify the UI code and fix up the UI. Just short of switching to JavaFx, but should hopefully split out the UI and logic code so we can move to JavaFx easily.

https://github.com/triplea-game/triplea/pull/2655 adds a very healthy first step. Once merged, I'll open a forum post with instructions on how to demo. This issue is meant for technical tracking, developer coor

[2017-11-27 10:44] #2640 closed

[2017-11-27 11:21] RoiEXLab commented on #2640
@General-Dru-Zod this issue should be fixed in the latest pre-release [1.9.0.0.7645](https://github.com/triplea-game/triplea/releases/tag/1.9.0.0.7645)
Please report back if anything does no work as expected.

[2017-11-27 14:14] panther2 commented on #2603
@RoiEXLab @ssoloff
I can now confirm that the discussed workaround has worked. I entered the user's mail-address into the diceserver's form. The user was then able to successfully finish the registration by clicking the validation mail. Thank you both for identifying the problem and working on a solution. :smile:

[2017-11-27 17:14] panther2 commented on #2603
@davelarson79
Are you on www.axisandallies.org or forums.triplea-game.org ?
If yes what is your username there? I will contact you then...

[2017-11-27 17:26] ssoloff commented on #2603
Another workaround may be to use a cell phone, but switch to mobile data (i.e. 3G, 4G etc.) instead of wi-fi.  That may assign a public IPv4 address to the phone instead of the phone being behind the router's IPv6 address on the wi-fi network.  That's at least been my experience with my carrier.

[2017-11-28 23:41] General-Dru-Zod opened #2660 "Purchase Screen Buggy"
### My Operating System: win10

### TripleA version: 7601, 7658

### Map: Bigworld 2 Balance Of Power

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

Two separate bugs regarding purchase screen.

1) No longer lists the maximum amount of allowable units for placement at bottom of purchase window.

2) Shows incorrect selections if I do the following:

[2017-11-28 23:48] ron-murhammer commented on #2660
@General-Dru-Zod Responses:

1. I believe this is only available for maps with certain rule sets. The reason is when certain rules are active around infrastructure and units requiring other units for placement, the calculation is not straightforward.

2. I was able to reproduce that. If you then hover over the Actions panel then it does actually update to show the proper units. This appears to be

[2017-11-29 14:57] General-Dru-Zod commented on #2660
1. Hmm, understood.

2. I am able to reproduce the glitch as long as the change (reselected number) does not go into the 10th place, so 9 and under. Looks like it has the 1th place and 10th place mixed up for refresh.

I don't see mine refresh to accurate number with mouse pointer hover. However, if I click another tab and back to action its refreshed.

[2017-11-29 20:39] prastle opened #2662 "Bot Joining Issue with 1.9.0.0.7652"
### My Operating System:
Win 10
### TripleA version:
.7652
### Map:
any
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Try joining a bot
### Do you have the exact error text? Please copy/paste if so
[code]
### Instead of this error, what should have happened?
You should be able to join the bot.
### Any additional information that may help:
Does not

[2017-11-29 21:22] ssoloff commented on #2662
I tried reproducing this on both Linux and Windows x64 by joining bot 60 using a 7652 client, but I was able to join the game without a problem.  Can someone else try it?  It almost looks like a corrupt Jar in the installation.

[2017-11-29 21:31] prastle commented on #2662
could be @ssoloff i can try later with reinstall

[2017-11-29 21:39] ssoloff commented on #2662
@prastle If you still happen to have the 7652 installer that you used, you can check its integrity using the `certutil` command on Windows:

<pre>
C:\Users\me\Downloads><b>certutil -hashfile TripleA_1.9.0.0.7652_windows-64bit.exe SHA1</b>
SHA1 hash of file TripleA_1.9.0.0.7652_windows-64bit.exe:
5d 09 60 2a d6 71 ca c3 98 07 3e 76 66 87 11 a8 21 c3 6d 2e
CertUtil: -hashfile command completed succe

[2017-11-29 22:12] RoiEXLab commented on #2662
I agree @ssoloff, really looks like a corrupt jar, given that this is a NoClassDefFoundError and not an exception

[2017-11-29 22:46] prastle commented on #2662
@RoiEXLab  and @ssoloff  reinstalled with .7667 hopefully corrupt dl feel free to delete

[2017-11-29 22:46] prastle commented on #2662
Works fine with .7667

[2017-11-29 22:48] #2662 closed

[2017-11-30 05:49] zared619 opened #2663 "Americans AI stuck in combat. Game won't proceed."
### My Operating System: Windows 10

### TripleA version: 1.9.0.0.7527

### Map: Big World v3 Rules version 3.8

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?) Just let the game go. For casualties, I was selecting the obvious. I don't think that matters though.

### Do you have the exact error text? Please copy/paste if so

### Instead of this error

[2017-12-01 17:39] ssoloff commented on #2663
Confirmed I can reproduce this on 1.9.0.0.7667.

Breaking in with the debugger during the "frozen" American combat phase, the "Triplea start thread" stack trace is

[code]

Stepping through a bit more, it appears the engine is stuck in the infinite loop within `AbstractAI#battle()`:

[code]

Both the battle in the Arabian Peninsula and Iraq are returning the error "Must finish Battle in France fir

[2017-12-01 23:45] ron-murhammer commented on #2663
@ssoloff I'm pretty sure there is a problem with this save game. Most likely either it was corrupted or it is from the battle calc bug that was fixed. If you run the USA turn with Hard AI then you get a different error that indicates the game data is most likely corrupted:

`SEVERE: 2 Battle results workers aborted by exception
java.lang.IllegalStateException: Duplicate Units Detected: Original Li

[2017-12-03 16:16] RoiEXLab commented on #2614
@ssoloff @ron-murhammer @DanVanAtta
Lobby migration went fine so far... No problems (I'd know of) were reported since then, so we could start creating a separate branch to start pushing incompatible changes.

@ssoloff I like your proposal, according to the [semver convention](https://semver.org/) we are still allowed (See 10.) to add some kind of "build number"/commit hash as part of the version s

[2017-12-03 16:22] RoiEXLab commented on #2614
Given that we should "fix" the game engine behaviour which tells the users once a new game engine version is out.
We really need users with a new engine version to log in in order to get the DB migrated to BCrypt, there are still too much unmigrated accounts

[2017-12-04 04:49] fasafan opened #2668 "Can't even install - Java Runtime Error"
Trying to install TripleA 1.9.0.0.7621 Windows 32 bit.

Windows XP, SP2 (this machine is used for legacy gaming mostly in DOSBox; I don't plan on online play.)

Install ends almost as soon as it begins with an "Error downloading the Java Runtime Environment.  Please check your internet connection and start setup again" while at the "...downloading the Java Runtime Environment" step.

Computer is c

[2017-12-04 05:33] ssoloff commented on #2668
I tried installing 1.9.0.0.7621 on a Windows x86 box without Java 8 installed, and install4j successfully downloaded and used the bundled Java 8 JRE we provide in the triplea-game/assets repo, so this doesn't appear to be a general issue.

@fasafan There's a couple things you can do here.

First, the installer generates a log that we can take a look at to see why it's failing to download the Java

[2017-12-04 05:40] ssoloff commented on #2668
@fasafan One other question...  If you click this link:

https://raw.githubusercontent.com/triplea-game/assets/master/install4j/windows-x86-1.8.0_144.tar.gz

from a browser on your XP machine, do you get a security warning saying something like "the certificate is invalid, do you want to continue?"

[2017-12-04 06:41] fasafan commented on #2668
Hello!  Thanks for giving me where that .log file was located.  I looked for it, but couldn't find it.
I'll copy it below since I'm not sure how to attach a file.
I can open that link you posted.  In Firefox, it wants me to open or save the file...?
[code]

[2017-12-04 06:56] fasafan commented on #2668
I downloaded Java 8 (JRE 8).  It doesn't open when I double-click, nor right-click Open.  Could that be because I don't have Service Pack 3?  Same thing happened with a version of Opera I downloaded that seemed to require SP3 (v. 27; v.26 worked).

I found a SP3 file, downloaded it, and installed it several hours ago.  It caused my computer to go into an endless reboot loop.  I researched THAT pro

[2017-12-04 07:18] ssoloff commented on #2668
[code]

Your log indicates the Win32 `InternetOpenUrl()` function is failing with error code -2146869244 (0x80096004).  The [definition](http://www.lifeasbob.com/code/errorcodes.aspx) of this error code is

[code]

I suspect that the trusted certificate store for XP SP2 is so old that it doesn't contain the root CA for GitHub, and so can't verify the server certificate when opening the HTTPS URL I

[2017-12-04 07:39] RoiEXLab commented on #2668
I'll do a quick follow-up:

Thanks. That log looks fine and it does indeed confirm the installer fails to download a JRE, so installing it on your own should fix the issue.

.@ssoloff Just wanted to let you check you're able to access this site, but I'm almost sure it's the issue he suspects, although your test shows the opposite: Could you try opening the site using Internet Explorer, I'd assume

[2017-12-04 07:40] RoiEXLab commented on #2668
Ok, by the time of writing @ssoloff Already answered ^^

[2017-12-04 12:52] fasafan commented on #2668
Thanks so very much to all!

As I mentioned, the first time I tried to install SP3, the PC went into an endless boot loop.  I figured MajorGeeks' SP4 might be *just* different enough to avoid that problem again.

Linux might be a solid answer, though - especially if I can run DOSBox.

The funny thing is, whole reason I'm here in the first place is due to an itch to play SSI's Age of Riles.  That l

[2017-12-04 15:34] RoiEXLab commented on #2668
Closing this issue as we figured out the issue and the rest is up to you.
Please report back if you still need help with something.

[2017-12-04 15:34] #2668 closed

[2017-12-04 19:55] prastle commented on #2336
The new update all works fine... we should probably deleted this for now but up to @RoiEXLab

[2017-12-04 19:58] #2336 closed

[2017-12-05 04:11] ssoloff commented on #2663
@ron-murhammer I think I see what you mean.  Something happened to get the battle in France on the battle list twice.  Looking through the entire history, I don't see any other UK battles in France, so I'm guessing the corruption occurred in the current round (14).

The attached save appears to have been produced after the battle in Calcutta but before the battle in France.  I wonder if saving at

[2017-12-05 04:19] ssoloff commented on #2663
Based on what I postulated above, I tried that scenario to see if I could reproduce the corruption:

1. Load the save game I mentioned above using **Save Game at this point (BETA)** (changing all players to Human).
1. Reproduce UK's moves through the Combat Move phase.
1. Run battle in Calcutta to completion.
1. Save game at this point.
1. Leave and load the save game created in the previous step.

[2017-12-05 06:11] zared619 commented on #2663
@ssoloff Sorry I can't really provide more info. I just started using the game last week and I ran into this issue on my first single player experience. I figured I would report it so if it was a bug, then someone could take a look at it and get it fixed. If it somehow got corrupted, then maybe it's in the code that creates the save instance?

I'm not really sure how it could have gotten corrupted

[2017-12-05 17:21] ssoloff commented on #2663
@zared619 Bug reports are always appreciated, even if we can't fix them. :smile:

<hr>

I debugged this a bit further.  The key seems to be figuring out how to trigger the `BattleExtendedDelegateState#m_currentBattle` field to be non-`null` when saving.  In the OP's save game, this field is non-`null` during deserialization (and refers to the battle in France), which causes `BattleDelegate#m_curre

[2017-12-07 00:41] zared619 commented on #2663
@ssoloff I am using version 1.9.0.0.7527. I don't remember the exact spot unfortunately. I just know it was on Germany's turn.

[2017-12-07 01:53] apoleon opened #2672 "Please do not depend on org.json:json which is non-free software"
Please do not depend on org:json:json which is non-free software. It contains the infamous license clause "The Software shall be used for Good, not Evil." This dependency could be replaced by existing free software.

https://wiki.debian.org/qa.debian.org/jsonevil

[2017-12-07 02:09] ssoloff commented on #2672
Thanks for the heads-up, @apoleon.  Indeed, the JSON license is [not compatible](https://www.gnu.org/licenses/license-list.en.html#NonFreeSoftwareLicenses) with the GPL.

[2017-12-08 01:10] ron-murhammer commented on #2672
Yeah, we should look to change this dependency.

[2017-12-08 02:00] ssoloff commented on #2663
So, 1.9.0.0.7527 was the release that was withdrawn due to data corruption issues caused by the battle calculator changes in #2540.  However, I thought we isolated that bug to only affecting the Hard AI.  I double-checked and couldn't find any way that the Fast (Easy) AI could have triggered that bug (which might nicely explain why we can no longer reproduce this issue).

@ron-murhammer Can you co

[2017-12-08 02:03] ron-murhammer commented on #2663
@ssoloff I think you mean Weak AI which is Easy AI not Fast AI. Both Hard AI and Fast AI are potentially affected by the battle calc bug but Easy AI shouldn't be.

[2017-12-08 02:16] ssoloff commented on #2663
@ron-murhammer Derp.  Yes, thanks for the correction.  I should have been looking at the Weak AI classes.  (But, in reality, I wasn't able to find where not cloning `GameData` would affect Fast AI, which is why I'm glad I asked you anyway. :smile:)

Once again, I'm not really sure where to go with this issue due to lack of reproducibility.  I'm going to go ahead and close it.  @zared619 Please re-

[2017-12-08 02:16] #2663 closed

[2017-12-08 22:03] airwalker1 opened #2675 "Rules clarification on LL low luck movement of fighters requiring carrier"
### My Operating System:

### Engine version:

### Map name and version:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:

Here is the scenario that seems to cause debate from many player

[2017-12-08 22:51] ron-murhammer commented on #2675
The carriers have to be "able" to move to a place where ALL fighters can land (can't send fighters that have no potential place to land even if LL you know they die) but a player only has to move the carriers during non-combat if the fighters survive.

[2017-12-08 23:02] airwalker1 commented on #2675
Please clarify: (can't send fighters that have no potential place to land even if LL you know they die)

In regards to the game I uploaded he sent 2 fighters that could not land except via carrier, but he claims those fighters are shot first and the remaining fighters have movement without carrier.

[2017-12-08 23:13] ron-murhammer commented on #2675
He would be correct. The fighters with the least remaining movement can be taken casualty first. As long as it was possible for him to move the carrier for them to land then the move is valid. He isn't forced to move the carrier if they die during combat.

[2017-12-08 23:26] airwalker1 commented on #2675
So theoretically he can send 6 from FIC and 6 from the carriers and if 6 are lost he will not need to move carriers?

This is my concern as it goes up and up exponentially with carriers. Its sending half to their death, which can be calced in LL for the purpose of avoiding movement restrictions.

[2017-12-08 23:56] ron-murhammer commented on #2675
Correct. You just need to have the potential for all the fighters to land. You only have to actually move the carriers if fighters survive that can only land on the carriers. It doesn't really go up exponentially as it just scales linearly with number of fighters/carriers and this is one of the main benefits of carriers/fighters is the flexibility and range.

The thing you can't do is true kamikaz

[2017-12-09 03:57] ron-murhammer commented on #2675
@airwalker1 Gonna close this now. Its probably better to open these types of questions/discussions on the forum here: https://forums.triplea-game.org/

[2017-12-09 03:57] #2675 closed

[2017-12-09 04:38] DanVanAtta commented on #2498
I would like to take a second look at dropping Codacy for these reasons:
- there is a lot of value in *never* ignoring "X" marks on PR. I propose we drop anything that is not allowing PRs to show as a green build when they have actually built successfully.
- second, any style/coverage enforcement that we want needs to find its way into the build. Having external tools that we are not required to l

[2017-12-09 05:51] DanVanAtta opened #2679 "Build script update request - working integration-test for dev with In-memory DB"
This is on my wish-list, but also I think our build is lacking in this respect:
- today you have to install a postgres DB and get it up and running locally for the integration tests to work. Happily on travis this is easy configuration, and in prod we did this (https://github.com/triplea-game/lobby/blob/master/setup_lobby#L49), but in dev it's a small pain and you have to manually install a postgr

[2017-12-09 06:15] ssoloff commented on #2498
I'm ok with removing it at this point because, to me personally, the value of the history was in the Checkstyle issues, not so much in duplication and code complexity.

[2017-12-09 06:33] ssoloff commented on #2679
I thought we discussed previously not using a different in-memory database because then it's not really testing the "integration" with Postgres?

My typical dev cycle is to run `./gradlew check -x integTest` before pushing unless I'm directly modifying something covered by an integration test (e.g. lobby database stuff).  I let Travis verify the integration tests are passing before creating a PR.

[2017-12-09 08:52] #2672 closed

[2017-12-09 11:28] RoiEXLab commented on #2679
@ssoloff I want to point out it might be better if we'd use docker images in production for the lobby as well, so we could make updating easier (Although I must admit it has gotten pretty easy now that Derby is gone)

[2017-12-09 16:07] RoiEXLab commented on #2586
I'd like to point out that OddsCalculator tests are causing flaky coverage as well.
This is especially annoying for "typo" or config imporvement PRs, where the coverage clearly shouldn't be affected, but codecoc still complains about the coverage and the PR goes red

[2017-12-09 16:21] ssoloff commented on #2679
@RoiEXLab No objection from me.  In fact, I was going to suggest we use the new Node dice server as the guinea pig for using Docker in production.  That would give us a relatively straightforward platform on which to learn how to manage things the "Docker Way" without affecting an existing production service.  Then we have the option of migrating the existing services slowly over time.

[2017-12-09 16:45] RoiEXLab commented on #2679
@ssoloff Feel free to setup docker configs etc. on the repo, I believe I'm currently requiring a private key file (passed as a CLI param), and a postgres database, with a predefined scheme (see the [db-handler.js](https://github.com/triplea-game/dice-server-js/blob/master/src/db-handler.js) file for any information)
Just push the changes, no need for PRs there until we have a fully functional piec

[2017-12-09 17:01] ssoloff opened #2682 "Move install4j bundled JREs from GitHub to Linode"
We bundle JREs with our installer for users that do not have a Java 8 JRE installed on their machine.  We currently host these bundled JREs in the triplea-game/assets repo, and the installer downloads them, if needed, directly from GitHub.

There are a few problems hosting these files on GitHub:

* We can't just provide the "latest" JRE because older installers are built with a hard-coded link to

[2017-12-11 02:01] #2407 closed

[2017-12-11 02:07] DanVanAtta commented on #2498
I think I just removed config for Codacy and CodeCov. @ron-murhammer  FYI.
My goal is that anything which can cause a 'red X' on PR and we just ignore would be removed. I hope we can re-introduce CodeCov at some point.

[2017-12-11 02:12] DanVanAtta commented on #2679
Before we add Docker in production, I'd like to clarify it's value. Docker for me is nice because you don't have to worry about env differences and you get a base OS. The fundamental problem is that you then don't have to set up your OS env. Although I think that pushes the problem to being able to set up a docker image. If we introduce docker, I'd like to be sure we have an easy way to update the

[2017-12-11 02:13] DanVanAtta commented on #2679
@ssoloff good point on agreement, we feel short though for making the local dev setup easy, it needs to be scripted, one-touch. Having manual setup instructions to set up a DB is "hackery". Fundamentally I think the problem is that we don't have automation for local or production deployment of DB infastructure, (docker only kinda solves that but not fully).

[2017-12-11 02:13] ron-murhammer commented on #2498
@DanVanAtta I'm fine with removing it for now. I think we just have too many exceptions at this point.

[2017-12-11 02:13] #2498 closed

[2017-12-11 02:14] ssoloff commented on #2498
BTW, the corresponding badges on the top-level README will have to be removed, as well.

[2017-12-11 02:16] DanVanAtta commented on #2682
We pay for bandwidth from Linode server, a 350 MB download per build could add up.

Is git LFS an option? I've no personal objection as well to doing history re-writes in assets repo to reduce repo size.

[2017-12-11 03:23] ssoloff commented on #2682
I'll have to double-check, but I don't think the bundled JREs are actually required during the build.  Despite the adjective, they aren't actually "bundled" with the installer (the installer only contains their URLs).  AFAIK, they are only downloaded when a user running the installer does not have a local JRE installed.

If it turns out they _are_ required during the build, I'll ask forgiveness fo

[2017-12-11 03:56] ssoloff commented on #2682
Nevermind.  Even though install4j doesn't include the JREs with the installer, it still wants to examine them at build time (I guess to verify that they are in its required format).  So at least three JREs (Mac, Windows x86, and Windows x64) need to be downloaded per build. :-1:

[2017-12-11 11:56] RoiEXLab commented on #2682
@ssoloff From my experience install4j checks if the files exists, and not much more.
When we upgraded to install4j7, I temporarily "fixed" the installer generation by simply creating zip files and naming them like the JRE files IIRC.
That being said, it seems like a bug that the generator actually requires the files offline.

[2017-12-11 18:10] ssoloff commented on #2682
@RoiEXLab Thanks for the suggestion.  While an empty file or an empty gzipped tar archive result in the following exceptions:

[code]

[code]

A gzipped tar archive with at least one entry apparently makes install4j happy.

So, it looks like we could keep dummy files in the Git repo and the actual files someplace else.  In that case, I'm going to re-open this issue as there are some viable alterna

[2017-12-11 18:19] ssoloff commented on #2682
BTW, my eyes weren't working properly when I wrote up this issue. :smile:  The bundled JREs are ~35 MiB in size, not ~350 MiB.  That order of magnitude probably makes a huge difference.

[2017-12-11 18:23] ssoloff commented on #2682
Possibly.  It looks like it will work for devs pretty easily because it integrates with the Git client.  However, I'm not sure how one can retrieve the large file from a plain URL, which is how users would actually download the JRE.

I'll set up a test repo and play around with the dev and user workflows.

[2017-12-11 23:04] RoiEXLab commented on #2682
@ssoloff Perhaps you should report this as some sort of bug to the install4j guys, because I really don't think it's intended to check the JRe if it's not actually bundling it.

[2017-12-12 01:26] ssoloff commented on #2682
@RoiEXLab Good idea.  I'll fire off an email to Ingo asking if there is a way around it, or at least what is the reasoning for it.

[2017-12-12 18:04] ssoloff commented on #2682
So removing the bundled JREs from the build process is probably not possible.  Per Ingo:

the check, but there is some more logic associated with it. The compiler scans the
bundle to see if there are any packed files in it, if you provide empty bundles or
if the check is disabled, the Windows installer will not work.

I verified the Windows x86 installer I built with a dummy bundled JRE works just

[2017-12-15 10:08] simon33-2 commented on #2660
I'm sure I've seen this in Global too. Was never sure how to reproduce it.

[2017-12-15 20:20] simon33-2 opened #2690 "New bug in battle calculator"
### My Operating System: Ubuntu 16.04

### Engine version: 1.9.0.0.7527

### Map name and version: Balanced Mod3 v3.3

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
See screenshot:
![screenshot from 2017-12-16 07-25-09](https://user-images.githubusercontent.com/20733860/34059240-4899dd2e-e232-11e7-9af7-8cbe4f4f4aa7.png)

### Do you have the exact e

[2017-12-15 20:27] ssoloff commented on #2690
@simon33-2 7527 had several Battle Calculator bugs.  In fact, that release was withdrawn as a stable release because of those issues.  Please try 7621, which contains the Battle Calculator fixes.

[2017-12-15 20:29] prastle commented on #2690
actually
use .7634
all bots run that and we need stable upgraded to that if ya have time @ssoloff

[2017-12-15 20:42] ssoloff commented on #2690
@prastle Sorry, making the decision to promote a new stable release is above my pay-grade. :smile:  I looked at the QA spreadsheet and didn't see an entry for 7634.  Were we even considering that release as a new stable?

@ron-murhammer @DanVanAtta Please see @prastle's request to release a new stable.

[2017-12-15 20:43] prastle commented on #2690
all bots run it :)
but np

[2017-12-15 20:59] simon33-2 commented on #2690
Build 7621 resolves this problem. Probably should have checked for a new stable first!

[2017-12-15 20:59] #2690 closed

[2017-12-17 21:23] Rufascho opened #2702 "Hosting game"
Hello i want to ask why when i host a game the tutorial question on how to host comes out and doesnt matter if i press yes or no or the X it shuts down my host game

[2017-12-17 21:38] RogerCooper opened #2703 "Crashes on Loading Scenario without Error Message"
### My Operating System:
Windows X
### Engine version:
1.9.0.0.7621
### Map name and version:
3rd Century BCE Wars
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
Click the play button
### Do you have the exact error text? Please copy/paste if so
No text. Goes back to load screen.
### Instead of this error, what should have happened?
It should show t

[2017-12-17 22:26] ssoloff commented on #2702
@Rufascho It's expected behavior that TripleA will shut down after answering that question.  However, if you answer **Yes**, it should open your web browser to https://forums.triplea-game.org/topic/100/how-to-host .  We'll look into why that may not be happening, but, in the meantime, you can open the above link manually to read the hosting tutorial.

[2017-12-18 02:49] ssoloff commented on #2702
I tried to reproduce this in 1.9.0.0.7850 on Linux.  After being prompted to open the host game tutorial, I answered **Yes**, at which point my browser was opened to the tutorial page and TripleA exited, which is the expected behavior.

I suspect there may be a race condition between the code that opens the browser and the `System#exit()` call in this area of the code.  A quick glance at the code

[2017-12-18 04:03] ssoloff commented on #2703
Here's the exception that's being raised:

[code]

The property `color.Scythians` is not defined, and the code attempts to pull off the next available default color.  However, because the default color list is immutable, this operation fails, and the exception is raised.

The fact that the default color list is immutable might be a regression.  I'll look into it further.

[2017-12-18 04:17] ssoloff commented on #2703
Yeah, looks like support for default colors broke in 6d7783c.  I'll submit a fix shortly.

I'm not sure if there's a workaround without the code fix because I don't really understand how map variants work.  But if there's a way to define the map property `color.Scythians` in the 3rdCentury_BCE_Wars map (and any other new player color not defined in 270BC), that should prevent the exception from be

[2017-12-18 04:29] ssoloff commented on #2703
Note that after fixing the default colors issue, the following exception is now raised:

[code]

I don't know if there's supposed to be support for providing a default small flag if the map doesn't provide one.  Otherwise, the 3rdCentury_BCE_Wars map will need to include one for the new GermanicTribes player (and presumably one for any other new player not present in 270BC).

[2017-12-18 11:25] RogerCooper commented on #2703
The problem here is that the error message is not visible. In earlier versions of TripleA, I could always view the error log.

[2017-12-18 17:38] ssoloff commented on #2703
@RogerCooper Sorry for the misunderstanding.  I believe you and others have pointed this out before, so maybe we just need to bite the bullet and re-introduce the **View Error Console** button on the main menu.  (I believe it was removed for usability reasons, but maybe that reasoning didn't consider map makers.)

In the meantime, as a workaround, you can run TripleA from the command line with the

[2017-12-18 22:30] ron-murhammer commented on #2703
@ssoloff Yeah, I believe the color error was a regression but the missing image is a valid error.

[2017-12-18 23:28] DanVanAtta commented on #2703
No disagreements on regression, but I'd suggest it was a bug to begin with to have ` final List<Color>`, the `final` makes it seem like we have an immutable data object, when that is not the case. Can we see if we can find the place that changes the list elements and avoid that from happening when fixing this? We can probably find it pretty easily by making the List a true immutable. Alternatively

[2017-12-18 23:35] RoiEXLab commented on #2703
@DanVanAtta Arrays.asList actually returns a fixed size list AFAIK, so the content can be replaced but not be removed.
This issue was fixed in #2704 we slightly changed the under-the-hood behaviour, so we only use immutable data types now.

[2017-12-19 19:34] ssoloff opened #2708 "Infinite loop at startup when default map cannot be parsed"
#### Environment

* TripleA 1.9.0.0.7867

#### Reproduction steps

1. Start TripleA.
1. If necessary, download "Big World", which, per `ClientSetting` is the current default map.
1. Click **Select Map**, select "Big World : 1942", and click **OK** to return to the main menu.
1. Exit TripleA.
1. Introduce a domain error in the "Big World : 1942" game XML file that will trigger a `GameParseException

[2017-12-19 22:01] #2703 closed

[2017-12-19 22:21] ssoloff commented on #2703
@RogerCooper As of build 1.9.0.0.7874, there is a new setting you can enable that will display the console when _any_ message is written to it, not just ones deemed errors:

![show-console-always-setting](https://user-images.githubusercontent.com/4826349/34181565-a9a631c0-e4e0-11e7-97b2-30710d872229.png)

Enabling this setting will cause the console to be displayed in the scenario you originally r

[2017-12-19 23:46] RoiEXLab opened #2710 "Use TestFX as JavaFX Testing framework"
Testing is important, and the coverage for the current Swing UI (as well as JavaFX currently) is pretty much 0.
I found TestFX, a testing framework for JavaFX. It let's you run those tests in headless mode, and let's  you easily check if buttons have certauin labels, are visible at certain times etc.
However the documentation is very poor (although they provide javadocs): See my issue over there:

[2017-12-20 03:21] ssoloff commented on #2710
@RoiEXLab I think you covered the technical issues just fine over in the TestFX/TestFX repo.  I think it's great that they support headless out-of-the-box without using `xvfb`.  That would make it easier to adopt here because we've talked about adding `xvfb` to Travis on at least two occasions, and both times it was voted down.

With that said, here's my philosophy of testing the UI:

* If you fin

[2017-12-20 09:24] RoiEXLab commented on #2710
@ssoloff The great thing about javafx is that components must be created on the JavaFX Application Thread, it's very strict about that.
So no need to test that.
However I had the following things in mind:
I agree that most of the logic should be extracted, however we really shouldn't create a pure logic method for creating all the tabs in the SettingsPane which we pass a function to.
So I thought

[2017-12-20 15:44] ssoloff commented on #2710
@RoiEXLab

So no need to test that.

Sorry for the confusion...  I wasn't suggesting we test that components are created on the EDT.  I was noting that most Swing-related tests (including some in our codebase) don't follow this "rule," leading to sloppy tests that could fail in the future (e.g. if a L&F like Substance, which enforces EDT creation, was active).  It's good to know that JFX enforces

[2017-12-22 03:15] dboyarsk opened #2723 "Civil War - Map Bugs"
### My Operating System: Windows xp

### Engine version:1.9.0.0.7378

### Map name and version:Civil War - Eastern Campaign/3.0.1

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)Move a train through Mechanicsville Station or Washington D.C.  Also, there are several territories on the map that aren't 'attached' to their neighbors, Upperville is isolat

[2017-12-22 06:17] simon33-2 commented on #2601
Curious as to why discourse is superior to SMF?

[2017-12-22 21:09] djensen47 commented on #2601
SMF is a huge mess of spaghetti code. There are no plugins, instead there
are mods as in modifications. You basically patch code to add new features.
The huge problem there is that upgrades are done the same way. So you might
end up in a situation where you cannot upgrade. The templating system is in
the same huge mess. Finally, it's not responsive so it looks terrible on
mobile.

On Thu, Dec 21,

[2017-12-23 01:42] airwalker1 opened #2725 "Cant open selected bot"
### My Operating System:

### Engine version: 7923

### Map name and version:

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)

### Do you have the exact error text? Please copy/paste if so

### Instead of this error, what should have happened?

### Any additional information that may help:

Not sure when exactly this broke, but it works fine in 7898

[2017-12-23 01:59] ssoloff commented on #2725
Sounds like a sorted vs. unsorted index mismatch we saw during the review of #2714.  @RoiEXLab, could you please take a look?

[2017-12-23 10:03] RoiEXLab commented on #2725
Opened #2726

[2017-12-23 12:47] prastle commented on #2725
Ya I can confirm this occurred with .7922 as well.

[2017-12-23 16:26] #2725 closed

[2017-12-23 16:28] limo49 opened #2728 "autosave file and non combat moves"
My Operating System: Windows 10
Engine version: 1.9.0.0.3635
Map name and version: World War II Global 1940 2nd Edition 3.9

When using the autosave2.tsvg file to repeat a Non Combat Move phase, the movements are queued to the Combat phase (in the history panel there is no Non Combat Move node).

[2017-12-23 16:30] prastle commented on #2728
Download the new stable which has individualized rounds in the new autosave folder.

http://triplea-game.org/download/

[2017-12-23 16:40] ssoloff commented on #2725
@airwalker1 This should be fixed in pre-release 1.9.0.0.7942 or later.  Please re-open if you still observe the problem.

[2017-12-25 15:08] RoiEXLab commented on #2728
Closing due to inactivity

[2017-12-25 15:08] #2728 closed

[2017-12-28 07:20] Leijonma opened #2750 "Great War 4.4 No-retreate-option-bug"
Hallo Triplea!

Sorry to disturb you but...

Attatched file is a saved game of Great War 4.4 from yesterday (reconstructed today 28/12 to faulty point) that malfunctioned.

Yesterday I attacked with British fleet in Mediterranean with intent to withdraw after one round of combat. However the only retreat option showed after one round of battle was "submerge submarine".
I turned that down, had extr

[2017-12-28 08:35] simon33-2 commented on #2750
Hmm, I can duplicate this with build 3627 as well as 7621.

I'm not familiar with Great War so I'm wondering if there is anything special in that map which would prevent the retreat possibilities being activated?

[2017-12-28 21:39] #2656 closed

[2017-12-28 21:50] DanVanAtta opened #2753 "New UI next steps (?)"
New UI is now available behind a beta flag, not fully functional yet - a question here for dev team here on how to proceed.  We have a few options:
1. Try to make new UI work with existing network model code.
2. Remove existing UI so we can refactor model code and then integrate it with the new UI
3. Build a new network code infrastructure (JSON over Java sockets or something similar)

Option numb

[2017-12-28 22:13] RoiEXLab commented on #2753
@DanVanAtta Option 2 would probably a good compromise.
The network code really needs some work in general. Currently there's no way to implement a new feature without it causing an exception until the lobby (or the other client) is being updated.
Also the current state of the network code doesn't look like it can easily be changed to support TLS encryption.

TL;DR: I'd prefer option 2, especially

[2017-12-28 22:17] DanVanAtta opened #2754 "Need help integrating DB migrations (liquibase) to build"
I was playing around with liquibase plugins for the gradle build script and was running into problems. If anyone can pick this task up, would be really great and appreciated!

If it's really difficult, I think we could probably go with FlyWay even.

For the moment I think our use-case would be to clone the project on the server hosting the Postgres DB that powers the lobby. We would then run liqui

[2017-12-28 22:20] DanVanAtta commented on #2753
Thanks for the feedback - a side note @RoiEXLab  - My hope is that the 'new UI', using the custom Swing builder lib's will make JavaFX migration easier. The builders should help us split the logic from the UI code (and UI configuration), so eventually, when we go to JavaFX the builder API stuff could maybe be cleanly replaced.

[2017-12-28 22:24] RoiEXLab commented on #2753
@DanVanAtta I hope so as well.

One thing I'm probably going to submit a PR for soon is the way the current UI handles the ClientSettings:
Currently some ClientSettings have a "not set" state, where they default to the hardcoded value. Instead they should have a "default" value that gets restored when klicking on "reset to default".
Little things like this already make implementing a new UI easier

[2017-12-28 22:31] RoiEXLab commented on #2753
@DanVanAtta But at some point it already did: The ClientSetting "framework" helped a lot when implementing the settings in JavaFX

[2017-12-29 19:25] ssoloff commented on #2682
I finally got around to trying out Git LFS, and it appears this will work.

I set up a test repo at https://github.com/ssoloff/git-lfs-test, which contains both regular files and files tracked by LFS.  I confirmed the bare repository does not actually contain the large files I set up to be tracked by LFS.  Manipulating these tracked files in a non-bare repository is seamless, as LFS hides all the

[2017-12-29 19:43] RoiEXLab commented on #2682
@ssoloff No objections from my side.

[2017-12-30 05:41] ssoloff commented on #2723
@dboyarsk If you have fixes for the map, you can submit a pull request at the repo for the Civil War map (https://github.com/triplea-maps/civil_war).  Feel free to ask for help if you run into any issues submitting your changes.

TripleA supports unzipped maps, which are much easier to edit and test, but it's not as simple as just unzipping the _*-master.zip_ file in your _downloadedMaps_ folder.

[2017-12-30 06:07] ssoloff opened #2764 "MockitoExtension is incompatible with GPLv2"
The `org.junit.experimental.extensions.MockitoExtension` class we copied into the codebase several weeks ago is licensed under the terms of the Eclipse Public License v1.0, which is [incompatible with GPLv2](https://www.gnu.org/licenses/license-list.en.html#EPL).

We need to either find a GPLv2-friendly alternative or write an equivalent extension ourselves.

[2017-12-30 06:14] ssoloff commented on #2764
Annnnnd include `TemporaryFolder` and `TemporaryFolderExtension`, which are also licensed under EPLv1 (https://github.com/rherrmann/junit5-experiments/blob/master/LICENSE).  I'll update the description.

[2017-12-30 17:10] RoiEXLab commented on #2764
Just an idea, that just came to my mind.
We're pretty much stuck with the GPL license on the main codebase, but we should be able to change the license for the test code only.
Thoughts?

[2017-12-30 18:14] ssoloff commented on #2764
Interesting idea.  It would be great if we could find another OSS project that has such a dual-licensing model for test and production code to use as an exemplar.

[2017-12-30 19:30] panther2 opened #2769 "Game Notes appearance"
### My Operating System:
Windows 7.64
### Engine version:
1.9.0.0.8107 (maybe earlier - I have not cared too much about the game notes during the last months)
### Map name and version:
wwII_global_1940
### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
See the game notes when selecting a map or using the menu.
### Do you have the exact error text? Pleas

[2017-12-30 19:34] panther2 commented on #2769
wwII_v3 looks like this now:

![gn2](https://user-images.githubusercontent.com/20812775/34456820-c0dac388-eda0-11e7-91df-cccdc816e537.PNG)

Have I missed any "Game notes look and feel change"?

[2017-12-30 19:50] RoiEXLab commented on #2769
You missed a "Look And Feel" Update ^^
This change was "made"(we updated the look and feel triplea is using) to be compatible with Java 9.
I will look into this. Shouldn't be too difficult to fix the coloring.

[2017-12-30 19:51] RoiEXLab commented on #2769
And no, this has nothing to do with javafx.

[2017-12-30 20:41] RoiEXLab commented on #2769
Opened #2770

[2017-12-30 23:11] RoiEXLab commented on #2769
@panther2 This issue should be resolved in the latest pre-release.
Please report back if I missed a panel.

[2017-12-31 05:25] ssoloff commented on #2764
After a bit of research, I'm not sure the dual-license model will work simply because the unit and integration test code is effectively a _derivative work_ of the production code (the magic phrase in the GPL).

The way the unit and integration tests are built seems to be equivalent to statically linking in the production code (a bunch of class [object] files linked together into the same process).

[2017-12-31 07:18] titaniumman opened #2776 "a sudden shutdown of program during the paratroopers action"
[bugreport2.zip](https://github.com/triplea-game/triplea/files/1595032/bugreport2.zip)

### My Operating System: Windows 10 home

### Engine version:  1.9.0.0.7621

### Map name and version: World War II v5 1942 Second Edition      /    1.9 version

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
paratroopers, long range aircraft activated
in German

[2017-12-31 09:35] panther2 commented on #2769
Thanks, I will take a look.

[2017-12-31 23:17] ron-murhammer commented on #2769
@RoiEXLab @ssoloff It appears there is a similar problem in at least one other places (Unit Help). As both the background and text appear very light so its not readable anymore. I didn't really see the substance update  that was made but appears it had a few more side effects.

[2017-12-31 23:21] ssoloff commented on #2769
#2717

[2017-12-31 23:26] ron-murhammer commented on #2769
@ssoloff Ok, I'm a little interested in that it appears you are hosting a new/fixed version of the substances now?

[2017-12-31 23:31] ssoloff commented on #2769
@ron-murhammer Yeah, please see the discussion in that PR; there were other alternatives discussed.  If we continue to use Bintray, the long-term plan would be to use a TripleA-organization-owned account instead of mine.

[2017-12-31 23:34] ron-murhammer commented on #2769
@ssoloff Ok, I would like to get any dependencies into the TripleA org owned repo as otherwise if you would disappear tomorrow and take down your stuff then we'd have a broken build. And yeah it would be great to get it published somewhere more official but not sure if/how that would be possible.

[2017-12-31 23:41] ssoloff commented on #2769
@ron-murhammer

Are you ok with [this solution](https://github.com/triplea-game/triplea/pull/2717#issuecomment-353422016)?

[2017-12-31 23:45] ron-murhammer commented on #2769
@ssoloff Yeah, if it isn't hosted somewhere then I'm ok with adding it into our TripleA repo. Probably not ideal but at least then we have all the bits somewhere that is less likely to disappear :)

[2018-01-01 02:03] pjdouillard opened #2778 "HardAI ?"
I am revisiting TripleA since a few years ago, and the game is great.

One point though concerning the 'supposed' HardAI:  What I see is the AI is not really harder, but 'luckier' than it supposed to be.  After a few dozens games now, I can confirm stack of soldiers (Attacking at '1') from the 'HardAI' are getting '1s' 50% of the time which hose any possible fight outcome prediction.

If this inte

[2018-01-01 06:31] ssoloff commented on #2769
@ron-murhammer #2779 and #2780 have two different solutions for the Substance dependency issue.

[2018-01-01 18:19] ron-murhammer commented on #2778
@pjdouillard I can promise you that isn't the case. All the AIs use the same dice roller as the player does. If you play say 10 games against the AI and export the dice stats at the end by going to the top bar Menu -> Show Dice Stats then you'll see that all the nations should have pretty much the same dice stats as long as your sample size is large enough.

[2018-01-01 18:19] #2778 closed

[2018-01-02 06:42] DanVanAtta opened #2792 "False negative build checks (Remove codeCov?)"
Suggestion: remove any build checks that can 'fail' with a big red mark and we merge anyways. This would start with codeCov as it can red X a build for the wrong reasons.

Discussion:
Do we get any real value from codeCov is we are not enforcing a coverage percentage?

Task:
- [ ] survey from team what value there is in CodeCov
- [ ] either remove CodeCov or fix anything  that is making it red som

[2018-01-02 07:04] RoiEXLab commented on #2792
I personally like having the coverage report to get a feeling on how much of the diff is being covered by tests.
If there was a way to simply get rid of the build integration check without getting rid of the report, I'd be fine with that.

[2018-01-02 17:55] ssoloff commented on #2792
I agree that Codecov provides value, and it would be great to get the non-determinism out of our tests, which is causing the > 50% failure rate of the codecov/project check.  With that said, if we can simply disable codecov/project and leave codecov/pr enabled, that would probably be the best short-term solution.

But note that even if we leave codecov/pr enabled, there will be PRs that are still

[2018-01-02 19:27] #1882 closed

[2018-01-02 19:56] ssoloff opened #2796 "Illegal reflective access in Java 9 build"
The Java 9 build on Travis is reporting a few illegal reflective access violations when running the tests.  I may have missed some, but the ones I saw are reproduced below:

[code]

[code]

We should investigate if these issues have already been reported to the Mockito and Postgres projects, and, if not, open new issues, as necessary.

The suggestion to use `--illegal-access=warn` may mean that on

[2018-01-02 19:59] RoiEXLab commented on #2796
@ssoloff Already mentioned this in the java 9 PR
https://github.com/pgjdbc/pgjdbc/issues/986

[2018-01-02 20:03] ssoloff commented on #2796
@RoiEXLab Derp, should have read that closer. :smile:  Thanks for noting that the Postgres violation has already been reported.

[2018-01-03 03:03] ron-murhammer opened #2801 "Can't Join Lobby"
Get this error when trying to join lobby with 8230:
[code]

[2018-01-03 03:11] ron-murhammer commented on #2801
The problem appears to be related to building with JDK9 while targeting and running on JDK9: https://github.com/plasma-umass/doppio/issues/497

[2018-01-03 03:15] ssoloff commented on #2801
Confirmed I can't reproduce the issue when running from a Java 8 build.

I'll switch Travis to produce releases from the Java 8 build instead of the Java 9 build.  Standby.

[2018-01-03 03:29] #2801 closed

[2018-01-03 03:33] ssoloff commented on #2801
I believe the linked issue points out a defect in our Java 9 build setup (which, coincidentally, I now remember running into several years ago when trying to use JDK 7/8 to build for Java 6).  Basically, we need to specify the `-bootclasspath` option pointing to a Java 8 runtime so the compiler uses the correct signatures.

The poster in the linked issue also raised awareness of a relatively new o

[2018-01-03 03:47] ssoloff commented on #2801
Confirmed I can connect to the lobby using build 8233.

[2018-01-03 03:59] ssoloff opened #2803 "Java 9 build targets Java 8 but does not link against Java 8 runtime"
This issue was originally raised in #2801.

Our Java 9 build targets Java 8, but is incorrectly linking against the Java 9 runtime rather than the Java 8 runtime.  At a minimum, the Java 9 build must specify the `-bootclasspath` option to `javac` (or the Gradle Java plugin equivalent) to point to a Java 8 runtime.

We should also investigate using the new [`--release`](http://openjdk.java.net/jeps

[2018-01-03 06:49] DanVanAtta commented on #2803
Unable to repro #2801 with intellij on latest master (tried to connect to lobby, was success).  We may want to check release artifacts, otherwise seems like everyone is good (?) :thinking:

[2018-01-03 07:06] DanVanAtta commented on #2792
A few ways to approach this issue. For me, the decision we made should/can be reviewed. New information has come to light, the following is really annoying!  :feelsgood:
![screenshot from 2018-01-02 22-00-25](https://user-images.githubusercontent.com/12397753/34510536-77688c10-f009-11e7-851f-7aec540bf8f8.png)

![screenshot from 2018-01-02 22-00-08](https://user-images.githubusercontent.com/1239775

[2018-01-03 16:17] ron-murhammer commented on #2803
@DanVanAtta It only occurs with the actual release artifacts not building/running the code from an IDE.

[2018-01-03 16:53] ssoloff commented on #2803
Just to clarify...  It only occurs when building from Gradle with JDK 9.  You should be able to reproduce it locally if you change `JAVA_HOME` to point to a JDK 9 install and run `./gradlew clean allPlatform`.  The resulting distro in _build/distributions/triplea-*-all_platforms.zip_ will not be able to connect to the lobby if you run it with JRE 8.

The last paragraph in the issue description att

[2018-01-03 17:18] ssoloff commented on #2792
@DanVanAtta Agreed.  But, as I stated above, the root cause of the big red X in that PR was due to the test non-determinism that's affecting codecov/project:

![checks](https://user-images.githubusercontent.com/4826349/34530698-f60369e0-f07d-11e7-94d6-eb2d92a724d4.png)

codecov/patch is still providing useful information.  So, my question still stands... is it possible to disable codecov/project w

[2018-01-03 22:01] RoiEXLab commented on #2769
@ron-murhammer Is this still an issue?

[2018-01-03 23:20] prastle commented on #2769
Yes the notes in white was fixed @RoiEXLab

[2018-01-03 23:21] #2769 closed

[2018-01-04 05:39] Cernelius commented on #2121
I cannot answer as a matter of fixing, as I've not tested the new engines since some months.

Aside from this, in my experience, this bug happens consistently but rarely, and I've not seen a pattern. So, I've no clue if it is possible to create the conditions under which this bug will happen and what these conditions may be. I believe this bug is commonly encountered, albeit rarely, but people sim

[2018-01-05 01:06] #2603 closed

[2018-01-05 01:15] ssoloff commented on #2603
Note that, while the fix for this issue has been merged, it hasn't been deployed to production yet.  I'll try to get to that tomorrow and will post back here once that's done.

[2018-01-05 05:47] ron-murhammer opened #2810 "Many Window Sizes Too Small With New Default Substance"
I noticed a number of windows are too small and display with scroll bars when they shouldn't now.

Battle casualty selection example:
![image](https://user-images.githubusercontent.com/1427689/34597132-72d2ecc0-f1aa-11e7-861e-07e55aa76c89.png)

[2018-01-05 18:30] ssoloff commented on #2603
@panther2 I'm unable to test the fix for this issue on the Internet-facing server because I don't have access to an ISP that will assign me a public IPv6 address.  Could you please reach out to the player who originally had this issue and ask them to register on the staging server (http://dice-staging.tripleawarclub.org/)?  They should no longer receive an error when they click the email validatio

[2018-01-05 18:32] RoiEXLab commented on #2603
@ssoloff I could do the testing later today, my ISP does provide both, IPv6 and IPv4

[2018-01-05 18:44] ssoloff commented on #2603
Thanks, @RoiEXLab.  However, note one thing...  I ran into an issue testing this locally because my host has both IPv4 and IPv6 enabled.  Basically, MARTI was always seeing my IPv4 address even when I forced the connection to the IPv6 endpoint.  The only way I could get MARTI to see my IPv6 address is by disabling IPv4.

What was weird is even when I disabled MARTI's IPv4 endpoint (in Nginx, not a

[2018-01-05 19:32] ssoloff commented on #2603
@panther2 @RoiEXLab Nevermind, I found an alternate host from which I can connect to MARTI via IPv6.  I verified that I could reproduce the original issue in production, but registration was successful in staging.  So it looks like we're good.  I'll re-verify production once I've promoted staging in less than an hour.

[2018-01-05 19:36] RoiEXLab commented on #2603
@ssoloff Just when I was able to succesfully unregister myself from the production MARTI ^^
However there's another Issue that's bugging me...
Because of the tripleawarclub.org redirects to the new forum, the browser is being redirected when you accidentally use HTTPS to connect to dice-staging.tripleawarclub.org, so point 1 of https://github.com/triplea-game/dice-server/issues/18 should get a hig

[2018-01-05 19:38] ssoloff commented on #2603
@RoiEXLab Agreed.  I'm going to try to complete that task this weekend.

[2018-01-05 20:30] ssoloff commented on #2603
This fix has been deployed into production.  I confirmed I could successfully register using `https://dice.tripleawarclub.org` via IPv6 (IPv6 was confirmed by viewing my connection entry in _/var/log/nginx/dice.tripleawarclub.org-access.log_ and observing an IPv6 address as the source address).

For my reference, this is the cURL command I used to test registration:

[code]

[2018-01-05 20:31] RoiEXLab commented on #2603
@ssoloff Can confirm as well ^^

[2018-01-05 20:51] gamer016 opened #2814 "Air attack problem"
### My Operating System:
Apple OS

### Engine version:
1.9.0.0.3307

### Map name and version:
World War II Global 1940 balanced mod 3 with combat move first

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
When another country uses an air attack against my forces, I am prompted to scramble my fighters.  THe prompt flashes on the screen and I can not

[2018-01-05 21:23] ssoloff commented on #2810
@ron-murhammer The Select Casualties window has been fixed.  For the other windows, should we just keep updating the issue description as we find them, or should a new issue be opened for each separate occurrence?

[2018-01-05 23:41] panther2 commented on #2814
I remember people noticing this issue some time ago with (now) outdated versions of TripleA.

Issue https://github.com/triplea-game/triplea/issues/1269 seems to indicate that this has been fixed with version 1.9.0.0.3379.

Please install the latest stable version (1.9.0.0.7621) from http://triplea-game.org/download/ and try again.

Please report back. Thank you.

[2018-01-07 15:10] General-Dru-Zod opened #2820 "Freezes When Trying to Display Error Dialog For Missing Images"
### My Operating System:
Windows 10

### Engine version:
8281, 8284

### Map name and version:
Big World 3 Test Mod,
Not uploaded yet. But if you need it I can attach it.

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
I try to play game locally and it consistently freezes during game load. I have no errors displayed and console is also frozen, if I

[2018-01-07 17:10] ron-murhammer commented on #2820
@General-Dru-Zod Can you provide a link to the map zip and a save game so we can reproduce it.

[2018-01-07 17:11] ron-murhammer commented on #2814
@gamer016 As panther mentions, please try updating to the latest version 1.9.0.0.7621 and see if that resolves the issue. If not then please attach a save game to reproduce the issue.

[2018-01-07 17:44] General-Dru-Zod commented on #2820
Here is the link to zip. Its the Test Mod version of Big World 3 : FS that freezes. There is now save game just try load fresh game of it.

Disclaimer this Test Mod version isn't meant for true play. However should still be able to load to test xml changes before implementing them in actual.

https://www.sendspace.com/file/x1hs4z

[2018-01-07 17:57] ron-murhammer commented on #2820
@General-Dru-Zod Thanks. I was able to reproduce the freeze as well and it appears to be due to some recent changes around showing error dialog instead of console.

@DanVanAtta Most likely the issue is due to the recent changes in #2782. The game freezes when trying to buildAndShow the error dialog at https://github.com/triplea-game/triplea/blob/master/src/main/java/games/strategy/debug/ClientLogg

[2018-01-07 18:01] ron-murhammer commented on #2810
@ssoloff I'll close for now though I'm pretty sure I've seen a few others as well.

[2018-01-07 18:01] #2810 closed

[2018-01-07 21:36] bamaackbar opened #2821 "Error on 1st Run"
### My Operating System:
Win 10 Pro, 64 bit

### Engine version:
1.9.0.0.7621

### Map name and version:
N/A

### Can you describe how to trigger the error? (eg: what sequence of actions will recreate it?)
When I launch TripleA, the TripleA Constole displays with an error message
### Do you have the exact error text? Please copy/paste if so
[code]

[2018-01-07 21:55] ssoloff commented on #2821
@bamaackbar The first thing to check here is which version of Java TripleA is using.  Please do the following after the TripleA Console pops up:

1. Click the **Clear** button.
1. Click the **Properties** button.
1. Click the **Copy to clipboard** button.

And then paste the copied text into a new comment in this issue.

(Also, could you please confirm the engine version you are using is 1.9.0.0.*

[2018-01-07 22:05] bamaackbar commented on #2821
Yes, I'm using 1.9.0.0.7621, my fault.

Here's the text:

SYSTEM PROPERTIES
awt.toolkit sun.awt.windows.WToolkit
exe4j.consoleCodepage cp0
exe4j.isInstall4j true
exe4j.launchName C:\Program Files\TripleA\TripleA.exe
exe4j.moduleName C:\Program Files\TripleA\TripleA.exe
exe4j.semaphoreName Local\c:_program_files_triplea_triplea.exe0
exe4j.tempDir
exe4j.unextractedPosition 0
file.encoding Cp1252
fil

[2018-01-07 22:13] ssoloff commented on #2821
@bamaackbar Thanks.  That version of Java should be ok, but let me double check on my side, as we had a problem with an older version of Java that comes bundled with TripleA.

In the meantime, could you also run the OpenSSL test described [here](https://github.com/triplea-game/triplea/issues/2554#issuecomment-340315234)?

[2018-01-07 22:21] bamaackbar commented on #2821
@ssoloff  Thanks for the help. Here's the test results:

C:\Users\corbi\Downloads\openssl-1.0.2l-x64_86-win64>openssl s_client -showcerts -connect raw.githubusercontent.com:443
WARNING: can't open config file: /usr/local/ssl/openssl.cnf
CONNECTED(00000234)
depth=0 C = US, ST = California, L = San Francisco, O = "GitHub, Inc.", CN = www.github.com
verify error:num=20:unable to get local issuer cert

[2018-01-07 22:39] ssoloff commented on #2821
@bamaackbar Awesome turnaround time!  I don't even need to run the JVM test because your OpenSSL log clearly shows what the problem is.

Just as with another user (see #2472 for all the details), it appears you are running behind a TLS proxy.  That proxy injects a self-signed certificate into all HTTPS connections so it can intercept the (supposedly) secure traffic going between your client and th

[2018-01-08 01:39] bamaackbar commented on #2821
I tried the procedure you recommended. I saved the CovenantEyes certificate from Firefox. I then copied the certificate to [C:\Program Files\Common Files\i4j_jres\1.8.0_144\lib\security]. I opened an admin cmd prompt, navigated to the ...lib\security location, and ran the keytool command [keytool -keystore cacerts -importcert -alias covenanteyes -file CovenantEyesProxy(7601).crt]. I then got the f

[2018-01-08 01:54] ssoloff commented on #2821
@bamaackbar Sorry, I should have clarified since you're using a bundled JRE...  The _keytool.exe_ file won't be on your PATH, so you'll have to provide the absolute path to this program.  In that case, the command line you provided above will become:

[code]

I also forgot to mention that you should probably backup the _cacerts_ file just in case. :smile:

[2018-01-08 02:03] bamaackbar commented on #2821
Okay, I ran the keytool.exe using the command. The response was "Enter keystore password." I tried entering numbers or letters but none of the keystrokes seemed to be accepted.

[2018-01-08 02:25] ssoloff commented on #2821
@bamaackbar Again, sorry for not filling in these missing bits; It's been a while since I looked at this problem.  The default truststore password should be **changeit**.  The password will not be echoed back to the screen, so you won't get any feedback until you press <kbd>ENTER</kbd>.

[2018-01-08 02:34] bamaackbar commented on #2821
@ssoloff Thanks for that. I entered the password (twice) and the certificate was added to the keystore and I responded Y to the trust? prompt. I displayed the list of certificates and verified it is in the keystore.:

Keystore type: JKS
Keystore provider: SUN

Your keystore contains 1 entry

covenanteyes, Jan 7, 2018, trustedCertEntry,
Certificate fingerprint (SHA1): 86:77:2D:D0:60:DA:63:6F:45:A2:

[2018-01-08 02:42] ssoloff commented on #2821
@bamaackbar Hmm, that's strange.  There should have been 100 or so entries prior to any change you made.  Did you pass an argument to the `-list` command to filter it or something?  If not, it's possible you imported the certificate into the wrong file.

Let me verify the 144 bundled JRE _cacerts_ file is not empty for some reason.

[2018-01-08 02:46] bamaackbar commented on #2821
I entered "keytool.exe -list -keystore cacerts" at the [C:\Program Files\Common Files\i4j_jres\1.8.0_144\bin>] command prompt. I had to enter the keystore password and then it displayed the text I posted above about 1 entry.
@ssoloff

[2018-01-08 02:47] ssoloff commented on #2821
I see 105 entries, so you should have 106 after adding the proxy certificate:

[code]

[2018-01-08 02:49] ssoloff commented on #2821
@bamaackbar Ah, it looks like you're in the wrong folder.  The _cacerts_ file is in _lib/security_ not _bin_.  Your previous run ended up creating a new file with a single entry.  You're going to need to provide the full path to either _keytool.exe_ or _cacerts_ depending on which folder you run it from.

[2018-01-08 02:59] bamaackbar commented on #2821
Okay, I think I got it.
1. From command prompt [C:\Program Files\Common Files\i4j_jres\1.8.0_144\bin>], ran "keytool.exe -keystore "C:\Program Files\Common Files\i4j_jres\1.8.0_144\lib\security\cacerts" -importcert -alias covenanteyes -file CovenantEyesProxy(7601).crt"
Certificate was added after answering Y to trust? prompt
2. Cacerts file now has 106 entries.

[2018-01-08 03:02] bamaackbar commented on #2821
And TripleA works. @ssoloff  Thanks for your help

[2018-01-08 03:06] ssoloff commented on #2821
@bamaackbar Excellent!  Thanks for slogging through these technical details.  But now that we've confirmed a fix, it will be tremendously helpful to the next TripleA player who runs into a similar TLS proxy problem.

[2018-01-08 03:06] #2821 closed

[2018-01-08 03:09] ssoloff commented on #2472
Linking to #2821 where the CovenantEyesProxy issue was successfully resolved.

I suspect the reason why the attempt to update the _cacerts_ file failed in this issue is because we directed the OP to update the wrong file.  It's likely that TripleA was using a bundled JRE rather than the system JRE.  This can be confirmed by looking at the OP's system properties from the TripleA Console.  Basically

[2018-01-08 03:24] prastle commented on #2472
Actually I think you clarified a problem
If you overwrite your prob ok
I didn't with my earlier java prob

[2018-01-08 06:22] ssoloff commented on #2820
I may be doing something wrong, but to download the Big World 3 map, I'm being prompted to sign up for a "free" account where I have to provide a credit card number.  Ain't no way I'm doing that on a site where the English spelling and grammar resemble a Nigerian prince email. :smile:

A simple repro step is to delete a common image from the _assets/units/_ folder.  I deleted _assets/units/Russian

[2018-01-08 06:42] ssoloff commented on #2820
A bit more info...

There's a deadlock between the EDT and the "Map panel background drawer" (I'll call it MPBDT below) threads.  The MPBDT acquires a `Tile` lock, then encounters the missing image error, and calls `ClientLogger#logError()` while the `Tile` lock is still held.  At this time, the EDT is trying to acquire the same `Tile` lock.  Because `ErrorMessageBuilder` does an `invokeAndWait()`